<template>
    <div class="attack-panel" :class="box_cls" :id="uniq_id" v-if="tline && is_show">

        <header class="card-header">
            <p>
                #{{tline.uniq_id}} {{tline.chart_tag}} {{tline.trading_type}}
                <a @click="hidePanel" class="button is-small">x</a>
            </p>
        </header>

        <div class="content">
            <div>
                <div>

                    <div id="sl-slider">
                        <span>SL</span>
                      <div id="sl-handle" class="ui-slider-handle"></div>
                    </div>
                </div>

                <table style="width: 100%">
                    <tr>
                        <td v-if="tline.pair !== 'XAUUSD'">
                            <DIV v-if="trading_type == 'buy'">
                                <a @click="save_tline_params('buy', 1)" :class="{'is-small': !tline_risk_equal(1), 'is-big': tline_risk_equal(1)}" class="button is-primary">BUY1</a>
                                <a @click="save_tline_params('buy', 5)" :class="{'is-small': !tline_risk_equal(5), 'is-big': tline_risk_equal(5)}" class="button is-primary">BUY5</a>
                                <a @click="save_tline_params('buy', 10)" :class="{'is-small': !tline_risk_equal(10), 'is-big': tline_risk_equal(10)}" class="button is-primary">BUY10</a>
                                <a @click="save_tline_params('buy', 20)" :class="{'is-small': !tline_risk_equal(20), 'is-big': tline_risk_equal(20)}" class="button is-primary">BUY20</a>
                                <a @click="save_tline_params('buy', 30)" :class="{'is-small': !tline_risk_equal(30), 'is-big': tline_risk_equal(30)}" class="button is-primary">BUY30</a>
                                <a v-if="tline.is_trading" @click="onClickRemove" :class="{'is-primary': false, 'is-danger': false}" class="button is-small is-black">REM</a>
                            </DIV>
                            <DIV v-if="trading_type == 'sell'">
                                <a @click="save_tline_params('sell', 1)" :class="{'is-small': !tline_risk_equal(1), 'is-big': tline_risk_equal(1)}" class="button is-danger">SELL1</a>
                                <a @click="save_tline_params('sell', 5)" :class="{'is-small': !tline_risk_equal(5), 'is-big': tline_risk_equal(5)}" class="button is-danger">SELL5</a>
                                <a @click="save_tline_params('sell', 10)" :class="{'is-small': !tline_risk_equal(10), 'is-big': tline_risk_equal(10)}" class="button is-danger">SELL10</a>
                                <a @click="save_tline_params('sell', 20)" :class="{'is-small': !tline_risk_equal(20), 'is-big': tline_risk_equal(20)}" class="button is-danger">SELL20</a>
                                <a @click="save_tline_params('sell', 30)" :class="{'is-small': !tline_risk_equal(30), 'is-big': tline_risk_equal(30)}" class="button is-danger">SELL30</a>
                                <a v-if="tline.is_trading" @click="onClickRemove" :class="{'is-primary': false, 'is-danger': false}" class="button is-small is-black">REM</a>
                            </DIV>
                        </td>
                        <td v-else>
                            <DIV v-if="trading_type == 'buy'">
                              <a @click="save_tline_params('buy', 0.01)" :class="{'is-small': !tline_lots_equal(0.01), 'is-big': tline_lots_equal(0.01)}" class="button is-primary">B 0.01</a>
                              <a @click="save_tline_params('buy', 0.03)" :class="{'is-small': !tline_lots_equal(0.03), 'is-big': tline_lots_equal(0.03)}" class="button is-primary">B 0.03</a>
                              <a @click="save_tline_params('buy', 0.05)" :class="{'is-small': !tline_lots_equal(0.05), 'is-big': tline_lots_equal(0.05)}" class="button is-primary">B 0.05</a>
                              <a @click="save_tline_params('buy', 0.1)" :class="{'is-small': !tline_lots_equal(0.1), 'is-big': tline_lots_equal(0.1)}" class="button is-primary">B 0.1</a>
                              <a @click="save_tline_params('buy', 0.2)" :class="{'is-small': !tline_lots_equal(0.2), 'is-big': tline_lots_equal(0.2)}" class="button is-primary">B 0.2</a>
                              <a v-if="tline.is_trading" @click="onClickRemove" :class="{'is-primary': false, 'is-danger': false}" class="button is-small is-black">REM</a>
                            </DIV>
                            <DIV v-if="trading_type == 'sell'">
                              <a @click="save_tline_params('sell', 0.01)" :class="{'is-small': !tline_lots_equal(0.01), 'is-big': tline_lots_equal(0.01)}" class="button is-danger">S 0.01</a>
                              <a @click="save_tline_params('sell', 0.03)" :class="{'is-small': !tline_lots_equal(0.03), 'is-big': tline_lots_equal(0.03)}" class="button is-danger">S 0.03</a>
                              <a @click="save_tline_params('sell', 0.05)" :class="{'is-small': !tline_lots_equal(0.05), 'is-big': tline_lots_equal(0.05)}" class="button is-danger">S 0.05</a>
                              <a @click="save_tline_params('sell', 0.1)" :class="{'is-small': !tline_lots_equal(0.1), 'is-big': tline_lots_equal(0.1)}" class="button is-danger">S 0.1</a>
                              <a @click="save_tline_params('sell', 0.2)" :class="{'is-small': !tline_lots_equal(0.2), 'is-big': tline_lots_equal(0.2)}" class="button is-danger">S 0.2</a>
                              <a v-if="tline.is_trading" @click="onClickRemove" :class="{'is-primary': false, 'is-danger': false}" class="button is-small is-black">REM</a>
                            </DIV>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
             pair: {
                 type: String,
                 required: true
             },
             box_cls:{
                 type: String,
             }
//             is_trainer_tline: {
//                 type: Boolean,
//                 required:true
//             },
        },

        computed: {

        },

        data() {
            return {
                uniq_id: "attack-panel-" + h.get_uniq_id(),
                sl_val:  settings.attack_panel.sl.val,
                type: null,
                tline: null,
                trading_type: null,
                is_show: false,
                mockup: null,
                points: 0,
                percents: 0,
            }
        },
        watch: {

        },
        async mounted()
        {


        },
        methods: {

            hidePanel()
            {
                this.is_show = false;
            },

            tline_risk_equal(risk)
            {
                return this.tline.params.risk == risk;
            },

            tline_lots_equal(lots)
            {
                return this.tline.params.lots == lots;
            },

            async setTline(uniq_id, pair, period)
            {
                var rTline = await this.runTask('get__trendline__task', {
                    uniq_id: uniq_id,
                    pair: pair,
                    period: period,
                });

                if (rTline.resp.res) {
                    this.percents = 0;
                    this.tline = rTline.resp.res;
                    this.trading_type = this.tline.trading_type;
                    this.is_show = true;
//                    this.mockup = mockup;
//                    this.points = points;
                    var self = this;
                    fork(() => {
                        self.setupSliders();
                    }, 200);
                }
            },
            async put_trade(type, percents)
            {
                this.percents = percents;

            },

            async save_tline_params(type, percents)
            {
                let risk = settings.attack_panel.force_risk ? settings.attack_panel.force_risk : percents;

                if(this.tline.pair === 'XAUUSD')
                {
                    var trading_params = {
                        type : type,
                        sl : this.sl_val / 10,
                        tp_coef : 1,
                        risk_type: "direct_lot_size",
                        lots : percents,
                        pair : this.tline.pair,
                        uniq_id : this.tline.uniq_id,
                        is_skip_be: 0
                    };
                }
                else
                {
                    var trading_params = h.tline_trading_params(type, 5, this.sl_val, risk, "depo_percents", this.tline.pair, this.tline.uniq_id);
                }

                var rtline = await this.runTask('save__trendline__params__task', {
                    uniq_id: this.tline.uniq_id,
                    pair: this.tline.pair,
                    period: this.tline.period,
                    is_trading: 1,
                    // send to ripper command task
                    params: trading_params
                });

                this.$root.$emit('tline__changed', {id: this.tline.id});

                if (rtline.resp.tline) {
                    this.tline = rtline.resp.tline;
                    // @todo send event
                    this.toastOk("Trendline saved");
                } else {
                    this.toastError("Error")
                }
            },

            async onClickRemove()
            {
                var rhline = await this.runTask('remove__trendline__is__trading__task', {
                    uniq_id: this.tline.uniq_id,
                    pair: this.tline.pair,
                    period: this.tline.period,
                });

                if (rhline.resp.res) {
                    this.toastOk("Removed tline");
                    this.setTline(this.tline.uniq_id, this.tline.pair,this.tline.period);
                } else {
                    this.toastError("Error")
                }
            },

            setupSliders()
            {
                var self = this;
                var handle = $( "#"+ this.uniq_id + " #sl-handle" );
                if (this.tline)
                {
                    var sl_val = this.tline.params.sl  ? this.tline.params.sl : settings.attack_panel.sl.val;
                    if (this.tline.pair == 'XAUUSD')
                    {
                        sl_val *= 10;
                    }
                } else {
                    var sl_val = settings.attack_panel.sl.val;
                }

                handle.text(sl_val);

                $("#"+ this.uniq_id + " #sl-slider" ).slider({
                    min: settings.attack_panel.sl.min,
                    max: settings.attack_panel.sl.max,
                    value: sl_val,
                    create: function() {
                        handle.text( $( this ).slider( "value" ) );
                    },
                    slide: function( event, ui ) {
                        handle.text( ui.value );
                        self.sl_val = ui.value;
                    }
                });
            }


        }
    }
</script>


<style lang="scss">

 #custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

 .attack-panel
 {
    position: absolute;
    left: 15px;
    bottom: -73px;
    background-color: snow;
    border: 1px solid;
    z-index: 200;

    &.right-corner
    {
      right: -138px;
      bottom: 18px;
      left: auto;
    }
 }
</style>
