<template>

    <div class="">

        <div class="modal-card" style="width: auto">
            <header class="modal-card-head">
                <p class="modal-card-title">Chart settings (ChartID:{{chartModel.id}})</p>
            </header>

            <section class="modal-card-body">

                <div class="field">
                    <label class="label">Chart group link</label>
                    <a :href="'/app/chartgroup/'+chartGroupId" target="_blank">Open tab</a>
                </div>

                <b-field label="Indicators">
                    <b-input
                            type="text"
                            v-model="indicators"
                            placeholder="ma:1,8;macd,rsi"
                    >
                    </b-input>
                </b-field>

                <div class="field">
                    <label class="label">View</label>
                    <p class="control">
                        <span class="select">
                            <select class="control" v-model="view">
                                <option value="default">Default</option>
                                <option value="renko">Renko</option>
                            </select>
                        </span>
                    </p>
                </div>

                <div class="field">
                    <label class="label">Timeframe type</label>
                    <p class="control">
                        <span class="select">
                            <select class="control" v-model="timeframeType">
                                <option value="M">Minutes</option>
                                <option value="S">Seconds</option>
                            </select>
                        </span>
                    </p>
                </div>

                <b-field label="Minutes timeframe" v-if="timeframeType === this.chartModel.MINUTES_TIMEFRAME">
                    <b-input
                            type="text"
                            v-model="timeframe"
                    >
                    </b-input>
                </b-field>

                <div class="field" v-if="timeframeType === this.chartModel.SECONDS_TIMEFRAME">
                    <label class="label">Seconds timeframe</label>
                    <p class="control">
                        <span class="select">
                            <select class="control" v-model="timeframeSeconds">
                                <option value="1">1</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                            </select>
                        </span>
                    </p>
                </div>

                <div class="field">
                    <label class="label">Delete chart</label>
                    <p class="control">
                        <button class="button" type="button" @click="clickDelete">Delete chart</button>
                    </p>
                </div>

                <div>
                    ctrl+click - remove level from chart
                </div>
            </section>

            <footer class="modal-card-foot">
                <button class="button" type="button" @click="$parent.close()">Close</button>
                <button class="button is-primary" @click="clickSave">Save</button>
            </footer>
        </div>

    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    import ChartModel from '../models/ChartModel'


    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: 'profile',
        components: {},
        mixins: [mixins],

        props: {
            chartModel: {
                type: Object,
                required: true
            },
            chartGroupId: {
                type: Number,
                required:true
            },
        },

        computed: {

        },

        data() {
            return {
                name: 'Matt Stauffer',
                moving_averages: 'ma',
                indicators: 'ind',
                view: '',
                timeframeType: '',
                timeframeSeconds: 5,
                timeframe: 5
                // title: this.post.title,
            }
        },

        watch:
        {

        },

        async mounted()
        {
            this.indicators = this.chartModel.indicators;
            this.view = this.chartModel.view;
            this.timeframeType = this.chartModel.timeframe_type;
            this.timeframe = this.chartModel.timeframe;
            this.timeframeSeconds = this.chartModel.timeframe;
        },

        methods: {

            async clickDelete()
            {
                var self = this;

                var delFunc = async function () {

                    var resDelete = await self.runTask('delete__chart__task',{
                        chartId: self.chartModel.id
                    });


                    this.toastsConfirm(
                        resDelete.isOk(),
                        'Chart deleted',
                        'Failed delete chart'
                    );

                };

                this.$buefy.dialog.confirm({
                    message: 'Delete this chart?',
                    onConfirm: delFunc
                })
            },

            async clickSave()
            {
                // debugger;
                var res = await this.runTask('update__chart__task', {
                    chartId: this.chartModel.id,
                    indicators: this.indicators,
                    view: this.view,
                    timeframeType: this.timeframeType,
                    timeframe: this.timeframeType === 'S' ? this.timeframeSeconds : this.timeframe
                });

                if (res.isOk())
                {
                    this.toastOk('Settings updated');
                }
                else
                {
                    this.toastError('Failed update settings')
                }

                this.$parent.close();
            },


            async onUpdateModels()
            {

            }
        }
    }
</script>


<style scoped lang="scss">

</style>
