<template>
    <div class="hello" :id="boxId" v-on:keyup="onKeyUp" >

        <div class="menu">

            <div class="instrument">
                 <h1>
                     {{this.chartModel.instrument}}

                     <span :title="'SCALE:' + this.display.scale">
                        <a href="javascript:void(0)" class="btn" @click="clickDecScale()">-</a>
                        <a href="javascript:void(0)" class="btn" @click="clickIncScale()">+</a>
                     </span>

<!--                     <span v-if="this.lastCandle">-->
<!--                         | [{{ this.lastCandle.date_moment.format('HH:mm:ss') }}, {{this.lastCandle.close}}]-->
<!--                     </span>-->

                     <span>
                         <a href="javascript:void(0)" @click="onClickChangeTimeframe(1)">1</a> |
                         <a href="javascript:void(0)" @click="onClickChangeTimeframe(5)">5</a> |
                         <a href="javascript:void(0)" @click="onClickChangeTimeframe(15)">15</a> |
                         <a href="javascript:void(0)" @click="onClickChangeTimeframe(30)">30</a> |
                         <a href="javascript:void(0)" @click="onClickChangeTimeframe(60)">1H</a> |
                         <a href="javascript:void(0)" @click="onClickChangeTimeframe(180)">3H</a> |
                     </span>

                     <a href="javascript:void(0)" @click="onClickEditSettings">Sett</a>
                     <a href="javascript:void(0)" @click="onClickAddLevel">Level</a>

<!--                     <span class="select is-small">-->
<!--                         <select v-model="nextPopupDelay">-->
<!--                             <option value="default">next popup</option>-->
<!--                             <option value="2">next 2</option>-->
<!--                             <option value="5">next 5</option>-->
<!--                             <option value="10">next 10</option>-->
<!--                             <option value="15">next 15</option>-->
<!--                             <option value="30">next 30</option>-->
<!--                             <option value="45">next 45</option>-->
<!--                             <option value="60">next 60</option>-->
<!--                         </select>-->
<!--                     </span>-->

                     <span class="select is-small">
                         <select v-model="watchlist">
                             <option value="default">watchlist</option>
                             <option value="up">UP</option>
                             <option value="down">DOWN</option>
                         </select>
                     </span>

                     <span class="select is-small" :class="{'is-loading': chartContextMenuIsLoading}">
                         <select v-model="chartContextMenuSelect">
                             <option value="default">menu</option>
                             <option value="load_latest_candles">upd candles</option>
                             <option value="clear_chart">clear chart</option>
                         </select>
                     </span>
                 </h1>
            </div>
        </div>


        <div v-if="isCompactView">
            <div class="columns is-gapless">
                <div class="chart column is-12 " v-on:mousewheel="onMouseWheel" >
                    <div class="timeframe">
                        {{this.display.timeframe_type}}{{this.display.timeframe}}
                    </div>
                </div>
            </div>
        </div>
        <div v-else> <!--        with indicators-->
            <div class="columns is-gapless">
                <div class="chart column is-6" v-on:mousewheel="onMouseWheel" >
                    <div class="timeframe">
                        {{this.display.timeframe_type}}{{this.display.timeframe}}
                    </div>
                </div>

                <div class="indicator column is-6" v-if="isShowIndicators && this.chartModel.isIndicatorPresent('rsi')">
                    <div class="column is-12" >
                        <div class="timeframe">
                            {{this.display.timeframe_type}}{{this.display.timeframe}}
                        </div>
                        <rsi
                                ref="rsi1"
                                :blockSelector="'rsi_chart_' + this.chartModel.id"
                        ></rsi>
                    </div>
                </div>

                <div class="indicator column is-3" v-if="isShowIndicators && this.chartModel.isIndicatorPresent('macd')">
                    <div class="column is-12">
                        <div class="timeframe">
                            {{this.display.timeframe_type}}{{this.display.timeframe}}
                        </div>
                        <macd
                                ref="macd1"
                                :blockSelector="'macd_chart_' + this.chartModel.id"
                                :is-skip-mouse-wheel="isSkipMouseWheel"
                                :on-change-params="onChangeMacdParams"
                                :macd-params="this.chartModel.getMacdParams()"
                        ></macd>
                    </div>
                </div>

                <div class="indicator column is-3" v-if="isShowIndicators && this.chartModel.isIndicatorPresent('macd')">
                    <div class="column is-12">
                        <div class="timeframe">
                            {{this.display.timeframe_type}}{{this.display.timeframe}}
                        </div>
                        <macd
                                ref="macd2"
                                :blockSelector="'macd_chart_' + this.chartModel.id"
                                :is-skip-mouse-wheel="isSkipMouseWheel"
                                :on-change-params="onChangeMacdParams"
                                :macd-params="this.chartModel.getMacdParams()"
                        ></macd>
                    </div>
                </div>
            </div>

            <div v-show="isDisplayOrderBook">
                <div class="column is-12" >
                    <h2 v-if="orderBookTitle">{{orderBookTitle}}</h2>
                </div>

                <div class="columns is-gapless">
                    <div class="indicator column is-6" >

                        <a href="javascript:void(0)" class="button is-small" @click="clickDecOrdersBookDate">Prev</a>
                        <a href="javascript:void(0)" class="button is-small" @click="clickIncOrdersBookDate">Next</a>

                        <canvas :id="'order_book_high_canvas_' + this.chartModel.id"></canvas>
                    </div>

                    <div class="indicator column is-6" >

                        <a href="javascript:void(0)" class="button is-small" @click="clickDecOrdersBookDate">Prev</a>
                        <a href="javascript:void(0)" class="button is-small" @click="clickIncOrdersBookDate">Next</a>

                        <canvas :id="'order_book_low_canvas_' + this.chartModel.id"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    import h from '../helpers';
    import mixins from '../components_mixins.js'
    import Macd from '../components/Macd'

    import ChartModel from '../models/ChartModel.js'
    import QuoteModel from '../models/QuoteModel.js'

    import moment from 'moment';
    import ChartSettings from "./ChartSettings";
    import ChartJs from 'chart.js';
    import axios from 'axios'
    import _ from "lodash";
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: 'chart',
        components: {Macd},
        mixins: [mixins],

        props: {

            resChart: {
                type: Object,
                required: true
            },

            isSkipMouseWheel:{
                type: Boolean,
                default: false
            },

            isShowChart:{
                type: Boolean,
            },

            isOnlyChart: {
                type: Boolean
            },

            isCompactView: {
                type: Boolean,
                required: true
            },

            onSelectNextPopupDelta: {
                type: Function
            },

            onSelectAddToWatchlist: {
                type: Function
            },

            onChangeContextMenuSelect: {
                type: Function
            },

            chartGroupId:{
                type: Number
            }
        },

        computed: {

        },

        data() {
            return {

                RIGHT_BORDER_BARS_COUNT: 10,

                MACD_LENGTH: 150,

                display: {
                    timeframe: 0,
                    scale: 0,
                },

                availableTimeframes: {
                    'M': '15,20,25,30,45,60,75,90,105,120,135,150,165,180,195,210,225,240,255,270,480',
                    'S': ''
                },

                macdTimeseria: null,
                chartTimeseria: null,
                lastCandle: null,

                isLoadingCandles: false,
                chartDrawFunction: null,

                isShowIndicators: true,
                isBuildMacdArrows: false,

                // orders book
                isDisplayOrderBook: true,

                myHorizontalBar: null,
                ordersBookDate: null,
                orderBookTitle: null,

                chartTimeseries: [],
                currentTimeframe: null,
                chartModel: null,
                boxId: 'empty',

                showIndicators: {
                    rsi: false,
                    macd: false
                },

                // support resistance
                chartLevels: [],
                chartTrades: [],
                chartTrendlines: [],
                newTrendline: null,

                nextPopupDelay: 'default',
                watchlist: 'default',

                chartContextMenuIsLoading: false,
                chartContextMenuSelect: 'default',

                chartMas: null,

                svg: {
                    x: null
                }
            }
        },

        watch: {
            async chartContextMenuSelect(newVal)
            {
                if (newVal === 'default') return;

                this.chartContextMenuIsLoading = true;

                log('chartContextMenuSelect: ' + newVal);

                if (this.onChangeContextMenuSelect)
                {
                    await this.onChangeContextMenuSelect(newVal, {chart: this.resChart.chart});
                }

                if (newVal === 'clear_chart')
                {
                    this.removeAllLevelsFromChart();
                }

                this.chartContextMenuIsLoading = false;
                this.chartContextMenuSelect = 'default';
            },

            watchlist(newVal)
            {
                if (newVal === 'default') return;

                if (this.onSelectAddToWatchlist)
                {
                    this.onSelectAddToWatchlist(newVal, {
                        timeframe: this.display.timeframe
                    });
                }

                this.watchlist = 'default';
            },

            nextPopupDelay(newVal)
            {
                if (newVal === 'default') return;

                if (this.onSelectNextPopupDelta)
                {
                    this.onSelectNextPopupDelta(newVal);
                }

                log('nextPopupDelay: ' + newVal);

                this.nextPopupDelay = 'default';
            },

            currentTimeframe(newVal)
            {
                this.display.timeframe = this.currentTimeframe.timeframe;
                this.display.timeframe_type = this.currentTimeframe.timeframe_type;

                this.resChart.chart.timeframe = this.currentTimeframe.timeframe;
                this.resChart.chart.timeframe_type = this.currentTimeframe.timeframe_type;

            },

            chartTimeseria(newVal)
            {
                var lastCandle = _.clone(_.last(this.chartTimeseria));
                if (lastCandle)
                {
                    lastCandle.date_moment = moment(lastCandle.date);
                    this.lastCandle = lastCandle;
                }
            },

            chartModel()
            {
                this.display.timeframe_type = this.chartModel.timeframe_type;
                this.display.scale = this.chartModel.scale;

            },

            chartLevels()
            {
                this.resChart.chart.levels = this.chartLevels;
            },

            chartTrendlines()
            {
                this.resChart.chart.trendlines = this.convertD3TrendlinesIntoChart(this.chartTrendlines);
            }

        },

        async beforeMount()
        {
            this.chartModel = new ChartModel(this.resChart.chart);
            this.resChart.chart.macd_params = this.chartModel.getMacdParams();

            this.setCurrentTimeframe(this.chartModel.timeframe, this.chartModel.timeframe_type);
            // this.chartLevels = this.resChart.chart.levels;

            this.boxId = 'chart_' + this.chartModel.id;
            this.availableTimeframes.M = _.map(this.availableTimeframes.M.split(','), (o) => {return parseInt(o)});
            this.availableTimeframes.S = _.map(this.availableTimeframes.S.split(','), (o) => {return parseInt(o)});
            this.isCompactView


            await this.test();

        },

        async mounted()
        {
            this.resChart;
            this.isSkipMouseWheel;

            this.chart();
            // this.updateAllWithNewTimeseria({2: newTimeframe});

            this.updateAllWithNewTimeseria(this.resChart.resChartTimeseries.timeseries);

            // show orders book
            this.ordersBookDate = moment().utc();
            this.showOrdersBook(this.ordersBookDate);

            this.redrawCurrentTimeseria(this.currentTimeframe);

            var self = this;
            this.updateOrdersBookChart = _.debounce(() => {

                self.showOrdersBook(self.ordersBookDate);
                self.redrawCurrentTimeseria(self.currentTimeframe);

            }, 1000);
        },

        methods:
        {
            clickDecOrdersBookDate()
            {
                this.ordersBookDate.subtract(1, 'hours');
                this.updateOrdersBookChart();
            },

            clickIncOrdersBookDate()
            {
                this.ordersBookDate.add(1, 'hours');
                this.updateOrdersBookChart();
            },

            async showOrdersBook(date)
            {
                this.chartTrades = [];

                for(var i = this.chartTimeseria.length - 1; i >= 0; i--)
                {
                    var candle = this.chartTimeseria[i];
                    var candleDate = moment(candle.date);

                    var d = date.format('YYYY-MM-DD HH:mm:ss');
                    var dd = candleDate.format('YYYY-MM-DD HH:mm:ss');

                    // log([d, dd]);
                    // debugger;

                    if (parseInt(candleDate.format('YYYYMMDDHH')) < parseInt(date.format('YYYYMMDDHH'))) {

                        this.chartTrades.push({
                            date: candle.date,
                            type: "buy",
                            price: candle.low - candle.low*0.0001,
                            candle_id: candle.id
                        });

                        break;
                    }
                }

                var resBook = await this.runTask('download__order__book__for__instrument__task', {
                    instrument: this.resChart.chart.instrument,
                    date: date.format('YYYY-MM-DD HH:mm:ss'),
                    pips_window: 200
                });

                this.drawOrderBook(resBook.get('book'));
            },

            removeAllLevelsFromChart()
            {
                var res = this.runTask('clear__chart__from__all__levels__task', {
                    chart_id: this.chartModel.id
                });

                this.chartLevels = [];
                this.chartTrendlines = [];
                this.chartDrawFunction(this.chartTimeseria);
            },

            draw_order_book_chart(chartObj, canvasId, buckets, chartTitle)
            {
                var dataLong = [];
                var dataShort = [];
                var labels = [];

                buckets.map((bucket) => {
                    labels.push(bucket.price);
                    dataLong.push(Number.parseFloat(bucket.longCountPercent));
                    dataShort.push(-Number.parseFloat(bucket.shortCountPercent));
                });

                var color = Chart.helpers.color;
                var horizontalBarChartData = {
                    labels: labels,
                    datasets: [{
                        label: 'Longs',
                        backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                        borderColor: window.chartColors.blue,
                        borderWidth: 1,
                        data: dataLong
                    }, {
                        label: 'Shorts',
                        backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                        borderColor: window.chartColors.red,
                        data: dataShort
                    }]

                };

                if (chartObj)
                {
                    chartObj.destroy();
                }

                var ctx = document.getElementById(canvasId).getContext('2d');
                return new ChartJs(ctx, {
                    type: 'bar',
                    data: horizontalBarChartData,
                    options: {
                        // Elements options apply to all of the options unless overridden in a dataset
                        // In this case, we are setting the border of each horizontal bar to be 2px wide

                        elements: {
                            rectangle: {
                                borderWidth: 1,
                            }
                        },
                        responsive: true,
                        legend: {
                            position: 'right',
                        },
                        title: {
                            display: true,
                            text: chartTitle
                        }

                    }
                });
            },

            drawOrderBook(book)
            {
                this.isDisplayOrderBook = true;

                window.chartColors = {
                    red: 'rgb(255, 99, 132)',
                    orange: 'rgb(255, 159, 64)',
                    yellow: 'rgb(255, 205, 86)',
                    green: 'rgb(75, 192, 192)',
                    blue: 'rgb(54, 162, 235)',
                    purple: 'rgb(153, 102, 255)',
                    grey: 'rgb(201, 203, 207)'
                };

                var time = moment(book.orderBook.time);
                var title = [book.orderBook.instrument, book.orderBook.price, time.format('MMMM Do HH:00')].join(' ');

                this.orderBookTitle = title;

                this.higherOrderBook = this.draw_order_book_chart(
                    this.higherOrderBook,
                    'order_book_high_canvas_' + this.chartModel.id,
                    book.orderBook.high_buckets,
                    'Higher levels'
                );

                this.lowerOrderBook = this.draw_order_book_chart(
                    this.lowerOrderBook,
                    'order_book_low_canvas_' + this.chartModel.id,
                    book.orderBook.low_buckets,
                    'Lower levels'
                );

            },

            convertChartTrendlinesIntoD3(chartTrendlines)
            {

                return chartTrendlines.map(t => {
                    return {
                        id: t.id,
                        is_fired: t.is_fired,
                        start:{
                            date: moment(t.start_date),
                            value: t.start_value
                        },
                        end: {
                            date: moment(t.end_date),
                            value: t.end_value
                        }
                    }
                });
            },

            convertD3TrendlinesIntoChart(d3Trendlines)
            {
                return d3Trendlines.map(t => {

                    if (!t.end.date.format)
                    {
                        t.end.date = moment(t.end.date);
                    }

                    if (!t.start.date.format)
                    {
                        t.start.date = moment(t.start.date);
                    }

                    return {
                        id: t.id,
                        is_fired: t.is_fired,
                        start_date: t.start.date.format('YYYY-MM-DD HH:mm:ss'),
                        start_value: t.start.value,
                        end_date: t.end.date.format('YYYY-MM-DD HH:mm:ss'),
                        end_value: t.end.value
                    }
                });
            },


            async test()
            {

            },

            onTimeseriaUpdated()
            {
                debugger;
            },

            onKeyUp(e)
            {
                e.key
            },

            onClickChangeTimeframe(newTimeframe)
            {
                this.setCurrentTimeframe(newTimeframe, 'M');
                this.redrawCurrentTimeseria(this.currentTimeframe);
            },

            onChangeMacdParams(params)
            {
                this.resChart.chart.macd_params = params;
                this.chartDrawFunction(this.chartTimeseria);
            },

            onMouseWheel(e)
            {
                if (!this.isSkipMouseWheel && e.ctrlKey)
                {
                    e.preventDefault();
                    var self = this;
                    var isGonnaBigger = e.deltaY < 0;
                    var type = self.currentTimeframe.timeframe_type;

                    if (isGonnaBigger)
                    {
                        var newTimeframe = self.currentTimeframe.timeframe + 1;
                        var found = parseInt(_.find(self.availableTimeframes[type], function(o) { return parseInt(o) >= newTimeframe; }));
                    }
                    else
                    {
                        var newTimeframe = self.currentTimeframe.timeframe - 1;

                        var type = self.currentTimeframe.timeframe_type;
                        var found = parseInt(_.findLast(self.availableTimeframes[type], function(o) { return parseInt(o) <= newTimeframe; }));
                    }

                    if (found)
                    {
                        this.setCurrentTimeframe(found, this.currentTimeframe.timeframe_type);
                        this.redrawCurrentTimeseria(this.currentTimeframe);
                    }
                }

                // change ma settings
                if (!this.isSkipMouseWheel && e.shiftKey)
                {

                    if (this.chartMas) {
                        var isGonnaBigger = e.deltaY < 0;

                        this.chartMas.params = this.chartMas.params.map(function (period) {
                            var ret = isGonnaBigger ? period + 1 : period - 1;
                            return ret >= 1 ? ret : 1;
                        });
                    }

                    this.redrawCurrentTimeseria(this.currentTimeframe);

                }
            },

            appendRightEmptyBars(timeseria)
            {
                var lastCandle = _.clone(_.last(timeseria));
                var lastDate = moment(lastCandle.date);

                for (var i = 0; i< this.RIGHT_BORDER_BARS_COUNT; i++)
                {
                    lastDate.add(1, 'minutes');
                    timeseria.push({
                        date: lastDate.format('YYYY-MM-DD HH:mm:ss'),
                        id: lastCandle.id + i + 1,
                        o: lastCandle.c,
                        h: lastCandle.c,
                        l: lastCandle.c,
                        c: lastCandle.c,
                        is_fake_bar: true
                    });
                }

                return timeseria;
            },

            buildChartTimeseria(timeseria)
            {
                var parseDate2 = d3.timeParse("%Y-%m-%d %H:%M:%S");
                this.chartTimeseria = timeseria.map(function(d) {
                    return {
                        date: parseDate2(d.date),
                        open: +d.o,
                        high: +d.h,
                        low: +d.l,
                        close: +d.c,
                        volume: 0
                    };
                });

                this.macdTimeseria = this.chartTimeseria.slice(
                    this.chartTimeseria.length - this.MACD_LENGTH - this.RIGHT_BORDER_BARS_COUNT,
                    this.chartTimeseria.length - this.RIGHT_BORDER_BARS_COUNT
                );
            },

            calculateFromSecondsChartTimeseria(timeframe, scale)
            {
                var timeseria = this.resChart.resChartTimeseries.timeseries['S10'];
                return timeseria.slice(timeseria.length-scale*6, timeseria.length);
            },

            calculateFromM15ChartTimeseria(timeframe, scale)
            {
                var chunkSize = timeframe / 15;
                var timeseria = this.resChart.resChartTimeseries.timeseries['M15'];

                if (chunkSize * scale < timeseria.length)
                {
                    var chunks = _.chunk(
                        timeseria.slice(timeseria.length - chunkSize*scale, timeseria.length),
                        chunkSize
                    );
                }
                else
                {
                    var chunks = _.chunk(timeseria, chunkSize);
                }

                return this.calculateChunksToTimeseriaCandle(chunks);
            },

            calculateFromM1ChartTimeseria(timeframe, scale)
            {
                var timeseria = this.resChart.resChartTimeseries.timeseries['M1'];

                if (timeframe === 1)
                {
                    return timeseria.slice(timeseria.length-scale, timeseria.length);
                }
                else
                {
                    if (timeframe * scale < timeseria.length)
                    {
                        var chunks = _.chunk(
                            timeseria.slice(timeseria.length - timeframe*scale, timeseria.length),
                            timeframe
                        );
                    }
                    else
                    {
                        var chunks = _.chunk(timeseria, timeframe);
                    }

                    return this.calculateChunksToTimeseriaCandle(chunks);
                }
            },

            calculateChunksToTimeseriaCandle(chunks)
            {
                var ret = [];
                chunks.map(function (chunk) {

                    var firstQuote = null;
                    chunk.map(function (quote) {

                        if (eN(firstQuote))
                        {
                            firstQuote = new QuoteModel(_.clone(quote));
                        }
                        else
                        {
                            firstQuote.merge(new QuoteModel(quote));
                        }
                    });

                    ret.push({
                        id: firstQuote.id,
                        o: firstQuote.o,
                        h: firstQuote.h,
                        l: firstQuote.l,
                        c: firstQuote.c,
                        date: firstQuote.date
                    });
                });
                return ret;
            },

            async updateAllWithNewTimeseria(timeseries)
            {
                _.keys(timeseries)
                    .map((key)  => {this.chartTimeseries[key] = timeseries[key]});

                this.redrawCurrentTimeseria();

                // this.multiTimeframeEma();
            },

            async redrawCurrentTimeseria(setTimeframe = null)
            {
                if (setTimeframe)
                {
                    this.currentTimeframe = setTimeframe;
                }

                this.chartLevels = this.resChart.chart.levels;
                this.chartTrendlines = this.convertChartTrendlinesIntoD3(this.resChart.chart.trendlines);

                var newTimeseria = this.calculateFromM15ChartTimeseria(
                    this.currentTimeframe.timeframe, this.chartModel.scale
                );

                if (this.currentTimeframe.timeframe_type === 'M')
                {
                    if (this.currentTimeframe.timeframe >= 15) {

                    }
                }


                this.appendRightEmptyBars(newTimeseria);
                this.buildChartTimeseria(newTimeseria);

                this.chartDrawFunction(this.chartTimeseria);
                this.isLoadingCandles = false;

                // redraw indicators
                if (this.$refs.macd1)
                {
                    this.$refs.macd1.redrawChart(this.macdTimeseria);
                }

                if (this.$refs.rsi1)
                {
                    this.$refs.rsi1.redrawChart(this.chartTimeseria);
                }

                this.isShowIndicators = false;
                this.isShowIndicators = true;
            },

            setCurrentTimeframe(timeframe, type)
            {
                this.currentTimeframe = {
                    timeframe: timeframe,
                    timeframe_type: type
                };
            },

            async clickDecScale()
            {
                this.chartModel.scale -= 50;
                this.$set(this.display, 'scale', this.chartModel.scale);

                this.apiUpdateChart(null, this.chartModel.scale);
            },

            async clickIncScale()
            {
                this.chartModel.scale += 50;
                this.$set(this.display, 'scale', this.chartModel.scale);

                this.apiUpdateChart(null, this.chartModel.scale);
            },


            onClickEditSettings()
            {

                this.$buefy.modal.open({
                    parent: this,
                    props: {
                        chartModel: this.chartModel,
                        chartGroupId: this.chartGroupId
                    },

                    component: ChartSettings,
                    // hasModalCard: true,
                    customClass: 'custom-class custom-class-2'
                });

            },

            async apiUpdateChart(timeframe, scale)
            {
                var par = {
                    chartId: this.resChart.chart.id,
                };

                if (timeframe)
                {
                    par.timeframe = timeframe
                }
                //
                if (scale)
                {
                    par.scale = scale
                }

                var res = await this.runTask('update__chart__task', par);
                this.redrawCurrentTimeseria()
            },

            chart()
            {
                var blockWidth = $("#" + this.boxId + ' .chart').width();

                var margin = {top: 20, right: 20, bottom: 30, left: 60},
                    width = blockWidth - margin.left - margin.right,
                    height = blockWidth * 0.5 - margin.top - margin.bottom;

                var x = techan.scale.financetime().range([0, width]);
                var y = d3.scaleLinear().range([height, 0]);
                var candlestick = techan.plot.candlestick().xScale(x).yScale(y);
                var xAxis = d3.axisBottom().scale(x);
                var yAxis = d3.axisLeft().scale(y);
                var indicators = this.chartModel.getIndicators();
                var self = this;
                this.svg.x = x;

                var svg = d3.select("#" + this.boxId + " .chart")
                    .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                svg.append("g").attr("class", "candlestick");
                svg.append("g").attr("class", "tradearrow");

                svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")");

                svg.append("g")
                    .attr("class", "y axis")
                    .append("text")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 6)
                    .attr("dy", ".71em")
                    .style("text-anchor", "end")
                ;

                // MAS
                svg.append("g").attr("class", "indicator sma ma-0");
                svg.append("g").attr("class", "indicator sma ma-1");
                svg.append("g").attr("class", "indicator sma ma-2");
                svg.append("g").attr("class", "indicator sma ma-3");
                svg.append("g").attr("class", "indicator sma ma-4");
                svg.append("g").attr("class", "indicator sma ma-5");
                svg.append("g").attr("class", "indicator sma ma-6");
                svg.append("g").attr("class", "indicator sma ma-7");

                /**
                 * Crosshair on the chart
                 */
                var crosshair = this.chartCrosshairFunctionality(svg, width, xAxis, yAxis, x, y);

                /**
                 * Tradearrows
                 **/
                var tradearrow = this.chartTradearrowsFunctionality(svg, width, yAxis, x, y);

                /**
                 * Trendlines
                 * */
                var trendlines = this.chartTrendlineFunctionality(svg, width, yAxis, x, y);

                /**
                 * support/resistnce levels
                 */
                var supstance = this.chartSupportResistanceFunctionality(svg, width, yAxis, x, y);


                this.chartDrawFunction = function(data)
                {
                    x.domain(data.map(candlestick.accessor().d));
                    y.domain(techan.scale.plot.ohlc(data, candlestick.accessor()).domain());

                    // MA's
                    // smaCalculator

                    // MA's
                    var smaPlot = [];
                    var smaCalculator = [];

                    if (!this.chartMas) {
                        this.chartMas = _.find(indicators, {name: 'ma'});
                    }

                    if (this.chartMas)
                    {
                        this.chartMas.params.map(function (period) {
                            smaPlot.push(techan.plot.ema().xScale(x).yScale(y));
                            smaCalculator.push(techan.indicator.ema().period(period));
                        });
                    }

                    smaPlot.map(function (maPlot, index) {
                        var emaDatum = smaCalculator[index](data.slice(0, data.length - self.RIGHT_BORDER_BARS_COUNT));
                        svg.select("g.sma.ma-" + index).datum(emaDatum).call(maPlot);
                    });

                    svg.selectAll("g.candlestick").datum(data).call(candlestick);
                    svg.selectAll("g.x.axis").call(xAxis);
                    // svg.selectAll("g.y.axis").call(yAxis);

                    /**
                     * draw levels
                     */
                    svg.selectAll("g.supstances").datum(this.chartLevels).call(supstance).call(supstance.drag);


                    /**
                     * trade arrows
                     */
                    if (this.chartModel.isIndicatorPresent('rsi'))
                    {
                        this.chartTrades = [];
                        // this.buildRsiTradeArrows(data);
                    }

                    if (this.chartModel.isIndicatorPresent('macd'))
                    {
                        this.chartTrades = [];

                        if (this.isBuildMacdArrows)
                        {
                            this.buildMacdTradeArrows(this.macdTimeseria);
                        }
                    }

                    svg.selectAll("g.tradearrow").datum(this.chartTrades).call(tradearrow);

                    /**
                     * trendlines
                     */
                    svg.selectAll("g.trendlines").datum([]).call(trendlines).call(trendlines.drag);
                    svg.selectAll("g.trendlines").datum(this.chartTrendlines).call(trendlines).call(trendlines.drag);

                };

            },

            buildMacdTradeArrows(data)
            {

                var lastCandle = data[data.length-1];
                var macdData = techan.indicator.macd()(
                    data,
                    this.resChart.chart.macd_params.fast,
                    this.resChart.chart.macd_params.slow,
                    this.resChart.chart.macd_params.signal
                );

                this.resChart.chart.instrument

                for(var i = macdData.length-2, dataIndex = data.length-2; i>0; dataIndex--, i--)
                {
                    var candle = data[dataIndex];
                    var info = macdData[i];
                    var infoPrev = macdData[i+1];

                    if (!infoPrev)
                    {
                        continue;
                    }

                    if (info.signal > info.macd)
                    {
                        if (infoPrev.signal < infoPrev.macd)
                        {
                            this.chartTrades.push({
                                date: infoPrev.date,
                                type: "buy",
                                price: candle.low - candle.low*0.0001,
                                candle_id: candle.id
                            });
                        }
                    }
                    else
                    {
                        if (infoPrev.signal >= infoPrev.macd)
                        {
                            this.chartTrades.push({
                                date: infoPrev.date,
                                type: "sell",
                                price: candle.high + candle.low*0.0001,
                                candle_id: candle.id
                            });
                        }
                    }
                }

                var newTrade = this.chartTrades[0];
                var tradeDate = moment.utc(newTrade.date);
                var lastMinute = Math.floor(tradeDate.minutes() / this.currentTimeframe.timeframe) * this.currentTimeframe.timeframe;
                var uniqId = ['macd', this.resChart.chart.instrument, tradeDate.format('YYYY_MM_DD_HH'), 'minute_' + lastMinute].join('_');
                this.emitTradeSignal(newTrade.type, 'macd', this.resChart.chart.instrument, this.resChart.chart.group_id, uniqId);
            },

            buildRsiTradeArrows(data)
            {
                var lastCandle = data[data.length-1];
                var rsiDataSlow = techan.indicator.rsi().period(14)(data, 14);
                var rsiDataFast = techan.indicator.rsi().period(7)(data, 7);


                for(var slowIndex = rsiDataSlow.length-1, fastIndex = rsiDataFast.length-1, c=0, dataIndex = data.length-1; fastIndex>0; slowIndex--, c++, fastIndex--, dataIndex--)
                {

                    var slow =rsiDataSlow[slowIndex];
                    var fast = rsiDataFast[fastIndex];
                    var candle = data[dataIndex];


                    if (fast.rsi > slow.rsi)
                    {
                        this.chartTrades.push({
                            date: fast.date,
                            type: "buy",
                            price: candle.low - candle.low*0.0001
                        });

                    }
                    else if(fast.rsi < slow.rsi)
                    {
                        this.chartTrades.push({
                            date: fast.date,
                            type: "sell",
                            price: candle.high + candle.high*0.0001
                        });
                    }


                    if (c>100) {
                        break;
                    }
                }

            },

            multiTimeframeEma()
            {

                var period = 9;
                var ema = techan.indicator.ema().period(period);

                var newTimeseria = this.calculateFromM1ChartTimeseria(
                    7, 300
                );

                var newTimeseria = this.calculateFromM1ChartTimeseria(
                    9, 300
                );

                var m5Ema = ema(newTimeseria);
                var m6Ema = ema(newTimeseria);
            },


            async onAddTrendline(coords)
            {
                this.newTrendline.end = {date: moment(coords.x), value: coords.y};

                var resAdd = await this.runTask('add__trendline__to__chart__task', {
                    chart_id: this.chartModel.id,
                    start_date: moment(this.newTrendline.start.date).format('YYYY-MM-DD HH:mm:ss'),
                    end_date: moment(this.newTrendline.end.date).format('YYYY-MM-DD HH:mm:ss'),
                    is_fired: 0,
                    start_value: this.newTrendline.start.value,
                    end_value: this.newTrendline.end.value,
                });

                if (!resAdd.isOk())
                {
                    this.toastError('Failed add level');
                }

                this.newTrendline.id = resAdd.get('trendline').id;
                this.chartTrendlines.push(this.newTrendline);
                this.chartDrawFunction(this.chartTimeseria);

                this.newTrendline = null;
            },

            async onMovedTrendline(d)
            {
                var line = d;

                var resAdd = await this.runTask('add__trendline__to__chart__task', {
                    chart_id: this.chartModel.id,
                    id: d.id,
                    start_date: moment(d.start.date).format('YYYY-MM-DD HH:mm:ss'),
                    end_date: moment(d.end.date).format('YYYY-MM-DD HH:mm:ss'),
                    is_fired: 0,
                    start_value: d.start.value,
                    end_value: d.end.value,
                });

                if (!resAdd.isOk())
                {
                    this.toastError('Failed move trendline');
                }

                // debugger;
            },

            async onDeleteTrendline(d)
            {
                if (d.id)
                {
                    var resDel = await this.runTask('delete__trendline__from__chart__task', {
                        chart_id: this.chartModel.id,
                        level_id: d.id
                    });

                    if (!resDel.isOk())
                    {
                        this.toastError('Failed delete trendline');
                    }

                    // log(d.id, this.chartTrendlines.map(t=>{return t.id}));
                    var deleted = _.filter(this.chartTrendlines, (o) => {return o.id !== d.id});
                    this.chartTrendlines = deleted;
                    this.chartDrawFunction(this.chartTimeseria);
                    // log(this.chartTrendlines.map(t=>{return t.id}));
                }
            },

            async onDeleteLevel(d)
            {
                if (d.id)
                {
                    var resDel = await this.runTask('delete__level__from__chart__task', {
                        chart_id: this.chartModel.id,
                        level_id: d.id
                    });

                    if (!resDel.isOk())
                    {
                        this.toastError('Failed delete level');
                    }
                }

                if (d.id)
                {
                    var deleted = _.filter(this.chartLevels, (o) => {return o.id !== d.id});
                }
                else
                {
                    var deleted = _.filter(this.chartLevels, (o) => {return o.uniq_id !== d.uniq_id});
                }

                this.chartLevels = deleted;
                this.chartDrawFunction(this.chartTimeseria);
            },

            async onMoveLevel(d)
            {
                // var res = await this.runTask('update__chart__task', par);
                var type = d.value > this.lastCandle.close  ? 'resistance' : 'support';
                var resAdd = await this.runTask('add__level__to__chart__task', {
                    chart_id: this.chartModel.id,
                    value: d.value,
                    type: type,
                    is_fired: 0,
                    level_id: sp(d, 'id')
                });

                if (!resAdd.isOk())
                {
                    this.toastError('Failed add level');
                }
                else
                {
                    if (d.uniq_id)
                    {
                        var level = _.find(this.chartLevels, {uniq_id: d.uniq_id});
                    }
                    else
                    {
                        var level = _.find(this.chartLevels, {id: d.id});
                    }

                    level.id = resAdd.get('level').id;
                    level.value = resAdd.get('level').value;
                    level.is_fired = 0;
                    level.type = type;
                    this.chartDrawFunction(this.chartTimeseria);
                }

                if (this.onMovedLevel) {
                    this.onMovedLevel(this.chartModel.id, d);
                }
            },

            onClickNextPopup(value)
            {

                debugger;
            },

            onClickAddLevel()
            {
                this.chartLevels.push({
                    value: this.lastCandle.close,
                    uniq_id: newUnicID()
                });

                this.chartDrawFunction(this.chartTimeseria);
            },

            chartCrosshairFunctionality(svg, width, xAxis, yAxis, x, y)
            {
                var ohlcAnnotation = techan.plot.axisannotation()
                    .axis(yAxis)
                    .orient('left')
                    .format(d3.format(',.4f'));

                var timeAnnotation = techan.plot.axisannotation()
                    .axis(xAxis)
                    .format(d3.timeFormat('%H:%M'))
                    .width(0);

                var crosshair = techan.plot.crosshair()
                    .xScale(x)
                    .yScale(y);

                crosshair
                    .xAnnotation([timeAnnotation])
                    .yAnnotation([ohlcAnnotation])
                    .on("move", move);

                svg.append('g')
                    .attr("class", "crosshair")
                    // .datum({ x: x.domain()[80], y: 67.5 })
                    .call(crosshair)
                    .each(function(d) { move(d); }); // Display the current data


                var self = this;
                function move(coords)
                {
                    if (!d3.event) return;
                    if (!d3.event.ctrlKey) return;

                    // log(coords, d3.event);

                    if (d3.event.buttons === 1)
                    {
                        if (eN(self.newTrendline))
                        {
                            self.newTrendline = {
                                id: 'not_setted',
                                is_fired: 0,
                                start: {date: moment(coords.x), value: coords.y},
                                end: {date: moment(coords.x), value: coords.y},
                            };
                        }
                    }

                    if(d3.event.buttons === 0)
                    {
                        if (!eN(self.newTrendline) && !self.newTrendline.is_saving)
                        {
                            self.newTrendline.is_saving = true;
                            self.onAddTrendline(coords);
                        }
                    }

                }

                return crosshair;
            },

            chartTrendlineFunctionality(svg, width, yAxis, x, y)
            {
                var valueFormat = d3.format(',.4f');
                var timeFormat = d3.timeFormat('%Y-%m-%d');
                var self = this;

                var valueText = svg.append('text')
                    .style("text-anchor", "end")
                    .attr("class", "coords")
                    .attr("x", width - 5)
                    .attr("y", 15);

                var trendline = techan.plot.trendline()
                    .xScale(x)
                    .yScale(y)
                    .on("mouseenter", enter)
                    .on("mouseout", out)
                    .on("drag", drag)
                    .on('dragend', dragend)
                ;

                function enter(d) {
                    valueText.style("display", "inline");
                    refreshText(d);
                }

                function out(d) {
                    valueText.style("display", "none");
                }

                function drag(d) {
                    refreshText(d);
                }

                function dragend(d)
                {
                    if (d3.event.sourceEvent.ctrlKey)
                    {
                        self.onDeleteTrendline(d);
                    }
                    else
                    {
                        var line = _.find(self.chartTrendlines, {id: d.id});
                        line.is_fired = 0;
                        self.resChart.chart.trendlines = self.convertD3TrendlinesIntoChart(self.chartTrendlines);

                        // line.start.date = d.start.date;
                        // line.start.value = d.start.value;
                        //
                        // line.end.date = d.end.date;
                        // line.end.value = d.end.value;
                        self.onMovedTrendline(d);
                    }
                }

                function refreshText(d)
                {
                    var type = getTrendlineType(d);
                    var text = 'ID:'+ d.id + ' Type: ' + type + ((type === 'support') ? ' (break down)' : ' (break up)') + ' Fired: '+ d.is_fired;
                    valueText.text(text);
                }

                svg.append("g").attr("class", "trendlines");

                return trendline;
            },

            chartTradearrowsFunctionality(svg, width, yAxis, x, y)
            {
                var valueFormat = d3.format(',.4f');

                var tradearrow = techan.plot.tradearrow()
                    .xScale(x)
                    .yScale(y)
                    .orient(function(d) { return d.type.startsWith("buy") ? "up" : "down"; })
                    .on("mouseenter", enter)
                    .on("mouseout", out);

                var valueText = svg.append('text')
                    .style("text-anchor", "end")
                    .attr("class", "coords")
                    .attr("x", width - 5)
                    .attr("y", 15);

                function enter(d) {
                    valueText.style("display", "inline");
                    refreshText(d);
                }

                function out() {
                    valueText.style("display", "none");
                }

                function refreshText(d) {
                    valueText.text(valueFormat(d.price));
                }

                return tradearrow;
            },

            chartSupportResistanceFunctionality(svg, width, yAxis, x, y)
            {
                var self = this;
                svg.append("g")
                    .attr("class", "supstances")
                    .attr("clip-path", "url(#supstanceClip)")
                    ;

                var valueText = svg.append('text')
                    .style("text-anchor", "end")
                    .attr("class", "coords")
                    .attr("x", width - 5)
                    .attr("y", 15);

                var valueFormat = d3.format(',.4f');

                var ohlcAnnotation = techan.plot.axisannotation()
                    .axis(yAxis)
                    .orient('left')
                    .format(d3.format(',.4f'));

                var supstance = techan.plot.supstance()
                    .xScale(x)
                    .yScale(y)
                    .annotation([ohlcAnnotation])
                    .on("mouseenter", enter)
                    .on("mouseout", ()=>{valueText.style("display", "none")})
                    .on("drag", (d)=>{refreshText(d)})
                    .on("dragend", (d) => {

                        if (d3.event.sourceEvent.ctrlKey)
                        {
                            self.onDeleteLevel(d)
                        }
                        else
                        {
                            self.onMoveLevel(d);
                        }

                        log('dragend level ', d.value);
                    });

                function enter(d) {
                    valueText.style("display", "inline");
                    refreshText(d);
                }

                function refreshText(d) {
                    valueText.text("Value: " + valueFormat(d.value) + ' Type: ' + d.type + ' Fired: ' + d.is_fired);
                }

                return supstance;
            }

        },

    }
</script>


<style lang="scss">

    $candle_color: blue;
    $candle_color_down: blue;

    text {
        fill: #000;
    }

    path.candle {
        stroke: $candle_color;
    }

    path.candle.body {
        stroke-width: 0;
    }

    path.candle.up {
        fill: $candle_color;
        stroke: $candle_color;
    }

    path.candle.down {
        fill: $candle_color_down;
        stroke: $candle_color_down;
    }

    .ma-0 path.line {
        stroke: black;
        stroke-width: 2;
    }

    .ma-1 path.line {
        stroke: #b03e00;
        stroke-width: 2;
    }

    .ma-2 path.line {
        stroke: forestgreen;
        stroke-width: 2;
    }

    .ma-3 path.line {
        stroke: blue;
        stroke-width: 2;
    }

    .ma-4 path.line {
        stroke: red;
        stroke-width: 3;
    }

    .ma-5 path.line {
        stroke: cornflowerblue;
        stroke-width: 2;
    }

    .ma-6 path.line {
        stroke: blueviolet;
        stroke-width: 2;
    }

    .ma-7 path.line {
        stroke: fuchsia;
        stroke-width: 2;
    }



    .instrument
    {
        font-size: 26px;
        background-color: white;
        /*position: absolute;*/
        /*top: 0px;*/
        /*left: 0px;*/
    }

    .timeframe
    {
        font-size: 26px;
        background-color: white;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .chart
    {
        position: relative;
    }

    .indicator
    {
        position: relative;

        .timeframe
        {
            top: 0px;
            left: 0px;
        }
    }

    /**
    * supply resistnce lines
     */
    .supstance path {
        stroke: blue;
        stroke-width: 0.8;
        stroke-dasharray: 2, 2;
    }

    .mouseover .supstance path {
        stroke-width: 1.5;
    }

    .dragging .supstance path {
        stroke: darkblue;
    }

    .interaction path {
        pointer-events: all;
        cursor: ns-resize;
        stroke: blue;
        stroke-width: 1;
    }

    /**
    * trade arrows
     */

    path.tradearrow {
        stroke: none;
        opacity: 0.2;
    }

    path.tradearrow.buy {
        fill: #0000FF;
    }

    path.tradearrow.buy-pending {
        fill-opacity: 0.2;
        stroke: #0000FF;
        stroke-width: 1.5;
    }

    path.tradearrow.sell {
        fill: #9900FF;
    }

    .tradearrow path.highlight {
        fill: none;
        stroke-width: 2;
    }

    .tradearrow path.highlight.buy,.tradearrow path.highlight.buy-pending {
        stroke: #0000FF;
    }

    .tradearrow path.highlight.buy-pending {
        fill: #0000FF;
        fill-opacity: 0.3;
    }

    .tradearrow path.highlight.sell {
        stroke: #9900FF;
    }

    /**
    * Trendline
     */
    .trendline {
        stroke: blue;
        stroke-width: 0.8;
    }

    .trendline circle {
        stroke-width: 0;
        display: none;
    }

    .mouseover .trendline path {
        stroke-width: 1;
    }

    .mouseover .trendline circle {
        stroke-width: 1;
        display: inline;
    }

    .dragging .trendline {
        stroke: darkblue;
    }

    .interaction path, .interaction circle {
        pointer-events: all;
    }

    .interaction .body {
        cursor: move;
    }

    .interaction .start, .interaction .end {
        cursor: nwse-resize;
    }

    /**
    * crosshair
     */
    .crosshair {
        cursor: crosshair;
    }

    .crosshair path.wire {
        stroke: black;
        stroke-dasharray: 1, 1;
    }

    .crosshair .axisannotation path {
        fill: black;
    }

    rect.pane {
        cursor: move;
        fill: none;
        pointer-events: all;
    }

</style>
