<template>

    <div :id="boxId" :class="{'green-active': this.isPopuped, 'blue-active': isBorderActive}" v-on:dblclick="onDblClick">

        <div  class="charts" style="margin-top:10px;">
            <div class="columns2">
                <div v-for="chart in this.resChartGroup.charts" class="chart-box">
                    <chart
                            :ref="'chart_' + chart.chart.id"
                            :res-chart="chart"
                            :chart-group-id="resChartGroupId"
                            :is-compact-view="isCompactView"
                            :on-select-next-popup-delta="onClickChartNextPopupDelta"
                            :on-select-add-to-watchlist="onClickChartAddToWatchlist"
                            :on-change-context-menu-select="onChangeChartContextMenuSelect"
                            :on-moved-chart-level="onMovedChartLevel"
                    >
                    </chart>
                </div>
            </div>
        </div>

        <div class="columns ">

            <div class="column is-5" v-show="false">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Add chart to group
                        </p>
                    </header>

                    <div class="card-content">
                        <div class="content">

                            <div class="field">
                                <div class="control has-icons-right">
                                    <p class="control">
                                    <span class="select">
                                        <select v-model="newChart.instrument" name="">
                                            <option value="eur_usd">EUR/USD</option>
                                            <option value="gbp_usd">GBP/USD</option>
                                            <option value="gbp_jpy">gbp_jpy</option>
                                            <option value="usd_chf">usd_chf</option>
                                            <option value="usd_jpy">usd_jpy</option>
                                            <option value="aud_usd">aud_usd</option>
                                            <option value="eur_jpy">eur_jpy</option>
                                            <option value="nzd_jpy">nzd_jpy</option>
                                        </select>
                                    </span>
                                    </p>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">View</label>
                                <p class="control">
                                <span class="select">
                                    <select class="control" v-model="newChart.view">
                                        <option value="default">Default</option>
                                        <option value="renko">Renko</option>
                                        <!--                    <option value="renko">Renko</option>-->
                                    </select>
                                </span>
                                </p>
                            </div>

                            <div class="field">
                                <label class="label">Timeframe</label>
                                <p class="control">
                                <span class="select">
                                    <select class="control" v-model="newChart.timeframe">
                                        <option value="1">1</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="30">30</option>
                                        <option value="60">60</option>
                                    </select>
                                </span>
                                </p>
                            </div>

                            <div class="field">
                                <label class="label">Timeframe type</label>
                                <p class="control">
                                <span class="select">
                                    <select class="control" v-model="newChart.timeframeType">
                                        <option value="M">Minutes</option>
                                        <option value="S">Seconds</option>
                                    </select>
                                </span>
                                </p>
                            </div>

                            <a class="button is-primary" href="#" @click="clickCreateChart">Create chart</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    import Chart from '../components/Chart'

    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    import ChartGroupModel from '../models/ChartGroupModel'
    import moment from "moment";

    export default {
        name: 'charts-group',
        components: {Chart},
        mixins: [mixins],

        props: {

            resChartGroup:
            {
                type: Object,
                required: true
            },

            onDblClickParam:{
                type: Function
            },

            onSelectNextPopupDelay:{
                type: Function
            },

            onChangeContextMenuSelect:{
                type: Function
            },

            onSelectAddToWatchlist:{
                type: Function
            },

            isCompactView: {
                type: Boolean,
                required: true
            },

            boxId: {
                type: String
            },
        },

        computed: {

        },

        data() {
            return {
                // title: this.post.title,
                newChart: {},
                isPopuped: false,
                isBorderActive: false
            }
        },

        watch: {

        },

        beforeMount()
        {
            this.updateResChartGroup(this.resChartGroup);
            this.resChartGroupId = this.resChartGroup.id;

            // this.newChart = this.defNewChart();
        },

        async mounted()
        {
            this.resChartGroup
            this.resChartGroup.id
            this.resChartGroup.charts
            // debugger;
            this.resChartGroup
        },

        methods:
            {
                onMovedChartLevel(chartId, level)
                {
                    this.setIsBorderActive(false);
                },

                async onChangeChartContextMenuSelect(action, actionData)
                {
                    if (this.onChangeContextMenuSelect)
                    {
                        await this.onChangeContextMenuSelect(this.resChartGroup.id, action, actionData);
                    }
                },

                onClickChartAddToWatchlist(watchDirection, meta)
                {
                    if (this.onSelectAddToWatchlist)
                    {
                        this.onSelectAddToWatchlist(this.resChartGroup.id, watchDirection, meta);
                    }
                },

                onClickChartNextPopupDelta(delay)
                {
                    if (this.onSelectNextPopupDelay)
                    {
                        this.onSelectNextPopupDelay(this.resChartGroup.id, delay)
                    }
                },

                getResChartGroup()
                {
                    return this.resChartGroup;
                },

                updateResChartGroup(resChartGroup)
                {
                    this.resChartGroup = resChartGroup;
                    this.chartGroupModel = new ChartGroupModel(this.resChartGroup);

                    var self = this;
                    // debugger;

                    this.resChartGroup.charts.map((chart) => {

                        if (self.$refs['chart_' + chart.chart.id])
                        {
                            var chartComponent = self.$refs['chart_' + chart.chart.id][0];
                            chartComponent.redrawCurrentTimeseria();
                        }
                    });
                },

                onDblClick()
                {
                    if (this.onDblClickParam) {
                        this.onDblClickParam(this.chartGroupModel.id);
                    }

                },

                setIsPopuped(val)
                {
                    this.isPopuped = val;
                },

                setIsBorderActive(val)
                {
                    this.isBorderActive = val;
                },

                async clickCreateChart() {
                    var par = this.newChart;
                    par.chartGroupId = this.resChartGroup.id;
                    var resAdd = await this.runTask('add__chart__to__chart__group__task', par);

                    this.toastConfirm(resAdd.isOk(), 'Chart added', 'Failed add chart');
                    this.newChart = this.defNewChart();
                },

                defNewChart() {
                    var chart = this.chartGroupModel.getFirstChart();


                    return {
                        instrument: !eN(chart) ? chart.instrument : 'eur_usd',
                        timeframe: !eN(chart) ? chart.timeframe : '1',
                        timeframeType: !eN(chart) ? chart.timeframe_type : 'M',
                        view: !eN(chart) ? chart.view : 'default',
                    };
                },

                /**
                 * Update charts with latest timeseria
                 * @param charts
                 */
                updateChartsWithLatestTimeseria(charts) {
                    var self = this;

                    charts.map(function (chart) {
                        self.resChartGroup.charts.map((existChart) => {
                            if (existChart.chart.id === chart.chart.id) {
                                self.mergeChartTimeseries(existChart, chart)
                            }
                        })

                    });
                },

                setTimeframe(timeframe)
                {
                    this.resChartGroup.charts.map((chart) => {
                        var chartComponent = this.getChartComponent(chart.chart.id);
                        chartComponent.onClickChangeTimeframe(timeframe);
                    })
                },

                redrawChartsCurrentChartSeries()
                {
                    this.resChartGroup.charts.map((chart) => {
                        this
                            .getChartComponent(chart.chart.id)
                            .redrawCurrentTimeseria();
                    })
                },

                getChartComponent(id)
                {
                    return this.$refs['chart_' + id][0];
                },


                mergeChartTimeseries(existChart, newChart) {
                    var self = this;

                    this.appendTimeseria(existChart.resChartTimeseries.timeseries.M1, newChart.timeseries.M1);
                    this.appendTimeseria(existChart.resChartTimeseries.timeseries.M15, newChart.timeseries.M15);
                    this.appendTimeseria(existChart.resChartTimeseries.timeseries.S10, newChart.timeseries.S10);

                    var chartComponent = this.$refs['chart_' + existChart.chart.id][0];
                    chartComponent.redrawCurrentTimeseria();
                },

                appendTimeseria(existsTimeseria, newTimeseria) {
                    var lastKey = existsTimeseria.length - 1;
                    var lastCandle = _.last(existsTimeseria);
                    var lastCandleDate = moment(lastCandle.date);

                    newTimeseria.map((newCandle) => {
                        var newCandleDate = moment(newCandle.date);
                        if (newCandleDate.isSame(lastCandleDate)) {
                            existsTimeseria[lastKey] = newCandle;
                        } else if (newCandleDate.isAfter(lastCandleDate)) {
                            existsTimeseria.push(newCandle);
                        }
                    });
                },

                setGreenActive()
                {

                }

        }
    }
</script>


<style scoped lang="scss">


    .blue-active
    {
        border-top: 5px solid #2a62bc;
    }

    .green-active
    {
        border-top: 5px solid green;
    }

    .chart-box
    {

    }

</style>
