<template>
    <div v-if="deals" class="deals-feed">
        <div class="deals-nav">
            <a v-for="pair in deals.found_pairs" :href="'#'+pair" class="button periods is-small">{{pair}}</a>&nbsp;
        </div>

        <hr>
        <div  v-for="pair in deals.found_pairs">
            <table>
                <tr>
                    <instrument-view
                        ref="instrument_view"
                        view_type="static"
                        :periods="deals.found[pair]"
                        :instrument="pair"
                        :pic_view="current_pic_view"
                        :feed="deals.data[pair]"
                        :on_render_title="on_render_instrument_title"
                    ></instrument-view>
              </tr>
            </table>
        </div>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },

            is_drawning: {
                type: Boolean,
                required: true
            },
            is_perspective: {
                type: Boolean,
                required: true
            },
            pic_view: {
                type: String,
                required: true
            },
        },

        computed: {

        },

        data() {
            return {
                deals: null,
                current_pic_view: this.pic_view,
                current_is_perspective: this.is_perspective,
            }
        },
        watch: {

        },

        async mounted()
        {
            this.$root.$on('keyup_backspace', this.onKeyBackspace);

            var rDeals = await this.runTask('get__deals__feed__task', {});
            this.deals = rDeals.resp;


            this.deals.found_pairs
            this.deals.data
            //this.deals.found[]


//            if (this.is_drawning) {
//                var self=this;
//                fork(() => {
//                    self.toggleDrawning(this.is_drawning);
//                }, 800);
//            }
//            debugger;
//            GBPUSD
//                15
//                cci
//                cci_empty_bars
//                drawnings
//                ohlc
//                ohlc_empty_bars
//                screenshots
//                trendlines

        },
        methods: {

            onKeyBackspace()
            {
                var self = this;
                this.get_last_edited_instrument_view && this.get_last_edited_instrument_view((view) => {
                    view.onClearDrawnings(self.last_edited_drawning.place);
                });
            },

            on_render_instrument_title(second_ohlc)
            {
                var ret = second_ohlc.tlines_summary.map((i) =>{
                    var span_cls = i.type == "sell" ? "is-danger" : "is-success";
                    return "<span class='tag " + span_cls + "'>" + "#"+ i.id + " " + i.type +" " + i.risk + "%</span>"
                });

                return ret.join(" ");
            },

            toggleDrawning(is_drawning)
            {
                if(this.$refs.instrument_view)
                {
                    this.$refs.instrument_view.map( (view) => {
                        view.toggleDrawning(is_drawning);
                    });
                }

            },
            onChangePicView(pic_view)
            {
                if(this.$refs.instrument_view)
                {
                    this.$refs.instrument_view.map( (view) => {
                        view.onChangePicView(pic_view);
                    });
                }
            }
        }
    }
</script>


<style scoped lang="scss">

.deals-nav
{
    position: fixed;
    top: 36px;
    left: 20px;
    z-index: 200;
}
</style>
