<template>
    <div class="card depo-status" v-if="summary_">
        <header class="card-header" :class="{}">
            <p class="card-header-title">
                {{balance}}$
                <span v-if="balance_change" class="balance_change">({{balance_change}} )</span>
                <span class="tag" v-if="balance_change" :class="{'is-success': balance_percent_change >= 0, 'is-danger': balance_percent_change < 0}">
                  ({{balance_percent_change}}%)
                </span>
                <span>&nbsp;| FREE: {{free_percents}}%</span>
                <span>&nbsp;&nbsp;&nbsp;<b>{{updated.split(" ")[1]}}</b></span>
            </p>
        </header>

    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    import moment from "moment";
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            // summary: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
            updated: {
                type: String,
                required:true
            },
        },

        computed: {

        },

        data() {
            return {
                summary_: null,
                now_date: '',
                balance: 0,
                balance_percent_change: 0,
                balance_change: 0,
                locked_percent: 0,
                free_percents: 0,
            }
        },
        watch: {

        },
        mounted()
        {

            // this.$root.$on('event__open_orders', this.build_depo_status);
        },
        methods: {
            async build_depo_status()
            {
                if (this.summary_)
                {
                    this.balance = this.summary_.balance;
                    this.balance_percent_change = this.summary_.balance_percent_change;
                    this.balance_change = this.summary_.balance_change;
                    this.locked_percent = this.summary_.locked_percent;
                    this.free_percents = this.summary_.free_percents;
                }
            },

            UpdateSummary(summary)
            {
                this.summary_ = summary;
                this.build_depo_status();
                // this.now_date = time;
            }
        }
    }
</script>


<style scoped lang="scss">
    .depo-status
    {
        position: fixed;
        height: 40px;
        bottom: 0px;
        left: 0px;
        width: 100%;

        .card-header-title
        {
            color: black;
        }
        .balance_change
        {
            color: gray;
        }
    }
</style>
