<template>
    <div class="">
        <div v-for="symbol in symbols" :id="symbol" class="card symbol-card">
            <header class="card-header" :class="{}">
                <p class="card-header-title">
                    <b>{{ symbol }}</b>
                    <span @click="onClickMainPrice(symbol)" v-if="symbol in prices">{{prices[symbol]}}</span>
                    <span v-if="symbol in symbols_summary" class="tag" :class="{'is-success': symbols_summary[symbol] >= 0, 'is-danger': symbols_summary[symbol] < 0}">
                        {{ symbols_summary[symbol] }}%
                    </span>
                    &nbsp;
                    <a v-if="symbol in symbols_summary" @click="closeAll(symbol)" class="card-header-icon button is-big is-light">X</a>&nbsp;
                </p>

                <a @click="onClickTradeDirection(symbol, 'buy')" class="card-header-icon button is-big is-primary buysell-btn">BUY</a>&nbsp;
                <a @click="onClickTradeDirection(symbol, 'sell')" class="card-header-icon button is-big is-danger buysell-btn">SELL</a>&nbsp;

            </header>

            <div v-if="current_symbol === symbol">
                <div class="card-content">
                    <div class="content">
                        <div v-if="!is_append_orders && current_direction" class="new-trade-box">
                            <DIV class="risk-btns-box" v-if="current_direction == 'buy'">
                                <a @click="onSelectRisk(1)" :class="{'is-small': !is_percent_risk(1), 'is-big': is_percent_risk(1)}" class="button is-primary">BUY1</a>
                                <a @click="onSelectRisk(5)" :class="{'is-small': !is_percent_risk(5), 'is-big': is_percent_risk(5)}" class="button is-primary">BUY5</a>
                                <a @click="onSelectRisk(10)" :class="{'is-small': !is_percent_risk(10), 'is-big': is_percent_risk(10)}" class="button is-primary">BUY10</a>
                                <a @click="onSelectRisk(20)" :class="{'is-small': !is_percent_risk(20), 'is-big': is_percent_risk(20)}" class="button is-primary">BUY20</a>
                                <a @click="onSelectRisk(30)" :class="{'is-small': !is_percent_risk(30), 'is-big': is_percent_risk(30)}" class="button is-primary">BUY30</a>
                            </DIV>
                            <DIV class="risk-btns-box" v-if="current_direction == 'sell'">
                                <a @click="onSelectRisk(1)" :class="{'is-small': !is_percent_risk(1), 'is-big': is_percent_risk(1)}" class="button is-danger">SELL1</a>
                                <a @click="onSelectRisk(5)" :class="{'is-small': !is_percent_risk(5), 'is-big': is_percent_risk(5)}" class="button is-danger">SELL5</a>
                                <a @click="onSelectRisk(10)" :class="{'is-small': !is_percent_risk(10), 'is-big': is_percent_risk(10)}" class="button is-danger">SELL10</a>
                                <a @click="onSelectRisk(20)" :class="{'is-small': !is_percent_risk(20), 'is-big': is_percent_risk(20)}" class="button is-danger">SELL20</a>
                                <a @click="onSelectRisk(30)" :class="{'is-small': !is_percent_risk(30), 'is-big': is_percent_risk(30)}" class="button is-danger">SELL30</a>
                            </DIV>

                            <div v-if="current_direction" class="slider">
                                <p>Stop Loss:</p>
                                <div id="sl-slider-box">
                                  <div class="ui-slider-handle slider-value"></div>
                                </div>
                            </div>
                        </div>

                        <symbol-orders-list
                            v-if="!is_append_orders && (symbol in orders)"
                            :ref="'orders_list_'+symbol"
                            :orders="orders[symbol]"
                            :updated="updated"
                        ></symbol-orders-list>

                        <div v-if="is_append_orders" class="append-div">
                            <span>Append orders</span>
                        </div>

                    </div>
                </div>

                <footer class="card-footer">
                    <a @click="toggleAppendOrder()" :class="{'is-black': is_append_orders}" class="card-footer-item append-btn">Append</a>
                    <a v-if="is_append_orders" @click="onPutPendingOrder()" :class="{'is-success': current_direction === 'buy', 'is-danger': current_direction === 'sell'}" class="card-footer-item trade-btn">PUT ORDER</a>
                    <a v-if="!is_append_orders" @click="onTrade()" :class="{'is-success': current_direction === 'buy', 'is-danger': current_direction === 'sell'}" class="card-footer-item trade-btn">TRADE</a>
                    <a class="card-footer-item">SL</a>
                    <a class="card-footer-item">TP</a>
                </footer>
            </div>
        </div>

        <depo-status v-if="open_orders" ref="depo_status" :updated="updated"></depo-status>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    import live_events from '../game_live_events.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins, live_events],

        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            symbols: {
                type: Array,
                required:true
            },
            // period: {
            //     type: Number,
            //     required:true
            // },
        },

        computed: {

        },
        data() {
            return {
                current_symbol: null,
                current_direction: null,
                is_append_orders: false,
                sl_val: 10, //pips
                updated: Date.now().toString(),

                orders: {},
                open_orders: {},
                prices: {},
                symbols_summary: {},
                risk_percents: 1,
                lots_value: 0.01
            }
        },
        watch: {

        },

        beforeDestroy()
        {

            debugger;
        },

        async mounted()
        {
            this.setup_frontend_events();
        },
        methods: {
            onSelectLotsValue(lots)
            {
                this.lots_value = lots;
            },
            onSelectRisk(risk)
            {
                this.risk_percents = risk;
            },
            is_lots_value(lots)
            {
                return this.lots_value === lots;
            },

            is_percent_risk(risk)
            {
                return this.risk_percents === risk;
            },
            symbol_percent_change(symbol)
            {
                return this.open_orders.symbols[symbol].summary.percent_change;
            },

            closeAll(symbol)
            {
                this.current_symbol
                this.runTask('put__command__to__the__sheet__task', {
                    name: "CLOSE_OPEN_ORDERS",
                    params: {
                        symbol: symbol
                    }
                });
            },

            async toggleAppendOrder()
            {
                this.is_append_orders = !this.is_append_orders;

                if (this.is_append_orders)
                {
                    // await this.$nextTick();

                }
            },

            onPutPendingOrder()
            {
                this.runTask('put__command__to__the__sheet__task', {
                    name: "APPEND_MARKET_ORDER",
                    params: {
                        type: this.current_direction,
                        sl: this.sl_val,
                        tp_coef: 1,
                        risk_type: "direct_lot_size",
                        lots: '0.01',
                        pair: this.current_symbol,
                        uniq_id: 0,
                        is_skip_be: 0,
                    }
                });
            },

            onTrade()
            {
                var risk = this.risk_percents;
                var sl = this.sl_val;

                if (this.current_symbol === 'XAUUSD')
                {
                    risk = risk / 100;
                    // sl = sl / 10;
                }

                this.runTask('put__command__to__the__sheet__task', {
                    name: "OPEN_MARKET_ORDER",
                    params: {
                        type: this.current_direction,
                        sl: sl,
                        tp_coef: 1,
                        risk_type: "depo_percents",
                        risk: risk,
                        pair: this.current_symbol,
                        uniq_id: 0,
                        is_skip_be: 0,
                    }
                });

            },
            async onClickMainPrice(symbol)
            {
                this.current_symbol = symbol;
                this.current_direction = null;
                this.open_symbol_mt4(symbol);
            },

            async onClickTradeDirection(symbol, type)
            {
                this.current_symbol = symbol;
                this.current_direction = type;
                this.is_append_orders = false;
                this.open_symbol_mt4(symbol);

                await this.$nextTick();

                var sl_val = settings.attack_panel.sl.val;

                if (symbol == 'XAUUSD')
                {
                    sl_val= 20;
                }

                this.setupSliders(
                    'sl-slider-box',
                    settings.attack_panel.sl.min,
                    settings.attack_panel.sl.max,
                    sl_val
                );
            },
            setupSliders(slider_box, min, max, value)
            {
                var self = this;
                var value_box = $( "#"+ slider_box + " .slider-value" );
                var sl_val = value;
                this.sl_val = sl_val;

                value_box.text(sl_val);
                $("#" + slider_box).slider({
                    min: min,
                    max: max,
                    value: sl_val,
                    create: function() {
                        value_box.text( $( this ).slider( "value" ) );
                    },
                    slide: function( event, ui ) {
                        value_box.text( ui.value );
                        self.sl_val = ui.value;
                    }
              });
            },

            UpdatePrices(prices, updated_time)
            {
                this.prices = prices;
                this.updated = updated_time;
            },

            UpdateOpenOrders(open_orders)
            {

                this.open_orders = open_orders;
                this.symbols_summary = open_orders.symbols_summary;

                this.orders = open_orders.orders;
                this.$refs.depo_status.UpdateSummary(this.open_orders.summary)
            }
        }
    }
</script>


<style scoped lang="scss">
    .symbol-card
    {
        margin-bottom: 1rem;

        .sl-slider-box
        {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .risk-btns-box
        {
            a {
                margin-right: 5px;
            }
        }
        .append-btn
        {
            &.is-black
            {
              background-color: gray;
            }
        }

        .trade-btn
        {
            color: white;

            &.is-success
            {
                background-color: mediumseagreen;
            }
            &.is-danger
            {
                background-color: red;
            }
        }

        .buysell-btn
        {
            margin-top: 6px;
        }
    }
</style>
