<template>
    <div id="health-check" class="">

      <div @click="onClickStatus()" class="status" :class="{is_red: !is_ok, is_green: is_ok, is_opened: is_shown_window}">

        <div v-if="is_shown_window">
          <div v-html="last_status_resp.web_status_dump"></div>
        </div>
      </div>

    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                PING_TIME: 50000, // seconds
                is_ok: true,
                is_shown_window: false,
                last_status_resp: null
            }
        },
        watch: {

        },
        async mounted()
        {

          this.beepFile = new Audio("/sounds/beep.wav");
          self.beepFile.play();

          var self = this;
          setInterval(async () => {
            var signals = await self.runTask('get__status__task', {});
            var web_status = signals.resp.web_status;
            self.is_ok = true;

            if (!web_status.screenshots) {
              // self.beepFile.play();
              this.is_ok = false
            }

            if (!web_status.qqe_seed_ok) {
              this.is_ok = false
            }
                // self.beepFile.play();
            self.last_status_resp = signals.resp;
          }, this.PING_TIME);

        },
        methods: {
          onClickStatus()
          {
            this.is_shown_window = !this.is_shown_window;
          }
        }
    }
</script>


<style scoped lang="scss">

#health-check
{
  .status
  {
    position: fixed;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border: 1px solid grey;

    &.is_red{
      background-color: red;
    }
    &.is_green{
      background-color: green;
    }

    &.is_opened
    {
        width: auto;
    }

  }
}
</style>
