<template>
    <div :id="ID" class="instrument-view3">

      <div class="card">
        <header class="card-header">
          <p class="card-header-title">{{instrument}}</p>
        </header>
        <div class="card-content">
          <div class="content">
            <a  @click="onClickType('buy')" :class="{'is-big': type == 'buy'}" class="button is-primary ">BUY</a>
            <a  @click="onClickType('sell')" :class="{'is-big': type == 'sell'}" class="button is-danger">SELL</a>

            <hr>
            <div id="sl-slider">
              <div id="sl-handle" class="ui-slider-handle"></div>
            </div>
            <hr>

            <DIV class="risk-btns" >
              <a @click="onClickRisk(1)" :class="{'is-small': risk != 1, 'is-big': risk == 1, 'is-primary': type == 'buy', 'is-danger': type == 'sell'}" class="button ">RISK_1</a>
              <a @click="onClickRisk(3)" :class="{'is-small': risk != 3, 'is-big': risk == 3, 'is-primary': type == 'buy', 'is-danger': type == 'sell'}" class="button">RISK_3</a>
              <a @click="onClickRisk(5)" :class="{'is-small': risk != 5, 'is-big': risk == 5, 'is-primary': type == 'buy', 'is-danger': type == 'sell'}" class="button ">RISK_5</a>
              <a @click="onClickRisk(10)" :class="{'is-small': risk != 10, 'is-big': risk == 10, 'is-primary': type == 'buy', 'is-danger': type == 'sell'}" class="button">RISK_10</a>
              <a @click="onClickRisk(20)" :class="{'is-small': risk != 20, 'is-big': risk == 20, 'is-primary': type == 'buy', 'is-danger': type == 'sell'}" class="button ">RISK_20</a>
            </DIV>
            <hr>

            <DIV class="tp-coef-btns" >
              <a @click="onClickTpcoef(1)" :class="{'is-small': tp_coef != 1, 'is-big': tp_coef == 1, 'is-black': tp_coef == 1}" class="button ">TP_1</a>
              <a @click="onClickTpcoef(2)" :class="{'is-small': tp_coef != 2, 'is-big': tp_coef == 2, 'is-black': tp_coef == 2}" class="button ">TP_2</a>
              <a @click="onClickTpcoef(3)" :class="{'is-small': tp_coef != 3, 'is-big': tp_coef == 3, 'is-black': tp_coef == 3}" class="button ">TP_3</a>
              <a @click="onClickTpcoef(5)" :class="{'is-small': tp_coef != 5, 'is-big': tp_coef == 5, 'is-black': tp_coef == 5}" class="button">TP_5</a>
            </DIV>

            <hr>
            <div>
              <a @click="onClickTrade()" :class="{'is-primary': type == 'buy', 'is-danger': type == 'sell', 'is-disabled': type == null}" class="button is-primary is-big">TRADE</a>
            </div>
          </div>
        </div>
      </div>

    </div>
</template>


<script>
    import h from '../helpers';
    import can from '../canvas_drawnings';
    import mixins from '../components_mixins.js'
    import {Spinner} from '../../node_modules/spin.js/spin.js';
    //-=-=-=-=-=-=-=-=-=-=-=-=

    export default {
        name: '',
        components: {},
        mixins: [mixins, can],

        props: {

            instrument: {
               type: String,
               required:true
            },

        },

        computed: {


        },

        data() {
            return {
                PING_TIME: 2000,
                ID: 'instrument-view-' + h.get_uniq_id(),

                sl_val:  settings.attack_panel.sl.val,
                type: null,
                risk: 1,
                sl: 10,
                tp_coef: 1
            }
        },
        watch: {

        },

        beforeMount()
        {
            this.tlines_ = this.tlines;
        },

        async mounted()
        {
            this.setupSliders();
        },

        methods: {

          onClickType(type) {
            this.type = type;

            this.runTask('put__command__to__the__sheet__task', {
              name: "OPEN_SYMBOL",
              params: {
                symbol: this.instrument,
              }
            });

          },

          onClickTrade()
          {
              this.runTask('put__command__to__the__sheet__task', {
                  name: "OPEN_MARKET_ORDER",
                  params: {
                      type: this.type,
                      sl: this.sl_val,
                      tp_coef: this.tp_coef,
                      risk: this.risk,
                      risk_type: "depo_percents",
                      pair: this.instrument,
                      object_name: "instant",
                      is_skip_be: 0,
                  }
              });

          },

          onClickTpcoef(tp_coef)
          {
            this.tp_coef = tp_coef;
          },

          onClickRisk(risk)
          {
            this.risk = risk;
          },

          setupSliders()
          {
              var self = this;
              var handle = $( "#"+ this.ID + " #sl-handle" );
              var sl_val = this.sl_val;

              handle.text(sl_val);


              $("#"+ this.ID + " #sl-slider" ).slider({
                min: settings.attack_panel.sl.min,
                max: settings.attack_panel.sl.max,
                value: sl_val,
                create: function() {
                  handle.text( $( this ).slider( "value" ) );
                },
                slide: function( event, ui ) {
                  handle.text( ui.value );
                  self.sl_val = ui.value;
                }
              });
          },

          onMouseDown()
          {
              var self = this;


              // this.$root.$emit('instrument_view__on_active_component', {
              //   id: this.ID,
              //   data: {
              //     place: place
              //   }
              // });
          },

        }
    }
</script>


<style lang="scss">

    .instrument-view3
    {
        min-width: 400px;
    }

    .pic1-holder
    {
        position: relative;
    }

    .pic2-holder
    {
        position: relative;
    }

    .chart-holder
    {

    }

    .screenshot_small
    {
        max-height: 750px;
        //max-width: 330px;
    }
    .screenshot
    {
        max-height: 750px;
    }

    .del-drawning-btn
    {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 210;
    }
    .drawning
    {
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .drawning_merge
    {
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .commit-drawnin
    {
        position: absolute;
        right: 5px;
        bottom: 5px;
        z-index: 200;
    }

    .draw-line-type-btn
    {
        position: absolute;
        left: 5px;
        top: 5px;
        z-index: 200;
    }

    .commit-btn1
    {
        position: absolute;
        right: 5px;
        top: 50%;
        z-index: 200;
    }
    .tiny-toggle-btn
    {
        position: absolute;
        right: 0px;
        top: 10px;
        z-index: 250;
    }
    .charts-toggle-btn
    {
        position: absolute;
        right: 0px;
        bottom: 10px;
        z-index: 250;
    }

    .holder
    {
        position: relative;
    }

</style>
