<template>
    <span :id="ID" class="instrument-view">

        <h3 :id="instrument"><span v-html="on_render_title(second_ohlc_data)" v-if="on_render_title && second_ohlc_data"></span></h3>
        <td style="width: 25%" :class="{'highlighted': highlighted_period == 1440}">
            <small-ohlc-chart
                ref="chart1"
                v-show="is_shown_ohlc"
                v-if="is_shown_ohlc"
                :period="first_chart_period"
                chart_type="ohlc"
                chart_tag="ohlc"
                place="first"
                :trading_settings="{}"
                :screener="first_screener_state"
                :pair="instrument"
                :seria="first_ohlc.seria"
                :empty_bars="first_ohlc.empty_bars"
                :tlines_="first_ohlc.tlines.ohlc"
                :on_select_tline="onSelectTline"
                :params="chart_ohlc_render_params('first')"></small-ohlc-chart>

            <small-ohlc-chart
                :ref="settings_indicator.tag + '_chart_indicator1'"
                v-show="is_shown_ohlc"
                v-if="is_shown_indicator"
                :period="first_chart_period"
                chart_type="liner"
                :chart_tag="settings_indicator.tag"
                place="first"
                :trading_settings="{}"
                :screener="first_screener_state"
                :pair="instrument"
                :seria="first_ohlc.rsx.series[this.instrument]"
                :empty_bars="first_ohlc.rsx.empty_bars[this.instrument]"
                :tlines_="first_ohlc.tlines.rsx"
                :on_select_tline="onSelectTline"
                :params="chart_indicator_render_params('first')">
            </small-ohlc-chart>
        </td>

        <td style="width: 25%" :class="{'highlighted': highlighted_period == 240}">
            <div class="holder" @mouseup="onMouseDown('second')">
                <small-ohlc-chart
                    ref="chart2"
                    v-show="is_shown_ohlc"
                    v-if="is_shown_ohlc"
                    :period="second_chart_period"
                    chart_type="ohlc"
                    chart_tag="ohlc"
                    place="second"
                    :trading_settings="{}"
                    :screener="second_screener_state"
                    :pair="instrument"
                    :seria="second_ohlc.seria"
                    :empty_bars="second_ohlc.empty_bars"
                    :tlines_="second_ohlc.tlines.ohlc"
                    :on_select_tline="onSelectTline"
                    :params="chart_ohlc_render_params('second')"
                ></small-ohlc-chart>
                <small-ohlc-chart
                    :ref="settings_indicator.tag + '_chart_indicator2'"
                    v-show="is_shown_ohlc"
                    v-if="is_shown_indicator"
                    :period="second_chart_period"
                    chart_type="liner"
                    :chart_tag="settings_indicator.tag"
                    place="first"
                    :trading_settings="{}"
                    :screener="second_screener_state"
                    :pair="instrument"
                    :seria="second_ohlc.rsx.series[this.instrument]"
                    :empty_bars="second_ohlc.rsx.empty_bars[this.instrument]"
                    :tlines_="second_ohlc.tlines.rsx"
                    :on_select_tline="onSelectTline"
                    :params="chart_indicator_render_params('second')">
                </small-ohlc-chart>
            </div>

        </td>

        <td style="width: 25%" :class="{'highlighted': highlighted_period == 15}">
            <div class="holder" @mouseup="onMouseDown('third')" >
                <small-ohlc-chart
                    ref="chart3"
                    v-show="is_shown_ohlc"
                    v-if="is_shown_ohlc"
                    :period="third_chart_period"
                    chart_type="ohlc"
                    chart_tag="ohlc"
                    place="third"
                    :trading_settings="{}"
                    :screener="third_screener_state"
                    :pair="instrument"
                    :seria="third_ohlc.seria"
                    :empty_bars="third_ohlc.empty_bars"
                    :tlines_="third_ohlc.tlines.ohlc"
                    :on_select_tline="onSelectTline"
                    :params="chart_ohlc_render_params('third')"
                ></small-ohlc-chart>
                <small-ohlc-chart
                    :ref="settings_indicator.tag + '_chart_indicator3'"
                    v-show="is_shown_ohlc"
                    v-if="is_shown_indicator"
                    :period="third_chart_period"
                    chart_type="liner"
                    :chart_tag="settings_indicator.tag"
                    place="first"
                    :trading_settings="{}"
                    :screener="third_screener_state  "
                    :pair="instrument"
                    :seria="third_ohlc.rsx.series[this.instrument]"
                    :empty_bars="third_ohlc.rsx.empty_bars[this.instrument]"
                    :tlines_="third_ohlc.tlines.rsx"
                    :on_select_tline="onSelectTline"
                    :params="chart_indicator_render_params('third')">
                </small-ohlc-chart>
            </div>
        </td>

        <td style="width: 25%" :class="{'highlighted': highlighted_period == 1}">
            <div class="holder" @mouseup="onMouseDown('fourth')" >

                <small-ohlc-chart
                    ref="chart4"
                    v-show="is_shown_ohlc"
                    v-if="is_shown_ohlc"
                    :period="fourth_chart_period"
                    chart_type="ohlc"
                    chart_tag="ohlc"
                    place="fourth"
                    :trading_settings="{}"
                    :screener="fourth_screener_state"
                    :pair="instrument"
                    :seria="fourth_ohlc.seria"
                    :empty_bars="fourth_ohlc.empty_bars"
                    :tlines_="fourth_ohlc.tlines.ohlc"
                    :on_select_tline="onSelectTline"
                    :params="chart_ohlc_render_params('fourth')"
                ></small-ohlc-chart>

                <small-ohlc-chart
                    :ref="settings_indicator.tag + '_chart_indicator4'"
                    v-show="is_shown_ohlc"
                    v-if="is_shown_indicator"
                    :period="fourth_chart_period"
                    chart_type="liner"
                    :chart_tag="settings_indicator.tag"
                    place="first"
                    :trading_settings="{}"
                    :screener="fourth_screener_state"
                    :pair="instrument"
                    :seria="fourth_ohlc.rsx.series[this.instrument]"
                    :empty_bars="fourth_ohlc.rsx.empty_bars[this.instrument]"
                    :tlines_="fourth_ohlc.tlines.rsx"
                    :on_select_tline="onSelectTline"
                    :params="chart_indicator_render_params('fourth')">
                  </small-ohlc-chart>
            </div>

        </td>

    </span>
</template>


<script>
    import h from '../helpers';
    import can from '../canvas_drawnings';
    import mixins from '../components_mixins.js'
    import {Spinner} from '../../node_modules/spin.js/spin.js';
    //-=-=-=-=-=-=-=-=-=-=-=-=

    export default {
        name: '',
        components: {},
        mixins: [mixins, can],

        props: {
            feed: {
                 type: Object,
                 required: true
             },
            pic_view: {
                type: String,
                 required:true
            },
            view_type: {
                type: String,
                required:true
            },
            periods: {
                 type: Array,
                 required:true
            },
            instrument: {
                 type: String,
                 required:true
            },
            is_perspective: {
                type: Boolean,
            },
            second_ohlc_data: {
                type: Object
            },
            on_render_title: {
                type: Function
            },
            trading_settings: {
                type: Object,
                required:true
            },
        },

        computed: {
            first_chart_period()
            {
                return this.periods[0];
            },
            second_chart_period()
            {
                return this.periods[1];
            },
            third_chart_period()
            {
                return this.periods[2];
            },
            fourth_chart_period()
            {
                return this.periods[3];
            },
            fifth_chart_period()
            {
              return this.periods[4];
            },

        },

        data() {
            return {
                PING_TIME: 2000,
                ID: 'instrument-view-' + h.get_uniq_id(),


                first_chart_id: 'pic-view-' + h.get_uniq_id(),
                second_chart_id: 'pic-view-' + h.get_uniq_id(),
                third_chart_id: 'pic-view-' + h.get_uniq_id(),
                fourth_chart_id: 'pic-view-' + h.get_uniq_id(),
                fifth_chart_id: 'pic-view-' + h.get_uniq_id(),

                is_shown_indicator: false,
                is_shown_ohlc: false,
                feed_: null,

                settings_indicator: settings.indicator,


                first_ohlc: null,
                second_ohlc: null,
                third_ohlc: null,
                fourth_ohlc: null,
                fifth_ohlc: null,

                is_show_attack_panel2: false,
                is_show_attack_panel1: false,
                chart_type: "ohlc", // liner

                is_show_tiny_period: false,
                active_component_event: null,

                first_screener_state: null,
                second_screener_state: null,
                third_screener_state: null,
                fourth_screener_state: null,
                fifth_screener_state: null,

                active_place: null,
                mockup_tags: {
                    first: {},
                    place: {}
                },
                points_buy: 0,
                points_sell: 0,
                highlighted_period: 0
            }
        },
        watch: {

        },

        beforeMount()
        {
            this.feed_ = this.feed;
        },

        async mounted()
        {
            var self = this;
            this.$root.$on('signal__selected', this.on_signal_selected);
            this.$root.$on('signal__new', this.on_signal_new);
            this.$root.$on('markup_request__completed', this.on_markup_request_completed);

            // this.$root.$on('keyup_space', this.onKeyUpSpace);
            // this.$root.$on('keydown_tab', this.onKeyDownTab);
            this.$root.$on('keyup_escape', this.onKeyEscape);
            this.$root.$on('instrument_view__on_active_component', (data) => {
                var self = this;
                var prev_component_event = self.active_component_event;

                self.active_component_event = data;
                this.active_place = null;

                this.is_not_current_component_event(() => {
                    this.reset_drawning_instruments();

                    var self = this;
                    settings.charts.big_periods.map((period) => {
                        var ref_name = self.period__chart_ref(period);
                        self.$refs[ref_name].HideAttackPanel();
                    });
                });

                this.is_current_component_event((state) => {
                    self.active_place = state.place;
                });
            });

            this.$root.$on('keyup', (e) => {
                if (e.key == 'r') {
                    self.is_current_component_event(() => {
                        self.toggleDrawLineType();
                    });
                }
            });

            await this.setup_charts_ohlc();
        },

        methods: {
            period__chart_index(period)
            {
                return settings.charts.big_periods.indexOf(period) + 1;
            },

            period__attack_panel_ref(period)
            {
                var index = this.period__chart_index(period);
                if (index === 0) return '';

                return 'attack_panel' + index
            },

            period__chart_ref(period)
            {
                var index = this.period__chart_index(period);
                if (index === 0) return '';

                return 'chart' + index;
            },

            period__indicator_chart_ref(name, period)
            {
                var index = this.period__chart_index(period);
                if (index === 0) return '';

                return name + '_chart_indicator' + this.period__chart_index(period);
            },

            async on_markup_request_completed(e)
            {
                if (this.instrument === e.markup_request.pair)
                {
                    var rTlines = await this.runTask('get__trendlines__task', {
                      chart_tag: e.indicator_name,
                      pair: e.markup_request.pair,
                      period: e.markup_request.period
                    });

                    var ref_name = this.period__indicator_chart_ref(e.indicator_name, e.markup_request.period);
                    if (ref_name)
                    {
                        this.$refs[ref_name].setTrendlines(rTlines.resp.list);
                    }
                }
            },

            on_signal_new(e)
            {
                if (e.symbol !== this.instrument) return;
                // ================

                this.ReloadSeries();
            },

            on_signal_selected(signal)
            {
                this.HighlightChartPeriod(signal.instrument === this.instrument ? signal.period : 0);
                if (signal.instrument === this.instrument)
                {
                    this.ReloadSeries();
                }
                // var ref_name = this.period__attack_panel_ref(signal.period);
                // this.$refs[ref_name].setSignal(signal);
            },

            chart_indicator_render_params(place)
            {
                var h1 = 300;
                var w = 400;
                var ret = {};

                if(place == 'first')
                {
                    ret = {
                      'classes': {'buy': 'buy', 'sell': 'sell'},
                      'sizes': {'width': w/1.5, 'height': h1}
                    };
                }

                if(place == 'second')
                {
                    ret = {
                        'classes': {'buy': 'buy', 'sell': 'sell'},
                        'sizes': {'width': w, 'height': h1}
                    };
                }

                if(place == 'third')
                {
                    ret = {
                        'classes': {'buy': 'buy', 'sell': 'sell'},
                        'sizes': {'width': w*2, 'height': h1}
                    };
                }

                if(place == 'fourth')
                {
                    ret = {
                        'classes': {'buy': 'buy', 'sell': 'sell'},
                        'sizes': {'width': w*1.5, 'height': h1}
                    };
                }

                if(place == 'fifth')
                {
                    ret = {
                      'classes': {'buy': 'buy', 'sell': 'sell'},
                      'sizes': {'width': w*1.5, 'height': h1}
                    };
                }

                return ret;
            },

            chart_ohlc_render_params(place)
            {
              var h1 = 570;
              var w = 400;
              var ret = {};

              if(place == 'first')
              {
                ret = {
                  'classes': {'buy': 'buy', 'sell': 'sell'},
                  'sizes': {'width': w/1.5, 'height': h1}
                };
              }

              if(place == 'second')
              {
                ret = {
                  'classes': {'buy': 'buy', 'sell': 'sell'},
                  'sizes': {'width': w, 'height': h1}
                };
              }

              if(place == 'third')
              {
                ret = {
                  'classes': {'buy': 'buy', 'sell': 'sell'},
                  'sizes': {'width': w*2, 'height': h1}
                };
              }

              if(place == 'fourth')
              {
                ret = {
                  'classes': {'buy': 'buy', 'sell': 'sell'},
                  'sizes': {'width': w*1.5, 'height': h1}
                };
              }

              if(place == 'fifth')
              {
                ret = {
                  'classes': {'buy': 'buy', 'sell': 'sell'},
                  'sizes': {'width': w, 'height': h1}
                };
              }

                return ret;
            },

            onClickOpenSymbol(instrument)
            {
                // this.runTask('put__command__to__the__sheet__task', {
                //     name: "OPEN_SYMBOL",
                //     params: {
                //         symbol: instrument,
                //     }
                // });
            },

            async setup_charts_ohlc()
            {
                this.is_shown_ohlc = false;
                this.is_shown_indicator = false;
                await this.$nextTick();

                this.second_ohlc = this.feed_[this.second_chart_period].ohlc;
                this.first_ohlc = this.feed_[this.first_chart_period].ohlc;
                this.third_ohlc = this.feed_[this.third_chart_period].ohlc;
                this.fourth_ohlc = this.feed_[this.fourth_chart_period].ohlc;
                // this.fifth_ohlc = this.feed_[this.fifth_chart_period].ohlc;

                this.is_shown_indicator = true;
                this.is_shown_ohlc = true;
            },

            on_added_drawning_line(y_delta)
            {
                if (y_delta > 0)
                {
                    this.points_sell++;
                } else {
                    this.points_buy++;
                }
            },

            async on_change_mockup(mockup, points)
            {
                if(this.first_ohlc)
                {
                    this.$refs.attack_panel1.onChangeMockup(mockup, points);
                }
                if(this.second_ohlc)
                {
                    this.$refs.attack_panel2.onChangeMockup(mockup, points);
                }
            },
            onMouseDown(place)
            {
                this.$root.$emit('instrument_view__on_active_component', {
                    id: this.ID,
                    data: {
                        place: place
                    }
                });
            },

            async onUpdatedScreenerState(screener)
            {
                this.first_screener_state = null;
                this.second_screener_state = null;
                this.third_screener_state = null;
                this.fourth_screener_state = null;
                this.fifth_screener_state = null;

                var self = this;

                await this.$nextTick();
                //
                this.first_screener_state = this.build_screener_state(this.first_chart_period, screener);
                this.second_screener_state = this.build_screener_state(this.second_chart_period, screener);
                this.third_screener_state = this.build_screener_state(this.third_chart_period, screener);
                this.fourth_screener_state = this.build_screener_state(this.fourth_chart_period, screener);
                // this.fifth_screener_state = this.build_screener_state(this.fifth_chart_period, screener);
                //
                this.$refs.chart1.UpdateScreener(this.first_screener_state);
                this.$refs.chart2.UpdateScreener(this.second_screener_state);
                this.$refs.chart3.UpdateScreener(this.third_screener_state);
                this.$refs.chart4.UpdateScreener(this.fourth_screener_state);
                // this.$refs.chart_indicator5.UpdateScreener(this.fifth_screener_state);
            },

            UpdatePivots(pivots)
            {

              var ref_name = this.period__indicator_chart_ref(this.settings_indicator.tag, this.first_chart_period);
              this.$refs[ref_name].UpdatePivot(pivots[this.first_chart_period]);

              var ref_name = this.period__indicator_chart_ref(this.settings_indicator.tag, this.second_chart_period);
              this.$refs[ref_name].UpdatePivot(pivots[this.second_chart_period]);

              var ref_name = this.period__indicator_chart_ref(this.settings_indicator.tag, this.third_chart_period);
              this.$refs[ref_name].UpdatePivot(pivots[this.third_chart_period]);

              var ref_name = this.period__indicator_chart_ref(this.settings_indicator.tag, this.fourth_chart_period);
              this.$refs[ref_name].UpdatePivot(pivots[this.fourth_chart_period]);

            },

            UpdateSignals(signals)
            {
                this.signals = signals;
            },

            async ReloadSeries()
            {
                var rMarket = await this.runTask('get__market__pairs__task', {
                    periods: settings.charts.big_periods,
                    symbols: [this.instrument]
                });
                this.feed_ = rMarket.resp.market[this.instrument];

                this.setup_charts_ohlc()
            },

            UpdateOhlcSeria(ohlc, indicator, empty_bars)
            {
                var self = this;

                settings.charts.big_periods.map((period) => {
                    self.$refs[self.period__chart_ref(period)].updateOhlcSeria(ohlc, indicator, empty_bars);
                });
                // this.$refs.chart_indicator1.updateOhlcSeria(ohlc, indicator, empty_bars);
                // this.$refs.char t_indicator2.updateOhlcSeria(ohlc, indicator, empty_bars);
                // this.$refs.chart_indicator3.updateOhlcSeria(ohlc, indicator, empty_bars);
                // this.$refs.chart_indicator4.updateOhlcSeria(ohlc, indicator, empty_bars);
                // this.$refs.chart_indicator5.updateOhlcSeria(ohlc, indicator, empty_bars);
            },

            HighlightChartPeriod(period)
            {
                this.highlighted_period = period;
            },

            build_screener_state(period, screener)
            {
                var ret = {};
                ret[this.instrument] = {
                  list: screener[this.instrument].list,
                  meta: screener[this.instrument].meta,
                };

                return ret;
            },

            onKeyEscape()
            {
                var self = this;
                this.is_current_component_event((state) => {
                    self.clear_result_canvas(state.place)
                    self.active_place = false;
                    self.is_show_attack_panel2 = false;
                    self.is_show_attack_panel1 = false;
                });
            },

            async onKeyDownTab()
            {
                var self = this;

                this.is_current_component_event(async (state) => {
                    self.is_show_tiny_period = _not(self.is_show_tiny_period);
                    await self.setup_charts_ohlc();
                });
            },

            async is_current_component_event(calb)
            {
                if(this.active_component_event && this.ID == this.active_component_event.id) {
                    calb(this.active_component_event.data);
                }
            },
            is_not_current_component_event(calb)
            {
                if(this.active_component_event && this.ID != this.active_component_event.id) {
                    calb(this.active_component_event.data);
                }
            },

            onSelectTline(place, tline_id)
            {
                this.$root.$emit('instrument_view__on_active_component', {
                    id: this.ID,
                    data: {
                        place: place
                    }
                });
            },

            get_history_size(period)
            {
                switch(period)
                {
                    case 1: return settings.charts.history[1];
                    case 5: return settings.charts.history[5];
                    case 15: return settings.charts.history[15];
                    case 30: return settings.charts.history[30];
                    case 60: return settings.charts.history[60];
                    case 240: return settings.charts.history[240];
                    case 1440: return settings.charts.history[1440];
                }
            },
        }
    }
</script>


<style lang="scss">

    .pic1-holder
    {
        position: relative;
    }

    .pic2-holder
    {
        position: relative;
    }

    .highlighted
    {
        border: 4px solid magenta;
    }

    .screenshot_small
    {
        max-height: 750px;
        //max-width: 330px;
    }
    .screenshot
    {
        max-height: 750px;
    }

    .del-drawning-btn
    {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 210;
    }
    .drawning
    {
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .drawning_merge
    {
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .commit-drawnin
    {
        position: absolute;
        right: 5px;
        bottom: 5px;
        z-index: 200;
    }

    .draw-line-type-btn
    {
        position: absolute;
        left: 5px;
        top: 5px;
        z-index: 200;
    }

    .commit-btn1
    {
        position: absolute;
        right: 5px;
        top: 50%;
        z-index: 200;
    }
    .tiny-toggle-btn
    {
        position: absolute;
        right: 0px;
        top: 10px;
        z-index: 250;
    }
    .charts-toggle-btn
    {
        position: absolute;
        right: 0px;
        bottom: 10px;
        z-index: 250;
    }

    .holder
    {
        position: relative;
    }

</style>
