<template>
    <div :id="ID" class="instrument-view2" :class="{'selected': is_selected}">

      <a @click="onSelectPair(0)" class="button">
        {{instrument}}
      </a>

<!--      <div class="card" >-->
<!--          <header class="card-header" @click="onSelectPair(0)">-->
<!--              <p class="card-header-title">{{instrument}}</p>-->
<!--          </header>-->

<!--          <div class="card-content">-->
<!--              <div class="content" >-->
<!--                  <a @click="onRemObjects(instrument)" class="button is-small is-danger is-light">-->
<!--                      Rem objects-->
<!--                  </a>-->
<!--                  <a v-if="last_signal" @click="onOpenLastSignal" class="button is-link">Last signal</a>&nbsp;-->

<!--                  <div v-if="last_event" @click="onSelectPair(last_event.period == 5 ? 1 : 0)" class="notification is-size-4" :class="{'is-primary': last_event.direction == 1, 'is-danger': last_event.direction == 0}">-->
<!--                      {{last_event.period}}M {{last_event.tag}}-->
<!--                  </div>-->


<!--                  <div></div>-->



<!--              </div>-->
<!--          </div>-->
<!--      </div>-->

    </div>
</template>


<script>
    import h from '../helpers';
    import can from '../canvas_drawnings';
    import mixins from '../components_mixins.js'
    import {Spinner} from '../../node_modules/spin.js/spin.js';
    //-=-=-=-=-=-=-=-=-=-=-=-=

    export default {
        name: '',
        components: {},
        mixins: [mixins, can],

        props: {
            // periods: {
            //      type: Array,
            //      required:true
            // },
            instrument: {
                 type: String,
                 required:true
            }
        },

        computed: {

        },

        data() {
            return {
                PING_TIME: 2000,
                ID: 'instrument-view-' + h.get_uniq_id(),
                periods: settings.charts.markup_periods,
                is_selected: 0,
                last_event: null,
                last_signal: null,
                is_show_attack_panel: 0,
                is_banary_unmmaped: false,
            }
        },
        watch: {

        },

        beforeMount()
        {
            this.feed_ = this.feed;
        },

        async mounted()
        {
            var self = this;

            this.$root.$on('pair__selected', (e) => {
                self.is_selected = e.pair == self.instrument ? 1 : 0;
                if(!self.is_selected)
                {
                    // this.$refs.signal_attack_panel.hidePanel();
                }
            });

        },

        methods: {

            setBinaryMapped()
            {
                this.is_banary_unmmaped = false;
            },

            setBinaryUnmapped()
            {
                this.is_banary_unmmaped = true;
            },

            onOpenLastSignal()
            {
                this.$refs.signal_attack_panel.setSignal(this.last_signal);
            },

            makeBinaryBet()
            {
                let type = this.last_signal.direction == 0 ? 'sell' : 'buy';
                this.last_signal.pair
                let risk = 3;
                let sl = 5;

                if (this.last_signal.pair == "XAUUSD")
                {
                    risk /= 100;
                    sl = 10;
                }
                if (this.last_signal.pair == "GBPJPY")
                {
                    sl = 10;
                }

                this.runTask('put__command__to__the__sheet__task', {
                    name: "OPEN_MARKET_ORDER",
                    params: {
                        type: type,
                        sl: sl,
                        tp_coef: 1,
                        risk: risk,
                        risk_type:  "depo_percents",
                        pair: this.last_signal.pair,
                        uniq_id: 'uniq_id  ',
                        is_skip_be: 0,
                    }
                });
            },


            onRemObjects(symbol)
            {
                this.runTask('remove__symbol__objects__task', {symbol: symbol});

            },

            onSelectPair(is_open_m5)
            {
                this.open_symbol_mt4(this.instrument, is_open_m5);
                this.$root.$emit('pair__selected', {
                    pair: this.instrument
                });

                if (this.last_event)
                {
                    this.runTask('mark__event__as__shown__task', {id: this.last_event.id});

                    this.last_signal = {
                        name: "name",
                        pair: this.instrument,
                        direction: this.last_event.direction,
                        id: 'id'
                    };

                    this.$refs.signal_attack_panel.setSignal(this.last_signal);
                }

                this.last_event = null;
                // this.stopBeep();
                //this.$root.$refs.indicator_view.Show(this.instrument);
            },

            // setLastEvent(event)
            // {
            //     this.last_event = event;
            //     this.startBeep();
            // },
            //
            // stopBeep()
            // {
            //     var audio = $('.new_event_ring');
            //     audio[0].pause();
            //     audio[0].currentTime = 0;
            //     var audio = $('.new_event_ring2');
            //     audio[0].pause();
            //     audio[0].currentTime = 0;
            // },
            // startBeep()
            // {
            //     var audio = $('.new_event_ring');
            //     audio[0].play();
            //     var audio = $('.new_event_ring2');
            //     audio[0].play();
            // }
        }
    }
</script>


<style lang="scss">

.instrument-view2
{
    min-width: 100px;

    &.selected
    {
        border: 3px solid black;
    }
}


</style>
