<template>
    <div id="journal" class="card">
        <header class="card-header">
            <p class="card-header-title">
                Journal &nbsp;
                <input type="text" style="width: 100px;" class="datepicker input is-link">
            </p>
        </header>
        <div class="card-content">
              <div class="content">

                <table class="table is-hoverable">
                    <thead>
                        <tr>
                          <th><abbr title="Number">#</abbr></th>
                          <th>Symbol</th>

                          <th><abbr title="Drawn">Open time</abbr></th>
                          <th><abbr title="Drawn">Close price</abbr></th>

                          <th><abbr title="Drawn">Open price</abbr></th>
                          <th><abbr title="Drawn">Close price</abbr></th>

                          <th><abbr title="lots">Lots</abbr></th>

      <!--                    <th><abbr title="Goals for">Close price</abbr></th>-->
                          <th><abbr title="Lost">SL</abbr></th>
                          <th><abbr title="Lost">Profit points</abbr></th>
                          <th><abbr title="Lost">Profit</abbr></th>
                          <th><abbr title="Goals against">%</abbr></th>
                        </tr>
                    </thead>

                  <tbody v-if="orders">
                      <tr @click="onSelectOrder(order)" class="is-hoverable" :class="{'is-negative': order.profit < 0, 'is-positive': order.profit > 0}" v-for="order in orders">

                          <td>{{ order.ticket_number }}</td>
                          <td>
                              {{ order.symbol }}
                              <span v-if="order.type=='sell'" class="tag is-danger is-light">{{ order.type }}</span>
                              <span v-else class="tag is-success is-light">{{ order.type }}</span>
                          </td>

                          <td>{{ order.open_time }}</td>
                          <td>{{ order.close_time }}</td>
                          <td>{{ order.open_price }}</td>
                          <td>{{ order.close_price }}</td>


                          <td>{{ order.lots }}</td>
                          <td>{{ order.sl_points }}</td>
                          <td>{{ order.ticket_profit_points }}</td>
                          <td :class="{'is-loser': order.profit < 0, 'is-winner': order.profit > 0}" >{{ order.profit }}</td>

                          <td>
                              %
                          </td>

                      </tr>
                  </tbody>

                  <tfoot>
                  <tr>
                      <th>Balance: </th>
                      <th>Free margin: </th>

                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th>Pr fit points 444</th>
                      <th>Total: {{ this.total_profit }}</th>
                      <th></th>
                      <th></th>
                  </tr>
                  </tfoot>
                </table>
              </div>

          </div>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
            // period: {
            //     type: Number,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                orders: null,
                total_profit: 0,
            }
        },
        watch: {

        },
        beforeDestroy()
        {

        },
        async mounted()
        {
            var self = this;
            var rClosed = await this.runTask('get__closed__orders__task', {

            });

            this.orders = rClosed.resp.orders;
            if (this.orders)
            {
                this.total_profit = this.orders.reduce((c, o) => {
                    return c + o.profit;
                }, 0).toFixed(2);
            }
            await this.$nextTick();

            $('#journal .datepicker').datepicker({
                dateFormat: "yy.mm.dd",
                onSelect: self.onSelectDatepicker
            });
        },
        methods: {
            async onSelectDatepicker(dateDay)
            {
                this.runTask('put__command__to__the__sheet__task', {
                    name: "GET_CLOSED_ORDERS",
                    params: {
                        history: 20,
                        date: dateDay
                    }
                });
            },

            async onSelectOrder(order)
            {
                log(order);
            },
        }
    }
</script>


<style scoped lang="scss">
    .is-loser
    {
        color: white;
        background-color: red;
    }

    .is-winner
    {
        color: white;
        background-color: green;
    }
</style>
