<template>
    <div class="macd-indicator" :class="this.blockSelector" v-on:mousewheel="onMouseWheel">
        <div class="top">
            {{this.macd.fast}} | {{this.macd.slow}} | {{this.macd.signal}}
        </div>
        <div class="macd chart"></div>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: 'macd',
        components: {},
        mixins: [mixins],

        props: {
            blockSelector: {
                type: String,
                required: true
            },

            isSkipMouseWheel:{
                type: Boolean,
                default: false
            },
            onChangeParams:{
                type: Function
            },

            macdParams:{
                type: Object
            }
        },

        computed: {

        },

        data() {
            return {
                drawChart: null,
                lastChartseria: null,
                macd: this.macdParams
            }
        },

        watch: {

        },

        beforeMount()
        {

            // sort(function(a, b) { return d3.ascending(accessor.d(a), accessor.d(b)); })
        },

        async mounted()
        {

            this.chart();
            // this.redrawChart(this.chartTimeseria);

        },

        methods: {

            async onUpdateModels()
            {

            },

            onMouseWheel(e) {
                if (this.isSkipMouseWheel || !e.ctrlKey) return null;
                //-=-=-=-=-=-=-=-=-=-=-=-=
                e.preventDefault();

                var isGonnaBigger = e.deltaY < 0;

                if (isGonnaBigger)
                {
                    if (e.shiftKey)
                    {
                        this.macd.slow += 1;
                    }
                    else
                    {
                        this.macd.fast += 1;
                        this.macd.slow += 1;
                    }
                }
                else
                {
                    if (e.shiftKey)
                    {
                        if (this.macd.slow - 1 > this.macd.fast)
                        {
                            this.macd.slow -= 1;
                        }
                    }
                    else
                    {
                        if (this.macd.fast - 1 >0)
                        {
                            this.macd.fast -= 1;
                            this.macd.slow -= 1;
                        }
                    }
                }

                this.drawChart(this.lastChartseria);

                if (this.onChangeParams)
                {
                    this.onChangeParams(this.macd);
                }
            },

            chart()
            {
                var blockWidth = $('.' + this.blockSelector).width();
                var blockHeight = blockWidth;
                // var blockHeight = $('.' + this.blockSelector).height();

                var margin = {top: 20, right: 60, bottom: 30, left: 20},
                    width = blockWidth - margin.left - margin.right,
                    height = blockHeight - margin.top - margin.bottom;


                var x = techan.scale.financetime()
                    .range([0, width]);

                var y = d3.scaleLinear()
                    .range([height, 0]);

                var macd = techan.plot.macd()
                    .xScale(x)
                    .yScale(y);

                var xAxis = d3.axisBottom(x);

                var yAxis = d3.axisLeft(y)
                    .tickFormat(d3.format(",.3s"));

                var svg = d3.select('.' + this.blockSelector + ' .chart').append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                    svg.append("g").attr("class", "macd");

                    svg.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + height + ")");

                var trendlines = this.chartTrendlineFunctionality(svg, width, yAxis, x, y);

                this.drawChart = function(data)
                {

                    this.lastChartseria = data;

                    var macdData = techan.indicator.macd()(
                        data,
                        this.macd.fast,
                        this.macd.slow,
                        this.macd.signal
                    );

                    x.domain(macdData.map(macd.accessor().d));
                    y.domain(techan.scale.plot.macd(macdData).domain());

                    svg.selectAll("g.macd").datum(macdData).call(macd);

                    var trendlineData = [
                        // { start: { date: macdData[macdData.length-80].date, value: macdData[macdData.length-80].macd }, end: { date: macdData[macdData.length-10].date, value: macdData[macdData.length-10].macd } },
                        // { start: { date: new Date(2013, 10, 21), value: 43 }, end: { date: new Date(2014, 2, 17), value: data[data.length-10].low } }
                    ];

                    svg.selectAll("g.trendlines").datum(trendlineData).call(trendlines).call(trendlines.drag);

                    // svg.selectAll("g.x.axis").call(xAxis);
                    // svg.selectAll("g.y.axis").call(yAxis);
                }
            },

            redrawChart(data)
            {
                this.drawChart(data);
            },

            chartTrendlineFunctionality(svg, width, yAxis, x, y)
            {
                var valueFormat = d3.format(',.4f');
                var timeFormat = d3.timeFormat('%Y-%m-%d');

                var valueText = svg.append('text')
                    .style("text-anchor", "end")
                    .attr("class", "coords")
                    .attr("x", width - 5)
                    .attr("y", 15);

                var trendline = techan.plot.trendline()
                    .xScale(x)
                    .yScale(y)
                    .on("mouseenter", enter)
                    .on("mouseout", out)
                    .on("drag", drag);

                function refreshText(d) {
                    valueText.text(
                        "Start: [" + timeFormat(d.start.date) + ", " + valueFormat(d.start.value) +
                        "] End: [" + timeFormat(d.end.date) + ", " + valueFormat(d.end.value) + "]"
                    );
                }

                function enter(d) {
                    valueText.style("display", "inline");
                    refreshText(d);
                }

                function out(d) {
                    valueText.style("display", "none");
                }

                function drag(d) {
                    refreshText(d);
                }


                svg.append("g").attr("class", "trendlines");

                return trendline;
            },
        }
    }
</script>


<style lang="scss">

    .macd-indicator
    {
        position: relative;

        .top
        {
            position: absolute;
            top: 30px;
        }
    }

    .macd
    {
        border: 1px solid black;
    }

    path {
        fill: none;
        stroke-width: 1;
    }

    path.signal {
        stroke: #FF9999;
        stroke-width: 1;
    }

    path.macd {
        stroke: #0000AA;
        stroke-width: 2;
    }

    path.zero {
        stroke: #BBBBBB;
        stroke-dasharray: 0;
        stroke-opacity: 0.5;
    }

    path.difference {
        fill: #ccc;
        opacity: 1;
    }
</style>
