<template>
    <div class="markup-panel" v-if="is_shown">
        <div  class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Markup panel <b>( {{markup_requests.length + 1}} )</b>
                </p>

              <a @click="onNextRequest" class="button is-big is-primary">Next</a>&nbsp;
                <button @click="hidePanel()" class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-cross" aria-hidden="true"></i>
                </span>
                </button>
            </header>

            <div class="card-content3">
                <div class="content">
                    <table>
                        <tr>
                            <td>
                                <small-ohlc-chart
                                        v-if="markup_data"
                                        ref="chart_indicator3"
                                        :period="markup_data.period"
                                        chart_type="liner"
                                        :chart_tag="indicator_name"
                                        place="third"
                                        :trading_settings="{}"
                                        :pair="markup_data.symbol"
                                        :seria="markup_data.seria"
                                        attack_panel_cls="right-corner"
                                        :empty_bars="markup_data.empty_bars"
                                        :tlines_="markup_data.tlines"
                                        :screener="null"
                                        :params="chart_params"></small-ohlc-chart>
                            </td>
                            <td>
                                <a @click="onNextRequest" class="button is-big is-primary">Next</a>&nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
            indicator_name: {
                type: String,
                required:true
            },

        },

        computed: {

        },

        data() {
            return {
                is_shown: false,
                markup_requests: [],
                current_request: null,
                chart_params: {
                    'classes': {'buy': 'buy', 'sell': 'sell'},
                    'sizes': {'width': 800, 'height': 600}
                },
                markup_data: null
            }
        },
        watch: {

        },
        beforeDestroy()
        {

        },
        async mounted()
        {
            this.$root.$on('markup_panel__toggle', this.on_markup_panel__toggle);
            this.$root.$on('keyup_escape', this.onKeyEscape);

            //this.is_shown = rtu
            //this.togglePanel();
        },
        methods: {

            onKeyEscape()
            {
                if (this.is_shown)
                {
                    this.hidePanel();
                }
            },

            on_markup_panel__toggle(markup_requests)
            {
                this.togglePanel(markup_requests.list)
            },

            async onNextRequest()
            {
                this.loadNextRequest();
            },

            hidePanel()
            {
                this.is_shown = false;
                this.current_request = null;
                this.markup_requests = null;
            },

            async togglePanel(markup_requests)
            {
                this.is_shown = !this.is_shown;
                this.markup_requests = markup_requests;

                if (this.is_shown)
                {
                    this.loadNextRequest();

                    //this.open_symbol_mt4(this.markup_requests.pair, this.markup_requests.period);
                }
            },

            async loadNextRequest()
            {
                if (this.current_request)
                {
                    this.$root.$emit('markup_request__completed', {
                      markup_request: this.current_request,
                      indicator_name: this.indicator_name
                    });
                }

                var ff = this.markup_requests.shift();
                this.current_request = ff;

                this.markup_data = null;

                if (this.current_request)
                {
                    var rOhlc = await this.runTask('get__markup__request__data__task', {
                        indicator_name: this.indicator_name,
                        period: this.current_request.period,
                        symbol: this.current_request.pair,
                    });

                    await this.$nextTick();
                    this.markup_data = rOhlc.resp;

                    this.open_symbol_mt4(this.current_request.pair, this.current_request.period);
                }
                else
                {
                    this.hidePanel();
                }
            }
        }
    }
</script>


<style scoped lang="scss">

.markup-panel
{
    position: fixed;
    top: 0px;
    left: 0;
    width: 430px;
    height: 570px;
    z-index: 200;
}

</style>
