<template>
    <div class="" id="mobile-page">

        <div class="menu">
            <a @click="onChangeTab('markup')" :class="{'is-black': 0}" class="button is-big">Mark <span v-if="markup_requests.count > 0" class="tag is-black">{{markup_requests.count}}</span></a>&nbsp;&nbsp;
            <a @click="onChangeTab('setuped')" :class="{'is-black': 0}" class="button is-big">Setted <span v-if="markup_requests.count > 0" class="tag is-black">{{markup_requests.count}}</span></a>&nbsp;&nbsp;
            <a @click="onChangeTab('events')" :class="{'is-black': 0}" class="button is-big">Eve</a>&nbsp;&nbsp;
            <a @click="onChangeTab('bets')" :class="{'is-black': 0}" class="button is-big">Bets</a>

<!--            <a @click="onChangeTab('orders ')" :class="{'is-black': 0}" class="button is-big">Orders</a>-->
<!--            <a @click="onChangeTab('history')" :class="{'is-black': 0}" class="button is-big">Hist</a>-->
        </div>

        <div v-if="current_tab === 'events'" class="events">

          <header @click="onShowEvent(event)" class="event card-header" v-for="event in events.list" >
              <p class="card-header-title" :class="{'bold': event.is_shown == 0}">
                {{event.instrument}} {{event.period}}
                <a onclick="void(0)" :class="{'is-success': event.direction == 1, 'is-danger': event.direction == 0}" class="button">
                  {{event.tag}}
                </a>

                {{minutesAgo(event.created_at)}} минут

                <a @click="onMarkAsFavorite(event)" :class="{'is-black': event.is_favorite == 1}" class="button">
                  F
                </a>

              </p>
          </header>
        </div>

        <div v-if="current_tab === 'markup'" class="markup">
            <markup-panel :indicator_name="settings_indicator.tag" ref="markup_panel"></markup-panel>
        </div>

        <div v-if="current_tab === 'bets'" class="bets">

        </div>

        <div v-if="current_tab === 'setuped'" class="setuped">

        </div>

        <div v-if="current_tab === 'event_view'" class="event_view">
            <pair-event-view ref="event_view"></pair-event-view>
        </div>

    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    import live_events from '../panel_live_events.js'
    import moment from "moment";
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins, live_events],

        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
            // period: {
            //     type: Number,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                current_tab: 'events',
                settings_indicator: settings.indicator,
            }
        },
        watch: {

        },
        beforeDestroy()
        {

        },
        async mounted()
        {

            this.toggleFrontendEvents();
        },
        methods: {
            async onShowEvent(event)
            {
                // this.current_tab = 'event_view';
                this.runTask('mark__event__as__shown__task', {id: event.id});
                this.open_symbol_mt4(event.instrument, event.period);

                await this.$nextTick();

                // this.$refs.event_view.ShowEvent(event);
            },

            onMarkAsFavorite(event)
            {
                //this.runTask('mark__event__as__shown__task', {id: event.id});
            },
            minutesAgo(mysql_date)
            {
                var minutes = moment(mysql_date).diff(moment(), 'minutes');

                return Math.abs(minutes);
            },

            async onChangeTab(tab)
            {
                this.current_tab = tab;
                await this.$nextTick();

                if (tab == 'markup')
                {
                    this.$refs.markup_panel.togglePanel(this.markup_requests.list);
                }

            }
        }
    }
</script>


<style scoped lang="scss">
  .menu
  {
      z-index: 1000;
      position: fixed;
      bottom: 12px;
      left: 10px;
  }

  .events
  {
      .card-header-title
      {
          &.bold
          {
            font-weight: bold;
          }
      }

      .card-header-title
      {
          padding: 4px;
      }
  }

</style>
