<template>
    <div class="mockup-panel">

        <table>
            <tr>
                <td style="padding-right: 10px">
                    <div v-if="is_show_mockups" class="" style="margin-bottom: 5px;">
<!--                        <span>-->
<!--                            <a @click="add_to_mockup('alligator')" :class="{'is-black': 1}" class="button is-small">-->
<!--                                alligator-->
<!--                                &nbsp;<span v-if="mockup['alligator'] && mockup['alligator']['count']" class=""><b>({{mockup['alligator']['count']}})</b></span>-->
<!--                            </a>-->
<!--                            <a @click="remove_to_mockup('alligator')" :class="{'is-black': 1}" class="button is-small">*</a>-->
<!--                        </span>-->
<!--                        <span>-->
<!--                            <a @click="add_to_mockup('tlb')" :class="{'is-black': 1}" class="button is-small">-->
<!--                                tlb-->
<!--                                &nbsp;<span v-if="mockup['tlb'] && mockup['tlb']['count']" class=""><b>({{mockup['tlb']['count']}})</b></span>-->
<!--                            </a>-->
<!--                            <a @click="remove_to_mockup('tlb')" :class="{'is-black': 1}" class="button is-small">*</a>-->
<!--                        </span>-->
<!--                        <span>-->
<!--                            <a @click="add_to_mockup('tlb34')" :class="{'is-black': 1}" class="button is-small">-->
<!--                                tlb34-->
<!--                                &nbsp;<span v-if="mockup['tlb34'] && mockup['tlb34']['count']" class=""><b>({{mockup['tlb34']['count']}})</b></span>-->
<!--                            </a>-->
<!--                            <a @click="remove_to_mockup('tlb34')" :class="{'is-black': 1}" class="button is-small">*</a>-->
<!--                        </span>-->
<!--                        <span>-->
<!--                            <a @click="add_to_mockup('tlb144')" :class="{'is-black': 1}" class="button is-small">-->
<!--                                tlb144-->
<!--                                &nbsp;<span v-if="mockup['tlb144'] && mockup['tlb144']['count']" class=""><b>({{mockup['tlb144']['count']}})</b></span>-->
<!--                            </a>-->
<!--                            <a @click="remove_to_mockup('tlb144')" :class="{'is-black': 1}" class="button is-small">*</a>-->
<!--                        </span>-->
<!--                        <span>-->
<!--                            <a @click="add_to_mockup('base_break')" :class="{'is-black': 1}" class="button is-small">-->
<!--                                BASE_BREAK-->
<!--                                &nbsp;<span v-if="mockup['base_break'] && mockup['base_break']['count']" class=""><b>({{mockup['base_break']['count']}})</b></span>-->
<!--                            </a>-->
<!--                            <a @click="remove_to_mockup('base_break')" :class="{'is-black': 1}" class="button is-small">*</a>-->
<!--                        </span>-->
<!--                        <span>-->
<!--                            <a @click="add_to_mockup('zero_shot')" :class="{'is-black': 1}" class="button is-small">-->
<!--                                ZERO_SHOT-->
<!--                                &nbsp;<span v-if="mockup['zero_shot'] && mockup['zero_shot']['count']" class=""><b>({{mockup['zero_shot']['count']}})</b></span>-->
<!--                            </a>-->
<!--                            <a @click="remove_to_mockup('zero_shot')" :class="{'is-black': 1}" class="button is-small">*</a>-->
<!--                        </span>-->
                    </div>

                    <div style="margin-bottom: 5px;">
<!--                        <span>-->
<!--                            <a @click="add_to_mockup('boogie')" :class="{'is-black': 1}" class="button is-small">-->
<!--                                BOOGIE-->
<!--                                &nbsp;<span v-if="mockup['boogie'] && mockup['boogie']['count']" class=""><b>({{mockup['boogie']['count']}})</b></span>-->
<!--                            </a>-->
<!--                            <a @click="remove_to_mockup('boogie')" :class="{'is-black': 1}" class="button is-small">*</a>-->
<!--                        </span>-->

                    </div>
                </td>
                <td>
                    <span class="tag is-link is-large">{{points}}</span>
                </td>
        </tr>
        </table>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            place: {
                 type: String,
                 required: true
             },
            on_change_mockup: {
                type: Function,
                required:true
            },
        },

        computed: {

        },
        data() {
            return {
                mockup: {},
                points: 0,
                is_show_mockups: true,
            }
        },
        watch: {

        },
        beforeDestroy()
        {

        },
        async mounted()
        {

        },
        methods: {
            async add_to_mockup(tmpl)
            {
                var self = this;
                this.forceRerender(() => {
                    if(!self.mockup[tmpl]) {
                        self.mockup[tmpl] = {'count': 1};
                    } else {
                        self.mockup[tmpl]['count']++;
                    }
                    self.points += settings.screener_points[tmpl];
                    self.on_change_mockup(self.mockup, self.points);
                });
            },
            remove_to_mockup(tmpl)
            {
                var self = this;
                this.forceRerender(() => {
                    if(self.mockup[tmpl]) {
                        self.mockup[tmpl]['count']--;
                        self.points -= settings.screener_points[tmpl];
                        if(self.points < 0)
                        {
                            self.points = 0;
                        }
                        if(self.mockup[tmpl]['count'] < 0)
                        {
                            self.mockup[tmpl]['count'] = 0;
                        }
                        self.on_change_mockup(self.mockup, self.points);
                    }
                });
            },
            async forceRerender(calb)
            {
                this.is_show_mockups = false;
                await this.$nextTick();
                calb();
                this.is_show_mockups = true;
            },
            getMockupData()
            {
                return {
                    mockup: this.mockup,
                    points: this.points
                }
            }
        }
    }
</script>


<style lang="scss">
    .mockup-panel
    {
//        position: absolute;
        border: 1px solid black;
//        bottom: -80px;
//        right: 10px;
        padding: 10px;
        z-index: 210;
        background-color: white;
        padding-right: 40px;
    }
</style>
