<template>
    <div id="orders" v-if="is_shown" :class="{'orders-window': view == 'window'}">
        <div  class="card">

            <header class="card-header">
              <p class="card-header-title">
                  Orders
              </p>

              <button @click="hidePanel()" class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-cross" aria-hidden="true"></i>
                </span>
              </button>
            </header>

            <div class="card-content">
              <div class="content">
                <div class="field">
                  <div class="control has-icons-right">
                    <p class="control">
                    </p>
                  </div>
                </div>

                <table class="table">
                  <thead>
                  <tr>
                    <th><abbr title="Number">#</abbr></th>
                    <th>Symbol</th>
                    <th><abbr title="Drawn">Open price</abbr></th>
                    <th><abbr title="lots">Lots</abbr></th>

<!--                    <th><abbr title="Goals for">Close price</abbr></th>-->
                    <th><abbr title="Lost">SL</abbr></th>
                    <th><abbr title="Lost">Profit points</abbr></th>
                    <th><abbr title="Lost">Profit</abbr></th>
<!--                    <th><abbr title="Goals against">Stop loss</abbr></th>-->
<!--                    <th><abbr title="Goals against">Take profit</abbr></th>-->
                    <th><abbr title="Goals against"></abbr></th>
                    <th><abbr title="Goals against"></abbr></th>
                    <th></th>
                  </tr>
                  </thead>

                  <tbody v-if="summary">
                  <tr :class="{'is-negative': order.profit < 0, 'is-positive': order.profit > 0}" v-for="order in orders">

                    <td>{{ order.ticket_number }}</td>
                    <td>
                        {{ order.symbol }}
                        <span v-if="order.type=='sell'" class="tag is-danger is-light">{{ order.type }}</span>
                        <span v-else class="tag is-success is-light">{{ order.type }}</span>
                    </td>
                    <td>{{ order.open_price }}</td>


                    <td>{{ order.lots }}</td>
                    <td>{{ order.sl_points }}</td>
                    <td>{{ order.ticket_profit_points }}</td>
                    <td>{{ order.profit }}</td>

<!--                    <td>{{ order.sl }}</td>-->
<!--                    <td>{{ order.tp }}</td>-->

                    <td><a @click="onOrderBreakEven(order)" :class="{'is-primary': order.be_pivot_price == 0}" class="button is-small" ref="be_btn">be</a></td>

                    <td>
                      <a @click="onClickChangeTakeProfit(order, 1)" :class="{'is-primary': order.tp_coef == 1}" class="button is-small" ref="btn_2x">1x</a>
                      <a @click="onClickChangeTakeProfit(order, 2)" :class="{'is-primary': order.tp_coef == 2}" class="button is-small" ref="btn_2x">2x</a>
                      <a @click="onClickChangeTakeProfit(order, 3)" :class="{'is-primary': order.tp_coef == 3}" class="button is-small" ref="btn_3x">3x</a>
                      <!--<a @click="onClickChangeTakeProfit(order, 5)" :class="{'is-primary': 0}" class="button is-small" ref="btn_5x">5x</a>-->
                      <!--<a @click="onClickChangeTakeProfit(order, 10)" :class="{'is-primary': 0}" class="button is-small" ref="btn_5x">10x</a>-->
                      <!--<a @click="onClickChangeTakeProfit(order, 100)" :class="{'is-primary': 0}" class="button is-small" ref="btn_5x">100x</a>-->
                    </td>

                    <td><a @click="onCloseOrder(order)" :class="{'is-danger': order.close_btn_active == 1}" class="button is-small" ref="close_order_btn">x</a></td>
                    <td></td>
                  </tr>
                  </tbody>

                  <tfoot v-if="summary">
                  <tr>
                    <th>Balance: {{summary.balance}}</th>
                    <th>Free margin: {{ summary.free_margin}}</th>

                    <th></th>
                    <th></th>
                    <th>Equity: {{ summary.equity }}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  </tfoot>
                </table>

              </div>
            </div>

        </div>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: 'profile',
        components: {},
        mixins: [mixins],

        props: {
             view: {
                 type: String,
                 required: true
             },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                is_shown: false,
                summary: null,
                orders: null,
            }
        },
        watch: {

        },
        async mounted()
        {
            //this.$root.$on('keyup_escape', this.onEscape);
            this.$root.$on('keydown_f1', this.onF1);
            this.$root.$on('keyup', this.onKeyUp);
            this.$root.$on('keyup', this.onKeyUp);

            if (this.view == 'page') {
                this.showPanel();
            }
        },
        methods: {

            async onClickChangeTakeProfit(o, coef)
            {
                var status = await this.runTask('put__command__to__the__sheet__task', {
                    name: "CHANGE_TAKE_PROFIT",
                    params: {
                        ticket: o.ticket_number,
                        coef: coef
                    }
                });

                this.toastOk('Changed tp');
            },

            async onOrderBreakEven(o)
            {
                if (o.be_pivot_price == 0)
                {
                    var status = await this.runTask('put__command__to__the__sheet__task', {
                      name: "DEL_ORDER_BREAK_EVEN",
                      params: {
                        ticket: o.ticket_number
                      }
                    });
                }
                else
                {
                    var status = await this.runTask('put__command__to__the__sheet__task', {
                      name: "SET_ORDER_BREAK_EVEN",
                      params: {
                        ticket: o.ticket_number
                      }
                    });
                }
            },

            onCloseOrder(o)
            {
                var cmd = this.runTask('put__command__to__the__sheet__task', {
                  name: "CLOSE_ORDER",
                  params: {
                    ticket: o.ticket_number
                  }
                });


                this.toastOk('Order closed');
            },

            onKeyUp(e)
            {
                if (e.key == '')
                {

                }
            },

            onF1()
            {
                this.showPanel();
            },
            onEscape()
            {
                if (this.is_shown)
                {
                    this.hidePanel();
                }
            },

            async showPanel()
            {
                this.is_shown = !this.is_shown;
                this.summary = null;
                if (!this.is_shown) return;
                //=-=-=-=-=-=-=-=-=

                var self = this;
                this.$root.$on('event__open_orders', (e) => {
                    self.summary = e.summary;
                    self.orders = e.orders_list;
                });
            },

            hidePanel()
            {
                this.is_shown = false;
                this.summary = null;
            }
        }
    }
</script>


<style scoped lang="scss">

    .orders-window
    {
        position: fixed;
        bottom: 0;
        left: 100px;
        z-index: 200;
    }

  #orders
  {
      .is-negative
      {
        background-color: #feecf0;
      }

      .is-positive
      {
        background-color: #ebfffc;
      }
  }

</style>
