<template>
    <div class="pair-instrument-view" v-if="is_shown">
        <div class="card">
            <div class="card-content3">
                <div class="content">
                    <table>
                        <tr>
                            <td style="width: 25%" :class="{'highlighted': highlighted_period == first_chart_period}">
                                <small-ohlc-chart
                                        :ref="settings_indicator.tag + '_chart_indicator1'"
                                        :period="first_chart_period"
                                        chart_type="liner"
                                        :chart_tag="settings_indicator.tag"
                                        place="first"
                                        :trading_settings="{}"
                                        :screener="first_screener_state"
                                        :pair="pair"
                                        :seria="first_ohlc.rsx.series[this.pair]"
                                        :empty_bars="first_ohlc.rsx.empty_bars[this.pair]"
                                        :tlines_="first_ohlc.tlines.rsx"
                                        :on_select_tline="onSelectTline"
                                        :params="chart_indicator_render_params('first')">
                                </small-ohlc-chart>


                                <a href="javascript:void(0)" class="button is-large is-primary signal-btn">Buy</a>
                            </td>

                            <td style="width: 25%" :class="{'highlighted': highlighted_period == second_chart_period}">
                                <small-ohlc-chart
                                        :ref="settings_indicator.tag + '_chart_indicator2'"
                                        :period="second_chart_period"
                                        chart_type="liner"
                                        :chart_tag="settings_indicator.tag"
                                        place="first"
                                        :trading_settings="{}"
                                        :screener="second_screener_state"
                                        :pair="pair"
                                        :seria="second_ohlc.rsx.series[this.pair]"
                                        :empty_bars="second_ohlc.rsx.empty_bars[this.pair]"
                                        :tlines_="second_ohlc.tlines.rsx"
                                        :on_select_tline="onSelectTline"
                                        :params="chart_indicator_render_params('second')">
                                </small-ohlc-chart>

                                <a href="javascript:void(0)" class="button is-large is-danger signal-btn">Sell</a>
                            </td>

                            <td style="width: 25%" :class="{'highlighted': highlighted_period == third_chart_period}">
                                <small-ohlc-chart
                                        :ref="settings_indicator.tag + '_chart_indicator3'"
                                        :period="third_chart_period"
                                        chart_type="liner"
                                        :chart_tag="settings_indicator.tag"
                                        place="first"
                                        :trading_settings="{}"
                                        :screener="third_screener_state  "
                                        :pair="pair"
                                        :seria="third_ohlc.rsx.series[this.pair]"
                                        :empty_bars="third_ohlc.rsx.empty_bars[this.pair]"
                                        :tlines_="third_ohlc.tlines.rsx"
                                        :on_select_tline="onSelectTline"
                                        :params="chart_indicator_render_params('third')">
                                </small-ohlc-chart>
                                <a href="javascript:void(0)" class="button is-large is-danger signal-btn">Sell</a>
                            </td>

                            <td style="width: 25%" :class="{'highlighted': highlighted_period == fourth_chart_period}">
                                <small-ohlc-chart
                                        :ref="settings_indicator.tag + '_chart_indicator4'"
                                        :period="fourth_chart_period"
                                        chart_type="liner"
                                        :chart_tag="settings_indicator.tag"
                                        place="first"
                                        :trading_settings="{}"
                                        :screener="fourth_screener_state"
                                        :pair="pair"
                                        :seria="fourth_ohlc.rsx.series[this.pair]"
                                        :empty_bars="fourth_ohlc.rsx.empty_bars[this.pair]"
                                        :tlines_="fourth_ohlc.tlines.rsx"
                                        :on_select_tline="onSelectTline"
                                        :params="chart_indicator_render_params('fourth')">
                                </small-ohlc-chart>
                                <a href="javascript:void(0)" class="button is-large is-danger signal-btn">Sell</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
            // period: {
            //     type: Number,
            //     required:true
            // },
        },

        computed: {
            first_chart_period()
            {
                return this.periods[0];
            },
            second_chart_period()
            {
                return this.periods[1];
            },
            third_chart_period()
            {
                return this.periods[2];
            },
            fourth_chart_period()
            {
                return this.periods[3];
            },
        },

        data() {
            return {
                pair: null,

                highlighted_period: 0,
                settings_indicator: settings.indicator,

                first_screener_state: null,
                second_screener_state: null,
                third_screener_state: null,
                fourth_screener_state: null,
                fifth_screener_state: null,

                first_ohlc: null,
                second_ohlc: null,
                third_ohlc: null,
                fourth_ohlc: null,
                feed_: null,
                is_shown: 0,

                periods: settings.charts.markup_periods,
                last_event: null,
                selected_main_button: null
            }
        },
        watch: {

        },
        beforeDestroy()
        {

        },
        async mounted()
        {
            var self = this;

            this.$root.$on('pair__selected', (e) => {
                self.Show(e.pair);
            });

            // this.$root.$on('pair__selected', (e) => {
            //     self.Show(e.pair);
            // });
        },
        methods: {

            setLastEvent(e)
            {
                this.last_event = e;

            },

            onSelectTline(place)
            {

            },

            chart_indicator_render_params(place)
            {
                var h1 = 500;
                var w = 380;
                var ret = {};

                if(place == 'first')
                {
                    ret = {
                        'classes': {'buy': 'buy', 'sell': 'sell'},
                        'sizes': {'width': w/1.5, 'height': h1}
                    };
                }

                if(place == 'second')
                {
                    ret = {
                        'classes': {'buy': 'buy', 'sell': 'sell'},
                        'sizes': {'width': w, 'height': h1}
                    };
                }

                if(place == 'third')
                {
                    ret = {
                        'classes': {'buy': 'buy', 'sell': 'sell'},
                        'sizes': {'width': w, 'height': h1}
                    };
                }

                if(place == 'fourth')
                {
                    ret = {
                        'classes': {'buy': 'buy', 'sell': 'sell'},
                        'sizes': {'width': w, 'height': h1}
                    };
                }

                if(place == 'fifth')
                {
                    ret = {
                        'classes': {'buy': 'buy', 'sell': 'sell'},
                        'sizes': {'width': w, 'height': h1}
                    };
                }

                return ret;
            },

            async onUpdateModels()
            {

            },

            async ReloadSeries()
            {
                var rMarket = await this.runTask('get__market__pairs__task', {
                    periods: this.periods,
                    symbols: [this.pair]
                });

                this.feed_ = rMarket.resp.market[this.pair];

            },

            async hidePanel()
            {
                this.is_shown = 0;
            },

            async Show(pair)
            {
                this.hidePanel();

                this.pair = pair;
                await this.ReloadSeries();

                this.first_ohlc = this.feed_[this.first_chart_period].ohlc;
                this.second_ohlc = this.feed_[this.second_chart_period].ohlc;
                this.third_ohlc = this.feed_[this.third_chart_period].ohlc;
                this.fourth_ohlc = this.feed_[this.fourth_chart_period].ohlc;
                // var rr = this.feed_[this.fourth_chart_period].ohlc;

                await this.$nextTick();
                this.is_shown = 1;
            }

        }
    }
</script>


<style scoped lang="scss">

.pair-instrument-view
{
    .signal-btn {
        width: 100%;
    }
}

</style>
