<template>
    <div class="pair-screenshots" v-if="is_shown">

        <div class="top-menu">
            <a @click="onClickRemoveDrawnings" href="javascript:void(0)" class="button clear-btn"
               :class="{}">
              Clear
            </a>

            <a @click="onClickRemoveDrawnings" href="javascript:void(0)" class="button clear-btn"
               :class="{}">
                Charts
            </a>

        </div>

        <div id="image_holder" class="img-holder">

          <span class="icon icon-left" @click="onChangePeriod('left')">
             <i class="fas fa-arrow-left"></i>
          </span>

          <span class="icon icon-right" @click="onChangePeriod('right')">
             <i class="fas fa-arrow-right"></i>
          </span>

          <img class="pic" :src="screenshots[current_period].src+'?'+Date.now()+'=1'" @click="on_click_pic(screenshots[current_period])">
          <img v-if="screenshots[current_period].drawning && screenshots[current_period].drawning.url"
               class="drawning" :src="screenshots[current_period].drawning.url+'?'+Date.now()+'=1'"
               @click="on_click_pic(item, period)">
        </div>

    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    import canvas from '../canvas_drawnings.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins, canvas],

        props: {
            // pairs_list: {
            //     type: Array,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
            // period: {
            //     type: Number,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                is_shown: false,
                default_period: 15,
                current_period: 15,
                current_pair: null,
                events_list: [],
                last_event: null,
                is_charts_mode: false
            }
        },
        watch: {

        },
        beforeDestroy()
        {

        },
        async mounted()
        {
            // this.$root.$on('pair__selected', this.onPairSelected);


        },
        methods: {


            async Show(pair, period)
            {
                this.is_shown = false;
                var self = this;

                if(this.current_pair)
                {
                  self.commit_fresh_drawnings(this.current_period, this.current_pair);
                }

                var resPics = await this.runTask('get__pair__screenshots__task', {
                  pair: pair,
                });

                await this.$nextTick();
                this.screenshots = resPics.resp.screenshots;

                this.current_pair = pair;
                this.current_period = period;
                this.is_shown = true;
                await this.$nextTick();

                fork(() => {
                  self.toggleDrawning(true);
                }, 800);
            },

            setLastEvent(event)
            {
                this.last_event = event;
                this.startBeep();
            },

            async onChangePeriod(direction)
            {
                if (direction === 'left')
                {
                    switch (this.current_period)
                    {
                        case 15: this.current_period = 1; break;
                        case 240: this.current_period = 15; break;
                        case 1440: this.current_period = 240; break;
                    }
                } else {
                    switch (this.current_period)
                    {
                        case 1: this.current_period = 15; break;
                        case 15: this.current_period = 240; break;
                        case 240: this.current_period = 1440; break;
                    }
                }
            },

            async onClickRemoveDrawnings()
            {
                this.onClearDrawnings(this.current_pair, this.current_period)
            },

            async on_click_pic(screenshot)
            {

            },

            async onPairSelected(e)
            {


            }
        }
    }
</script>


<style scoped lang="scss">
  .pair-screenshots
  {
      #image_holder
      {
          position: relative;
      }

      .top-menu
      {
          position: absolute;
          left: 100px;
          top: 10px;
          z-index: 101;
      }

      .icon-left
      {
          position: absolute;
          left: 12px;
          z-index: 101;
          top: 50%;
          font-size: 40px;
      }

      .icon-right
      {
          position: absolute;
          right: 10px;
          z-index: 101;
          top: 50%;
          font-size: 40px;
      }
  }
</style>
