<template>
    <div class="">

        <div v-if="ohlc">

            <small-ohlc-chart
                ref="chart1"
                :period="current_period"
                chart_type="ohlc"
                chart_tag="ohlc"
                place="first"
                :trading_settings="{}"
                :screener="{}"
                :pair="pair"
                :seria="ohlc.seria"
                :empty_bars="ohlc.empty_bars"
                :tlines_="ohlc.tlines.ohlc"
                :on_select_tline="onSelectTline"
                :params="chart_ohlc_render_params('ohlc')"></small-ohlc-chart>

            <div class="menu">
              <a @click="onChangePeriod('bigger')" :class="{'is-black': 0}" class="button is-big next_big">B </a>&nbsp;
              <a @click="onChangePeriod('smaller')" :class="{'is-black': 0}" class="button is-big next_small">S</a>&nbsp;&nbsp;

              <!--        <a @click="onChangeTab('bets')" :class="{'is-black': 0}" class="button is-big">Bets</a>-->
              <!--        <a @click="onChangeTab('orders ')" :class="{'is-black': 0}" class="button is-big">Orders</a>-->
              <!--        <a @click="onChangeTab('history')" :class="{'is-black': 0}" class="button is-big">Hist</a>-->
            </div>

            <small-ohlc-chart
                ref="chart_indicator1"
                :period="current_period"
                chart_type="liner"
                :chart_tag="settings_indicator.tag"
                place="first"
                :trading_settings="{}"
                :screener="{}"
                :pair="pair"
                :seria="ohlc.rsx.series[pair]"
                :empty_bars="ohlc.rsx.empty_bars[pair]"
                :tlines_="ohlc.tlines.rsx"
                :on_select_tline="onSelectTline"
                :params="chart_ohlc_render_params('indicator')">
            </small-ohlc-chart>
        </div>

    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
            // period: {
            //     type: Number,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {

                event: null,
                pair: '',
                current_period: 0,
                ohlc: null,
                settings_indicator: settings.indicator,
            }
        },
        watch: {

        },
        beforeDestroy()
        {

        },
        async mounted()
        {


        },
        methods: {

            async onChangePeriod(type) {
                var period = this.current_period;

                if (type === 'bigger')
                {
                    switch (this.current_period)
                    {
                        case 1: period=5;break;
                        case 5: period=15;break;
                        case 15: period=60;break;
                        case 60: period=240;break;
                        case 240: period=1440;break;
                    }
                }
                else
                {
                    switch (this.current_period)
                    {
                        case 5: period=1;break;
                        case 15: period=5;break;
                        case 60: period=15;break;
                        case 240: period=60;break;
                        case 1440: period=240;break;
                    }
                }

                this.current_period = period;
                this.ohlc = null;
                await this.$nextTick();

                this.showPairPeriod(this.pair, this.current_period);
            },

            chart_ohlc_render_params(place) {
                var w = 400;
                var ret = {};

                if (place === 'ohlc') {
                    var h1 = 570;
                    ret = {
                      'classes': {'buy': 'buy', 'sell': 'sell'},
                      'sizes': {'width': w, 'height': h1}
                    };
                } else {
                    var h2 = 300;
                    ret = {
                      'classes': {'buy': 'buy', 'sell': 'sell'},
                      'sizes': {'width': w, 'height': h2}
                    };
                }

                return ret;
            },

            async onSelectTline(e)
            {

            },

            async onChangeTab(e)
            {

            },

            async ShowEvent(e)
            {
                this.event = e;

                this.pair = e.instrument;
                this.current_period = parseInt(e.period);

                this.showPairPeriod(this.pair, this.current_period);
            },

            async showPairPeriod(pair, period)
            {
                var rMarket = await this.runTask('get__market__pairs__task', {
                  symbols: [pair],
                  periods: [period]
                });

                this.ohlc = rMarket.resp.market[pair][period].ohlc;
            }
        }
    }
</script>


<style scoped lang="scss">

.menu
{
    position: relative;
    height: 40px;

    .next_big
    {
      position: absolute;
      left: 0;
      top:0;
    }
    .next_small
    {
      position: absolute;
      right: 0;
      top:0;
    }
}

</style>
