<template>
    <div class="pair-overview">
        <hr>
        <button class="delete close-btn is-large" aria-label="close" @click="on_close"></button>
        <a @click="is_show_screenshots=!is_show_screenshots" :class="{'is-black': is_show_screenshots}" class="button pics-btn">
            PICS
        </a>

        <table v-if="ohlc">
            <tr v-if="!is_show_screenshots">
                <td class="chart-holder" v-for="period in [1440, 240]" >
                    <small-ohlc-chart :period="period" group="sell" :pair="pair" :seria="ohlc[period].series[pair]" :empty_bars="ohlc[period].empty_bars[pair]"
                    :on_open_big_chart="onOpenBigChart" :trendlines="ohlc[period].trendlines[pair]" :params="ohlc_charts_params"></small-ohlc-chart>
                </td>
            </tr>
            <tr class="menu-btns has-text-centered" v-if="is_show_screenshots">
                <td v-for="period in [1440, 240]">
                    <h3>{{pair}} {{period}}</h3>
                    <img :src="screenshots[period].src + '?' + now_timestamp + '=1'">
                </td>
            </tr>

            <tr v-if="!is_show_screenshots">
                <td v-for="period in [60, 15]">
                    <small-ohlc-chart :period="period" group="sell" :pair="pair" :seria="ohlc[period].series[pair]" :empty_bars="ohlc[period].empty_bars[pair]"
                    :on_open_big_chart="onOpenBigChart" :trendlines="ohlc[period].trendlines[pair]" :params="ohlc_charts_params"></small-ohlc-chart>
                </td>
            </tr>
            <tr class="menu-btns has-text-centered" v-if="is_show_screenshots">
                <td v-for="period in [60, 15]">
                    <h3>{{pair}} {{period}}</h3>
                    <img :src="screenshots[period].src + '?' + now_timestamp + '=1'">
                </td>
            </tr>

            <tr v-if="!is_show_screenshots">
                <td v-for="period in [5]">
                    <small-ohlc-chart :period="period" group="sell" :pair="pair" :seria="ohlc[period].series[pair]" :empty_bars="ohlc[period].empty_bars[pair]"
                    :on_open_big_chart="onOpenBigChart" :trendlines="ohlc[period].trendlines[pair]" :params="ohlc_charts_params"></small-ohlc-chart>
                </td>
            </tr>

            <tr class="menu-btns has-text-centered" v-if="is_show_screenshots">
                <td v-for="period in [5]">
                    <h3>{{pair}} {{period}}</h3>
                    <img :src="screenshots[period].src + '?' + now_timestamp + '=1'">
                </td>
            </tr>
        </table>

    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
             pair: {
                 type: String,
                 required: true
             },
             period: {
                 type: Number,
                 required:true
             },
             on_close: {
                type: Function,
                required: true
             }
        },

        computed: {

        },

        data() {
            return {
                name: '',
                ohlc: null,
                screenshots: null,
                is_show_screenshots: 1,
                now_timestamp: 123,
                ohlc_charts_params: {'classes': {'buy': 'pending-buy', 'sell': 'pending-sell', 'no_data': ''}, 'sizes': {'width': 640, 'height': 500}},
            }
        },
        watch: {

        },
        async mounted()
        {
            
            var status = await this.runTask('put__command__to__the__sheet__task', {
                name: "GET_SCREENSHOTS",
                params: {
                    pair: this.pair,
                    period: this.period
                }
              });

            var rOhlc = await this.runTask('get__pair__overview__task', {
                  period: this.period,
                  pair: this.pair
            });

            this.now_timestamp = Date.now();
            this.ohlc = rOhlc.resp.res;
            this.screenshots = rOhlc.resp.screenshots;
        },
        methods: {

            onOpenBigChart(){}
        }
    }
</script>


<style lang="scss">
    .pair-overview
    {
        .close-btn
        {
            position: fixed;
            top: 30px;
            right: 30px;
            z-index: 40;
        }


        .chart-holder {
            //position: relative;


        }

        .menu-btns
        {
            td {
                .button
                {
                    margin-top: -24px;
                    margin-left: 300px;
                }
            }
        }
    }
</style>
