<template>
    <div class="panel2">
      <div class="main_navigation">
          <div v-for="pair in pairs_list">
              <a @click="onSelectPair(pair)" href="javascript:void(0)" class="button"
                 :class="{'is-black': current_pair === pair}">
                {{pair}}
              </a>
          </div>

          <div style="position: absolute; bottom: 0px; left: 0px">
              <a @click="changePage('market')" href="javascript:void(0)" class="button"
                 :class="{}">
                Market
              </a>

              <a @click="changePage('events')" href="javascript:void(0)" class="button"
                 :class="{}">
                Events
              </a>

              <a @click="changePage('orders')" href="javascript:void(0)" class="button"
                 :class="{}">
                Orders
              </a>
          </div>
      </div>


      <table style="margin-left: 30px; margin-bottom: 10px">
          <tr>
            <td v-for="pair in pairs_list">
                <instrument-view2 :instrument="pair" :ref="instrument_view_name(pair)" ></instrument-view2>
            </td>
          </tr>
      </table>

        <div class="market-holder" v-if="page==='market'">
            <pair-screenshots ref="pair_screenshots"></pair-screenshots>
        </div>

        <div v-if="page==='events'">
<!--          <pair-screenshots ref="pair_screenshots" :pairs_list="pairs_list"></pair-screenshots>-->
        </div>

<!--        <pair-indicator-view ref="pair_indicator_view"></pair-indicator-view>-->
<!--       <signal-attack-panel ref="signal_attack_panel"></signal-attack-panel>-->

      <!--        <ohlc-liner-view ref="ohlc_liner_view"></ohlc-liner-view>-->

<!--        <div class="card events">-->
<!--            <header class="card-header is-size-4">-->
<!--                <p class="card-header-title">-->
<!--                    Events &nbsp;-->
<!--                    <span v-if="events && events.not_shown_counter" class="tag is-danger is-size-4">{{ events.not_shown_counter }}</span>-->
<!--                    &nbsp;&nbsp;-->
<!--                    <a @click="onClickMarkup" class="button big is-danger">Markup (4)</a>&nbsp;-->
<!--                </p>-->
<!--            </header>-->
<!--            <div class="card-content">-->
<!--                <div class="content">-->
<!--                    <table>-->
<!--                        <tr v-if="events">-->
<!--                            <td v-for="events_chunk in events.list"   >-->
<!--                                <p v-for="event in events_chunk" class="card-header-title2" @click="onShowEvent(event)" :class="{'bold': event.is_shown == 0}">-->
<!--                                    {{event.instrument}} {{event.period}}-->
<!--                                    <a onclick="void(0)" :class="{'is-success': event.direction == 1, 'is-danger': event.direction == 0}" class="button is-small">-->
<!--                                        {{event.tag}}-->
<!--                                    </a>-->
<!--                                    {{minutesAgo(event.created_at)}} минут-->
<!--                                </p>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <orders-panel view="page"></orders-panel>-->



      <!--        <pair-indicator-view ref="indicator_view"></pair-indicator-view>-->

<!--        <journal></journal>-->

        <div class="rings-holder" style="display: none">
<!--            <audio class="new_event_ring" controls loop="loop" src="/sounds/new/percussion-hit-chimed.wav"></audio>-->
            <audio class="new_event_ring" controls loop="loop" src="/sounds/new/percussion-hit-chimed.wav"></audio>
            <audio class="new_event_ring2" controls loop="loop" src="/sounds/beep2.wav"></audio>
        </div>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    import moment from "moment/moment";
    import live_events from '../panel_live_events.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins,live_events],

        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            pairs: {
                type: Array,
                required:true
            },
            pairs_list: {
                type: Array,
                required:true
            },
            // period: {
            //     type: Number,
            //     required:true
            // },
        },

        computed: {


        },

        data() {
            return {

                name: '',
                events: {},
                selected_pair: null,
                open_orders: null,
                page: 'market',
                default_period: 15,
                current_pair: null,
            }
        },
        watch: {

        },
        beforeDestroy()
        {

        },
        async mounted()
        {
            var self = this;

            this.toggleFrontendEvents();

            this.$root.$on('keyup_escape', this.onEscape);
            this.$root.$on('pair__selected', (e) => {
                self.selected_pair = e.pair;
            });

            this.$root.$on('keyup_arrow_right', this.onArrowRight);
            this.$root.$on('keyup_arrow_left', this.onArrowLeft);

            this.onSelectPair("XAUUSD");

            // this.current_pair = "XAUUSD";
            // this.$root.$emit('pair__selected', {
            //   pair: "XAUUSD"
            // });
        },
        methods: {

            async changePage(page)
            {
                this.page = page;

                await this.$nextTick();

                if (page === 'market')
                {
                    this.onSelectPair(this.current_pair);
                }
            },

            onSelectPair(pair)
            {
                this.open_symbol_mt4(pair, 0);

                this.current_pair = pair;
                // this.$root.$emit('pair__selected', {
                //     pair: pair
                // });

                this.$refs.pair_screenshots.Show(pair, this.default_period);

                // if (this.last_event && this.last_event.instrument === pair)
                // {
                //   this.runTask('mark__event__as__shown__task', {id: this.last_event.id});
                //   this.stopBeep();
                //   this.last_event = null;
                // }
            },
            // processBinaryUnmapped(binary_unmapped, binary_mapped)
            // {
            //     var self = this;
            //     binary_unmapped.map((pair) => {
            //         var vueView = self.$refs[self.instrument_view_name(pair)];
            //         if (vueView.length)
            //         {
            //             vueView[0].setBinaryUnmapped();
            //         }
            //     });
            //
            //     binary_mapped.map((pair) => {
            //         var vueView = self.$refs[self.instrument_view_name(pair)];
            //         if (vueView.length)
            //         {
            //             vueView[0].setBinaryMapped();
            //         }
            //     });
            // },


            onClickMarkup()
            {

            },

            instrument_view_name(pair)
            {
                return pair + '_instrument_view2';
            },

            onArrowRight()
            {
                var self = this;
                var index = _.findIndex(this.pairs_list, (e) => {
                    return self.selected_pair == e;
                });

                if(index === false)
                {
                    index = 0;
                }
                index++;
                if(index > self.pairs_list.length-1)
                {
                    index = 0;
                }

                var next_pair = this.pairs_list[index];
                this.selectPair(next_pair);
            },
            onArrowLeft()
            {
                var self = this;
                var index = _.findIndex(this.pairs_list, (e) => {
                    return self.selected_pair == e;
                });

                if(index === false)
                {
                    index = self.pairs_list.length-1;
                } else {
                    index--;
                }

                if(index < 0)
                {
                    index = self.pairs_list.length-1;
                }

                var next_pair = this.pairs_list[index];
                this.selectPair(next_pair);
            },

            selectPair(pair)
            {
                //this.open_symbol_mt4(pair);

                var vueView = this.$refs[this.instrument_view_name(pair)];
                if (vueView.length)
                {
                    vueView[0].onSelectPair();
                }
            },

            onEscape()
            {
                this.$refs.indicator_view.hidePanel();
            },

            async onShowEvent(event)
            {
                this.runTask('mark__event__as__shown__task', {id: event.id});
                this.open_symbol_mt4(event.instrument, event.period);


                //this.selectPair(event.instrument);
                // await this.$nextTick();
            },

            stopBeep()
            {
                var audio = $('.new_event_ring');
                audio[0].pause();
                audio[0].currentTime = 0;
                var audio = $('.new_event_ring2');
                audio[0].pause();
                audio[0].currentTime = 0;
            },

            startBeep()
            {
                var audio = $('.new_event_ring');
                audio[0].play();
                var audio = $('.new_event_ring2');
                audio[0].play();
            },

            minutesAgo(mysql_date)
            {
                var minutes = moment(mysql_date).diff(moment(), 'minutes');

                return Math.abs(minutes);
            },


            async onUpdateModels()
            {

            }
        }
    }
</script>


<style scoped lang="scss">

.events
{
    //margin-left: 40px;

    .card-header-title2
    {
        &.bold
        {
            font-weight: bold;
        }
    }
}

.main_navigation {
    position: absolute;
    left: 0;
    top: 0px;
    width: 90px;
    height: 100%;
    z-index: 10;
    background-color: white;
}


.market-holder {
    margin-left: 90px;
}

</style>
