<template>
    <div class="period-feed" v-if="feed">
        <table v-for="instrument in feed.symbols">
              <tr>  
                    <instrument-view
                        ref="instrument_view"
                        view_type="chart_first"
                        :periods="current_periods"
                        :instrument="instrument"
                        :pic_view="pic_view"
                        :screenshots="market.screenshots[instrument]"
                        :drawnings="market.drawnings[instrument]"
                        :is_perspective="is_perspective"
                    ></instrument-view>
              </tr>
        </table>

    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
//             period: {
//                 type: Number,
//                 required:true
//             },
        },

        computed: {

        },

        data() {
            return {
                feed: null,
                period: 0,
            }
        },
        watch: {

        },
        beforeDestroy()
        {

        },
        async mounted()
        {

        },
        methods: {
            async showPeriod(period)
            {
                var resFeed = await this.runTask('get__period__feed__task', {
                    period: period,
                    history: settings.charts.history[period]
                });

                this.feed = resFeed.resp;
            }
        }
    }
</script>


<style scoped lang="scss">

</style>
