<template>
    <div :class="this.blockSelector">

        <div class="rsi chart"></div>

    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: 'rsi',
        components: {},
        mixins: [mixins],

        props: {
            blockSelector: {
                type: String,
                required: true
            },
        },

        computed: {

        },

        data() {
            return {
                drawChart: null,
                chartTimeseria: null,
            }
        },
        watch: {

        },
        beforeMount()
        {

            // sort(function(a, b) { return d3.ascending(accessor.d(a), accessor.d(b)); })
        },

        async mounted()
        {
            this.chart();
            // this.redrawChart(this.chartTimeseria);

        },
        methods: {

            async onUpdateModels()
            {

            },

            chart()
            {
                var blockWidth = $('.' + this.blockSelector).width();
                var blockHeight = blockWidth * 0.7;

                var margin = {top: 20, right: 20, bottom: 30, left: 20},
                    width = blockWidth - margin.left - margin.right,
                    height = blockHeight - margin.top - margin.bottom;


                var x = techan.scale.financetime().range([0, width]);
                var y = d3.scaleLinear().range([height, 0]);
                var rsi = techan.plot.rsi().xScale(x).yScale(y);
                var xAxis = d3.axisBottom(x);
                var svg = d3.select('.' + this.blockSelector + ' .chart')
                    .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
                ;

                svg.append("g").attr("class", "rsi");
                svg.append("g").attr("class", "rrsi2");

                this.redrawChart = function(data)
                {
                    var rsiData = techan.indicator.rsi()(data, 14);
                    var rsiData2 = techan.indicator.rsi()(data, 7);

                    x.domain(rsiData.map(rsi.accessor().d));
                    y.domain(techan.scale.plot.rsi(rsiData).domain());

                    svg.selectAll("g.rsi").datum(rsiData).call(rsi);
                    svg.selectAll("g.rrsi2").datum(rsiData2).call(rsi);
                    svg.selectAll("g.x.axis").call(xAxis);
                };
            }
        }
    }
</script>


<style lang="scss">

    .rsi
    {
        border: 1px solid black;
    }

    .rsi path {
        fill: none;
        stroke-width: 1;
    }

    .rrsi2 path {
        fill: none;
        stroke-width: 1;
    }

    .rsi {
        stroke: blue;
    }

    .rrsi2 {
        stroke: red;
    }

    .rsi path.overbought, .rsi path.oversold {
        stroke: #FF9999;
        stroke-dasharray: 5, 5;
    }

    .rsi path.middle, path.zero {
        stroke: #BBBBBB;
        stroke-dasharray: 5, 5;
    }

</style>
