<template>
    <div class="">

        <div v-if="!viewPair" class="overview-holder" v-for="(pic, pairName) in this.overview">
            <h2 class="period">{{pairName}} M{{pic.period}} {{pic.time}}</h2>

            <img class="pic"
                 :src="pic.src"
                 :alt="pic.time + ' M'+ pic.period"
                 @click="onClickPair(pairName)">
        </div>

        <h1 v-if="viewPair">{{viewPair.name}}</h1>

        <div v-if="viewPair">

            <table>
                <tr v-for="period in periods" class="screenshots-holder">

                    <td v-if="viewPair.pics.MAS" :set="pic = viewPair.pics.MAS[period]">
                        <div v-if="pic" class="pic-holder">
                            <h2 class="period">{{viewPair.name}} {{pic.tag}} M{{pic.period}} {{pic.time}}</h2>
                            <img class="pic" :data-index="pic.index" :src="pic.src" :alt="pic.time + ' M'+ pic.period" @click="onClickPic($event)">
                        </div>
                    </td>

                    <td v-if="viewPair.pics.ATS" :set="pic2 = viewPair.pics.ATS[period]">
                        <div v-if="pic2" class="pic-holder">
                            <h2 class="period">{{viewPair.name}} {{pic2.tag}} M{{pic2.period}} {{pic2.time}}</h2>
                            <img class="pic" :data-index="pic2.index" :src="pic2.src" :alt="pic2.time + ' M'+ pic2.period" @click="onClickPic($event)">
                        </div>
                    </td>

                </tr>
            </table>
        </div>

        <div v-if="viewPic" class="view-pic">
            <h2 class="period">{{viewPair.name}} M{{viewPic.period}} {{viewPic.time}}</h2>
            <img :src="viewPic.src" @click="onClickViewPic()">
        </div>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: 'profile',
        components: {},
        mixins: [mixins],

        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            overview: {
                type: Object,
                required:true
            },
        },

        computed: {

        },

        data() {
            return {

                UPDATE_OPENED_CHARTS: 10000, // 20 sec

                periods: [1,5,15,30,60,240],

                maps: {
                    MAS: {

                    },
                    ATS: {

                    }
                },

                viewPair: null,
                viewPic: null,
            }
        },
        watch: {

        },
        async mounted()
        {
            var self = this;

            this.pairs
            this.tags


            // this.showPairLastScreenshots(this.pairs[0]);

            this.$root.$on('keyup_arrow_right', this.onArrowRight);
            this.$root.$on('keyup_arrow_left', this.onArrowLeft);
            this.$root.$on('keyup_enter', this.onArrowRight);
            this.$root.$on('keyup_plus', this.onArrowLeft);
            this.$root.$on('keyup_escape', this.onEscape);

            setInterval(async function() {
                await self.updateCharts();
            }, this.UPDATE_OPENED_CHARTS);

        },
        methods: {

            updateCharts()
            {

                if (this.viewPair) {
                    this.showPairLastScreenshots(this.viewPair.name);
                }

                // update overview list


            },

            onEscape()
            {
                if (this.viewPic) {
                    this.viewPic = null;
                } else if(this.viewPair) {
                    this.viewPair = null;
                }
            },

            onArrowRight()
            {
                if (this.viewPic && this.viewPair.pics_by_index[this.viewPic.index+1]) {
                    this.viewPic = this.viewPair.pics_by_index[this.viewPic.index+1];
                } else if(!this.viewPic) {
                    this.viewPic = this.viewPair.pics_by_index[0];
                }
            },

            onArrowLeft()
            {
                if (this.viewPic && this.viewPair.pics_by_index[this.viewPic.index-1]) {
                    this.viewPic = this.viewPair.pics_by_index[this.viewPic.index-1];
                }
            },

            async onClickViewPic()
            {
                this.viewPic = null;
            },

            async onClickPic(e)
            {
                var d = $(e.target).data();
                this.viewPic = this.viewPair.pics_by_index[d.index];
            },

            async onClickPair(pair)
            {
                this.showPairLastScreenshots(pair);
                $('html, body').scrollTop(0);
            },

            async onUpdateModels()
            {

            },

            async updateOverallView()
            {

            },

            async showPairLastScreenshots(instrument)
            {
                var resPics = await this.runTask('get__pair__last__screenshots__task', {
                    instrument: instrument
                });

                this.viewPair = resPics.resp;

                var byIndex = [];
                var index = 0;
                var self = this;

                _.each(this.periods, function (period) {
                    if (self.viewPair.pics.MAS) {
                        var pic = self.viewPair.pics.MAS[period];
                        if (pic) {
                            pic.index = index++;
                            byIndex.push(clone(pic));
                        }
                    }

                    if (self.viewPair.pics.ATS) {
                        var pic = self.viewPair.pics.ATS[period];
                        if (pic) {
                            pic.index = index++;
                            byIndex.push(clone(pic));
                        }
                    }
                });

                this.viewPair.pics_by_index = byIndex;
            }
        }
    }
</script>


<style scoped lang="scss">

    .overview-holder
    {
        float: left;

        .pic
        {
            max-width: 700px;
        }
    }

    .screenshots-holder
    {
        td {
            .pic-holder
            {
                position: relative;

                .period
                {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background-color: white;
                }

                .pic
                {
                    max-width: 700px;
                }
            }
        }
    }

    .view-pic
    {
        z-index: 101;
        border: 3px blue solid;
        position: fixed;
        top: 0px;
        left: 0px;

        .period
        {
            position: absolute;
            top: 0px;
            left: 0px;
            background-color: white;
        }

        img {
            width: 85%;
        }
    }

</style>
