<template>

    <div v-if="is_visible"  class="chart chart-handler">

      <div v-if="chart" id="chart-handler-inner">
        <div class="controls">
          <h1 class="pair">{{chart.pair}} <span style="font-size: larger; background-color: white">{{chart.period}}</span></h1>
        </div>

        <div class="img-holder">
          <img v-if="chart.pic" class="pic" :src="chart.pic.src">
          <img v-if="chart.pic && chart.pic.drawning.url" class="drawning" :src="chart.pic.drawning.url">
        </div>

        <trendline-editor
            :trendline="chart.trendline__selected__params"
        ></trendline-editor>

      </div>


      <div class="navigation-btns">
          <span @click="closeChart" class="tag is-danger is-large close">
            Close
            <button class="delete"></button>
          </span>

        <div>
          <hr>
          <button @click="onArrowLeft" class="button is-large"><<<</button>
          <button @click="onArrowRight" class="button is-large">>>></button>

          <div>
            <hr>
            <button @click="onStartEditNewTrendline" class="button is-large" :class="{'is-primary': is_editing_trendline_from_mobile}">Tl</button>
          </div>

        </div>
      </div>

    </div>

</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    import moment from "moment";
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        components: {},
        mixins: [mixins],

        props: {
            // chart: {}
            // pics: {
            //     type: Array,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                is_visible: false,
                chart: null,
                chart_type: "rsi_heiken",

                is_editing_trendline_from_mobile: false,
                // pics: null,
                // name: 'Matt Stauffer',
                // title: this.post.title,
            }
        },
        watch: {

        },

        async mounted()
        {
            this.$root.$on('keyup_enter', this.onEnter);
            this.$root.$on('keyup_arrow_right', this.onArrowRight);
            this.$root.$on('keyup_arrow_left', this.onArrowLeft);
        },

        methods: {

          chart__data()
          {
            return {
              rotate_index: 0,

              input: {
                data: null,
                data_pointer: null,
              },

              pic: null,
              pic_src: null,

              pair: null,
              period: null,

              uniq_id: function ()
              {
                return this.pair + this.period;
              },

              trendlines: [],
              trendline__new: null,
              trendline__selected: null,

              trendline__selected__params: {
                id: 777,
                type: "alert"
              }
            };
          },

            onStartEditNewTrendline ()
            {
              this.is_editing_trendline_from_mobile = !this.is_editing_trendline_from_mobile;
            },



          onKey()
          {

          },

          onEnter()
          {

          },

          onArrowRight ()
          {
                let period = this.period__next_period(this.chart.period);
                this.openChart(this.chart.pair, period);
          },

          onArrowLeft ()
          {
              let period = this.period__prev_period(this.chart.period);
              this.openChart(this.chart.pair, period);
          },

          isVisible()
          {
              return this.chart !== null;
          },

          closeChart()
          {
              this.chart = null;
              this.is_visible = false;
              this.is_editing_trendline_from_mobile = false;
          },


          chartTrendlineFunctionality(svg, width, xAxis, yAxis, x, y)
          {
            var valueFormat = d3.format(',.4f');
            var timeFormat = d3.timeFormat('%Y-%m-%d');
            var self = this;

            var trendline = techan.plot.trendline()
                .xScale(x)
                .yScale(y)
                .on("mouseenter", enter)
                .on("mouseout", out)
                .on("drag", drag)
                .on('dragend', dragend)
            ;

            function enter(d) {
              valueText.style("display", "inline");
              refreshText(d);
            }

            function out(d) {
              valueText.style("display", "none");
            }

            function drag(d) {
              refreshText(d);
            }

            function dragend(d)
            {
              if (d3.event.sourceEvent.ctrlKey)
              {
                self.onDeleteTrendline(d);
              }
              else
              {
                var trendline = _.find(self.chart.trendlines, {id: d.id});
                trendline.is_fired = 0;

                // self.resChart.chart.trendlines = self.convertD3TrendlinesIntoChart(self.chart.trendlines);

                trendline.start.date = d.start.date;
                trendline.start.value = d.start.value;
                trendline.end.date = d.end.date;
                trendline.end.value = d.end.value;

                self.chart.trendline__selected = trendline;

                self.onMovedTrendline(d, trendline);
              }
            }

            function refreshText(d)
            {
              var type = getTrendlineType(d);
              var text = 'ID:'+ d.id + ' Type: ' + type + ((type === 'support') ? ' (break down)' : ' (break up)') + ' Fired: '+ d.is_fired;
              valueText.text(text);
            }


            // crosshair functionality

            var valueText = svg.append('text')
                .style("text-anchor", "end")
                .attr("class", "coords")
                .attr("x", width - 5)
                .attr("y", 15);

            var ohlcAnnotation = techan.plot.axisannotation()
                .axis(yAxis)
                .orient('left')
                .format(d3.format(',.4f'));

            var timeAnnotation = techan.plot.axisannotation()
                .axis(xAxis)
                .format(d3.timeFormat('%H:%M'))
                .width(0);

            var crosshair = techan.plot.crosshair()
                .xScale(x)
                .yScale(y);

            crosshair
                .xAnnotation([timeAnnotation])
                .yAnnotation([ohlcAnnotation])
                .on("move", move)

                // .on("touchend", function(d) {
                //   debugger;
                //   move(d);
                // });
                // .on("touchstart", function(e) {
                //
                // })



            svg.append('g')
                .attr("class", "crosshair")
                // .datum({ x: x.domain()[80], y: 67.5 })
                .call(crosshair)
                .each(function(d) {
                  move(d);
                }) // Display the current data




            var self = this;
            function move(coords)
            {
              if (!d3.event) return;

              // log(coords, d3.event);
              if (self.is_editing_trendline_from_mobile)
              {
                  if (!eN(self.chart.trendline__new) && !self.chart.trendline__new.is_saving)
                  {
                      self.chart.trendline__new.is_saving = true;
                      self.onAddTrendline(coords);
                      return;
                  }

                  if (eN(self.chart.trendline__new))
                  {
                    self.chart.trendline__new = {
                      id: self.chart.uniq_id(),
                      is_fired: 0,
                      type: "alert",
                      start: {date: moment(coords.x), value: coords.y},
                      end: {date: moment(coords.x), value: coords.y},
                    };
                  }

              } else {
                  if (d3.event.buttons === 1)
                  {
                      if (eN(self.chart.trendline__new))
                      {
                          self.chart.trendline__new = {
                            id: self.chart.uniq_id(),
                            is_fired: 0,
                            type: "alert",
                            start: {date: moment(coords.x), value: coords.y},
                            end: {date: moment(coords.x), value: coords.y},
                          };
                      }
                  }

                  if(d3.event.buttons === 0)
                  {
                    if (!eN(self.chart.trendline__new) && !self.chart. trendline__new.is_saving)
                    {
                      self.chart.trendline__new.is_saving = true;
                      self.onAddTrendline(coords);
                    }
                  }
              }
            }

            return trendline;
          },

          async onDeleteTrendline(d)
          {
            if (d.id)
            {
              var resDel = await this.runTask('delete__trendline__from__chart__task', {
                id: d.id
              });

              if (!resDel.isOk())
              {
                this.toastError('Failed delete trendline');
              } else {
                this.toastOk('Deleted');
              }

              // log(d.id, this.chartTrendlines.map(t=>{return t.id}));
              var deleted = _.filter(this.chart.trendlines, (o) => {return o.id !== d.id});
              this.chart.trendlines = deleted;
              this.chartDrawTrendlinesFunction(this.chart.trendlines);
            }
          },


          async onUpdateModels()
            {

            },


          period__next_period(period)
          {
              switch(period)
              {
                case 1: return 5;
                case 5: return 15;
                case 15: return 60;
                case 60: return 240;
                case 240: return 1440;
              }

              return period;
          },

          period__prev_period(period)
          {
            switch(period)
            {
              case 5: return 1;
              case 15: return 5;
              case 60: return 15;
              case 240: return 60;
              case 1440: return 240;
            }

            return period;
          },

          convertChartTrendlinesIntoD3(chartTrendlines)
          {
            return chartTrendlines.map(t => {
              return {
                id: t.id,
                is_fired: t.is_fired,
                uniq_id: t.uniq_id,
                start:{
                  date: moment(t.start_date),
                  value: t.start_value
                },
                end: {
                  date: moment(t.end_date),
                  value: t.end_value
                }
              }
            });
          },

          drawChart(data, data_end, trendlines)
          {
            data = this.parseChartTimeseria(data.concat(data_end));
            data_end = this.parseChartTimeseria(data_end);

            var margin = {top: 20, right: 20, bottom: 30, left: 50},
                width = 960 - margin.left - margin.right,
                height = 500 - margin.top - margin.bottom;

            var self = this;
            var x = techan.scale.financetime()
                .range([0, width])
                .outerPadding(0);

            var y = d3.scaleLinear()
                .range([height, 0]);

            var close = techan.plot.close()
                .xScale(x)
                .yScale(y);

            var xAxis = d3.axisBottom(x);
            var yAxis = d3.axisLeft(y);

            var svg = d3.select("#chart-handler-inner").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            svg.append("g").attr("class", "close");
            svg.append("g").attr("class", "close_pointer");
            svg.append("g").attr("class", "y axis");


            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")");

            var trendline = this.chartTrendlineFunctionality(svg, width, xAxis, yAxis, x, y);

            this.chartDrawFunction = function(data, data_end)
            {
              x.domain(data.map(close.accessor().d));
              y.domain(techan.scale.plot.ohlc(data, close.accessor()).domain());

              svg.selectAll("g.close").datum(data).call(close);
              svg.selectAll("g.close_pointer").datum(data_end).call(close);

              svg.selectAll("g.x.axis").call(xAxis);
              svg.selectAll("g.y.axis").call(yAxis);
            }

            this.chartDrawTrendlinesFunction = function (trendlineData)
            {
              svg.selectAll('g.trendlines').remove();
              svg.append("g").attr("class", "trendlines");
              svg.selectAll("g.trendlines").datum(trendlineData).call(trendline).call(trendline.drag);
            }

            this.chartDrawFunction(data, data_end);
            this.chartDrawTrendlinesFunction(trendlines);
          },

          async deleteFromWatchlist(id)
          {
            await this.runTask('remove__from__watchlist__task', {
              id: id,
            });
          },

          async onMovedTrendline(d)
          {
            var resAdd = await this.runTask('add__trendline__to__chart__task', {
              id: d.id,
              uniq_id: d.uniq_id,
              start_date: moment(d.start.date).format('YYYY-MM-DD HH:mm:ss'),
              end_date: moment(d.end.date).format('YYYY-MM-DD HH:mm:ss'),
              is_fired: 0,
              start_value: d.start.value,
              end_value: d.end.value,
              chart_tag: this.chart_type
            });

            if (!resAdd.isOk())
            {
              this.toastError('Failed move trendline');
            } else {
              this.toastOk('Moved');
            }
          },


          parseChartTimeseria(data)
          {
            var parseDate = d3.timeParse("%Y-%m-%d %H:%M:%S");

            return data.map(function(d) {
              return {
                date: parseDate(d.time),
                open: +d.value,
                high: +d.value,
                low: +d.value,
                close: +d.value,
                volume: +d.Volume
              };
            });
          },


          async onAddTrendline(coords)
          {
            this.chart. trendline__new.end = {date: moment(coords.x), value: coords.y};

            var resAdd = await this.runTask('add__trendline__to__chart__task', {
              uniq_id: this.chart.uniq_id(),
              start_date: moment(this.chart. trendline__new.start.date).format('YYYY-MM-DD HH:mm:ss'),
              end_date: moment(this.chart. trendline__new.end.date).format('YYYY-MM-DD HH:mm:ss'),
              is_fired: 0,
              start_value: this.chart. trendline__new.start.value,
              end_value: this.chart. trendline__new.end.value,
              chart_tag: this.chart_type
            });

            if (!resAdd.isOk())
            {
              this.toastError('Failed add level');
            } else {
              this.toastOk('Added level');
            }

            this.chart. trendline__new.id = resAdd.get('trendline').id;
            this.chart. trendline__new.uniq_id = this.chart.uniq_id();

            this.chart.trendlines.push(this.chart.trendline__new);
            this.chart.trendline__selected = this.chart.trendline__new;
            this.chart.trendline__new = null;

            this.chartDrawTrendlinesFunction(this.chart.trendlines);
          },

          getItem()
          {
              return this.chart ? this.chart.item : null;
          },

          openChart(pair, period)
          {
              var self = this;
              var run_chart = async function (self)
              {
                  var timeseria = await self.runTask('get__timeseria__task', {
                      pair: pair,
                      period: period,
                      limit: 50,
                      tag: self.chart_type
                  });

                  var chart = self.chart__data();
                  chart.pair = pair;
                  chart.period = period;

                  chart.input = {};
                  chart.input.data = timeseria.resp.timeseria.chart;
                  chart.input.data_pointer = timeseria.resp.timeseria.chart_end;
                  chart.trendlines = self.convertChartTrendlinesIntoD3(timeseria.resp.trendlines.list[pair]);

                  self.chart = chart;

                  self.is_visible = true;

                  fork(function () {
                    self.drawChart(self.chart.input.data, self.chart.input.data_pointer, self.chart.trendlines);
                  });
              };

              if (this.chart) {
                  this.chart = null;
                  fork(function (){
                    run_chart(self);
                  });
              } else {
                  run_chart(self);
              }
          }
        }
    }
</script>


<style scoped lang="scss">

.chart-handler
{
  width: 100%;
  height: 100%;
  z-index: 102;
  position: fixed;
  top: 0px;
  left: 0px;
  border: 2px solid grey;
  background-color: #F2F6FA !important;

  .controls
  {
    position: absolute;
    top: 0;
    left: 0;

    .pair
    {
      font-size: 20px;
      font-weight: bold;
      background-color: whitesmoke;
    }
  }

  .img-holder {
    //max-width: 500px;
    right: 0;
    position: fixed;
    z-index: 103;
    border-left: 2px #2700ff solid;

    .drawning
    {
      position: absolute;
      top: 0;
      left: 0;
    }

    img{
      max-width: 622px;
      height: 775px;
    }
  }

  .trendline-params
  {

    position: absolute;
    left: 0;
    bottom: 0;
  }

  img {
    max-width: 303px;
    height: 100%;
  }

  .navigation-btns
  {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}



</style>
