<template>
    <div class="">

        <div class="controls">
            <a @click="onChangePeriod(5)" :class="{'is-primary': current_period == 5}" class="button periods is-small">5</a>
            <a @click="onChangePeriod(15)" :class="{'is-primary': current_period == 15}" class="button periods is-small">15</a>
            <a @click="onChangePeriod(240)" :class="{'is-primary': current_period == 240}" class="button periods is-small">240</a>
            <a @click="onChangePeriod(1440)" :class="{'is-primary': current_period == 1440}" class="button periods is-small">1440</a>
            <a @click="onOpenWatchlist()" :class="{'is-primary': watchlist.object !== null}" class="button periods is-small">w</a>
            <a @click="toggleSignalsNotifications()" :class="{'is-primary': is_signals_on === true}" class="button periods is-small">al</a>

            <a href="/forex/status" :class="{'is-primary': watchlist.object !== null}" class="button periods is-small">Status</a>
            <a @click="toggleOrdersPanel()":class="{'is-primary': false}" class="button periods is-small">Orders</a>
        </div>

        <div class="signals">
            <div v-for="item in signals_history">
                <a :id="'signal-'+ item.id" :class="{'is-primary': item.direction == 1}"  href="#" @click="onClickSignal(item)" class="button is-small">
                    {{item.instrument_short}}{{item.period}}
                </a>
            </div>
        </div>

        <table v-if="tapeObject">
            <tr v-for="chunk in tapeObject" class="screenshots-holder">
                <td v-for="item in chunk">
                  <tape-item
                      ref="tape_items"
                      :item=item
                      :on_open_chart="onOpenChart"
                      :on_click_pic="onClickPic"
                      :is_h1_title="true"
                  ></tape-item>
                </td>
            </tr>
        </table>

        <table v-if="watchlist.object">
            <tr v-for="chunk in watchlist.object" class="screenshots-holder watchlist">
                <td v-for="item in chunk">
                  <tape-item

                      :item=item
                      :on_open_chart="onOpenChart"
                      :on_click_pic="onClickPic"
                      :is_h1_title="true"
                  ></tape-item>
                </td>
            </tr>
        </table>


        <div class="modal" :class="{'is-active': watchlist.is_show_watchlist_modal == 1}">
          <div class="modal-card watchlist-modal">
            <header class="modal-card-head">
              <p class="modal-card-title">Add item to watchlist</p>
              <button class="delete" aria-label="close"></button>
            </header>
            <footer class="modal-card-foot">
              <button @click="addItemToWatchlist('up')" class="button is-success">Add Up</button>
              <button @click="addItemToWatchlist('up')" class="button">Add Down</button>
              <button class="button is-right" @click="watchlist.is_show_watchlist_modal=false">Close</button>
            </footer>
          </div>
        </div>

        <screenshots-chart ref="chart"></screenshots-chart>
        <orders-panel ref="orders"></orders-panel>

       <view-pair ref="view_pair"
          :on_open_chart="onOpenChart"
          :on_click_pic="onClickPic"
        ></view-pair>

        <healt-check></healt-check>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=
    import _ from "lodash";
    import moment from "moment";


    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'
/**
@deprecated
*/

    export default {
        name: 'profile',
        components: {},
        mixins: [mixins],

        props: {
            tape: {
                type: Array,
                required: true
            },
            original: {
                type: Array,
                required: true
            },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                UPDATE_OPENED_CHARTS: 10000, // 20 sec
                ADX_SIGNALS_PING: 2000, // 10 sec
                REFRESH_TAPE_ITEMS_IMAGES: 3000, // 10 sec

                tapeObject: null,
                current_period: 15,

                is_signals_on: false,
                signals_history: [],

                beepFile: null,

                watchlist: {
                    is_show_watchlist_modal: false,
                    is_show_delete_watchlist: false,

                    item: null,
                    object: null,
                },

            }
        },
        watch: {

        },

        async mounted()
        {
            this.$root.$on('keyup_escape', this.onEscape);
            var self = this;

            this.tapeObject = this.tape;
            this.beepFile = new Audio("/sounds/beep.wav");

            this.$root.$on('keyup_arrow_right', this.onArrowRight);
            this.$root.$on('keyup_arrow_left', this.onArrowLeft);
            this.$root.$on('keyup_arrow_up', this.onArrowUp);
            this.$root.$on('keyup_arrow_down', this.onArrowDown);

            this.setupTapeItemsRefreshImages();

            //setInterval(async function() {
            //     await self.updateCharts();
            //
            // }, this.UPDATE_OPENED_CHARTS);

        },
        methods: {

            setupTapeItemsRefreshImages()
            {
                var self = this;
                setInterval(async function() {
                    _.map(self.$refs.tape_items, (tt) => {
                        tt.refreshImage();
                    });
                }, this.REFRESH_TAPE_ITEMS_IMAGES);
            },

            onArrowUp()
            {
                if (this.$refs.chart)
                {
                    var item = this.$refs.chart.getItem();
                    if (item)
                    {
                      var index = array__next_index(item.sort_index, this.original);
                      var flat_array = _.flatten(this.tapeObject);

                      var next_item = _.find(flat_array, {sort_index: index});
                      debugger;
                      if (next_item)
                      {
                          this.$refs.chart.openChart(next_item);
                      }
                    }
                }
            },

            onArrowDown()
            {
                if (this.$refs.chart)
                {
                    var item = this.$refs.chart.getItem();
                    if (item) {
                        var index = array__prev_index(item.sort_index, this.original);
                        var next_item = _.find(_.flatten(this.tapeObject), {sort_index: index});
                        debugger;
                        if (next_item) {
                            this.$refs.chart.openChart(next_item);
                        }
                    }
                }
            },

            onArrowLeft()
            {
                if (this.$refs.chart && this.$refs.chart.isVisible())
                {
                    this.$refs.chart.onArrowLeft();
                }
                else if(this.$refs.view_pair && this.$refs.view_pair.isVisible())
                {
                    var item = this.$refs.view_pair.getItem();
                    var index = array__prev_index(item.sort_index, this.original);

                    var next_item = _.find(_.flatten(this.tapeObject), {sort_index: index});
                    if (next_item)
                    {
                      this.$refs.view_pair.openPanel(next_item);
                    }
                }
            },

            onArrowRight()
            {
                if (this.$refs.chart && this.$refs.chart.isVisible())
                {
                    this.$refs.chart.onArrowRight();
                }
                else if(this.$refs.view_pair && this.$refs.view_pair.isVisible())
                {
                    var item = this.$refs.view_pair.getItem();
                    var index = array__next_index(item.sort_index, this.original);
                    var next_item = _.find(_.flatten(this.tapeObject), {sort_index: index});
                    if (next_item)
                    {
                        this.$refs.view_pair.openPanel(next_item);
                    }
                }
            },

          async onClickSignal(item) {
            var id = "pic-" + item.instrument + '-' + item.period;
            if (this.current_period !== item.period) {
              await this.onChangePeriod(item.period);
            }

            var $pic = $('#' + id);
            var p = $pic.position();
            var o = $pic.offset();

            $('html,body').animate({scrollTop: p.top}, 400);
            $('#signal-' + item.id).addClass('visited');

            $pic.addClass(item.direction ? 'buy' : 'sell');
          },


          stopAdxSignalsService() {
            if (this.adxSignalsIntervalId) {
              clearInterval(this.adxSignalsIntervalId);
            }
          },

          async setupHistorySignalsService() {
            var self = this;
            this.adxSignalsIntervalId = setInterval(async function () {
              var events = await self.runTask('get__events__history__task', {});

              if (signals.resp.res.length) {
                if (self.signals_history.length == 0) {
                  self.signals_history = signals.resp.res;
                  self.beepFile.play();
                } else {
                  if (signals.resp.res[0].id != self.signals_history[0].id) {
                    self.signals_history = signals.resp.res;
                    self.beepFile.play();
                  }
                }
              }

            }, this.ADX_SIGNALS_PING);
          },

          async onOpenChart(item) {
            var pics = this.$refs.view_pair ? this.$refs.view_pair.getPictures() : [];
            this.$refs.chart.openChart(item, pics);
          },

          showWatchlistDialog(item) {
            this.watchlist.item = item;
            this.watchlist.is_show_watchlist_modal = true;
          },

          async addItemToWatchlist(direction) {
            await this.runTask('add__to__watchlist__task', {
              instrument: this.watchlist.item.pair,
              period: this.current_period,
              direction: direction
            });

            this.watchlist.is_show_watchlist_modal = false;
          },

          async toggleOrdersPanel()
          {
              this.$refs.orders.showPanel();
          },

            async toggleSignalsNotifications()
            {
                this.is_signals_on = !this.is_signals_on;

                this.stopAdxSignalsService();
                if (this.is_signals_on) {
                    this.setupHistorySignalsService();
                }
            },

            async onOpenWatchlist()
            {
                var resWatchlist = await this.runTask('get__watchlist__items__task', {

                });

                this.current_period = null;
                this.tapeObject = null;
                this.watchlist.object = resWatchlist.resp.res;
            },

            async onChangePeriod(period)
            {
                var resPics = await this.runTask('get__tape__pairs__task', {
                  period: period
                });

                this.tapeObject = resPics.resp.res;
                this.current_period = period;
                this.watchlist.object = null;

                $('.pic-holder.sell').each(function (i, item) {
                    $(item).removeClass('sell');
                });

                $('.pic-holder.buy').each(function (i, item) {
                  $(item).removeClass('buy');
                });
            },

            onEscape()
            {
                if (this.$refs.chart.isVisible()) {
                    this.$refs.chart.remove();
                } else {
                    this.$refs.view_pair.remove();
                }
            },

          /**
           * @param item
           * @returns {Promise<void>}
           */
            async onClickPic(item)
            {
                this.$refs.view_pair.openPanel(item);
            }
        }
    }
</script>


<style lang="scss">


    text {
      fill: #000;
    }

    // canvas line color
    path.line {
      fill: none;
      stroke: #000000;
      stroke-width: 1;
    }

    .close_pointer
    {
        path.line {
          stroke: red;
          stroke-width: 2;
        }
    }


    .interaction path, .interaction circle {
      pointer-events: all;
    }

    .interaction .body {
      cursor: move;
    }

    .interaction .start, .interaction .end {
      cursor: nwse-resize;
    }

    .controls
    {
        position: fixed;
        top:0px;
        left: 40%;
        z-index: 100;
    }

    .signals
    {
        position: fixed;
        top: 85px;
        left: 0px;
        z-index: 100;

        a
        {
            font-weight: bold;

            &.visited
            {
              font-weight: normal;
            }
        }
    }

    td {
      .pic-holder
      {
        position: relative;

        .period
        {
          position: relative;
          top: 0px;
          left: 0px;
          background-color: white;
        }

        .pic
        {
          //max-width: 300px;
        }

        .drawning
        {
          position: absolute;
          top: 0;
          left: 0;
        }

        h1{
          font-weight: bold;
          font-size: 23px;
        }

        //.img-holder
        //{
        //  position: relative;
        //
        //  canvas
        //  {
        //    //border: 2px solid black;
        //    position: absolute;
        //    left: 0;
        //    top: 0;
        //    width: 100%;
        //    height: 100%;
        //  }
        //
        //  img {
        //    max-width: 100%;
        //    max-height: 770px;
        //    //height: 100%;
        //  }
        //}

        &.buy
        {
          h1{
            background-color: green;
          }
        }

        &.sell
        {
          h1{
            background-color: red;
          }
        }

      }
    }

    .screenshots-holder
    {
        &.watchlist
        {
            .pic
            {
                max-width: 303px;
            }
        }
    }



</style>

