<template>
    <div class="">

        <div v-show="viewPair === null">
            <div v-for="group in list" class="pic-holder">
                <a v-for="pair in group" href="#" @click="onClickPic(pair)" class="button">{{pair}}</a>
                <hr>
            </div>
            <hr>

            <h1>Watchlist <b>UP</b></h1>
            <div>
                <a v-for="item in watchlist_up" href="javascript:void(0)" @click="onClickWatchlistItem(item)" class="button">{{item.instrument}} {{item.period}}M</a>
            </div>
            <h1>Watchlist <b>DOWN</b></h1>
            <div>
                <a v-for="item in watchlist_down" href="javascript:void(0)" @click="onClickWatchlistItem(item)" class="button">{{item.instrument}} {{item.period}}M</a>
            </div>
        </div>

        <div v-if="viewPair" class="view-pair">
            <div class="controls">
                <a :class="{'is-primary': item.active == 1}" v-for="item in list_flat" href="#" @click="onClickPic(item.instrument)" class="button">{{item.instrument}}</a>
                <span class="current-pair">{{viewPair.name}}</span>
            </div>

            <div v-if="pics" class="pic-holder" style="margin-top: 36px">
                <div>
                    <a :class="{'is-primary': item.direction == 1, }" v-for="item in signals_history" href="#" @click="onClickSignal(item)" class="button is-small">{{item.instrument}} {{item.period}}</a>
                </div>

                <table class="pics-table">
                    <tr>
                        <td :class="{'adx-down': getLastAdxDirection(1, 0), 'adx-up': getLastAdxDirection(1, 1), 'is-selected': viewPeriod===1}">
                            <h2 v-if="this.pics[1]" class="period" :class="{'adx-down': getAdxDirection(1, 0), 'adx-up': getAdxDirection(1, 1)}">M{{this.pics[1].period}} {{this.pics[1].time}}</h2>
                            <h2 v-else class="period">M1</h2>
                            <img v-if="this.pics[1]" class="currentPicture" :src="this.pics[1].src" :alt="this.pics[1].time + ' M'+ this.pics[1].period">
                        </td>
                        <td :class="{'adx-down': getLastAdxDirection(5, 0), 'adx-up': getLastAdxDirection(5, 1), 'is-selected': viewPeriod===5}">
                            <h2 v-if="this.pics[5]" class="period" :class="{'adx-down': getAdxDirection(5, 0), 'adx-up': getAdxDirection(5, 1)}">M{{this.pics[5].period}} {{this.pics[5].time}}</h2>
                            <h2 v-else class="period">M5</h2>
                            <img v-if="this.pics[5]" class="currentPicture" :src="this.pics[5].src" :alt="this.pics[5].time + ' M'+ this.pics[5].period">
                        </td>
                        <td :class="{'adx-down': getLastAdxDirection(15, 0), 'adx-up': getLastAdxDirection(15, 1), 'is-selected': viewPeriod===15}">
                            <h2 v-if="this.pics[15]" class="period" :class="{'adx-down': getAdxDirection(15, 0), 'adx-up': getAdxDirection(15, 1)}">M{{this.pics[15].period}} {{this.pics[15].time}}</h2>
                            <h2 v-else class="period">M15</h2>
                            <img v-if="this.pics[15]" class="currentPicture" :src="this.pics[15].src" :alt="this.pics[15].time + ' M'+ this.pics[15].period">
                        </td>
                        <td :class="{'adx-down': getLastAdxDirection(60, 0), 'adx-up': getLastAdxDirection(60, 1), 'is-selected': viewPeriod===60}">
                            <h2 v-if="this.pics[60]" class="period" :class="{'adx-down': getAdxDirection(60, 0), 'adx-up': getAdxDirection(60, 1)}">M{{this.pics[60].period}} {{this.pics[60].time}}</h2>
                            <h2 v-else class="period">M60</h2>
                            <img v-if="this.pics[60]" class="currentPicture" :src="this.pics[60].src" :alt="this.pics[60].time + ' M'+ this.pics[60].period">
                        </td>
                        <td :class="{'adx-down': getLastAdxDirection(240, 0), 'adx-up': getLastAdxDirection(240, 1), 'is-selected': viewPeriod===240}">
                            <h2 v-if="this.pics[240]" class="period" :class="{'adx-down': getAdxDirection(240, 0), 'adx-up': getAdxDirection(240, 1)}">M{{this.pics[240].period}} {{this.pics[240].time}}</h2>
                            <h2 v-else class="period">M240</h2>
                            <img v-if="this.pics[240]" class="currentPicture" :src="this.pics[240].src" :alt="this.pics[240].time + ' M'+ this.pics[240].period">
                        </td>
                    </tr>
                    <tr>
                        <td :class="{'adx-down': getLastAdxDirection(1440, 0), 'adx-up': getLastAdxDirection(1440, 1), 'is-selected': viewPeriod===1440}">
                            <h2 v-if="this.pics[1440]" class="period" :class="{'adx-down': getAdxDirection(1440, 0), 'adx-up': getAdxDirection(1440, 1)}">M{{this.pics[1440].period}} {{this.pics[1440].time}}</h2>
                            <h2 v-else class="period">M1440</h2>
                            <img v-if="this.pics[1440]" class="currentPicture" :src="this.pics[1440].src" :alt="this.pics[1440].time + ' M'+ this.pics[1440].period">
                        </td>
                    </tr>
                </table>

                <div>
                    <input type="radio" value="loop" v-model="rotateModel">
                    <label>Loop rotation</label>
                    <br>
                    <input type="radio" value="adx" v-model="rotateModel">
                    <label>Ads signals</label>
                    <br>
                </div>
            </div>
        </div>

    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'
/**
@deprecated
*/
    export default {
        name: 'screenshots-overview',
        components: {},
        mixins: [mixins],
        adxLastSignal: null,

        props: {
            list: {
                required: true
            },
            list_flat: {
                type: Array,
                required: true
            },
            watchlist_up: {
                type: Array,
                required: true
            },
            watchlist_down: {
                type: Array,
                required: true
            },

            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {

                ADX_SIGNALS_PING: 2000, // 10 sec

                adxSignalsIntervalId: null,

                ROTATE_CHARTS: 10000, // 10 sec
                rotateIndex: null,
                rotateIntervalId: null,

                signals_history: [],
                rotateModel: null,

                name: 'Matt Stauffer',
                viewPair: null,
                viewPairWatchlistId: null,

                viewTag: 'MAS',
                viewPeriod: 60,
                watchlist_up_flat: [],

                watchlistItem: null,

                pics: null,
                pics2: null,

                currentList: null,

                prevViewPair: null,
                nextViewPair: null,

                prevViewPairIndex: null,
                nextViewPairIndex: null,

                beepFile: null,
            }
        },
        watch: {
            rotateModel(current, old)
            {
                if (current === 'loop') {
                    this.stopAdxSignalsService();
                    this.rotateIndex = 0;
                    this.setupRotationService();
                }

                if (current === 'adx') {
                    this.stopRotationService();
                    this.setupAdxSignalsService();
                }
            }
        },
        async mounted()
        {
            this.watchlist_up_flat = _.map();

            this.$root.$on('keyup_arrow_right', this.onArrowRight);
            this.$root.$on('keyup_arrow_left', this.onArrowLeft);
            // this.$root.$on('keyup_arrow_up', this.onArrowUp);
            // this.$root.$on('keyup_arrow_down', this.onArrowDown);

            this.showPairFirstPicture(_.head(this.list_flat), this.viewTag, null, this.list_flat);
            this.setupHistorySignalsService();



            this.beepFile = new Audio("/sounds/beep.wav");

            // this.setupRotationService(0);
            // this.setupAdxSignalsService();

        },

        methods: {

            stopAdxSignalsService()
            {
                if (this.adxSignalsIntervalId) {
                  clearInterval(this.adxSignalsIntervalId);
                }
            },

            onClickSignal(signal)
            {
                this.onClickPic(signal.instrument, parseInt(signal.period));
            },

            async setupHistorySignalsService()
            {
                var self = this;
                this.adxSignalsIntervalId = setInterval(async function () {
                    var signals = await self.runTask('get__signals__history__task', {});
                    if (self.signals_history.length == 0) {
                        self.signals_history = signals.resp.res;
                        self.beepFile.play();
                    } else {
                        if (signals.resp.res[0].id != self.signals_history[0].id) {
                            self.signals_history = signals.resp.res;
                            self.beepFile.play();
                        }
                    }
                }, this.ADX_SIGNALS_PING);
            },

            async setupAdxSignalsService()
            {
                this.stopAdxSignalsService();

                var self = this;
                this.adxSignalsIntervalId = setInterval(async function () {
                    var adxLast = await self.runTask('get__last__adx__signal__task', {});
                    var adxData = {
                        pair: adxLast.resp.pair,
                        direction: adxLast.resp.direction,
                        period: adxLast.resp.period,
                    };

                    if (!self.adxLastSignal || self.adxLastSignal.pair !== adxData.pair
                      && self.adxLastSignal.direction !== adxData.direction
                        && self.adxLastSignal.period !== adxData.period
                    ) {
                        self.adxLastSignal = adxData;
                        self.onClickPic(adxLast.resp.pair);
                    }

                }, this.ADX_SIGNALS_PING);
            },

            stopRotationService()
            {
                if (this.rotateIntervalId) {
                  clearInterval(this.rotateIntervalId);
                }
            },

            setupRotationService()
            {
                this.stopRotationService();

                var self = this;
                this.rotateIntervalId = setInterval(function () {
                    self.rotateIndex++;
                    self.showRotateIndexPairPicture();
                }, this.ROTATE_CHARTS);
            },

            setListItemActive(list, itemIndex)
            {
                var active = _.find(list, {'active': 1})
                if (active) {
                    active.active = 0;
                }

                list[itemIndex].active = 1
            },

            showRotateIndexPairPicture()
            {
                if (this.rotateIndex < 0) {
                    this.rotateIndex = this.list_flat.length - 1;
                }

                if (this.rotateIndex >= this.list_flat.length) {
                    this.rotateIndex = 0;
                }

                this.setListItemActive(this.list_flat, this.rotateIndex);
                this.showPairFirstPicture(this.list_flat[this.rotateIndex], this.viewTag, 60, this.list_flat);
            },

            onArrowRight()
            {
                if (this.rotateModel === 'loop') {
                  this.rotateIndex++;
                  this.setupRotationService();
                }

                this.showRotateIndexPairPicture();
            },

            onArrowLeft()
            {
                if (this.rotateModel === 'loop') {
                    this.rotateIndex--;
                    this.setupRotationService();
                }


                this.showRotateIndexPairPicture();
            },


            async onRemoveFromWatchlist()
            {
                var resPics = await this.runTask('remove__from__watchlist__task', {
                    id: this.watchlistItem.id
                });
            },

            onClickWatchlistItem(item)
            {
                this.currentList = item.direction == 'up'
                    ? this.watchlist_up
                    : this.watchlist_down;

                this.watchlistItem = item;

                this.showPairFirstPicture(
                    item, this.viewTag, item.period, this.currentList
                );
            },

            async onAddToWatchlist(direction)
            {
                var resPics = await this.runTask('add__to__watchlist__task', {
                    instrument: this.viewPair.name,
                    direction: direction,
                    period: this.viewPeriod
                });
            },

            async onChangeTag(tag)
            {
                this.viewTag = tag;
                this.updateCurrentPicture();
            },

            updateCurrentPicture()
            {
                var pics = this.viewPair.pics['MAS'];
                var pics2 = this.viewPair.pics['TAOTR'];

                this.pics = [];
                this.pics2 = [];

                this.pics[1] = _.find(pics, {period: 1});
                this.pics[5] = _.find(pics, {period: 5});
                this.pics[15] = _.find(pics, {period: 15});
                this.pics[60] = _.find(pics, {period: 60});
                this.pics[240] = _.find(pics, {period: 240});
                this.pics[1440] = _.find(pics, {period: 1440});

                this.pics2[1] = _.find(pics2, {period: 1});
                this.pics2[5] = _.find(pics2, {period: 5});
                this.pics2[15] = _.find(pics2, {period: 15});
                this.pics2[60] = _.find(pics2, {period: 60});
                this.pics2[240] = _.find(pics2, {period: 240});
                this.pics2[1440] = _.find(pics2, {period: 1440});

                this.adx = this.viewPair.adx.res;
            },

            getLastAdxDirection(period, val)
            {
                if (this.adxLastSignal) {
                    if (this.adxLastSignal.pair === this.viewPair.name) {
                        return this.adxLastSignal.period == period
                            && this.adxLastSignal.direction == val;
                    }
                }

                return false;
            },

            getAdxDirection(period, val)
            {
                if (this.adx[period]) {
                    return this.adx[period].direction === val;
                }

                return false;
            },

            async onClickSwitchPair()
            {

            },

            async onClickBack()
            {
                this.viewPair = null;
                this.currentList = null;

                var self = this;

                _.delay(function () {
                    $(window).scrollTop(0);
                }, 10);
            },

            async onUpdateModels()
            {

            },

            async onClickPic(pair, period)
            {
                var item = _.find(this.list_flat, {'instrument': pair});
                var itemIndex = _.findIndex(this.list_flat, {'instrument': pair});

                this.showPairFirstPicture(item, this.viewTag, period ? period : null, this.list_flat);
                this.setListItemActive(this.list_flat, itemIndex);

                if (this.rotateModel === 'loop') {
                    this.rotateIndex = itemIndex;
                    this.setupRotationService();
                }
            },

            onChangePair(index)
            {
                var list = this.currentList ? this.currentList : this.list_flat;
                var item = list[index];

                this.showPairFirstPicture(item, this.viewTag, item.period, list);
            },

            async showPairFirstPicture(pair, tag, period, navigationList)
            {
                var resPics = await this.runTask('get__overview__details__task', {
                    pair: pair.instrument
                });

                this.viewTag = tag;
                this.viewPeriod = period;

                this.viewPair = resPics.resp;
                this.updateCurrentPicture();

                $(window).scrollTop(0);
            },
        }
    }
</script>


<style scoped lang="scss">

    .watchlist-menu
    {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 100;
    }

    .controls
    {
        position: fixed;
        top: 0px;
        left: 10px;
        z-index: 100;
    }

    .current-pair
    {
        font-size: 40px;
        position: fixed;
        top: 0px;
        background-color: white;
        right: 135px;
        font-weight: bold;
    }

    .pic-holder
    {
        .period
        {
            text-align: right;
        }

        .adx-down
        {
            background-color: red;
        }
        .adx-up
        {
            background-color: green;
        }
    }

    .pics-table
    {
        td
        {
            border: 3px grey solid;
            &.adx-down
            {
                border: 8px red solid;
            }
            &.adx-up
            {
                border: 8px green solid;
            }
            &.is-selected
            {
                border: 4px black solid;
            }
            img{
                max-height: 850px;
            }
        }
    }

    .screenshots-holder
    {
        td {
            .pic-holder
            {
                position: relative;

                .period
                {
                    position: relative;
                    top: 0px;
                    left: 0px;
                    background-color: white;
                }

                .pic
                {
                    /*max-width: 300px;*/
                }
            }
        }
    }

</style>
