<template>
    <div class="">
      <div class="controls">
            <a @click="onChangeGroup('push')" :class="{'is-primary': group === 'push'}" class="button periods is-small">push <span class="tag is-success">({{counters.push}})</span></a>
            <a @click="onChangeGroup('in_work')" :class="{'is-primary': group === 'in_work'}" class="button periods is-small">in work <span class="tag is-success">({{counters.in_work}})</span></a>
            <a @click="onChangeGroup('signals')" :class="{'is-primary': group === 'signals'}" class="button periods is-small">signals <span class="tag is-success">({{counters.signals}})</span></a>
    <!--        <a @click="onOpenWatchlist()" :class="{'is-primary': watchlist.object !== null}" class="button periods is-small">w</a>-->
    <!--        <a @click="toggleSignalsNotifications()" :class="{'is-primary': is_signals_on === true}" class="button periods is-small">al</a>-->
            <a href="/forex/status" :class="{'is-primary': false}" class="button periods is-small">Status</a>
            <a @click="toggleOrdersPanel()" :class="{'is-primary': false}" class="button periods is-small">Orders</a>
            <a href="/forex/history" :class="{'is-primary': false}" class="button periods is-small">History</a>
        </div>

        <table v-if="tape_object">
          <tr v-for="item in tape_object" class="screenshots-holder">
            <td>
              <tape-item
                  ref="tape_items"
                  :item=item
                  :period=5
                  :on_open_chart="onOpenChart"
                  :on_click_pic="onClickPic"
                  :is_h1_title="true"
              ></tape-item>
            </td>
            <td>
              <tape-item
                  :period=240
                  ref="tape_items"
                  :item=item
                  :on_open_chart="onOpenChart"
                  :on_click_pic="onClickPic"
                  :is_h1_title="false"
              ></tape-item>
            </td>
          </tr>
        </table>

      <orders-panel ref="orders"></orders-panel>
      <screenshots-chart ref="chart"></screenshots-chart>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    import _ from "lodash";
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            tape: {
                type: Array,
                required: true
            },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                REFRESH_TAPE_ITEMS_IMAGES: 3000, // 10 sec,
                group: 'push',
                focused_item: null,
                tape_object: null,

                counters: {
                    push: 44,
                    in_work: 22,
                    signals: 11,
                }
            }
        },
        watch: {

        },
        async mounted()
        {
            this.tape_object = this.tape;

            this.$root.$on('keyup_enter', this.onEnter);
            this.$root.$on('keyup_space', this.onSpace);
            this.$root.$on('keyup_escape', this.onEscape);

            this.setupTapeItemsRefreshImages();
        },
        methods: {

            setupTapeItemsRefreshImages()
            {
                var self = this;
                setInterval(async function() {
                  _.map(self.$refs.tape_items, (tt) => {
                    tt.refreshImage();
                  });
                }, this.REFRESH_TAPE_ITEMS_IMAGES);
            },

            async onChangeGroup(group)
            {
                this.focused_item = null;
                this.group = group;

                _.map(this.$refs.tape_items, (item) => {
                    if (item.isDrawning())
                    {
                      item.stopEditScreenshot();
                    }
                });

                var groupResp = await this.runTask('get__tape__pairs__by__group__task', {
                    group: group
                });

                this.tape_object = groupResp.resp.tape;
                this.counters[group] = this.tape.length;
            },

            async onClickPic(item, period ,e)
            {
              this.focused_item = {
                item: item,
                period: period
              };
            },

            onEnter()
            {
                if (!this.focused_item) return;
                //=-=-=-=-=-=-=-=-=

                if (this.$refs.chart.isVisible())
                {
                    this.$refs.chart.closeChart();
                } else {
                    this.$refs.chart.openChart(this.focused_item.item, this.focused_item.period);
                }
            },

            onEscape()
            {
                if (this.$refs.chart.isVisible())
                {
                    this.$refs.chart.closeChart();
                }
            },

            onSpace()
            {
                if (!this.focused_item) return;
                //=-=-=-=-=-=-=-=-=
                var self = this;
                _.map(this.$refs.tape_items, (item) => {
                    if (item.getUniqId() === self.focused_item.item.pair + "-" + self.focused_item.period)
                    {
                      if (item.isDrawning())
                      {
                        item.stopEditScreenshot();
                      } else {
                        item.startEditScreenshot();
                      }
                    }
                });
            },

            async onOpenChart()
            {

            },

            async toggleOrdersPanel()
            {
              this.$refs.orders.showPanel();
            }
        }
    }
</script>


<style scoped lang="scss">
  .controls
  {
      position: fixed;
      top:0px;
      left: 40%;
      z-index: 10;
  }

  td {
    .pic-holder
    {
      position: relative;

      .period
      {
        position: relative;
        top: 0px;
        left: 0px;
        background-color: white;
      }

      .pic
      {
        //max-width: 300px;
      }

      .drawning
      {
        position: absolute;
        top: 0;
        left: 0;
      }

      h1{
        font-weight: bold;
        font-size: 23px;
      }

      &.buy
      {
        h1{
          background-color: green;
        }
      }

      &.sell
      {
        h1{
          background-color: red;
        }
      }

    }
  }
</style>
