<template>
    <span class="">

        <table v-if="view == 'table'">
            <tr>
                <td>
                    <span v-for="item in buy_items" class="tag is-primary is-light">
                      <span v-if="item.tline_id">#{{item.tline_id}} </span>
                      {{item.name}}
                      <span v-if="item.chart_tag == 'rsi_heiken'">&nbsp;{{item.tlb_value}}</span>
                    </span>

                    <span v-for="item in sell_items" class="tag is-danger is-light">
                      <span v-if="item.tline_id">#{{item.tline_id}} </span>
                      {{item.name}}
                      <span v-if="item.chart_tag == 'rsi_heiken'">&nbsp;{{item.tlb_value}}</span>
                    </span>
                </td>
                <td>
                    <span class="tag " :class="{'is-primary': items.delta > 0, 'is-danger': items.delta < 0}">{{items.delta}}</span>
                </td>
            </tr>
        </table>

        <span v-if="view == 'inline'">
            <span v-for="(state, pair) in symbols_">
                <span v-if="pair != symbol">{{pair}}</span>
                <span v-for="badge in state" class="tag is-light" :class="{'is-success': badge.type == 'buy', 'is-danger': badge.type == 'sell'}">
                  <span v-if="badge.tline_id">#{{badge.tline_id}}</span>
                  {{badge.name}}
                  <span v-if="badge.chart_tag == 'rsi_heiken'">&nbsp;{{badge.tlb_value}}</span>
                </span>
            </span>
        </span>
    </span>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            symbols: {
               type: Object,
               required: true
            },
            view: {
               type: String,
               required:true
            },
            symbol: {
              type: String,
              required:true
            },
            // period: {
            //     type: Number,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                buy_points: 0,
                sell_points: 0,
                delta: 0,
                symbols_: null
            }
        },
        watch: {

        },
        async mounted()
        {
            var self = this;
            this.symbols_ = {};
            _.map(this.symbols, (data, pair) => {
                self.symbols_[pair] = _.filter(data.list, {active: 1});
            });

//            this.symbols;
//
//            debugger;
//            this.buy_items = _.filter(this.items.list, {type: 'buy', active: 1});
//            this.sell_items = _.filter(this.items.list, {type: 'sell', active: 1});
        },
        methods: {
            async onUpdateModels()
            {

            },
        }
    }
</script>


<style scoped lang="scss">

    .tag
    {
        margin-right: 2px;
    }

    .tag:not(body).is-danger.is-light {
        background-color: #feecf0;
        color: #cc0f35;
    }

    .tag:not(body).is-primary.is-light {
        background-color: #ebfffc;
        color: #00947e;
    }

</style>
