<template>
    <div class="">

        <hr><hr>
        <table class="table">
          <thead>
            <tr>
                <th><abbr title="Position">Instrument</abbr></th>
                <th>Points</th>
                <th v-for="period in periods">{{period}}</th>
            </tr>
          </thead>

            <tr v-if="state" v-for="(data, pair) in state">
                <td>{{pair}}</td>
<!--                main delta-->
                <td>
                    <span class="tag is-medium" :class="{'is-primary': data.delta > 0, 'is-danger': data.delta < 0}">{{data.delta}}</span>
                </td>
                
                <td v-for="period in periods">
                    <screener-badges view="table" :items="data[period]"></screener-badges>
                    
                </td>
            </tr>
        </table>

    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
            // period: {
            //     type: Number,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                state: null,
                periods: settings.screener_periods,
            }
        },
        watch: {

        },
        async mounted()
        {


        },
        methods: {
            async updateState(update)
            {
                this.state = null;

                var self = this;
                await this.$nextTick();
                self.state = update.state;

                var stat = this.state["GBPUSD"][1];
            },
        }
    }
</script>


<style scoped lang="scss">

</style>
