<template>
    <div class="">

      <div class="controls">
        <a @click="onChangePeriod('tiny')" :class="{'is-black': current_period == 'tiny'}" class="button is-small">M15</a>&nbsp;
        <a @click="onChangePeriod('small')" :class="{'is-black': current_period == 'small'}" class="button is-small">H1</a>&nbsp;
        <a @click="onChangePeriod('big2')" :class="{'is-black': current_period == 'big2'}" class="button is-small">H4</a>&nbsp;
        <a @click="onChangePeriod('big')" :class="{'is-black': current_period == 'big'}" class="button is-small">D</a>&nbsp;

        &nbsp;
        <a @click="toggleMarketFeed()" :class="{'is-primary': current_page == 'market'}" class="button is-small">
            Market
        </a>&nbsp;
        &nbsp;&nbsp;&nbsp;

        <a @click="toggleWatchPage()" :class="{'is-primary':  current_page == 'watch'}" class="button periods is-small">Bets&nbsp;<span class="tag is-black">0</span></a>&nbsp;
        <a @click="toggleRunningPage()" :class="{'is-primary':  current_page == 'deals'}" class="button periods is-small">Running<span class="tag is-black">0</span></a>&nbsp;
        <a @click="toggleJournalPanel()" :class="{'is-primary': false}" class="button periods is-small">Journal &nbsp;<span class="tag is-black">+35%(1h)</span></a>&nbsp;

        &nbsp;&nbsp;&nbsp;
        <a href="/forex/status" target="_blank" :class="{'is-primary': false}" class="button periods is-small">Status</a>&nbsp;

        &nbsp;&nbsp;&nbsp;
        <a @click="toggleFrontendEvents()" :class="{'is-black': is_frontend_events}" class="button periods is-small">Live events</a>&nbsp;
        <a @click="toggleVoiceNotify()" :class="{'is-black': is_voice_notify}" class="button periods is-small">Voice notify</a>&nbsp;
        <a @click="toggleCourousel()" :class="{'is-black': is_courousel}" class="button periods is-small">Courousel</a>&nbsp;
        <!--<a @click="shutupVoice()" class="button periods is-black is-small">Shut up</a>&nbsp;-->

        <a v-if="!is_voice_setuped" @click="voiceStart()" class="button is-danger is-small">Voice start</a>

        <!-- symbols nav list -->
        <div v-if="market && current_page == 'market'">
            <a v-if="markup_requests && (markup_requests.count > 0)" @click="onToggleMarkupPanel()" class="button is-small is-danger">Markup&nbsp;<span class="tag is-black">{{ markup_requests.count }}</span></a>&nbsp;

            <a :ref="'nav_btn_'+pair" v-for="pair in market.instruments_all" @click="onClickPairNav(pair)" :href="'#'+pair" class="button periods is-small">
              {{pair}}
            </a>&nbsp;

        </div>
      </div>

      <div class="pics-holder">
            <span v-if="pic_names.length > 1" v-for="pic_name in pic_names">
                <a  @click="onChangePicView(pic_name)" :class="{'is-black': pic_view == pic_name}" class="button">
                    {{pic_name}}
                </a>
            </span>
      </div>

<!--         deals feed-->
      <div v-if="current_page == 'deals'">

        <orders-panel
          ref="orders2"
          view="page"
        ></orders-panel>

        <deals-feed
            ref="deals"
            :pic_view="pic_view"
            :is_perspective="false"
            :is_drawning="is_drawning"
        ></deals-feed>

      </div>

      <!--<div v-if="current_page == 'period_feed'">-->
      <!--      <period-feed ref="period_feed"></period-feed>-->
      <!--</div>-->

      <!--<div v-if="current_page == 'screener'">-->
      <!--      <screener ref="screener"></screener>-->
      <!--</div>-->

      <!--<div v-show="current_page == 'game'">-->
      <!--      <game ref="game"></game>-->
      <!--</div>-->

      <div v-if="current_page == 'watch'">
            <watch-feed
                ref="watch"
                :pic_view="pic_view"
            ></watch-feed>
      </div>

      <div v-if="current_page == 'journal'">
            <journal
                ref="journal"
            ></journal>
      </div>

<!--        periods market instrument -->
      <div v-if="current_page == 'market'">
        <hr>
        <hr>
        <table v-if="market">
          <tr v-for="pair in market.instruments_all">
            <instrument-view
                ref="instrument_view"
                view_type="elder"
                :periods="current_periods"
                :instrument="pair"
                :pic_view="pic_view"
                :trading_settings="market.trading_settings[pair]"
                :feed="market.market[pair]"
                :is_perspective="is_perspective"
            ></instrument-view>
          </tr>
        </table>
      </div>

      <orders-panel
        ref="orders"
        view="window"
        ></orders-panel>

      <markup-panel :indicator_name="settings_indicator.tag" ref="markup_panel"></markup-panel>

      <signals-tape
      ref="signals_tape"
      ></signals-tape>

    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    import live_events from '../panel_live_events.js'
    import moment from "moment";
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins, live_events],

        props: {
            pairs: {
                type: Array,
                required: true
            },
        },

        computed: {
            current_periods()
            {
                // if(this.current_period == 'tiny') return settings.charts.tiny_periods;
                // if(this.current_period == 'small') return settings.charts.small_periods;
                // if(this.current_period == 'big2') return settings.charts.big_periods2;
                ///if(this.current_period == 'big')
                  return settings.charts.big_periods;
            }
        },

        data() {
            return {

                PICS_TIMESTAMP_UPDATE: 30 * 1, // 0.5 min
                market: null,
                current_feed_period: null,
                no_data_ohlc: [],
                current_period: 'big',
                current_signals_array: [],
                is_perspective: false,
                is_drawning: true,
                is_show_small_timeframes: true,
                is_show_screenshots: 1,
                pic_names: settings.pic_names,
                pic_view: "pic1",
                current_page: "charts2",
                current_charts_period: 240,
                pair_overview: {},
                is_frontend_events: false, // would be on mount
                last_pic_timestamps: null,
                is_req_load_pics_sent: false,
                nav_pair: null,
                instruments: null,
                market_periods: null,
                markup_requests: null,
                settings_indicator: settings.indicator,
                periods: ['tiny', 'small', 'big2', 'big']
//                periods: ['big2']
            }
        },
        watch: {

        },

        async mounted()
        {
            var self = this;
            this.$root.$on('keyup', this.onKeyUp);
            this.pairs_object = this.pairs;
            this.now_timestamp = Date.now();

            if(!settings.app_debug_data)
            {
                this.beep_every_hour();
                this.beep_every_15_min();
            }


            debugger;
//            this.current_page = 'deals';
            await this.toggleMarketFeed();
            this.toggleFrontendEvents();

        },

        methods: {

            onToggleMarkupPanel()
            {
                this.$refs.markup_panel.togglePanel(this.markup_requests.list);
            },

            shutupVoice()
            {
                h.speech.cancel();
            },

            onArrowRight()
            {
                var self = this;
                var index = _.findIndex(this.periods, (e) => {
                    return self.current_period == e;
                });
                var next_index = array__next_index(index, this.periods);

                this.onChangePeriod(this.periods[next_index]);
            },
            onArrowLeft()
            {
                var self = this;
                var index = _.findIndex(this.periods, (e) => {
                    return self.current_period == e;
                });
                var next_index = array__prev_index(index, this.periods);
                this.onChangePeriod(this.periods[next_index]);
            },

            get_next_period(shift)
            {
                var ret;
                if (shift == 'left')
                {
                    if (this.current_period == 'big') {
                        ret = 'small';
                    } else if(this.current_period == 'small') {
                        ret = 'tiny';
                    } else {
                        ret = 'tiny';
                    }
                } else {
                    if (this.current_period == 'tiny') {
                        ret = 'small';
                    } else if(this.current_period == 'small') {
                        ret = 'big';
                    } else {
                        ret = 'big';
                    }
                }
                return ret;
            },

            onClickPairNav(pair)
            {
                this.nav_pair = pair;
                this.open_symbol_mt4(pair, 0);
                this.$refs.instrument_view.map( (view) => {
                    if (view._props.instrument === pair) {
                        view.ReloadSeries();
                    }
                });

              // view.UpdateOhlcSeria(
              //     last.candels[view._props.instrument],
              //     last.values[view._props.instrument],
              //     empty_bars.ohlc[view._props.instrument]
              // );



                // this.runTask('put__command__to__the__sheet__task', {
                //     name: "OPEN_SYMBOL",
                //     params: {
                //       symbol: pair,
                //     }
                // });
            },

            onKeyUp(e)
            {
                if(e.key == 'a') {
                    this.onArrowLeft();
                } else if(e.key == 'f') {
                    this.onArrowRight();
                }
            },

            onToggleDrawning()
            {
                this.is_drawning = !this.is_drawning;
                this.toggle_components_drawning(this.is_drawning);
            },

            toggle_components_drawning(is_drawning)
            {
                if (this.$refs.instrument_view) {
                    this.$refs.instrument_view.map( (view) => {
                        view.toggleDrawning(is_drawning);
                    });
                }

                if (this.$refs.deals) {
                    this.$refs.deals.toggleDrawning(is_drawning);
                }
            },

            onChangePicView(pic_view)
            {
                this.pic_view = pic_view;

                if (this.$refs.instrument_view) {
                    this.$refs.instrument_view.map( (view) => {
                        view.onChangePicView(pic_view);
                    });
                }

                if (this.$refs.signal_item) {
                    this.$refs.signal_item.map( (view) => {
                        view.onChangePicView(pic_view);
                    });
                }

                if (this.$refs.deals) {
                    this.$refs.deals.onChangePicView(pic_view);
                }
            },

            async onChangePeriod(new_period)
            {
                this.current_period = new_period;
                this.market = null;
                var self = this;

                await self.toggleMarketFeed();

                fork(() => {
                    if (self.nav_pair)
                    {
                        window.location.replace(window.location.href);
                    }
                }, 500);
            },

            async toggleSignalsFeed() {
                $(window).scrollTop(0);
                this.current_page = 'signals';
                this.signals_counter = 0;
            },

            async togglePeriodFeed(period)
            {
                var self = this;
                this.current_page = 'period_feed';
                this.current_feed_period = period;
                $(window).scrollTop(0);

                await this.$nextTick();
                this.$refs.period_feed.showPeriod(period);
            },

            async toggleMarketFeed()
            {
                var self = this;

                var rMarket = await this.runTask('get__market__pairs__task', {
                    periods: this.current_periods
                });

                this.current_page = 'market';
                $(window).scrollTop(0);

              //if (!rMarket.resp.res.length) return;
                //===============================

                this.market = rMarket.resp;
            },

            toggleJournalPanel()
            {
                this.current_page = 'journal';
                $(window).scrollTop(0);
            },

            toggleRunningPage()
            {
                var self = this;
                this.current_page = 'deals';
                $(window).scrollTop(0);
            },

            toggleWatchPage()
            {
                var self = this;
                this.current_page = 'watch';
                $(window).scrollTop(0);
            }

        }
    }
</script>


<style scoped lang="scss">
  .controls
  {
    position: fixed;
    top: 7px;
    left: 20px;
    z-index: 200;
  }

  .alert-pic
  {
    max-height: 600px;
  }
  .pics-holder
    {
        position: fixed;
        top: 300px;
        right: 40px;
        z-index: 200;
        width: 32px;
    }
//
//  .perspective-btn
//  {
//        position: fixed;
//        top: 350px;
//        : 30px;
//        z-index: 40;
//  }

  .signal
  {

    &.is_new
    {
        header
        {
            border: 4px solid black;
        }
    }

    .sell-signal
    {
        background-color: red;
        color: black;
    }

    .buy-signal
    {
        background-color: darkgreen;
        color: white;
    }
  }

</style>
