<template>
  <div v-if="viewPair" class="view-pic">
    <h1>
      #{{this.item.sort_index}} {{viewPair.name}}

      <span class="icon" @click="onToggleFav(item)" >
        <i :class="{'has-text-danger': true}" class="fas fa-star"></i>
      </span>

    </h1>
    <table>
      <tr>
        <td>
          <tape-item
              ref="left_item"
              :item=viewPair.left_pics[viewPair.left_index]
              :on_open_chart="on_open_chart"
              :on_click_pic="onClickPic"
              :is_h1_title="false"
          ></tape-item>
        </td>
      </tr>
    </table>
  </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    import _ from "lodash";
    //-=-=-=-=-=-=-=-=-=-=-=-=

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            on_open_chart: {
                type: Function,
            },
            on_click_pic: {
                type: Function,
            },
        },

        computed: {

        },

        data() {
            return {
                REFRESH_TAPE_ITEMS_IMAGES: 3000, // 10 sec
                viewPair: null,
            }
        },
        watch: {

        },
        async mounted()
        {
            this.$root.$on('keyup', this.onKey);
            this.$root.$on('keyup_space', this.onKeyupSpace);
            this.$root.$on('keyup_enter', this.onKeyupEnter);

            this.$root.$on('pair__selected', this.onPairSelected);

            this.setupTapeItemsRefreshImages();

        },
        methods: {

            onPairSelected(e)
            {
                e.pair
            },

          //   setupTapeItemsRefreshImages() {
          //   var self = this;
          //   setInterval(async function () {
          //     if (self.isVisible()) {
          //       self.$refs.right_item.refreshImage();
          //       self.$refs.left_item.refreshImage();
          //     }
          //   }, this.REFRESH_TAPE_ITEMS_IMAGES);
          // },

          onClickPic()
          {},

          onToggleFav(item)
          {
            // var status = await this.runTask('toggle_pair_to_fav', {
            //
            // });

              this.toastOk('Added to fav');
          },

          getItem()
          {
              return this.item;
          },

          async openPanel(item)
          {
            if (this.$refs.right_item)
            {
              this.$refs.right_item.stopEditScreenshot();
              this.$refs.left_item.stopEditScreenshot();
            }

            this.item = item;

            var pair = item.pair, period = item.pic.period;
            var resPics = await this.runTask('get__overview__details__task', {
              pair: pair
            });

            var right_pics = [];
            var left_pics = [];

            this.item.sort_index = resPics.resp.sort_index;

            var pic = resPics.resp.pics.MAS[0];
            pic._id = 'view__' + pair + '-1';
            left_pics.push({
              _id: pic._id,
              pic: pic,
              drawning: pic.drawning,
              pair: pair,
              period: 1,
              sort_index: this.item.sort_index
            });

            var pic = resPics.resp.pics.MAS[1];
            pic._id = 'view__' + pair + '-5';
            left_pics.push({
              _id: pic._id,
              pic: pic,
              drawning: pic.drawning,
              pair: pair,
              period: 5,
              sort_index: this.item.sort_index,
            });

            var pic = resPics.resp.pics.MAS[2];
            pic._id = 'view__' + pair+'-15';
            left_pics.push({
              _id: pic._id,
              pic:pic,
              drawning: pic.drawning,
              pair: pair,
              period: 15,
              sort_index: this.item.sort_index,
            });

            var pic = resPics.resp.pics.MAS[4];
            pic._id = 'view__' + pair+'-60';
            left_pics.push({
              _id: pic._id,
              pic:pic,
              drawning: pic.drawning,
              pair: pair,
              period: 60,
              sort_index: this.item.sort_index,
            });

            var pic = resPics.resp.pics.MAS[5];
            pic._id = 'view__' + pair + '-240';
            left_pics.push({
              _id: pic._id,
              pic: pic,
              pair: pair,
              drawning: pic.drawning,
              period: 240,
              sort_index: this.item.sort_index,
            });

            var pic = resPics.resp.pics.MAS[6];
            pic._id = 'view__' + pair + '-1440';
            left_pics.push({
              _id: pic._id,
              pic: pic,
              pair: pair,
              drawning: pic.drawning,
              period: 1440,
              sort_index: this.item.sort_index,
            });

            this.viewPair = {
              name: pair,
              left_pics: left_pics,
              right_pics: [],

              all_pics: left_pics.concat(right_pics),
              left_index: 1,
              right_index: 1,
            };

            var self = this;
            fork(function () {
              $('body').focus();
            }, 50);
          },

          isVisible()
          {
            return this.viewPair !== null;
          },

            remove()
            {
                this.viewPair = null;
                if (this.$refs.right_item)
                {
                  this.$refs.right_item.stopEditScreenshot();
                  this.$refs.left_item.stopEditScreenshot();
                }
            },

            getPictures()
            {
                return sp(this.viewPair, 'all_pics', []);
            },

            async onEnter()
            {

            },

            async onKeyupEnter(e)
            {
                if (!this.isVisible()) return;
                //=-=-=-=-=-=-=-=-=

                this.on_open_chart(this.viewPair.left_pics[1]);
            },

            async onKeyupSpace(e)
            {
                if (this.isVisible())
                {
                  this.$refs.right_item.startEditScreenshot();
                  this.$refs.left_item.startEditScreenshot();
                }
            },

            async onKey(e)
            {
                switch (e.key)
                {
                    case "1":
                        if (this.isVisible())
                        {
                            this.$refs.left_item.stopEditScreenshot();
                            var i = array__next_index(this.viewPair.left_index, this.viewPair.left_pics);
                            this.viewPair.left_index = i;
                        }
                    break;

                    case "2":
                        if (this.isVisible())
                        {
                            this.$refs.right_item.stopEditScreenshot();
                            var i = array__next_index(this.viewPair.right_index, this.viewPair.right_pics);
                            this.viewPair.right_index = i;
                        }
                    break;
                }
            }
        }
    }
</script>


<style lang="scss">

.view-pic
{
  z-index: 101;
  border: 3px blue solid;
  position: fixed;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #8F99A3;

  .pic-holder
  {
    position: relative;

    .img-holder
    {
      img {
        //max-width: 100%;
        height: 702px;
      }
    }

  }

  .period
  {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
  }



  h1 {
    font-weight: bold;
    font-size: 23px;
    background-color: white;
  }

}
</style>
