<template>
    <div class="">
        <div v-if="view === 'grouped'">
            <span v-if="item.tag === 'ohlc_nh'">
                &nbsp;&nbsp;&nbsp; <b>{{item.period}}</b> {{item.created_at.split(" ")[1]}}
                <a @click="onClickSignal(item)" :href="'#'+item.instrument"   class="button is-success is-small">rsi nh</a>
                <a @click="onDeleteSignal(item)" href="javascript:void(0)" class="button is-success is-small">*</a>
            </span>

            <span v-if="item.tag === 'rsi_nl'">
                &nbsp;&nbsp;&nbsp; <b>{{item.period}}</b> {{item.created_at.split(" ")[1]}}
                <a @click="onClickSignal(item)" :href="'#'+item.instrument" class="button is-small is-danger">rsi nl</a>
                <a @click="onDeleteSignal(item)" href="javascript:void(0)" class="button is-success is-small">*</a>
            </span>

            <span v-if="item.tag === 'ohlc_tlb'">
                &nbsp;&nbsp;&nbsp; <b>{{item.period}}</b> {{item.created_at.split(" ")[1]}}
                <a @click="onClickSignal(item)" :href="'#'+item.instrument" :class="{'is-danger': item.direction == 0, 'is-success': item.direction == 1, 'name': item.name}" class="button is-small">ohlc tlb</a>
                <a @click="onDeleteSignal(item)" href="javascript:void(0)" class="button is-success is-small">*</a>
            </span>
        </div>
        <div v-if="view === 'list'">
            <span v-if="item.tag === 'indicator_renko'">
                {{item.instrument}} <b>{{item.period}}</b> {{item.created_at.split(" ")[1]}}
                <a @click="onClickSignal(item)" :href="'#'+item.instrument"   class="button is-small" :class="{'is-danger': item.direction == 0, 'is-success': item.direction == 1}">renko</a>
                <a @click="onDeleteSignal(item)" href="javascript:void(0)" class="button is-success is-small">*</a>
            </span>

            <span v-if="item.tag === 'rsi_nl'">
                {{item.instrument}} <b>{{item.period}}</b> {{item.created_at.split(" ")[1]}}
                <a @click="onClickSignal(item)" :href="'#'+item.instrument" class="button is-small is-danger">rsi nl</a>
                <a @click="onDeleteSignal(item)" href="javascript:void(0)" class="button is-success is-small">*</a>
            </span>

            <span v-if="item.tag === 'ohlc_tlb'">
                {{item.instrument}} <b>{{item.period}}</b> {{item.created_at.split(" ")[1]}}
                <a @click="onClickSignal(item)" :href="'#'+item.instrument" :class="{'is-danger': item.direction == 0, 'is-success': item.direction == 1, 'name': item.name}" class="button is-small">ohlc tlb</a>
                <a @click="onDeleteSignal(item)" href="javascript:void(0)" class="button is-success is-small">*</a>
            </span>
        </div>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            item: {
                type: Object,
                required: true
            },
            view: {
                type: String,
                required:true
            },
            // period: {
            //     type: Number,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                name: '',
            }
        },
        watch: {

        },
        beforeDestroy()
        {

        },
        async mounted()
        {


        },
        methods: {
            onClickSignal(signal)
            {
              // signal.period
              //[1440,240,60,15,5].indexOf(period)

              this.open_symbol_mt4(signal.instrument, signal.period);

              // var center_index = this.period__chart_index(signal.period);
              // var left_index = center_index - 1;
              // var right_index = center_index + 1;
              //
              // this.runTask('put__command__to__the__sheet__task', {
              //     name: "OPEN_SYMBOL",
              //     params: {
              //         symbol: signal.instrument,
              //         left: settings.charts.big_periods[left_index] !== undefined ? settings.charts.big_periods[left_index] : settings.charts.big_periods[center_index],
              //         center: settings.charts.big_periods[center_index],
              //         right: settings.charts.big_periods[right_index] !== undefined ? settings.charts.big_periods[right_index] : settings.charts.big_periods[center_index],
              //     }
              // });

              this.$root.$emit('signal__selected', signal);
            },

            onDeleteSignal(e)
            {
                this.runTask('delete__event__task', {
                  id: e.id
                });
                // this.signals = _.filter(this.signals, (i) => {return i.id != e.id});
            }
        }
    }
</script>


<style scoped lang="scss">

</style>
