<template>
    <div class="signals-tape" v-if="signals && is_shown">
        <a href="javascript:void(0)" class="button is-small" :class="{'is-black': is_grouped_view}" @click="is_grouped_view=!is_grouped_view">grouped</a>

        <div v-if="is_grouped_view" v-for="(signals2, pair) in signals.grouped">
            <h1><b>{{pair}}</b></h1>
            <div v-for="i in signals2">
                <signal-item view="grouped" :item="i"></signal-item>
            </div>
        </div>

        <div v-if="!is_grouped_view">
            <div v-for="signal in signals.list">
                <signal-item view="list" :item="signal"></signal-item>
            </div>
        </div>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
            // period: {
            //     type: Number,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                signals: [],
                filter: null,
                is_shown: false,

                is_grouped_view: false
            }
        },
        watch: {

        },
        beforeDestroy()
        {

        },
        async mounted()
        {
            this.$root.$on('keydown_tab', this.onKeyDownTab);
        },
        methods: {
            filtered_signals(pair)
            {
                var tt = this.signals.grouped;
                debugger
                return this.signals.grouped[pair];
            },

            async onKeyDownTab()
            {
                this.is_shown = !this.is_shown;
            },

            onChangeFilter(filter)
            {
                this.filter = filter;
            },

            async updateSignals(signals)
            {
                this.signals = signals;
            },

            // period__chart_index(period)
            // {
            //
            //   return settings.charts.big_periods.indexOf(period);
            // },




        }
    }
</script>


<style scoped lang="scss">

    .signals-tape
    {
        position: fixed;
        top: 0;
        right: 0;
        width: 255px;
        height: 100%;
        //height: 100%;
        background-color: white;
        border: 1px solid grey;
        z-index: 200;
    }
</style>
