<template>
    <div class="signal-attack-panel" :id="uniq_id" v-if="signal && is_show">

        <header class="card-header">
            <p>
                #{{signal.id}} {{signal.name}} {{signal.direction}}
                <a @click="hidePanel" class="button is-small">x</a>
            </p>
        </header>

        <div class="content">
            <div>
                <div>
                    <div id="sl-slider">
                        <div id="sl-handle" class="ui-slider-handle"></div>
                    </div>
                </div>

                <table style="width: 100%; margin-top: 16px;">
                    <tr>
                        <td style="padding: 1px;margin-top: 10px;">
                            <DIV v-if="signal.direction == 1">
                                <a @click="open_trade('buy', 1)" :class="{'is-small': !risk_equal(1), 'is-big': risk_equal(1)}" class="button is-primary">BUY1</a>
                                <a @click="open_trade('buy', 5)" :class="{'is-small': !risk_equal(5), 'is-big': risk_equal(5)}" class="button is-primary">BUY5</a>
                                <a @click="open_trade('buy', 10)" :class="{'is-small': !risk_equal(10), 'is-big': risk_equal(10)}" class="button is-primary">BUY10</a>
                                <a @click="open_trade('buy', 20)" :class="{'is-small': !risk_equal(20), 'is-big': risk_equal(20)}" class="button is-primary">BUY20</a>
                                <a @click="open_trade('buy', 30)" :class="{'is-small': !risk_equal(30), 'is-big': risk_equal(30)}" class="button is-primary">BUY30</a>
                            </DIV>
                            <DIV v-else>
                                <a @click="open_trade('sell', 1)" :class="{'is-small': !risk_equal(1), 'is-big': risk_equal(1)}" class="button is-danger">SELL1</a>
                                <a @click="open_trade('sell', 5)" :class="{'is-small': !risk_equal(5), 'is-big': risk_equal(5)}" class="button is-danger">SELL5</a>
                                <a @click="open_trade('sell', 10)" :class="{'is-small': !risk_equal(10), 'is-big': risk_equal(10)}" class="button is-danger">SELL10</a>
                                <a @click="open_trade('sell', 20)" :class="{'is-small': !risk_equal(20), 'is-big': risk_equal(20)}" class="button is-danger">SELL20</a>
                                <a @click="open_trade('sell', 30)" :class="{'is-small': !risk_equal(30), 'is-big': risk_equal(30)}" class="button is-danger">SELL30</a>
                            </DIV>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
             // pair: {
             //     type: String,
             //     required: true
             // },
//             is_trainer_tline: {
//                 type: Boolean,
//                 required:true
//             },
        },

        computed: {

        },

        data() {
            return {
                uniq_id: "signal-attack-panel-" + h.get_uniq_id(),
                sl_val:  settings.attack_panel.sl.val,
                type: null,
                selected_risk: 0,
                trading_type: null,

                is_show: false,
                signal: null
            }
        },
        watch: {

        },
        async mounted()
        {


        },
        methods: {

            setSignal(signal)
            {
                this.signal = signal;

                this.is_show = true;
                var self = this;

                fork(() => {
                    self.setupSliders();
                }, 200);
            },

            hidePanel()
            {
                this.is_show = false;
            },

            calcXauLots(risk, sl)
            {
                return 0.01 * risk / (sl/10);
            },

            risk_equal(risk)
            {
                return this.selected_risk == risk;
            },

//             async setTline(uniq_id, pair, period)
//             {
//                 var rTline = await this.runTask('get__trendline__task', {
//                     uniq_id: uniq_id,
//                     pair: pair,
//                     period: period,
//                 });
//
//                 if (rTline.resp.res) {
//                     this.percents = 0;
//                     this.tline = rTline.resp.res;
//                     this.trading_type = this.tline.trading_type;
//                     this.is_show = true;
// //                    this.mockup = mockup;
// //                    this.points = points;
//                     var self = this;
//                     fork(() => {
//                         self.setupSliders();
//                     }, 200);
//                 }
//             },

            async open_trade(type, percents) {
                let risk = settings.attack_panel.force_risk ? settings.attack_panel.force_risk : percents;

                if (this.signal.pair == "XAUUSD")
                {
                    risk /= 100;
                    percents

                    this.runTask('put__command__to__the__sheet__task', {
                      name: "OPEN_MARKET_ORDER",
                      params: {
                        type: type,
                        sl: this.sl_val,
                        tp_coef: 1,
                        risk: risk,
                        lots: 0,
                        risk_type:  "direct_lot_size",
                        pair: this.signal.pair,
                        uniq_id: this.signal.id,
                        is_skip_be: 0,
                      }
                    });

                } else {
                    this.runTask('put__command__to__the__sheet__task', {
                      name: "OPEN_MARKET_ORDER",
                      params: {
                        type: type,
                        sl: this.sl_val,
                        tp_coef: 1,
                        risk: risk,
                        risk_type:  "depo_percents",
                        pair: this.signal.pair,
                        uniq_id: this.signal.id,
                        is_skip_be: 0,
                      }
                    });
                }



                this.hidePanel();
            },

            setupSliders()
            {
                var self = this;
                var handle = $( "#"+ this.uniq_id + " #sl-handle" );
                if (this.tline)
                {
                    var sl_val = this.tline.params.sl  ? this.tline.params.sl : settings.attack_panel.sl.val;
                } else {
                    var sl_val = settings.attack_panel.sl.val;
                }

                handle.text(sl_val);

                $("#"+ this.uniq_id + " #sl-slider" ).slider({
                    min: settings.attack_panel.sl.min,
                    max: settings.attack_panel.sl.max,
                    value: sl_val,
                    create: function() {
                        handle.text( $( this ).slider( "value" ) );
                    },
                    slide: function( event, ui ) {
                        handle.text( ui.value );
                        self.sl_val = ui.value;
                    }
                });
            }


        }
    }
</script>


<style lang="scss">
   #custom-handle {
      width: 3em;
      height: 1.6em;
      top: 50%;
      margin-top: -.8em;
      text-align: center;
      line-height: 1.6em;
   }

   .signal-attack-panel
   {
      position: relative;
      height: 100%;
      background-color: snow;
      border: 1px solid;
      z-index: 200;
   }
</style>
