<template>
    <div class="" id="signals-feed">
        <div v-if="is_shown" v-for="signal in feed">
            <signals-feed-item :signal="signal" :id="signal.event.id"></signals-feed-item>
        </div>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
            // period: {
            //     type: Number,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                setuped: false,
                feed: [],
                PING_TIME: 2000,
                is_shown: false
            }
        },
        watch: {

        },
        beforeDestroy()
        {

        },
        async mounted()
        {
            await this.setup_signals_feed();

            var self = this;

            setInterval(async () => {

              var lastSignal = _.first(self.feed);
              var params = {
                  last_signal_id: lastSignal.event.id
              };

              //
            //   var winTop = $(window).scrollTop();
            //
            //   // var winTop = $(document).scrollTop();
            //   console.log('win top', winTop)
            //
            //   var ids = self.feed.map((i) => {
            //
            //       var $signal = $('#signal-' + i.event.id);
            //       var off = $signal.offset();
            //
            //       console.log('#', i.event.id, i.event.instrument, i.event.period, (winTop > off.top) ? 'hidden' : 'shown');
            //
            //       return i.event.id;
            //
            //   });
            //   //
            //   //
            //   // debugger;
                var rFeed = await this.runTask('get__signals__feed__task', {
                  mode: 'update',
                  params: params
                });

                if (rFeed.resp.feed.length)
                {
                    self.is_shown = false;
                    rFeed.resp.feed.map((i) => {

                        if (parseInt(i.event.period) === 15)
                        {
                            if(parseInt(i.event.direction))
                            {
                                beep_signal('new/percussion-hit-dough.wav', 10);
                            }
                            else
                            {
                                beep_signal('new/percussion-hit-conflict.wav', 5);
                            }
                        }
                        else
                        {
                            beep_signal('beep3.wav', parseInt(i.pivot.pivot));
                        }

                        self.feed.unshift(i);
                    });

                    await self.$nextTick();
                    self.is_shown = true;
                }

            }, this.PING_TIME);

        },
        methods: {
            async setup_signals_feed()
            {
                var rFeed = await this.runTask('get__signals__feed__task', {
                  "mode" : 'setup'
                });

                //

                this.feed = rFeed.resp.feed;
                this.is_shown = true;
            }
        }
    }
</script>


<style scoped lang="scss">

</style>
