<template>
    <div class="signal-feed-item" :id="'signal-' + signal.event.id">
        <table>
            <tr>
                <td>
                    <div class="delta-wrapper">
                        <span class="symbol">#{{signal.event.id}} {{signal.event.instrument}}{{parseInt(signal.event.period)}}</span>
                        <span class="delta" :class="{'buy': signal.pivot.direction == 1, 'sell': signal.pivot.direction == 0}">{{signal.pivot.delta}}(+1)</span>
                        <span class="pivot-point">PIV:{{parseInt(signal.pivot.pivot)}}</span>
                    </div>

                    <small-ohlc-chart
                        ref="indicator"
                        :period="parseInt(signal.event.period)"
                        chart_type="liner"
                        :chart_tag="settings_indicator.tag"
                        place="third"
                        :trading_settings="{}"
                        :pair="signal.event.instrument"
                        :seria="signal.ohlc.rsx.series[signal.event.instrument]"
                        attack_panel_cls="right-corner"
                        :empty_bars="signal.ohlc.rsx.empty_bars[signal.event.instrument]"
                        :tlines_="signal.ohlc.tlines['rsx']"
                        :screener="null"
                        :params="chart_params"></small-ohlc-chart>
                  </td>
                <td>
                    <div class="delta-wrapper">
                        <span class="symbol">{{signal.event.instrument}}{{parseInt(signal.event.period)}}</span>
                        <span class="delta" :class="{'buy': signal.pivot.direction == 1, 'sell': signal.pivot.direction == 0}">{{signal.pivot.delta}}(+1)</span>
                        <span class="pivot-point">PIV:{{parseInt(signal.pivot.pivot)}}</span>
                    </div>
                    <small-ohlc-chart
                        ref="chart1"
                        :period="parseInt(signal.event.period)"
                        chart_type="ohlc"
                        chart_tag="ohlc"
                        place="first"
                        :trading_settings="{}"
                        :pair="signal.event.instrument"
                        :seria="signal.ohlc.seria"
                        :empty_bars="signal.ohlc.empty_bars"
                        :tlines_="signal.ohlc.tlines.ohlc"
                        :params="chart_ohlc_render_params('first')"></small-ohlc-chart>
                </td>
                <td>
                    <div class="delta-wrapper">
                        <span class="symbol">{{signal.event.instrument}}{{parseInt(signal.event.period)}}</span>
                        <span class="delta" :class="{'buy': signal.pivot.direction == 1, 'sell': signal.pivot.direction == 0}">{{signal.pivot.delta}}(+1)</span>
                        <span class="pivot-point">PIV:{{parseInt(signal.pivot.pivot)}}</span>
                    </div>
                    <small-ohlc-chart
                        ref="chart1"
                        :period="parseInt(signal.minor_period)"
                        chart_type="ohlc"
                        chart_tag="ohlc"
                        place="second"
                        :trading_settings="{}"
                        :pair="signal.event.instrument"
                        :seria="signal.minor_ohlc.ohlc.seria"
                        :empty_bars="signal.minor_ohlc.ohlc.empty_bars"
                        :tlines_="signal.minor_ohlc.ohlc.tlines.ohlc"
                        :params="chart_ohlc_render_params('second')"></small-ohlc-chart>
                </td>
            </tr>
        </table>

    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            signal: {
                type: Object,
                required: true
            },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
            id: {
                type: Number,
                required:true
            },
        },

        computed: {

        },

        data() {
            return {
                name: '',
                chart_params: {
                  'classes': {'buy': 'buy', 'sell': 'sell'},
                  'sizes': {'width': window.innerWidth-10, 'height': window.innerHeight-30}
                },
                settings_indicator: settings.indicator,
            }
        },
        watch: {

        },
        beforeDestroy()
        {

        },
        async mounted()
        {

          var tt = this.signal;
          //debugger

          tt.ohlc
            // empty_bars
            // rsx
            // seria
            // tlines
          tt.minor_ohlc

          // debugger;

        },
        methods: {
            async onUpdateModels()
            {

            },
          chart_ohlc_render_params(place)
          {
            var h1 = window.innerHeight-30;
            var w = window.innerWidth-10;
            var ret = {};

            if(place == 'first')
            {
              ret = {
                'classes': {'buy': 'buy', 'sell': 'sell'},
                'sizes': {'width': w, 'height': h1}
              };
            }

            if(place == 'second')
            {
              ret = {
                'classes': {'buy': 'buy', 'sell': 'sell'},
                'sizes': {'width': w, 'height': h1}
              };
            }

            if(place == 'third')
            {
              ret = {
                'classes': {'buy': 'buy', 'sell': 'sell'},
                'sizes': {'width': w, 'height': h1}
              };
            }

            if(place == 'fourth')
            {
              ret = {
                'classes': {'buy': 'buy', 'sell': 'sell'},
                'sizes': {'width': w, 'height': h1}
              };
            }

            if(place == 'fifth')
            {
              ret = {
                'classes': {'buy': 'buy', 'sell': 'sell'},
                'sizes': {'width': w, 'height': h1}
              };
            }

            return ret;
          },
        }
    }
</script>


<style scoped lang="scss">

.delta-wrapper
{
    //margin-top: 35px;

    .symbol
    {
        font-size: 20px;
    }

    .delta
    {
        &.buy
        {
            background-color: green
        }
        &.sell
        {
            background-color: red;
        }

        color: white;
        font-size: 20px;
    }

    .pivot-point
    {
      font-size: 18px;
    }
}


</style>
