 <template>
    <div class="small-chart card ohlc-chart" :id="chartId"
        style="position: relative; margin-bottom: 4px;" >

        <div class="controls">
<!--            <a @click="toggleTrainer" class="button trainer-btn is-small is-danger">T</a>-->
            <a v-if="period === 5" @click="toggleParentsMarkupPanel" class="button trainer-btn is-small">P</a>
<!--            <a @click="setupPivotPoint" :class="{'is-black': this.is_setup_pivot_point}" class="button trainer-btn is-small">PP</a>-->
            <a @click="toggleMarkupPanel" class="button trainer-btn is-small">M</a>
            <a @click="onMakeZone('nh')" class="button make-zone-btn is-small">NH</a>
            <a @click="onMakeZone('nl')" class="button make-zone-btn is-small">NL</a>
            <a @click="onRemTlines" class="button rem-tlines-btn is-small">rem</a>


<!--            <span>Risk:</span>-->
<!--            <a @click="onChangeDefaultRisk(1)" class="button make-zone-btn is-small" :class="{'is-black': default_risk === 1}">1%</a>-->
<!--            <a @click="onChangeDefaultRisk(3)" class="button make-zone-btn is-small" :class="{'is-black': default_risk === 3}">3%</a>-->
<!--            <a @click="onChangeDefaultRisk(5)" class="button make-zone-btn is-small" :class="{'is-black': default_risk === 5}">5%</a>-->
<!--            <span>SL:</span>-->
<!--            <a @click="onChangeDefaultSl(10)" class="button make-zone-btn is-small" :class="{'is-black': default_sl === 10}">10</a>-->
<!--            <a @click="onChangeDefaultSl(15)" class="button make-zone-btn is-small" :class="{'is-black': default_sl === 15}">15</a>-->
<!--            <a @click="onChangeDefaultSl(20)" class="button make-zone-btn is-small" :class="{'is-black': default_sl === 20}">20</a>-->
<!--            <span> BE:</span>-->
<!--            <a @click="onChangeDefaultBe(5)" class="button make-zone-btn is-small" :class="{'is-black': default_be === 5}">5</a>-->
<!--            <a @click="onChangeDefaultBe(7)" class="button make-zone-btn is-small" :class="{'is-black': default_be === 7}">7</a>-->
<!--            <a @click="onChangeDefaultBe(10)" class="button make-zone-btn is-small" :class="{'is-black': default_be === 10}">10</a>-->
        </div>

        <header class="card-header">
            <p>
                {{pair}} {{period}}
<!--                buy{{ get_buy_sell_state_number('buy')}}-->
<!--                sell{{ get_buy_sell_state_number('sell')}}-->
<!--                <a @click="onClickCreateTrendline" :class="{'is-primary': false}" class="button is-small">-->
<!--                  tline-->
<!--                </a>-->
<!--                <a @click="onClickTradeBtn" class="button is-primary is-small">!trade!</a>-->
            </p>
        </header>


        <div v-show="show_content" class="card-content2" :class="screener_state_cls" :id="card_content_id">
        </div>

        <attack-panel
            :pair="pair"
            :box_cls="attack_panel_cls"
            ref="attack"
        ></attack-panel>
        <trainer
            :pair="pair"
            ref="trainer"
            :on_remove_tlines="on_remove_trainer_tlines"
        ></trainer>

        <div class="pivot-holder" v-if="pivot && pivot.pivot">
          <span class="delta" :class="{'buy': pivot.direction == 1, 'sell': pivot.direction == 0}">{{pivot.delta}}(+1)</span>
          <span class="pivot-point">PIV:{{parseInt(pivot.pivot)}}</span>
        </div>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    import moment from "moment";
    import _ from "lodash";
    //-=-=-=-=-=-=-=-=-=-=-=-=

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            seria: {
                 type: Array,
                 required: true
            },
            empty_bars: {
                 type: Array,
                 required: true
            },
            tlines_: {
              type: Array,
              required: true
            },
            period: {
                 type: Number,
                 required:true
            },
            place: {
                 type: String,
                 required:true
            },
            pair: {
                 type: String,
                 required:true
            },
            chart_type: {
                type: String,
                required:true
            },
            chart_tag: {
                type: String,
                required:true
            },
            params: {
                type: Object,
                required:true
            },
            screener: {
                type: Object,
            },
            on_select_tline: {
                type: Function,
            },
            attack_panel_cls: {
                type: String,
            },
            trading_settings: {
                type: Object,
                required:true
            }
        },

        computed: {
            chartId() {
                return "small-chart-" + this.pair;
            },
            card_content_id(){
                return "card-content-" + this.pair + '-' + this.period + '-'  + h.get_uniq_id();
            },
            trendlineId() {
                return this.pair + this.period
            }
        },

        data() {
            return {
                is_editing_trendline_from_mobile: false,
                is_edit_first_point: true,
                hlines: null,
                destroyed: false,
                trendlines_list: null,
                trendline__new: null,
                active_tline_id: null,
                d3_parse_date: d3.timeParse("%Y-%m-%d %H:%M:%S"),
                seria_: null,
                empty_bars_: null,
                is_trainer: 0,
                is_mounted: 0,
                no_attack_panel: 0,
                screener_state_cls: "",
                show_content: true,
                EMA_PERIOD: 10,
                is_setup_pivot_point: false,
                pivot: null,
                default_risk: 0,
                default_sl: 0,
                default_be: 0,
            }
        },
        watch: {
            async screener_state_cls(val)
            {
                this.show_content = false;
                await this.$nextTick();
                this.show_content = true;

            }
        },

        beforeDestroy()
        {
            this.destroyed = true;
        },

        async mounted()
        {
            var self = this;
            this.hlines = [];
            this.destroyed = false;
            var tt = this.trading_settings;

            this.default_risk = this.trading_settings.risk ? this.trading_settings.risk : 1;
            this.default_sl = this.trading_settings.sl ? this.trading_settings.sl : 10;
            this.default_be = this.trading_settings.be ? this.trading_settings.be : 5;


            this.UpdateScreener(this.screener);

            self.trendlines_list = self.tlines_.map(this.convert_mysql_tline_into_d3);

            this.seria_ = this.seria;
            this.empty_bars_ = this.empty_bars;

            if(this.chart_type === 'liner')
            {
                // this.hlines.push({value: 0});
                // this.hlines.push({value: 20});
                // this.hlines.push({value: 40});
                // this.hlines.push({value: -20});
                // this.hlines.push({value: -40});
            }

            fork(function () {
                self.setup_chart();
                self.draw_chart_seria();
                self.chartDrawTrendlinesFunction(self.trendlines_list);
                self.chartDrawSupstanceFunction(self.hlines);
            });

            window.addEventListener('wheel', this.handleScrollStop, false);

            this.is_mounted = 1;
        },
        methods: {

            onChangeDefaultRisk(risk)
            {
                this.default_risk = risk;
                this.save_chart_trading_params();
            },
            onChangeDefaultSl(sl)
            {
                this.default_sl = sl;
                this.save_chart_trading_params();
            },
            onChangeDefaultBe(be)
            {
                this.default_be = be;
                this.save_chart_trading_params();
            },
            save_chart_trading_params()
            {
                this.runTask('save__chart__trading__params__task', {
                    pair: this.pair,
                    period: this.period,
                    be: this.default_be,
                    sl: this.default_sl,
                    risk: this.default_risk
                });
            },

            HideAttackPanel()
            {
                this.$refs.attack.hidePanel();
            },

            getTlineId()
            {
                return this.trendlineId + '-' + h.make_id(6);
            },

            async UpdateScreener(screener) {
                this.screener_ = screener;

                //this.screener_state_cls = this.get_screener_state_cls();
            },

            get_screener_state_cls() {
                if (!this.screener_) return 0;
                // =====================


                var ret = '';
                var state = 0;

                var temp = this.screener_;
                var list = this.screener_[this.pair].list[this.period];

                if (list.indicator__tlb !== undefined)
                {
                    state += list.indicator__tlb === 0 ? -1 : 1;
                }

                if (list.indicator__nh !== undefined)
                {
                    state += 1;
                }

                if (list.indicator__nl !== undefined)
                {
                    state += -1;
                }

                if (state > 0) {
                    ret = 'buy' + Math.abs(state);
                } else if (state < 0) {
                    ret = 'sell' + Math.abs(state);
                }

                return ret;
            },

            on_remove_trainer_tlines() {
                this.trendlines_list = [];
                this.chartDrawTrendlinesFunction(this.trendlines_list);
            },

            toggleParentsMarkupPanel()
            {
                this.$root.$emit('markup_panel__toggle', {
                    list: [
                        {
                            period: 60,
                            pair: this.pair
                        },
                        {
                            period: 30,
                            pair: this.pair
                        },
                        {
                            period: 15,
                            pair: this.pair
                        }
                    ]
                });
            },

            setupPivotPoint()
            {
                if (!this.is_setup_pivot_point)
                {
                    var tail = this.seria_.slice(-5).map((i) => {return i.value;});
                    var end_val = this.empty_bars_[this.empty_bars_.length - 3];
                    var start_val = this.seria_[this.seria_.length - 10];
                    var value = Math.min(...tail);

                    var pp_tline = {
                        is_fired: 0,
                        type: "pivot_point",
                        is_trading: 0,
                        start: {date: moment(start_val.time), value: value},
                        end: {date: moment(end_val.time), value: value},
                    };

                    this.trendlines_list.push(pp_tline);
                }
                else
                {
                    var index = _.findIndex(this.trendlines_list, {type: 'pivot_point'});
                    var value = this.trendlines_list[index].start.value;

                    this.trendlines_list = _.filter(this.trendlines_list, (tline) => {
                        return tline.type !== 'pivot_point'
                    });

                    var direction = value < _.last(this.seria_).value ? 1 : 0;

                    this.runTask('add__indicator__pivot__point__task', {
                        symbol: this.pair,
                        period: this.period,
                        value: value,
                        direction: direction
                    });
                }

                this.chartDrawTrendlinesFunction(this.trendlines_list);
                this.is_setup_pivot_point = !this.is_setup_pivot_point;

            },

            toggleMarkupPanel()
            {
                this.$root.$emit('markup_panel__toggle', {
                    list: [
                        {
                            period: this.period,
                            pair: this.pair
                        }
                    ]
                });
            },

            toggleTrainer()
            {
                this.is_trainer = this.is_trainer ? 0 : 1;
                this.$refs.trainer.togglePanel(this.is_trainer);
            },


            async onMakeZone(type)
            {
                var tail = this.seria_.slice(-5).map((i) => {return i.value;});
                var end_val = this.empty_bars_[2];
                var start_val = this.seria_[this.seria_.length - 7];


                if (type === 'nl')
                {
                    var value = Math.min(...tail);
                    await this.add_zone_to_chart(value, 0, start_val, end_val);
                }
                else
                {
                    var value = Math.max(...tail);
                    await this.add_zone_to_chart(value, 1, start_val, end_val);
                }
            },

            async add_zone_to_chart(val, is_zone_buy, start_val, end_val)
            {
              // @todo is_zone_buy based on last value
              var resAdd = await this.runTask('add__trendline__to__chart__task', {
                uniq_id: this.getTlineId(),
                start_date: moment(start_val.time).format('YYYY-MM-DD HH:mm:ss'),
                end_date: moment(end_val.time).format('YYYY-MM-DD HH:mm:ss'),
                is_fired: 0,
                start_value: val,
                end_value: val,
                is_zone: 1,
                is_zone_buy: is_zone_buy,
                chart_tag: this.chart_tag,
                period: this.period,
                pair: this.pair,
                mockup_tags: ['alligator', 'tlb'],
                is_trainer: this.is_trainer
              });

              if (resAdd.isOk())
              {
                this.trendlines_list.push(this.convert_mysql_tline_into_d3(resAdd.get('trendline')));
                this.chartDrawTrendlinesFunction(this.trendlines_list);
                this.open_symbol_mt4(this.pair);
              }
            },

            onRemTlines()
            {
                this.trendlines_list = [];
                this.chartDrawTrendlinesFunction(this.trendlines_list);

                this.runTask('remove__symbol__tlines__task', {
                    pair: this.pair,
                    period: this.period,
                    chart_tag: this.chart_tag
                });
            },

            updateOhlcSeria(candels, indicator, empty_bars)
            {
                //if(!this.is_mounted) return null;
                ///========

                if (this.chart_type == 'ohlc')
                {
                    var candel = candels[this.period];
                    var index = this.seria_.length - 1;

                    var last_val = _.last(this.seria_);
                    candel.time = candel.time.replaceAll('.', '-');

                    if (last_val.time == candel.time)
                    {
                        this.seria_[index].c = candel.close;
                        this.seria_[index].h = candel.high;
                        this.seria_[index].l = candel.low;
                        this.seria_[index].o = candel.open;


                    } else {
                        // debugger;
                        // this.seria_.shift();
                        // this.seria_.push({
                        //     time: candel.time,
                        //     c: candel.close,
                        //     h: candel.high,
                        //     l: candel.low,
                        //     o: candel.open,
                        // });
                        //
                        // var tt = this.empty_bars_;
                        // this.empty_bars_ = empty_bars[this.period];
                    }
                }
                else
                {
                    if (candels == undefined)
                    {
                      log("No last candles for ", this.pair);
                    }

                    var candel = indicator[this.period];
                    var index = this.seria_.length - 1;
                    var last_val = _.last(this.seria_);
                    candel.time = candel.time.replaceAll('.', '-');

                    if (last_val.time == candel.time)
                    {
                        this.seria_[index].value = candel.val;
                        var end_index = this.empty_bars_.length-2;
                        this.empty_bars_.map((bar, index) => {
                            if (index < end_index)
                            {
                                bar.value = candel.val;
                            }
                        });
                    } else {
                        // this.seria_.shift();
                        // this.seria_.push({
                        //     time: candel.time,
                        //     val: candel.val,
                        // });

                        //this.empty_bars_ = empty_bars[this.period];
                    }
                }

                this.draw_chart_seria();
            },

            convert_mysql_tline_into_d3(t)
            {
                t.start = {
                    date: moment(t.start_date),
                    value: t.start_value
                };
                t.end = {
                    date: moment(t.end_date),
                    value: t.end_value
                };

                return t;
            },

            async onDeleteTrendline(d)
            {
                if (d.id)
                {
                    var resDel = await this.runTask('delete__trendline__from__chart__task', {
                        id: d.id
                    });

                    this.trendlines_list = _.filter(this.trendlines_list, (tline) => {
                        return tline.id != d.id
                    });

                    this.chartDrawTrendlinesFunction(this.trendlines_list);

                    if (!resDel.isOk())
                    {
                        this.toastError('Failed delete trendline');
                    } else {
                        this.toastOk('Tline deleted');
                    }
                }
            },

            async onMovedTrendline(d)
            {

                var resAdd = await this.runTask('move__tline__task', {
                    pair: this.pair,
                    period: this.period,
                    uniq_id: d.uniq_id,
                    start_date: moment(d.start.date).format('YYYY-MM-DD HH:mm:ss'),
                    end_date: moment(d.end.date).format('YYYY-MM-DD HH:mm:ss'),
                    start_value: d.start.value,
                    end_value: d.end.value,
                });

                if (resAdd.isOk())
                {
                    var index = _.findIndex(this.trendlines_list, {id: d.id});
                    this.trendlines_list[index] = this.convert_mysql_tline_into_d3(resAdd.get('tline'));
                    this.chartDrawTrendlinesFunction(this.trendlines_list);
                    this.open_symbol_mt4(this.pair);
                }

                if (this.on_select_tline)
                {
                    this.on_select_tline(this.place, d.id);
                }

                if (!resAdd.isOk())
                {
                    this.toastError('Failed move trendline');
                } else {
                    this.toastOk('Tline moved');
                }

                //this.open_symbol_mt4(this.pair, this.period);

                return resAdd.resp.tline;
            },

            chartTrendlineFunctionality(svg, width, height, xAxis, yAxis, x, y)
              {
                  var valueFormat = d3.format(',.4f');
                  var timeFormat = d3.timeFormat('%Y-%m-%d');
                  var self = this;

                  var trendline = techan.plot.trendline()
                    .xScale(x)
                    .yScale(y)
                    .on("mouseenter", enter)
                    .on("mouseout", out)
                    .on("drag", drag)
                    .on('dragend', dragend)
                      ;

                  function enter(d) {
                      valueText.style("display", "inline");
                      refreshText(d);

                      if (d.type === 'pivot_point') return;
                      // ==================

                      if (!self.no_attack_panel)
                      {
                          self.$refs.attack.setTline(d.uniq_id, self.pair, self.period);
                      }

                      self.active_tline_id = d.id;

                      if (self.on_select_tline)
                      {
                          self.on_select_tline(self.place, d.id);
                      }
                  }

                  function out(d) {
                      valueText.style("display", "none");
                  }

                  function drag(d) {
                      refreshText(d);
                  }
                  async function dragend(d)
                    {
                        if (d3.event.sourceEvent.shiftKey)
                          {
                              self.onDeleteTrendline(d);
                          }
                          else
                          {
                              if (d.type === 'pivot_point') return;
                              // ==================

                              var index = _.findIndex(self.trendlines_list, {id: d.id});
                              self.trendlines_list[index] = self.convert_mysql_tline_into_d3(await self.onMovedTrendline(d));

                              if (self.on_select_tline)
                              {
                                  self.on_select_tline(self.place, d.id);
                              }

                              self.chartDrawTrendlinesFunction(self.trendlines_list);
                          }
                    }

                  function refreshText(d)
                    {
                        var type = d.trading_type;

                        var text = '#'+ d.uniq_id + ' ' + type + ' Fired: '+ d.is_fired + ' | ' + Math.abs(d.start.value - d.end.value).toFixed(4);
                        valueText.text(text);
                    }
                  // crosshair functionality

                  var valueText = svg.append('text')
                    .style("text-anchor", "end")
                    .attr("class", "coords")
                    .attr("x", width-10)
                    .attr("y", 15);

                  var ohlcAnnotation = techan.plot.axisannotation()
                    .axis(yAxis)
                    .orient('left')
                    .format(d3.format(',.4f'));

                  var timeAnnotation = techan.plot.axisannotation()
                    .axis(xAxis)
                    .format(d3.timeFormat('%H:%M'))
                    .width(0);

                  var crosshair = techan.plot.crosshair()
                    .xScale(x)
                    .yScale(y);

                  crosshair
                    .xAnnotation([timeAnnotation])
                    .yAnnotation([ohlcAnnotation])
                    .on("move", move)

                  // .on("touchend", function(d) {
                  //   debugger;
                  //   move(d);
                  // });
                  // .on("touchstart", function(e) {
                  //
                  // })



                  svg.append('g')
                    .attr("class", "crosshair")
                    // .datum({ x: x.domain()[80], y: 67.5 })
                    .call(crosshair)
                    .each(function(d) {
                        move(d);
                    }) // Display the current data

                  var self = this;
                  function move(coords)
                    {
                        if (!d3.event) return;

                        // mobile editing
                        if (self.is_editing_trendline_from_mobile)
                      {

                          if (self.is_edit_first_point)
                          {
                              self.trendline__new = {
                                  is_fired: 0,
                                  type: "alert",
                                  start: {date: moment(coords.x), value: coords.y},
                                  end: {date: moment(coords.x), value: coords.y},
                              };

                      } else {
                          self.trendline__new.is_saving = true;
                          self.trendline__new.end = {date: moment(coords.x), value: coords.y};
                      }

                  } else {
                        if (d3.event.buttons === 1)
                      {
                          if (eN(self.trendline__new))
                          {
                              self.trendline__new = {
                                  is_fired: 0,
                                  type: "alert",
                                  start: {date: moment(coords.x), value: coords.y},
                                  end: {date: moment(coords.x), value: coords.y},
                              };
                          }
                      }

                            if(d3.event.buttons === 0)
                          {
                              if (!eN(self.trendline__new) && !self.trendline__new.is_saving)
                            {
                                self.trendline__new.is_saving = true;
                                self.trendline__new.end = {date: moment(coords.x), value: coords.y};
                                self.onAddTrendline();
                            }
                          }
                        }
                    }

                  return trendline;
              },

            convert_seria_into_d3(data)
            {
                var self = this;
                return data.map(function(d) {
                  return {
                    date: self.d3_parse_date(d.time),
                    open: +d.o,
                    high: +d.h,
                    low: +d.l,
                    close: +d.c,
                    volume: +d.o
                  };
                });
            },

              parseLinerChartTimeseria(data)
              {
                var parseDate = d3.timeParse("%Y-%m-%d %H:%M:%S");

                return data.map(function(d) {
                  return {
                    date: parseDate(d.time),
                    open: +d.value,
                    high: +d.value,
                    low: +d.value,
                    close: +d.value,
                    volume: +d.Volume
                  };
                });
              },

            setup_chart()
              {
                    var margin = {top: 20, right: 20, bottom: 30, left: 40},
                        width = this.params.sizes.width - margin.left - margin.right,
                        height = this.params.sizes.height - margin.top - margin.bottom;

                    var self = this;
                    var x = techan.scale.financetime().range([0, width]);
                    var y = d3.scaleLinear().range([height, 0]);
                    var candlestick = techan.plot.candlestick().xScale(x).yScale(y);
                    var close = techan.plot.close().xScale(x).yScale(y);
                    var xAxis = d3.axisBottom(x);
                    var yAxis = d3.axisLeft(y);
                  var ema2 = techan.plot.ema().xScale(x).yScale(y);

                  var svg = d3.select("#" + this.card_content_id).append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                svg.append("g").attr("class", "close");
                svg.append("g").attr("class", "candlestick");
                svg.append("g").attr("class", "close_pointer");


                svg.append("g")
                    .attr("class", "indicator ema ma-2")
                    .attr("clip-path", "url(#ohlcClip)");


                svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")");

                svg.append("g")
                    .attr("class", "y axis")
                    .append("text");

                var supstance = this.chartSupstanceFunctionality(svg, width, height, margin, xAxis, yAxis, x, y);
                var trendlines = this.chartTrendlineFunctionality(svg, width,height, xAxis, yAxis, x, y)

                this.draw_chart_seria = function()
                {
                    if (this.chart_type === 'ohlc') {
                        var data_converted = this.convert_seria_into_d3(this.seria_);
                        var data_end = this.convert_seria_into_d3(this.empty_bars_);
                    } else if(this.chart_type === 'liner') {
                        var data = this.parseLinerChartTimeseria(this.seria_.concat(this.empty_bars_));
                        var data_end = this.parseLinerChartTimeseria(this.empty_bars_);
                    }

                    if (this.chart_type === 'ohlc') {
                        x.domain(data_converted.concat(data_end).map(candlestick.accessor().d));
                        y.domain(techan.scale.plot.ohlc(data_converted.concat(data_end), candlestick.accessor()).domain());
                        svg.selectAll("g.candlestick").datum(data_converted.concat(data_end)).call(candlestick);
                        svg.selectAll("g.close_pointer").datum(data_end).call(candlestick);
                        svg.select("g.ema.ma-2").datum(techan.indicator.ema().period(this.EMA_PERIOD)(data_converted)).call(ema2);
                    } else if (this.chart_type === 'liner') {
                        x.domain(data.map(close.accessor().d));
                        y.domain(techan.scale.plot.ohlc(data, close.accessor()).domain());
                        svg.selectAll("g.close").datum(data).call(close);
                        svg.selectAll("g.close_pointer").datum(data_end).call(close);

                        // if (this.chart_tag !== 'adx')
                        // {
                        //     svg.select("g.ema.ma-2").datum(techan.indicator.ema().period(this.EMA_PERIOD)(data)).call(ema2);
                        // }
                    }

                    svg.selectAll("g.x.axis").call(xAxis);
                    svg.selectAll("g.y.axis").call(yAxis);
                }

                this.chartDrawSupstanceFunction = function (hlines)
                {
                    svg.selectAll('g.supstance').remove();
                    svg.append("g").attr("class", 'supstance');
                    svg.selectAll("g.supstance").datum(hlines).call(supstance).call(supstance.drag);
                }

               this.chartDrawTrendlinesFunction = function (trendlineData)
                {
                    var sell_tlines = _.filter(trendlineData, {is_trading: 0});
                    svg.selectAll('g.trendlines').remove();
                    svg.append("g").attr("class", "trendlines");
                    svg.selectAll("g.trendlines").datum(sell_tlines).call(trendlines).call(trendlines.drag);

                    var signal_buy_tlines = _.filter(trendlineData, {is_trading: 1, trading_type: 'buy'});
                    svg.selectAll('g.trendlines_buy').remove();
                    svg.append("g").attr("class", "trendlines_buy");
                    svg.selectAll("g.trendlines_buy").datum(signal_buy_tlines).call(trendlines).call(trendlines.drag);

                    var signal_sell_tlines = _.filter(trendlineData, {is_trading: 1, trading_type: 'sell'});
                    svg.selectAll('g.trendlines_sell').remove();
                    svg.append("g").attr("class", "trendlines_sell");
                    svg.selectAll("g.trendlines_sell").datum(signal_sell_tlines).call(trendlines).call(trendlines.drag);
                }
              },

            chartSupstanceFunctionality(svg, width, height, margin, xAxis, yAxis, x, y)
            {
                 var supstance = techan.plot.supstance()
                        .xScale(x)
                        .yScale(y)
//                        .on("mouseenter", enter2)
//                        .on("mouseout", out2)
//                        .on("drag", drag2);

                var self = this;

                var defs = svg.append("defs"),
                    valueFormat = d3.format(',.4f');

                defs.append("clipPath")
                        .attr("id", "ohlcClip")
                    .append("rect")
                        .attr("x", 0)
                        .attr("y", 0)
                        .attr("width", width)
                        .attr("height", height);

                defs.append("clipPath")
                        .attr("id", "supstanceClip")
                    .append("rect")
                        .attr("x", -margin.left)
                        .attr("y", 0)
                        .attr("width", width+margin.left)
                        .attr("height", height);

                var valueText = svg.append('text')
                    .style("text-anchor", "end")
                    .attr("class", "coords")
                    .attr("x", width - 5)
                    .attr("y", 15);

                function enter2(d) {
                    valueText.style("display", "inline");
                    refreshText(d);
                }

                function out2(d) {
                    valueText.style("display", "none");
                }

                function drag2(d) {
                    refreshText(d);
                }

                function refreshText(d) {
                    valueText.text("# " + d.id + " fired: " + d.is_fired + " val: " + valueFormat(d.value) + " Type: " + d.type);
                }

                // end hlines
                return supstance;
            },

            onClickVerifyTrendlinePoint()
            {
                if(this.is_edit_first_point) {
                    this.is_edit_first_point = false;
                    this.tline_btn_text = 'end';
                } else {
                    this.is_editing_trendline_from_mobile = false;
                    this.is_edit_first_point = true;
                    this.tline_btn_text = 'start';
                }
            },

            UpdatePivot(pivot)
            {
                if (pivot)
                {
                    this.pivot = pivot;

                    if (pivot.direction === 0)
                    {
                        this.screener_state_cls = 'sell2';
                    }
                    if (pivot.direction === 1)
                    {
                         this.screener_state_cls = 'buy2';
                    }
                }
            },

            setTrendlines(tlines)
            {
              this.trendlines_list = tlines.map(this.convert_mysql_tline_into_d3);
              this.chartDrawTrendlinesFunction(this.trendlines_list);
            },

            async onAddTrendline()
            {
                var uniq_id = this.getTlineId();
                var type = this.trendline__new.start.value < this.trendline__new.end.value ? 'sell' : 'buy';
                //var trading_params = h.tline_trading_params(type, this.default_be, this.default_sl, this.default_risk, "depo_percents", this.pair, uniq_id);

                var resAdd = await this.runTask('add__trendline__to__chart__task', {
                    uniq_id: uniq_id,
                    start_date: moment(this.trendline__new.start.date).format('YYYY-MM-DD HH:mm:ss'),
                    end_date: moment(this.trendline__new.end.date).format('YYYY-MM-DD HH:mm:ss'),
                    is_fired: 0,
                    is_zone: 0,
                    is_zone_buy: 0,
                    start_value: this.trendline__new.start.value,
                    end_value: this.trendline__new.end.value,
                    chart_tag: this.chart_tag,
                    period: this.period,
                    pair: this.pair,
                    mockup_tags: ['alligator', 'tlb'],
                    is_trainer: this.is_trainer,
                    trading_params: {}//trading_params
                });

                if (!resAdd.isOk())
                {
                    this.toastError('Failed add level');
                } else {
                    this.toastOk('Added level');
                }

                var trendline = resAdd.get('trendline');
                trendline.is_new = 1;

                this.trendlines_list.push(this.convert_mysql_tline_into_d3(resAdd.get('trendline')));
                this.trendline__new = null;

                if (this.on_select_tline)
                {
                    this.on_select_tline(this.place, resAdd.get('trendline').id);
                }

                this.chartDrawTrendlinesFunction(this.trendlines_list);
                //this.open_symbol_mt4(this.pair, this.period);
            },
        },

    }
</script>


<style lang="scss">

    .ohlc-chart
    {
        position: relative;

        .controls
        {
            position: absolute;
            left: 129px;
            top: 0px;
        }

        .card-content2
        {
            background-color: #F2F6FA;

            &.buy1
            {
                background-color: #E2FFE5;
            }

            &.buy2
            {
                background-color: #D1FFD6;
            }

            &.buy3
            {
                background-color: #B4FFBC;
            }

            &.buy4
            {
                background-color: #95FF93;
            }

            &.sell1
            {
                background-color: #FFF1F1;
            }

            &.sell2
            {
                background-color: #FDDFDF;
            }

            &.sell3
            {
                background-color: #FFB4B4;
            }

            &.sell4
            {
                background-color: #FF9393;
            }

        }

        &.pending-buy
        {
            .card-header
            {
                background-color: #A1EDA9;
            }
        }

        &.pending-sell
        {
            .card-header
            {
                background-color: #EDAFA1;
            }
        }

        &.buy
        {
            .card-header
            {
                background-color: #A1EDA9;
            }
        }

        &.sell
        {
            .card-header
            {
                background-color: #EDAFA1;
            }
        }

    }

    path.candle {
        stroke: white;
    }

    path.candle.body {
        stroke-width: 0;
    }

    path.candle.up {
        fill: gray;
        stroke: gray;
    }

    path.candle.down {
        fill: peru;
        stroke: peru;
    }

    .supstance path {
        stroke: blue;
        stroke-width: 2;
        stroke-dasharray: 2, 2;
    }

    .mouseover .supstance path {
        stroke-width: 4;
    }

    .tline-ok-btn
    {
        position: absolute;
        left: 50%;
        top: 10%;
    }

    .trendlines
    {
        .trendline {
          stroke: aqua;
          stroke-width: 0.8;

          &.selected {
            stroke: aqua;
            stroke-width: 0.8;
          }
        }
    }

    .trendlines_sell
    {
      .trendline {
        stroke: red;
        stroke-width: 0.8;

        &.selected {
          stroke: red;
          stroke-width: 0.8;
        }
      }
    }

    .trendlines_buy
    {
      .trendline {
        stroke: blue;
        stroke-width: 0.8;

        &.selected {
          stroke: blue;
          stroke-width: 0.8;
        }
      }
    }


    .trendlines
    {
        .trendline circle {
          stroke-width: 0;
          display: none;
        }

        .mouseover .trendline path {
          stroke-width: 1;
        }

        .mouseover .trendline circle {
          stroke-width: 1;
          display: inline;
        }

        .dragging .trendline {
          stroke: darkblue;
        }
    }

    .pivot-holder
    {
        position: absolute;
        top: 22px;

        .delta
        {
          &.buy
          {
            background-color: green
          }
          &.sell
          {
            background-color: red;
          }

          color: white;
          font-size: 20px;
        }

        .pivot-point
        {
          font-size: 18px;
        }
    }
</style>
