<template>
    <div class="">

      <div class="controls">
        <a href="/app/screenshots/panel" class="button is-small">Back Panel</a>

      </div>

      <section class="section-start">

        <div class="columns">

        </div>

        <div class="columns">

          <div v-if="status" class="column  is-6">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  System status
                </p>
              </header>
              <div class="card-content">
                <div class="content">
                  <div class="field">
                    <p>ripper status</p>
                    <a @click="runRipperCommand('status')" class="button is-small is-primary">STATUS</a>

                    <div v-html="status.ripper_status_dump"></div>
                  </div>
                  <div class="field">
                    <p>web status</p>
                    <div v-html="status.web_status_dump"></div>
                  </div>
                  <!--                <a href="#" class="button is-small is-primary">Create</a>-->
                </div>
              </div>
            </div>
          </div>


          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Ripper commands
              </p>
            </header>

            <div class="card-content">
              <div class="content">
                <div class="field">
                  <div class="control has-icons-right">
                    <p class="control">
                    </p>
                  </div>
                </div>


                <a @click="runRipperCommand('GET_HISTORY_TIMESERIA:indicator')"  class="button is-small is-primary">GET_HISTORY INDICATOR</a>
                <a @click="runRipperCommand('GET_HISTORY_TIMESERIA:ohlc')"  class="button is-small is-primary">GET_HISTORY:ohlc</a>
<!--                <a @click="runRipperCommand('GET_HISTORY_TIMESERIA:qqe')"  class="button is-small is-primary">GET_HISTORY:qqe</a>-->
<!--                <a @click="runRipperCommand('GET_HISTORY_TIMESERIA:cci')"  class="button is-small is-primary">GET_HISTORY:cci</a>-->
                <a @click="runRipperCommand('GET_SWINGS_STATE')"  class="button is-small is-primary">GET_SWINGS_STATE</a>
                <a @click="runRipperCommand('beep_offline')"  class="button is-small is-primary">beep_offline</a>

                <hr>

                <a @click="runRipperCommand('OPEN_MARKET_ORDER:buy')"  class="button is-sm11all is-primary">OPEN_MARKET_ORDER:buy</a>
<!--                <a href="#" class="button is-small is-primary">OPEN_MARKET_ORDER</a>-->
                <a @click="runRipperCommand('GET_OPEN_ORDERS')" href="#" class="button is-small is-primary">GET_OPEN_ORDERS</a>
                <a @click="runRipperCommand('CLOSE_OPEN_ORDERS')" href="#" class="button is-small is-primary">CLOSE_OPEN_ORDERS</a>
                <a @click="runRipperCommand('GET_SCREENSHOTS:all')" href="#" class="button is-small is-primary">GET_SCREENSHOTS:all</a>
                <a @click="runRipperCommand('GET_SCREENSHOTS:GBPUSD')" href="#" class="button is-small is-primary">GET_SCREENSHOTS:GBPUSD</a>


                <hr>

                <a target="_blank" href="/forex/commands/sheet" class="button is-small is-primary">Commands sheet</a>
                <a target="_blank" @click="clearCommandsSheet" class="button is-small is-primary">Clear commands sheet</a>


                  <audio controls loop="loop" src="/sounds/new/percussion-hit-conflict.wav"></audio>

              </div>
            </div>
          </div>

          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Platform commands
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <div class="field">
                  <div class="control has-icons-right">
                    <p class="control">
                    </p>
                  </div>
                </div>

                <a @click="runPlatformCommand('h4_beep')" class="button is-small is-primary">H4 beep</a>
                <a @click="runPlatformCommand('m15_buy_beep')" class="button is-small is-primary">M15 buy beep</a>
                <a @click="runPlatformCommand('m15_sell_beep')" class="button is-small is-primary">M15 sell beep</a>
                <a @click="runPlatformCommand('timeseria_tick')" class="button is-small is-primary">timeseria_tick(XAUUSD,GBPUSD,GBPJPY)</a>
                <a @click="runPlatformCommand('drop_timeseries')" class="button is-small is-primary">Drop timeseries</a>
                <a @click="runPlatformCommand('INIT_SCREENER_STATE')"  class="button is-small is-primary">INIT_SCREENER_STATE</a>
                  <a @click="runPlatformCommand('REBUILD_SIGNALS')"  class="button is-small is-primary">REBUILD SIGNALS</a>
                  <a @click="onBeep(3, 'beep3.wav')"  class="button is-small is-primary">Beep 3</a>
                  <a @click="onBeep(10, 'beep3.wav')"  class="button is-small is-primary">Beep 3</a>
                  <a @click="onBeep(9, 'new/percussion-hit-bombastic.wav')"  class="button is-small is-primary">Beep 9</a>
                  <a @click="onBeep(21, 'new/percussion-hit-chimed.wav')"  class="button is-small is-primary">Beep 21</a>
                  <a @click="onBeep(10, 'new/percussion-hit-efficiency.wav')"  class="button is-small is-primary">Beep 21</a>
                  <a @click="onBeep(10, 'new/percussion-hit-conflict.wav')"  class="button is-small is-primary">Beep 21</a>
                  <a @click="onBeep(10, 'new/percussion-hit-dough.wav')"  class="button is-small is-primary">Beep 21</a>
                  <a @click="createSignal(240, 'XAUUSD', 1)"  class="button is-small is-primary">Signal 240 XAUUSD</a>
                  <a @click="createSignal(15, 'XAUUSD', 1)"  class="button is-small is-primary">Signal 15 XAUUSD</a>

<!--                <a @click="runRipperCommand('GET_HISTORY_TIMESERIA:qqe')"  class="button is-small is-primary">GET_HISTORY:qqe</a>-->

                <hr>
                <p><b>Console >> </b></p>
                <p>{{commands_answer}}</p>
              </div>
            </div>
          </div>

        </div>
      </section>

    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: 'profile',
        components: {},
        mixins: [mixins],

        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                name: 'Matt Stauffer',
                status: null,
                commands_answer: "",

                // title: this.post.title,
            }
        },
        watch: {

        },
        async mounted()
        {
          var status = await this.runTask('get__status__task', {});

              this.status = status.resp;
        },
        methods: {
            async onUpdateModels()
            {

            },

            async createSignal(period, pair, direction)
            {
                await this.runTask('run__platform__command__task', {
                    command: 'CREATE_SIGNAL',
                    params: {
                        'period': period,
                        'pair': pair,
                        'direction': direction,
                    }
                });
            },

            async onBeep(count, filename)
            {
                // var beepFile = new Audio("/sounds/beep.wav");


                // var count = 15;
                // beepFile.play();
                for(var i=0;i<count;i++)
                {
                  fork(()=>{
                    (new Audio("/sounds/"+filename)).play();
                  }, 50 * i);

                }


              // fork(()=>{
              //   (new Audio("/sounds/beep.wav")).play();
              // }, 200);
              // fork(()=>{
              //   (new Audio("/sounds/beep.wav")).play();
              // }, 300);
            },

            async runPlatformCommand(cmd)
            {
                console.log("runPlatformCommand");
                var result;

                switch(cmd) {
                    case "drop_timeseries": {
                        result = await this.runTask('run__platform__command__task', {
                          "command" : 'drop_timeseries'
                        });


                        break;
                    }

                    case "INIT_SCREENER_STATE":
                    {
                       result = await this.runTask('run__platform__command__task', {
                         "command" : 'INIT_SCREENER_STATE'
                        });

                      break;
                    }
                    case "REBUILD_SIGNALS":
                    {
                        result = await this.runTask('run__platform__command__task', {
                            "command" : 'REBUILD_SIGNALS'
                        });

                        break;
                    }


                    case "qqe_timeseria_tick": {
                        result = await this.runTask('run__platform__command__task', {
                            "command" : 'timeseria_tick'
                        });

                        break;
                    }

                    crit_noparam("no such command" + cmd);
                }

                this.commands_answer = JSON.stringify(result.resp.res);
            },

            async clearCommandsSheet()
            {
                var status = await this.runTask('clear__commands__sheet__task', {

                  });
            },

            async runRipperCommand(cmd)
            {
              switch(cmd)
              {
                case "beep_offline":
                {
                  var status = await this.runTask('run__platform__command__task', {
                    command: "beep_offline",

                  });

                  break;
                }

                case "status":
                {
                  var status = await this.runTask('put__command__to__the__sheet__task', {
                    name: "STATUS",
                    params: {

                    }
                  });

                  break;
                }
                case "GET_HISTORY_TIMESERIA:qqe":
                {
                  var status = await this.runTask('put__command__to__the__sheet__task', {
                    name: "GET_HISTORY_TIMESERIA",
                    params: {
                      name: "qqe"
                    }
                  });
                  break;
                }
                case "GET_HISTORY_TIMESERIA:cci":
                {
                  var status = await this.runTask('put__command__to__the__sheet__task', {
                    name: "GET_HISTORY_TIMESERIA",
                    params: {
                      name: "cci"
                    }
                  });
                  break;
                }


                case "GET_SWINGS_STATE":
                {
                  var status = await this.runTask('put__command__to__the__sheet__task', {
                    name: "GET_SWINGS_STATE",
                    params: {}
                  });
                    break;
                }


                case "GET_HISTORY_TIMESERIA:cci":
                {
                  var status = await this.runTask('put__command__to__the__sheet__task', {
                    name: "GET_HISTORY_TIMESERIA",
                    params: {
                      name: "cci"
                    }
                  });
                  break;
                }
               case "GET_HISTORY_TIMESERIA:rsi":
                {
                  var status = await this.runTask('put__command__to__the__sheet__task', {
                    name: "GET_HISTORY_TIMESERIA",
                    params: {
                      name: "rsi"
                    }
                  });
                  break;
                }
                case "GET_HISTORY_TIMESERIA:indicator":
                {

                  var self = this;
                  var status;
                  settings.pairs_list.map((symbol) => {
                    status = self.runTask('put__command__to__the__sheet__task', {
                        name: "GET_HISTORY_TIMESERIA",
                        params: {
                          name: settings.indicator.tag,
                          symbol: symbol,
                          history: 200
                        }
                    });
                  });
                  break;
                }
                case "GET_HISTORY_TIMESERIA:ohlc":
                {
                  var self = this;var status;

                  settings.pairs_list.map((symbol) => {
                      status = self.runTask('put__command__to__the__sheet__task', {
                          name: "GET_HISTORY_TIMESERIA",
                          params: {
                              name: "ohlc",
                              symbol: symbol,
                              history: 500
                          }
                      });
                  });

                  break;
                }
                case "OPEN_MARKET_ORDER:buy":
                {
                  var status = await this.runTask('put__command__to__the__sheet__task', {
                    name: "OPEN_MARKET_ORDER",
                    params: {
                      type: "buy",
                      sl: 20,
                      tp: 20,
                      risk: "30",
                      risk_type: "percents"
                    }
                  });
                  break;
                }

                case "GET_OPEN_ORDERS":
                {
                  var status = await this.runTask('put__command__to__the__sheet__task', {
                    name: "GET_OPEN_ORDERS",
                    params: {
                    }
                  });
                  break;
                }


                case "GET_SCREENSHOTS:all":
                {
                  var status = await this.runTask('put__command__to__the__sheet__task', {
                    name: "GET_SCREENSHOTS",
                    params: {
                        pair: 'all',
                        period: 15
                    }
                  });
                  break;
                }

                case "GET_SCREENSHOTS:GBPUSD":
                {
                  var status = await this.runTask('put__command__to__the__sheet__task', {
                    name: "GET_SCREENSHOTS",
                    params: {
                        pair: 'GBPUSD',
                        period: 15
                    }
                  });
                  break;
                }


                case "CLOSE_OPEN_ORDERS":
                {
                  var status = await this.runTask('put__command__to__the__sheet__task', {
                    name: "CLOSE_OPEN_ORDERS",
                    params: {
                    }
                  });
                  break;
                }
                default:
                  crit_noparam('No such period: ' + period);
              }

              // if(status.resp.id)
              // {
              //   this.toastOk('Command placed on the sheet');
              // } else {
              //   this.toastError('Failed add command');
              // }

            }
        }
    }
</script>


<style scoped lang="scss">

</style>
