<template>
    <div class="orders">
        <table>
            <tr v-for="order in orders">
                <td>
                    <a @click="onToggleOrder(order)" class="button is-small" :class="{'is-light': selected_order.ticket_number != order.ticket_number, 'is-black': selected_order.ticket_number == order.ticket_number}">o</a>
                </td>

                <td>
                    <a @click="onToggleOrder(order)" class="button" :class="{'is-light': 0, 'is-black': 1}">BE</a>
                </td>

                <td>
                    {{order.open_price}}@<span class="tag" :class="{'is-danger': order.type == 'sell', 'is-success': order.type == 'buy', 'is-light': order.type == 'pending_buy' || order.type == 'pending_sell'}">{{order.type}} {{order.lots}}</span>
                </td>
                <td>
                    <span class="tag" :class="{'is-danger': order.ticket_profit_points < 0, 'is-success': order.ticket_profit_points >= 0}">
                        {{order.ticket_profit_points}} pt
                    </span>
                </td>
                <td>
                    <a @click="onCloseOrder(order.ticket_number)" class="button is-small is-light">x</a>
                </td>
            </tr>
        </table>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            orders: {
                type: Array,
                required:true
            },
            updated: {
                type: String,
                required:true
            },
        },

        computed: {

        },

        data() {
            return {
                name: '',
                selected_order: {}
            }
        },
        watch: {

        },
        beforeDestroy()
        {

        },
        async mounted()
        {


        },
        methods: {
            async onToggleOrder(order)
            {
                if (this.selected_order.ticket_number === order.ticket_number)
                {
                    this.selected_order = {};
                }
                else
                {
                    this.selected_order = order;
                }

                order.ticket_number
                order.open_price

            },

            async onCloseOrder(order_id)
            {
                this.runTask('put__command__to__the__sheet__task', {
                    name: "CLOSE_ORDER",
                    params: {
                        ticket: order_id
                    }
                });
            }
        }
    }
</script>


<style scoped lang="scss">

</style>
