<template>
  <div v-if="item.pics" :id="item.pics[period]._id" class="pic-holder">

    <h1 >
      <span v-if="is_h1_title">
        {{item.pair}}
      </span>
      &nbsp;
      <a v-if="item.direction == 0" class="button is-small is-danger">/</a>
      <a v-if="item.direction == 1" class="button is-small is-success">^</a>
    </h1>

    <h2 class="period">
      M{{period}}
      <a :class="{'is-primary': is_drawning}" class="button is-small" @click="onEditScreenshotImage()">*</a>
      <a :class="{}" class="button is-small" @click="on_open_chart(item)">chart</a>
      <a :class="{'is-primary': is_trade_btns}" class="button is-small" @click="is_trade_btns = !is_trade_btns">t</a>

      <div class="trade-btns" v-if="is_trade_btns">
          <a :class="{}" class="button is-small is-danger" @click="onTrade('sell')">{{ sell_btn }}</a>

          <div class="select is-small">
              <select
                  placeholder="type"
                  v-model="open_trade_schema"
                  expanded>
                <option value="30%_20sl_20tp">30%_20sl_20tp</option>
                <option value="30%__10sl">30%__10sl</option>
                <option value="30%__30sl">30%__30sl</option>
                <option value="30%__50sl">30%__50sl</option>
              </select>
          </div>

          <a :class="{}" class="button is-small is-success" @click="onTrade('buy')">{{ buy_btn }}</a>
      </div>
<!--      <a @click="showWatchlistDialog(item)" class="button is-small">w</a>-->
    </h2>

    <div class="img-holder">
      <img class="pic" :src="item.pics[period].src" @click="on_click_pic(item, period)">
      <img v-if="item.pics[period].drawning && item.pics[period].drawning.url"
           class="drawning" :src="item.pics[period].drawning.url"
           @click="on_click_pic(item, period)">
    </div>
  </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: 'tape-item',
        components: {},
        mixins: [mixins],

        props: {
            item: {
                type: Object,
                required: true
            },
            on_open_chart: {
                type: Function,
                required:true
            },
            on_click_pic: {
                type: Function,
                required:true
            },

            is_h1_title: {
              type: Boolean,
              required:true
            },

            period: {
              type: Number,
            },
        },

        computed: {

        },

        data() {
            return {

              is_drawning: false,
              canvas: null,

              sell_btn: 'sell',
              buy_btn: 'buy',

              is_trade_btns: false,
              open_trade_schema: "30%_20sl_20tp",


                // title: this.post.title,
            }
        },
        watch: {

        },
        async mounted()
        {

          this.item


          this._period = this.period;
          this.item.pics;



        },
        methods: {

          getUniqId()
          {
              return this.item.pair + "-" + this._period;
          },

          refreshImage()
          {
              if (this.item)
              {
                  const time = Math.floor(Date.now() / 1000);
                  const url = this.item.pics[this._period].src.split("?");
                  this.item.pics[this._period].src = url[0] + "?" + time + "=1";
              }
          },

          setItem(item)
          {
              this.item = item;
          },

          async onTrade(type)
          {
              var is_do_trade = false;

              if (type === 'sell')
              {
                if (this.sell_btn === 'sell')
                {
                  this.sell_btn += '!!!';
                } else {
                  is_do_trade = true;
                }

              } else {
                if (this.buy_btn === 'buy')
                {
                  this.buy_btn += '!!!';
                } else {
                  is_do_trade = true;
                }
              }

              if (!is_do_trade) return;
              //=-=-=-=-=-=-=-=-=

              this.buy_btn = 'buy';
              this.sell_btn = 'sell';
              this.is_trade_btns = false;

              var trade_params = _.clone(settings.forex.open_trade_schemas[this.open_trade_schema]);
              trade_params.type = type
              trade_params.pair = this.item.pair;

              var status = await this.runTask('put__command__to__the__sheet__task', {
                name: "OPEN_MARKET_ORDER",
                params: trade_params
              });

              this.toastOk(this.item.pair + ': ' + type);
          },

          isDrawning()
          {
            return this.is_drawning === true;
          },

          onEditScreenshotImage()
          {
            if (this.isDrawning())
            {
              this.stopEditScreenshot();
            }
            else {
              this.startEditScreenshot();
            }
          },

          item__pic_id(item)
          {
            return item._id ? item._id : item.pic._id;
          },

          startEditScreenshot()
          {
              this.is_drawning = true;
              var pic_id = this.item.pics[this.period]._id;
              var $box = $('#' + pic_id);

              var self = this;
              var width = $('.img-holder', $box).width();
              var height = $('.img-holder', $box).height();

              $('.img-holder', $box).append("<canvas width=\""+width+"\" height=\""+height+"\" class=\"canvas\" style=\"\n" +
                  "    position: absolute;\n" +
                  "    left: 0px;\n" +
                  "    top: 0px;\n" +
                  "    z-index: 100;\n" +
                  "\">\n" +
                  "                                Your browser doesn't support canvas\n" +
                  "                            </canvas>");

              var $canvas = $('.canvas', $box);
              var ctx = $canvas[0].getContext('2d');

              $canvas.click(() => {
                self.on_click_pic(self.item, self._period);
              });

              ctx.strokeStyle = "black";
              ctx.lineWidth = 1;

              //ctx.globalCompositeOperation='source-in';

              var startX, startY;
              this.canvas = $canvas[0];

              $canvas.mousedown(function(event){
                startX = event.offsetX;
                startY= event.offsetY;
                console.log(event);

                $(this).bind('mousemove', function(e){
                  drawLine(startX, startY, e.offsetX, e.offsetY);
                });
              }).mouseup(function(){
                $(this).unbind('mousemove');
              }).dblclick(function (){
                ctx.clearRect (0, 0, width, height);
              });

              function drawLine(x, y, stopX, stopY)
              {
                ctx.clearRect (x, y, stopX-x, stopY-y);
                ctx.beginPath();
                ctx.moveTo(x, y);
                ctx.lineTo(stopX, stopY);
                ctx.closePath();
                ctx.stroke();

                console.log("x = " + x + " y = " + y + " stopX = " + stopX + " stopY = " + stopY);
              }
          },


          stopEditScreenshot()
          {
            if (!this.is_drawning) return;
            //=-=-=-=-=-=-=-=-=

            this.is_drawning = false;
            var canvasData = this.canvas.toDataURL("image/png");

            // console.log(canvasData);

            var self = this;
            let pic = this.item.pics[this.period];

            var ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function() {
              if (ajax.readyState === 4) {
                var resp = JSON.parse(ajax.response).data;
                if (self.item.drawning) {
                  pic.drawning.url = resp.url;
                } else {
                  // update drawning images in blocks
                  // @TODO emit event here
                  //self.viewPair.item.drawning.url = resp.url
                  pic.drawning.url = resp.url;
                }
              }
            }

            let body = "crop_percent="+ pic.crop_percent+"&img=" + canvasData+"&period=" + pic.period + "&pair="+this.item.pair;
            ajax.open("POST", "/screenshot/image", false);
            ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            ajax.send(body);

            var can = $('#' + pic._id + " .canvas");
            can.remove();
          },

        }
    }
</script>


<style scoped lang="scss">

  .trade-btns
  {

  }

  .pic-holder
  {
      path.line {
        stroke: red;
      }
  }

  .img-holder
  {
    position: relative;

    canvas
    {
      //border: 2px solid black;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    img {
      max-width: 100%;
      //height: 100%;
    }
  }


</style>
