<template>
    <div class="timeline-box" v-on:keyup="onKeyUp" v-on:mousewheel="onMouseWheel">

        <div class="events-notify-box" v-if="isShowEventsNotify && eventsNotify.length">
            <div :id="e.id" class="event" v-for="e in eventsNotify">
                <span>{{e.time.format('HH:mm:ss')}}</span>
                <a href="javascript:void(0)"
                   @click="onClickNotifyEvent(e)"
                   :class="{'is-danger': e.movementDirection === 'down', 'is-link': e.movementDirection === 'up'}"
                   class="button is-rounded is-small">{{e.instrument}}</a>
                <span>{{e.message}}</span>
                <span :class="e.movementDirection" class="direction">{{e.movementDirection}}</span>
            </div>
        </div>


        <div class="trade-signals-box" v-if="tradeSignals.length">
            <span :title="signal.unique_id" :id="signal.chart_group_id + signal.instrument" class="signal" v-for="signal in tradeSignals">
                <a :href="'#list-chart-group-' + signal.chart_group_id"
                   :class="{'is-danger': signal.type === 'sell', 'is-link': signal.type === 'buy'}"
                   class="button is-rounded is-small">{{signal.time}} {{signal.source}} {{signal.instrument}}</a>
            </span>
        </div>


        <div v-show="isShowToolbox" class="toolbox" v-on:keydown="onToolboxKeyDown">

<!--            <input ref="toolbox_search" v-model="toolboxSearchChartGroups" @keyup="onKeyupSearch"></input>-->

<!--            <span v-if="isLookingChartGroup">-->
<!--                <span class="timeline-found">-->
<!--                    <span v-for="(group,index) in this.foundChartGroups">-->
<!--                        {{index+1}}-->
<!--                        <a @click="clickedFromToolboxChartGroup(group.name, index)" :href="'#list-chart-group-' + group.id"-->
<!--                           :class="{'is-primary': isPopupedGroup(group.id), 'is-secondary': isPopupedGroup(group.id)}"-->
<!--                           class="is-small button is-rounded">-->
<!--                                {{ group.name }}-->
<!--                        </a>-->
<!--                    </span>-->
<!--                </span>-->
<!--            </span>-->
<!--            <span v-else>-->
<!--                <span v-if="this.resTimelinePopuped" class="timeline-popup">-->
<!--                    <a @click="clickedFromToolboxChartGroup(groupName, index)" class="button is-primary is-rounded is-small"-->
<!--                       v-for="(groupName, index) in this.timeline.chart_groups_sorting.split(',')">-->
<!--                        {{ groupName }}-->
<!--                    </a>-->
<!--                </span>-->


<!--                -->
<!--                <div v-if="this.resTimelinePopuped" class="timeline-waiting">-->
<!--                    <a :href="'#list-chart-group-' + group.id" class="button is-secondary is-rounded is-small"-->
<!--                       v-for="group in this.resTimelinePopuped.resp.waiting">-->
<!--                        <span v-if="group.is_loading"> <b>>>></b> </span>-->
<!--                        {{ group.name }}-->
<!--                    </a>-->
<!--                </div>-->

<!--                <div v-show="this.resTimelinePopuped.resp.not_set.length > 0" class="timeline-popup">-->
<!--                    <h1>without next watch date</h1>-->
<!--                    <a href="#" class="button is-secondary" @click="showCurrentChartGroup(group)"-->
<!--                       v-for="group in this.resTimelinePopuped.resp.not_set">-->
<!--                        <span v-if="group.is_loading"> <b>>>></b> </span>-->
<!--                        {{ group.name }}-->
<!--                    </a>-->
<!--                </div>-->
<!--            </span>-->

            <span>
                Market clusters:

                <a href="javascript:void(0)"
                   class="button is-primary next-btn is-small"
                   @click="clickBuildDefaultChartGroupChunks()">Default</a>
                |
                <a href="javascript:void(0)" v-for="name in this.chartClustersKeys"
                   class="button is-primary next-btn is-small"
                   @click="onDisplayChartCluster(name)">{{name}}</a>
            </span>

            <span class="watchlist" v-if="watchlist.length">
                Watchlist:
                <span class="signal" v-for="watch in watchlist">
                    <a :href="'#list-chart-group-' + watch.chart_group_id"
                       :class="{'is-danger': watch.direction === 'down', 'is-link': watch.direction === 'up'}"
                       class="button is-rounded is-small">{{watch.instrument}} {{watch.timeframe}}M</a>
                    <a href="javascript:void(0)" @click="onClickRemoveFromWatchlist(watch)">X</a>
                    |
                </span>
            </span>

        </div>

        <div class="next-menu">
            <div>
                Stream: {{this.lastPriceStreamTime}} |
                <b-input type="text" v-model="timeline.chart_groups_sorting"></b-input>
                <a href="javascript:void(0)" class="button is-warning is-small" @click="clickedSaveSorting">Save</a>
            </div>
        </div>

        <div>
            <h2 v-if="this.currentChartGroup" class="title is-2 has-text-centered">
                <span>
                    {{ this.currentChartGroup.name }}
                </span>

                <a :href="backLinkListChartGroupHref" class="button is-warning" @click="clickedBackedToListGroup()">Close</a>

                NEXT:

                <span v-if="currentChartGroup">
                    <a href="javascript:void(0)" v-for="tf in this.getTimeframes(currentChartGroup.timeframe)"
                       class="button is-primary next-btn"
                       @click="clickedChartGroupNextPopuped(tf)">{{tf}}M</a>
                </span>
            </h2>

            <span>
                Navigation group:
                <a href="javascript:void(0)" @click="onClickChangeTimeframeForList(1)">1</a> |
                <a href="javascript:void(0)" @click="onClickChangeTimeframeForList(3)">3</a> |
                <a href="javascript:void(0)" @click="onClickChangeTimeframeForList(5)">5</a> |
                <a href="javascript:void(0)" @click="onClickChangeTimeframeForList(10)">10</a> |
                <a href="javascript:void(0)" @click="onClickChangeTimeframeForList(15)">15</a> |
                <a href="javascript:void(0)" @click="onClickChangeTimeframeForList(30)">30</a> |
                <a href="javascript:void(0)" @click="onClickChangeTimeframeForList(60)">1H</a> |
                <a href="javascript:void(0)" @click="onClickChangeTimeframeForList(180)">3H</a> |
             </span>


            <div v-if="isPopuped" class="columns is-gapless">
                <div class="column is-12">
                    <charts-group
                            ref="current_chart_group"
                            :res-chart-group='this.currentChartGroup'
                            :is-compact-view="true"
                    ></charts-group>
                </div>
            </div>
            <div v-else>
                <h2 class="title is-1">
                    waiting for popup
                </h2>
            </div>
        </div>


<!--        all chartgroups -->


        <div v-if="showChunkGroups" class="columns is-gapless" v-for="(chunk, index) in resChartGroupsChunks">
            <div :id="'href-chart-group-'+chartGroup.id" class="column is-12" v-for="chartGroup in chunk">
                <charts-group
                        :ref="'chart_group_'+chartGroup.id"
                        :res-chart-group='chartGroup'
                        :box-id="'list-chart-group-' + chartGroup.id"
                        :is-compact-view="false"
                        :on-dbl-click-param="onDblClickChartGroup"
                        :on-select-next-popup-delay="onSelectedNextPopupDelta"
                        :on-change-context-menu-select="onChangeContextMenuSelect"
                        :on-select-add-to-watchlist="onSelectAddToWatchlist"
                ></charts-group>
            </div>
        </div>

    </div>
</template>


<script>
    // import momentjs from moment;
    import moment from 'moment';
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    import SupportResistanceLevels from './Timeline_SupportRessistanceLevels.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    import ChartGroupModel from '../models/ChartGroupModel'

    export default {
        name: 'timeline',
        components: {},
        mixins: [mixins, SupportResistanceLevels],

        props: {
            timeline: {
                type: Object,
                required: true
            },

            minLatestLoadedTimeseriaDate: {
                type: String,
                required: true
            },
            resChartGroups: {
                type: Array,
                required: true
            }

            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {

                timeframes: [1,2,3,5,7,10,13,15,20,25,30,45,60,120,180,240,480],

                UPDATE_POPUPED_TIMELINE: 10000,
                HIGHLIGHT_SUPPORT_RESISTANCE_LEVELS: 10000,
                UPDATE_CHARTS_TIMESERIA: 60000,
                CHARTGROUPS_IN_ROW: 1,

                isPopuped: false,
                isLoadingChartGroups: false,

                resTimeline: null,
                currentChartGroup: null,
                // resShowedChartGroup: null,

                foundChartGroups: [],
                isLookingChartGroup: false,
                nextFromTimeseriaDate: null,
                lastPriceStreamTime: null,

                isShowToolbox: true,
                toolboxSearchChartGroups: '',
                toolboxLastActivatedIndex: 0,
                resTimelinePopuped: null,
                backLinkListChartGroupHref: '',

                eventsNotify: [],
                isShowEventsNotify: false,

                tradeSignals: [],
                watchlist: [],

                showChunkGroups: true,
                resChartGroupsChunks: null,

                /**
                 * show macd signals on the bottom
                 **/
                isShowMacdSingnals: false,

                chartGroupsSorting: null,

                chartClusters: {
                    'USD': ['eur_usd', 'usd_chf', 'gbp_usd', 'aud_usd','nzd_usd', 'usd_cad'],
                    'GBP':['gbp_usd', 'gbp_jpy', 'gbp_cad', 'gbp_chf', 'gbp_nzd', 'gbp_aud'],
                    'JPY':['usd_jpy', 'gbp_jpy', 'eur_jpy', 'aud_jpy', 'nzd_jpy', 'cad_jpy', 'chf_jpy'],
                    'EUR':['eur_usd', 'eur_jpy', 'eur_gbp', 'eur_chf', 'eur_nzd', 'eur_cad', 'eur_aud'],
                    'CAD': ['usd_cad', 'cad_jpy', 'gbp_cad', 'eur_cad', 'cad_chf', 'nzd_cad', 'aud_cad'],
                    'NZD': ['nzd_usd', 'nzd_jpy', 'eur_nzd', 'gbp_nzd', 'nzd_chf', 'nzd_cad'],
                    'CHF':['eur_chf', 'cad_chf', 'aud_chf', 'gbp_chf', 'aud_chf', 'nzd_chf']
                }
            }
        },

        watch: {

            currentChartGroup()
            {
                if (this.currentChartGroup)
                {
                    this.backLinkListChartGroupHref = '#list-chart-group-' + this.currentChartGroup.id;
                }
            },

            toolboxSearchChartGroups: function (val, oldVal)
            {
                this.isLookingChartGroup = val.length > 0;
                this.foundChartGroups = [];
                this.toolboxLastActivatedIndex = 0;

                if (val.length)
                {

                    this.foundChartGroups = _.concat(
                        _.filter(this.resTimelinePopuped.resp.popuped, (o) => {return o.name.indexOf(val) !== -1 }),
                        _.filter(this.resTimelinePopuped.resp.waiting, (o) => {return o.name.indexOf(val) !== -1 }),
                        _.filter(this.resTimelinePopuped.resp.not_set, (o) => {return o.name.indexOf(val) !== -1 }),
                    );

                    // debugger;
                    // this.foundChartGroups2 = _.filter(this.resTimelinePopuped.resp.waiting, {name: val});
                }
            }
        },

        async beforeMount()
        {
            var chartGroupIds = [];

            this.nextFromTimeseriaDate = _.clone(this.minLatestLoadedTimeseriaDate);
            // this.updateChartGroupsWithLatestTimeserias();
            // debugger;

            this.buildDefaultChartGroupChunks();
            this.chartClustersKeys = _.keys(this.chartClusters);
        },

        async mounted()
        {
            var self = this;
            this.audio = new Audio('/app_/sounds/ring-1.mp3');

            this.timeline.chart_groups_sorting


            this.subscribeToEvents();
            await self.updatePopupedList();

            // setInterval(async function() {
            //     await self.updatePopupedList();
            // }, this.UPDATE_POPUPED_TIMELINE);

            // setInterval(async function() {
            //     await self.updateChartGroupsWithLatestTimeserias();
            // }, this.UPDATE_CHARTS_TIMESERIA);

            await self.notifyChartLevelsBreakout();
            // setInterval(async function() {
            //     await self.notifyChartLevelsBreakout();
            // }, this.HIGHLIGHT_SUPPORT_RESISTANCE_LEVELS);
        },

        methods:
        {
            clickBuildDefaultChartGroupChunks()
            {
                var self = this;
                this.showChunkGroups = false;
                this.buildDefaultChartGroupChunks();

                _.delay(function () {
                    self.showChunkGroups = true;
                    self.resChartGroupsChunks = _.chunk(filtered, self.CHARTGROUPS_IN_ROW);
                }, 1);
            },

            buildDefaultChartGroupChunks()
            {
                this.resChartGroupsChunks = _.chunk(this.resChartGroups, this.CHARTGROUPS_IN_ROW);
            },

            onDisplayChartCluster(name)
            {
                var instruments = this.chartClusters[name];
                var filtered = _.filter(this.resChartGroups, (o) => {
                    var index = instruments.findIndex((ii) => {return ii === o.name;});
                    return index !== -1;
                });

                var self = this;
                this.showChunkGroups = false;

                _.delay(function () {
                    self.showChunkGroups = true;
                    self.resChartGroupsChunks = _.chunk(filtered, self.CHARTGROUPS_IN_ROW);
                }, 1);

                $('html, body').scrollTop(0);
            },

            onClickChangeTimeframeForList(timeframe)
            {
                if (this.toolboxSearchChartGroups.length === 0)
                {
                    var groups = this.resTimelinePopuped.resp.popuped;
                }
                else
                {
                    var groups = this.foundChartGroups;
                }

                groups.map(group => {
                    var component = this.getChartGroupComponent(group.id);
                    if (component) {
                        component.setTimeframe(timeframe);
                    }
                });
            },

            groupByName(name)
            {
                return _.find(this.resTimelinePopuped.resp.popuped, {name: name});
            },


            subscribeToEvents()
            {


                this.$root.$on('TRADE_SIGNAL', (signal) => {

                    var isProcess = true;
                    if (signal.source === 'macd')
                    {
                        isProcess = this.isShowMacdSingnals;
                    }

                    if (isProcess)
                    {
                        var found = _.find(this.tradeSignals, {unique_id: signal.unique_id});
                        if (!found) {
                            this.tradeSignals.unshift(signal);
                            this.audio.play();
                        }

                        var max = 30;
                        if (this.tradeSignals.length > max)
                        {
                            this.tradeSignals = this.tradeSignals.slice(0, max)
                        }
                    }
                });

            },

            onClickTradeSignalEvent(signal)
            {
                this.tradeSignals = _.filter(this.tradeSignals, o => {return o.unique_id !== signal.unique_id});
                this.onDblClickChartGroup(signal.chart_group_id);
            },

            onClickNotifyEvent(eventNotify)
            {
                this.eventsNotify = _.filter(this.eventsNotify, o => {return o.id !== eventNotify.id});
                this.onDblClickChartGroup(eventNotify.chartGroupId);
            },

            isPopupedGroup(groupId)
            {
                var found = _.find(this.resTimelinePopuped.resp.popuped, {id: groupId});
                return found !== undefined;
            },

            onMouseWheel(e)
            {
                if (e.ctrlKey)
                {
                    e.preventDefault();
                }
            },

            addNotifedEvent(chartGroupId, instrument, message, movementDirection)
            {
                var now = moment();

                this.eventsNotify.push({
                    time: now,
                    timestamp: parseInt(now.format('X')),
                    id: newUnicID(),
                    chartGroupId: chartGroupId,
                    instrument: instrument,
                    message: message,
                    movementDirection: movementDirection
                });

                this.eventsNotify = _.orderBy(this.eventsNotify, ['timestamp'], ['desc']);

            },

            deleteNotifedEvent(id)
            {
                this.eventsNotify = _.filter(this.eventsNotify, (o) => {return o.id !== id});
            },

            clickedFromToolboxChartGroup(groupName, index)
            {
                var group = this.groupByName(groupName);
                var $box = $('#href-chart-group-' + group.id);
                var pos = $box.position();
                $('html, body').scrollTop(pos.top-70);

                this.toolboxLastActivatedIndex = index;
            },

            onToolboxKeyDown(e)
            {
                if (e.key === 'ArrowRight' || e.key === 'ArrowLeft')
                {
                    e.preventDefault();

                    var nextIndex = e.key === 'ArrowRight'
                        ? this.toolboxLastActivatedIndex+1 : this.toolboxLastActivatedIndex-1;

                    if (this.toolboxSearchChartGroups.length === 0)
                    {
                        var groups = this.timeline.chart_groups_sorting.split(',');
                        var needleName = sp(groups, nextIndex);
                    }
                    else
                    {
                        var needleGroup = sp(this.foundChartGroups, nextIndex);
                        if (needleGroup)
                        {
                            needleName = needleGroup.name;
                        }
                    }

                    if (needleName)
                    {
                        this.clickedFromToolboxChartGroup(needleName, nextIndex);
                    }
                }

                if (1 <= e.key || 9 >= e.key)
                {
                    e.preventDefault();
                    var key = parseInt(e.key);
                    // this.toolboxSearchChartGroups = '';

                    this.$refs.toolbox_search.focus();
                    if (this.toolboxSearchChartGroups.length === 0)
                    {
                        var needleName = this.timeline.chart_groups_sorting.split(',')[key-1];
                        this.clickedFromToolboxChartGroup(needleName, key-1);
                    }
                    else
                    {
                        var needleGroup = this.foundChartGroups[key-1];
                        if (needleGroup)
                        {
                            this.clickedFromToolboxChartGroup(needleGroup.name, key-1);
                        }
                    }
                }
            },

            onKeyUp(e)
            {
                if (e.key === 'Tab')
                {
                    e.preventDefault();
                    // this.isShowToolbox = !this.isShowToolbox;
                    // if (this.isShowToolbox)
                    // {
                    //     this.toolboxSearchChartGroups = '';
                    // }
                    this.$refs.toolbox_search.focus();
                }
            },

            onKeyupSearch(e)
            {
                if (e.key === 'Escape')
                {
                    this.toolboxSearchChartGroups = '';
                    this.$refs.toolbox_search.focus();
                    $('html, body').scrollTop(0);
                }
            },

            async onSelectAddToWatchlist(groupId, watchDirection, meta)
            {
                var group = _.find(this.resChartGroups, {id: groupId});

                this.watchlist.unshift({
                    id: newUnicID(),
                    chart_group_id: group.id,
                    instrument: group.name,
                    timeframe: meta.timeframe,
                    direction: watchDirection
                });
            },

            onClickRemoveFromWatchlist(watch)
            {
                this.watchlist = _.filter(this.watchlist, (o) => { return o.id !== watch.id; })
            },

            async onChangeContextMenuSelect(groupId, menuAction, actionData)
            {
                if (menuAction === 'load_latest_candles')
                {
                    await this.contextMenuLoadLatestCandles(groupId, actionData);
                }
            },

            async contextMenuLoadLatestCandles(groupId, actionData)
            {
                var group = _.find(this.resChartGroups, {id: groupId});

                var resDownload = await this.runTask('download__latest__quotes__for__instrument__task', {
                    instrument: actionData.chart.instrument
                });

                var resLatestTimeseria = await this.updateSelectedChartGroupsWithLatestTimeserias(
                    [groupId], this.nextFromTimeseriaDate
                );
            },

            async onSelectedNextPopupDelta(groupId, delta)
            {
                var res = await this.runTask('push__chart__group__to__queue__task', {
                    delta: delta,
                    groupId: groupId
                });

                this.toastConfirm(res.isOk(), 'Pushed to queue', 'Failed to queue')

                var component = this.getChartGroupComponent(groupId);
                if (component) {
                    component.setIsPopuped(false);
                }
            },

            onDblClickChartGroup(groupId)
            {
                return;

                this.hideCurrentChartGroup();
                var self = this;

                _.delay(function () {
                    self.showCurrentChartGroup(groupId);
                }, 1);

                $('html, body').scrollTop(0);
            },

            getTimeframes(current)
            {
                var ret = _.reject(this.timeframes, function(o) { return o < current; });
                ret = ret.splice(0,5);
                ret = [1,2,5,10,15,30,60];
                return ret;
            },

            async clickedSaveSorting()
            {
                var res = await this.runTask('udpate__timeline__task', this.timeline);
                this.toastConfirm(res.isOk(), 'Udpated timeline', 'Failed to udpate')
            },

            async clickedBackedToListGroup()
            {
                this.hideCurrentChartGroup();

            },

            /**
             * Process next
             * @param delta
             */
            async clickedChartGroupNextPopuped(delta)
            {
                var groupId = this.currentChartGroup.id;

                var res = await this.runTask('push__chart__group__to__queue__task', {
                    delta: delta,
                    groupId: groupId
                });

                this.toastConfirm(res.isOk(), 'Pushed to queue', 'Failed to queue')
                this.resTimelinePopuped.resp.popuped =
                    _.filter(this.resTimelinePopuped.resp.popuped, function(o) { return o.id !== groupId; });



                // select next one to show up
                this.hideCurrentChartGroup();
                if (this.resTimelinePopuped.resp.popuped[0])
                {
                    var self = this;
                    _.delay(function () {
                        self.showCurrentChartGroup(self.resTimelinePopuped.resp.popuped[0].id);
                    }, 1)
                }
            },

            async updateSelectedChartGroupsWithLatestTimeserias(chartGroupIds, nextFromTimeseriaDate)
            {
                var resLatestTimeseria = await this.runTask(
                    'get__latest__timeseria__for__charts__task', {
                        chartGroupIds: chartGroupIds,
                        fromDate: nextFromTimeseriaDate
                    });

                /**
                 * append to all charts
                 */
                if (resLatestTimeseria.isOk())
                {
                    var self = this;

                    _.map(resLatestTimeseria.resp.resChartGroupTimeseries, (charts, groupId) => {
                        self
                            .getChartGroupComponent(groupId)
                            .updateChartsWithLatestTimeseria(charts);

                        if (sp(self.currentChartGroup, 'id') === toInt(groupId)) {
                            self.$refs['current_chart_group'].updateChartsWithLatestTimeseria(charts);
                        }
                    });
                }

                return resLatestTimeseria;
            },

            async updateChartGroupsWithLatestTimeserias()
            {
                this.isLoadingChartGroups = true;
                var chartGroupIds = _.map(this.resChartGroups, 'id');

                var resLatestTimeseria = await this.updateSelectedChartGroupsWithLatestTimeserias(
                    chartGroupIds, this.nextFromTimeseriaDate
                );

                this.nextFromTimeseriaDate = resLatestTimeseria.get('minLatestLoadedTimeseriaDate');
                this.isLoadingChartGroups = false;
            },

            getChartGroupComponent(groupId)
            {
                var id = 'chart_group_' + groupId.toString();
                return this.$refs[id][0];
            },

            async updatePopupedList()
            {
                this.resTimelinePopuped = await this.runTask(
                    'get__popup__timeline__task',
                    {
                        timelineId: this.timeline.id
                    }
                );

                this.resChartGroups.map((o) => {
                    var component = this.getChartGroupComponent(o.id);
                    if (component) {
                        component.setIsPopuped(false);
                    }
                });

                this.resTimelinePopuped.resp.popuped.map((o) => {

                    var chartGroup = _.find(this.resChartGroups, {id: o.id});
                    if (chartGroup)
                    {
                        var component = this.getChartGroupComponent(o.id);
                        if (component) {
                            component.setIsPopuped(true);
                        }
                    }
                });

                if (eN(this.timeline.chart_groups_sorting) || !this.timeline.chart_groups_sorting.length)
                {
                    this.timeline.chart_groups_sorting = _.map(this.resTimelinePopuped.resp.popuped, 'name').join(',');
                }

                // if (this.resTimelinePopuped.resp.popuped[0])
                // {
                //     var model = new ChartGroupModel(this.resTimelinePopuped.resp.popuped[0]);
                //     var date = moment(model.next_popup_time);
                // }

            },

            hideCurrentChartGroup()
            {
                this.isPopuped = false;

                if (this.currentChartGroup)
                {
                    /**
                     * update component in the table
                     */
                    var updatedChartGroup  = this.$refs['current_chart_group'].getResChartGroup();
                    var component = this.getChartGroupComponent(this.currentChartGroup.id);
                    if (component) {
                        component.setIsPopuped(false);
                        component.updateResChartGroup(updatedChartGroup);
                    }

                }

                this.currentChartGroup = null;
                this.$forceUpdate();
            },

            async showCurrentChartGroup(groupId)
            {
                var newGroup = _.filter(this.resChartGroups, {id: groupId})[0];
                this.currentChartGroup = newGroup;
                this.isPopuped = true;

                // this.currentChartGroup = _.filter(this.resChartGroups, {id: chartGroup.id})[0];
                // var chartGroupComponent = this.$refs['current_chart_group'][0];
                // chartGroupComponent.updateChartsWithLatestTimeseria(charts);
                // // this.resShowedChartGroup = res.resp;
            },

            onSelectChartGroupFromNavigation(group)
            {
                var href = '#list-chart-group-' + group.id;
                $('html, body').scrollTop(0);
            },

            onSelectChartGroupFromToolbox(group)
            {
                var self = this;
                var newGroup = _.filter(this.resChartGroups, {id: group.id})[0];
                if (newGroup)
                {
                    this.hideCurrentChartGroup();
                    this.isShowToolbox = false;

                    _.delay(function () {
                        self.showCurrentChartGroup(group.id);
                    }, 1);
                }
            }

        }
    }
</script>


<style scoped lang="scss">

    .timeline-box
    {
        background-color: #eee !important;

        .next-btn
        {
            margin-right: 5px;
        }

        .popuped-banner
        {
            position: absolute;
            top: 0px;
            right: 0px;
        }

        .toolbox
        {
            position: fixed;
            background-color: white;
            top: 0px;
            width: 100%;
            padding: 10px;
            z-index: 100;
        }

        .events-notify-box
        {
            border: 1px solid black;
            position: absolute;
            background-color: #cccccc;
            z-index: 100;
            right: 0px;
            width: 200px;
            top: 150px;
            min-height: 500px;
            padding: 3px;
        }

        .trade-signals-box
        {
            border: 1px solid black;
            position: fixed;
            background-color: #cccccc;
            z-index: 100;
            left: 0px;
            bottom: 0px;
            width: 100%;
            padding: 3px;
        }

        .signal
        {

        }

        .event
        {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid black;

            .direction
            {
                &.up
                {
                    color: green;
                }

                &.down
                {
                    color: red;
                }
            }
        }
    }

</style>
