<template>
    <div class="" v-on:keyup="onKeyUp" v-on:mousewheel="onMouseWheel">

        <div class="events-notify-box" v-if="eventsNotify.length">
            <div :id="e.id" class="event" v-for="e in eventsNotify">
                <span>{{e.time.format('HH:mm:ss')}}</span>
                <a href="javascript:void(0)"
                   @click="onClickNotifyEvent(e)"
                   :class="{'is-danger': e.movementDirection === 'down', 'is-link': e.movementDirection === 'up'}"
                   class="button is-rounded is-small">{{e.instrument}}</a>
                <span>{{e.message}}</span>
                <span :class="e.movementDirection" class="direction">{{e.movementDirection}}</span>
            </div>
        </div>


        <div class="macd-signals-box" v-if="macdTradeSingals.length">
            <div :id="signal.chart_group_id + signal.instrument" class="signal" v-for="signal in macdTradeSingals">
                <span>{{signal.time}}</span>
                <span>{{signal.instrument}}</span>
                <span>{{signal.trade.type}}</span>
                <span>{{signal.trade.price}}</span>
                <span>{{signal.unique_id}}</span>

                <a href="javascript:void(0)"
                   @click="onClickTradeSignalEvent(signal)"
                   :class="{'is-danger': signal.trade.type === 'sell', 'is-link': signal.trade.type === 'buy'}"
                   class="button is-rounded is-small">{{signal.instrument}}</a>
            </div>
        </div>

        <div v-show="isShowToolbox" class="toolbox">

            <div class="field timeline-search">
                <!--                    <label class="label">Name</label> -->
                <p class="control">
                    <b-input ref="toolbox_search" v-model="toolboxSearchChartGroups" @keyup="onKeyupSearch"></b-input>
                </p>
            </div>

            <div v-if="isLookingChartGroup">
                <div class="timeline-found">
                    <h1 class="title is-3">found <b>({{this.foundChartGroups.length}})</b></h1>
                    <a href="javascript:void(0)" :class="{'is-primary': isPopupedGroup(group.id), 'is-secondary': isPopupedGroup(group.id)}"class="button is-rounded"
                       @click="onSelectChartGroupFromToolbox(group)"
                       v-for="group in this.foundChartGroups">
                        {{ group.name }}
                    </a>
                </div>
            </div>
            <div v-else>
                <div v-if="this.resTimelinePopuped" class="timeline-popup">
                    <h1 class="title is-3">popuped <b>({{this.resTimelinePopuped.resp.popuped.length}})</b></h1>
                    <a href="javascript:void(0)" class="button is-primary is-rounded" @click="onSelectChartGroupFromToolbox(group)"
                       v-for="group in this.resTimelinePopuped.resp.popuped">
                        <span v-if="group.is_loading"> <b>>>></b> </span>
                        {{ group.name }}
                    </a>
                </div>

                <div v-if="this.resTimelinePopuped" class="timeline-waiting">
                    <h1 class="title is-3">waiting <b>({{this.resTimelinePopuped.resp.waiting.length}})</b></h1>
                    <a href="javascript:void(0)" class="button is-secondary is-rounded" @click="onSelectChartGroupFromToolbox(group)"
                       v-for="group in this.resTimelinePopuped.resp.waiting">
                        <span v-if="group.is_loading"> <b>>>></b> </span>
                        {{ group.name }}
                    </a>
                </div>

<!--                <div v-show="this.resTimelinePopuped.resp.not_set.length > 0" class="timeline-popup">-->
<!--                    <h1>without next watch date</h1>-->
<!--                    <a href="#" class="button is-secondary" @click="showCurrentChartGroup(group)"-->
<!--                       v-for="group in this.resTimelinePopuped.resp.not_set">-->
<!--                        <span v-if="group.is_loading"> <b>>>></b> </span>-->
<!--                        {{ group.name }}-->
<!--                    </a>-->
<!--                </div>-->
            </div>

        </div>

        <div class="next-menu">
            <div>
                {{this.nextFromTimeseriaDate}} | Stream: {{this.lastPriceStreamTime}} |
                <a href="javascript:void(0)"
                   :class="{'is-loading': isLoadingChartGroups}"
                   class="button is-primary next-btn"
                   @click="updateChartGroupsWithLatestTimeserias()">Update with latest</a>
            </div>
        </div>

        <div>
            <h2 v-if="this.currentChartGroup" class="title is-2 has-text-centered">
                <span>
                    {{ this.currentChartGroup.name }}
                </span>

                <a :href="backLinkListChartGroupHref" class="button is-warning" @click="clickedBackedToListGroup()">Close</a>

                NEXT:

                <span v-if="currentChartGroup">
                    <a href="javascript:void(0)" v-for="tf in this.getTimeframes(currentChartGroup.timeframe)"
                       class="button is-primary next-btn"
                       @click="clickedChartGroupNextPopuped(tf)">{{tf}}M</a>
                </span>

            </h2>

            <div v-if="isPopuped" class="columns is-gapless">
                <div class="column is-12">
                    <charts-group
                            ref="current_chart_group"
                            :res-chart-group='this.currentChartGroup'
                            :is-compact-view="false"
                    ></charts-group>
                </div>
            </div>
            <div v-else>
                <h2 class="title is-1">
                    waiting for popup
                </h2>
            </div>
        </div>


<!--        all chartgroups -->

        <div class="columns is-gapless" v-for="(chunk, index) in resChartGroupsChunks">
            <div class="column is-4" v-for="chartGroup in chunk">
                <charts-group
                        :ref="'chart_group_'+chartGroup.id"
                        :res-chart-group='chartGroup'
                        :box-id="'list-chart-group-' + chartGroup.id"
                        :is-compact-view="true"
                        :on-dbl-click-param="onDblClickChartGroup"
                        :on-select-next-popup-delay="onSelectedNextPopupDelta"
                        :on-change-context-menu-select="onChangeContextMenuSelect"
                ></charts-group>
            </div>
        </div>

    </div>
</template>


<script>
    // import momentjs from moment;
    import moment from 'moment';
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    import SupportResistanceLevels from './Timeline_SupportRessistanceLevels.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    import ChartGroupModel from '../models/ChartGroupModel'

    export default {
        name: 'timeline',
        components: {},
        mixins: [mixins, SupportResistanceLevels],

        props: {
            timelineId: {
                type: String,
                required: true
            },

            minLatestLoadedTimeseriaDate: {
                type: String,
                required: true
            },
            resChartGroups: {
                type: Array,
                required: true
            }

            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {

                timeframes: [1,2,3,5,7,10,13,15,20,25,30,45,60,120,180,240,480],

                UPDATE_POPUPED_TIMELINE: 10000,
                HIGHLIGHT_SUPPORT_RESISTANCE_LEVELS: 10000,
                UPDATE_CHARTS_TIMESERIA: 60000,
                CHARTGROUPS_IN_ROW: 3,

                isPopuped: false,
                isLoadingChartGroups: false,

                resTimeline: null,
                currentChartGroup: null,
                // resShowedChartGroup: null,

                foundChartGroups: [],
                isLookingChartGroup: false,
                nextFromTimeseriaDate: null,
                lastPriceStreamTime: null,
                resChartGroupsChunks: null,

                isShowToolbox: false,
                toolboxSearchChartGroups: '',
                resTimelinePopuped: null,
                backLinkListChartGroupHref: '',

                eventsNotify: [],

                macdTradeSingals: [],
                isShowMacdSingnals: false,
            }
        },

        watch: {

            currentChartGroup()
            {
                if (this.currentChartGroup)
                {
                    this.backLinkListChartGroupHref = '#list-chart-group-' + this.currentChartGroup.id;
                }
            },

            toolboxSearchChartGroups: function (val, oldVal)
            {
                this.isLookingChartGroup = val.length > 0;
                this.foundChartGroups = [];

                if (val.length)
                {

                    this.foundChartGroups = _.concat(
                        _.filter(this.resTimelinePopuped.resp.popuped, (o) => {return o.name.indexOf(val) !== -1 }),
                        _.filter(this.resTimelinePopuped.resp.waiting, (o) => {return o.name.indexOf(val) !== -1 }),
                        _.filter(this.resTimelinePopuped.resp.not_set, (o) => {return o.name.indexOf(val) !== -1 }),
                    );

                    // debugger;
                    // this.foundChartGroups2 = _.filter(this.resTimelinePopuped.resp.waiting, {name: val});
                }
            }
        },

        async beforeMount()
        {
            var chartGroupIds = [];

            this.nextFromTimeseriaDate = _.clone(this.minLatestLoadedTimeseriaDate);
            // this.updateChartGroupsWithLatestTimeserias();
            // debugger;

            this.resChartGroupsChunks = _.chunk(this.resChartGroups, this.CHARTGROUPS_IN_ROW);

        },

        async mounted()
        {
            var self = this;
            this.audio = new Audio('/app_/sounds/ring-1.mp3');


            this.subscribeToEvents();


            await self.updatePopupedList();
            setInterval(async function() {
                await self.updatePopupedList();
            }, this.UPDATE_POPUPED_TIMELINE);

            // setInterval(async function() {
            //     await self.updateChartGroupsWithLatestTimeserias();
            // }, this.UPDATE_CHARTS_TIMESERIA);

            await self.notifyChartLevelsBreakout();
            // setInterval(async function() {
            //     await self.notifyChartLevelsBreakout();
            // }, this.HIGHLIGHT_SUPPORT_RESISTANCE_LEVELS);
        },

        methods:
        {

            subscribeToEvents()
            {


                this.$root.$on('MACD_TRADE_SIGNAL', (signal) => {

                    if (this.isShowMacdSingnals)
                    {
                        var found = _.find(this.macdTradeSingals, {unique_id: signal.unique_id})
                        if (!found) {
                            this.macdTradeSingals.push(signal);
                        }

                        var max = 5;
                        if (this.macdTradeSingals.length > max)
                        {
                            this.macdTradeSingals = this.macdTradeSingals.slice(this.macdTradeSingals.length - max, this.macdTradeSingals.length)
                        }
                    }


                    // trade: this.chartTrades[0],
                    // instrument: this.resChart.chart.instrument,
                    // chart_group_id: this.resChart.chart.group_id
                    //
                });

            },

            onClickTradeSignalEvent(signal)
            {
                this.macdTradeSingals = _.filter(this.macdTradeSingals, o => {return o.unique_id !== signal.unique_id});
                this.onDblClickChartGroup(signal.chart_group_id);
            },

            onClickNotifyEvent(eventNotify)
            {
                this.eventsNotify = _.filter(this.eventsNotify, o => {return o.id !== eventNotify.id});
                this.onDblClickChartGroup(eventNotify.chartGroupId);
            },

            isPopupedGroup(groupId)
            {
                var found = _.find(this.resTimelinePopuped.resp.popuped, {id: groupId});
                return found !== undefined;
            },

            onMouseWheel(e)
            {
                if (e.ctrlKey)
                {
                    e.preventDefault();
                }
            },

            addNotifedEvent(chartGroupId, instrument, message, movementDirection)
            {
                var now = moment();

                this.eventsNotify.push({
                    time: now,
                    timestamp: parseInt(now.format('X')),
                    id: newUnicID(),
                    chartGroupId: chartGroupId,
                    instrument: instrument,
                    message: message,
                    movementDirection: movementDirection
                });

                this.eventsNotify = _.orderBy(this.eventsNotify, ['timestamp'], ['desc']);

            },

            deleteNotifedEvent(id)
            {
                this.eventsNotify = _.filter(this.eventsNotify, (o) => {return o.id !== id});
            },


            onKeyUp(e)
            {
                if (e.key === 'Tab')
                {
                    e.preventDefault();
                    this.isShowToolbox = !this.isShowToolbox;
                    if (this.isShowToolbox)
                    {
                        this.toolboxSearchChartGroups = '';
                    }
                    this.$refs.toolbox_search.focus();
                }

            },

            onKeyupSearch(e)
            {
                if (e.key === 'Escape')
                {
                    this.toolboxSearchChartGroups = '';
                }
            },

            async onChangeContextMenuSelect(groupId, menuAction, actionData)
            {
                if (menuAction === 'load_latest_candles')
                {
                    await this.contextMenuLoadLatestCandles(groupId, actionData);
                }
            },

            async contextMenuLoadLatestCandles(groupId, actionData)
            {
                var group = _.find(this.resChartGroups, {id: groupId});

                var resDownload = await this.runTask('download__latest__quotes__for__instrument__task', {
                    instrument: actionData.chart.instrument
                });

                var resLatestTimeseria = await this.updateSelectedChartGroupsWithLatestTimeserias(
                    [groupId], this.nextFromTimeseriaDate
                );
            },

            async onSelectedNextPopupDelta(groupId, delta)
            {
                var res = await this.runTask('push__chart__group__to__queue__task', {
                    delta: delta,
                    groupId: groupId
                });

                this.toastConfirm(res.isOk(), 'Pushed to queue', 'Failed to queue')

                var component = this.getChartGroupComponent(groupId);
                if (component) {
                    component.setIsPopuped(false);
                }
            },

            onDblClickChartGroup(groupId)
            {
                this.hideCurrentChartGroup();
                var self = this;

                _.delay(function () {
                    self.showCurrentChartGroup(groupId);
                }, 1);

                $('html, body').scrollTop(0);
            },

            getTimeframes(current)
            {
                var ret = _.reject(this.timeframes, function(o) { return o < current; });
                ret = ret.splice(0,5);
                ret = [1,2,5,10,15,30,60];
                return ret;
            },

            async clickedBackedToListGroup()
            {
                this.hideCurrentChartGroup();

            },

            /**
             * Process next
             * @param delta
             */
            async clickedChartGroupNextPopuped(delta)
            {
                var groupId = this.currentChartGroup.id;

                var res = await this.runTask('push__chart__group__to__queue__task', {
                    delta: delta,
                    groupId: groupId
                });

                this.toastConfirm(res.isOk(), 'Pushed to queue', 'Failed to queue')
                this.resTimelinePopuped.resp.popuped =
                    _.filter(this.resTimelinePopuped.resp.popuped, function(o) { return o.id !== groupId; });



                // select next one to show up
                this.hideCurrentChartGroup();
                if (this.resTimelinePopuped.resp.popuped[0])
                {
                    var self = this;
                    _.delay(function () {
                        self.showCurrentChartGroup(self.resTimelinePopuped.resp.popuped[0].id);
                    }, 1)
                }
            },

            async updateSelectedChartGroupsWithLatestTimeserias(chartGroupIds, nextFromTimeseriaDate)
            {
                var resLatestTimeseria = await this.runTask(
                    'get__latest__timeseria__for__charts__task', {
                        chartGroupIds: chartGroupIds,
                        fromDate: nextFromTimeseriaDate
                    });

                /**
                 * append to all charts
                 */
                if (resLatestTimeseria.isOk())
                {
                    var self = this;

                    _.map(resLatestTimeseria.resp.resChartGroupTimeseries, (charts, groupId) => {
                        self
                            .getChartGroupComponent(groupId)
                            .updateChartsWithLatestTimeseria(charts);

                        if (sp(self.currentChartGroup, 'id') === toInt(groupId)) {
                            self.$refs['current_chart_group'].updateChartsWithLatestTimeseria(charts);
                        }
                    });
                }

                return resLatestTimeseria;
            },

            async updateChartGroupsWithLatestTimeserias()
            {
                this.isLoadingChartGroups = true;
                var chartGroupIds = _.map(this.resChartGroups, 'id');

                var resLatestTimeseria = await this.updateSelectedChartGroupsWithLatestTimeserias(
                    chartGroupIds, this.nextFromTimeseriaDate
                );

                this.nextFromTimeseriaDate = resLatestTimeseria.get('minLatestLoadedTimeseriaDate');
                this.isLoadingChartGroups = false;
            },

            getChartGroupComponent(groupId)
            {
                var id = 'chart_group_' + groupId.toString();
                return this.$refs[id][0];
            },

            async updatePopupedList()
            {
                this.resTimelinePopuped = await this.runTask(
                    'get__popup__timeline__task',
                    {
                        timelineId: this.timelineId
                    }
                );

                this.resChartGroups.map((o) => {
                    var component = this.getChartGroupComponent(o.id);
                    if (component) {
                        component.setIsPopuped(false);
                    }
                });

                this.resTimelinePopuped.resp.popuped.map((o) => {
                    var chartGroup = _.find(this.resChartGroups, {id: o.id});
                    if (chartGroup)
                    {
                        var component = this.getChartGroupComponent(o.id);
                        if (component) {
                            component.setIsPopuped(true);
                        }
                    }
                });

                // if (this.resTimelinePopuped.resp.popuped[0])
                // {
                //     var model = new ChartGroupModel(this.resTimelinePopuped.resp.popuped[0]);
                //     var date = moment(model.next_popup_time);
                // }

            },

            hideCurrentChartGroup()
            {
                this.isPopuped = false;

                if (this.currentChartGroup)
                {
                    /**
                     * update component in the table
                     */
                    var updatedChartGroup  = this.$refs['current_chart_group'].getResChartGroup();
                    var component = this.getChartGroupComponent(this.currentChartGroup.id);
                    if (component) {
                        component.setIsPopuped(false);
                        component.updateResChartGroup(updatedChartGroup);
                    }

                }

                this.currentChartGroup = null;
                this.$forceUpdate();
            },

            async showCurrentChartGroup(groupId)
            {
                var newGroup = _.filter(this.resChartGroups, {id: groupId})[0];
                this.currentChartGroup = newGroup;
                this.isPopuped = true;

                // this.currentChartGroup = _.filter(this.resChartGroups, {id: chartGroup.id})[0];
                // var chartGroupComponent = this.$refs['current_chart_group'][0];
                // chartGroupComponent.updateChartsWithLatestTimeseria(charts);
                // // this.resShowedChartGroup = res.resp;
            },

            onSelectChartGroupFromToolbox(group)
            {
                var self = this;
                var newGroup = _.filter(this.resChartGroups, {id: group.id})[0];
                if (newGroup)
                {
                    this.hideCurrentChartGroup();
                    this.isShowToolbox = false;

                    _.delay(function () {
                        self.showCurrentChartGroup(group.id);
                    }, 1);
                }
            }

        }
    }
</script>


<style scoped lang="scss">

    .next-btn
    {
        margin-right: 5px;
    }

    .popuped-banner
    {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .toolbox
    {
        border: 1px solid black;
        position: absolute;
        width: 100%;
        height: 300px;
        padding: 10px;
        background-color: #cccccc;
        z-index: 100;
    }

    .events-notify-box
    {
        border: 1px solid black;
        position: absolute;
        background-color: #cccccc;
        z-index: 100;
        right: 0px;
        width: 200px;
        top: 150px;
        min-height: 500px;
        padding: 3px;
    }

    .macd-signals-box
    {
        border: 1px solid black;
        position: fixed;
        background-color: #cccccc;
        z-index: 100;
        left: 0px;
        bottom: 0px;
        width: 100%;
        padding: 3px;
    }

    .signal
    {
        padding: 10px;
        border: 1px solid black;
    }

    .event
    {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid black;

        .direction
        {
            &.up
            {
                color: green;
            }

            &.down
            {
                color: red;
            }
        }
    }

</style>
