<template>
    <div class="tlines-panel" :id="uniq_id">

        <header class="card-header">
<!--            <p>-->
<!--                #{{tline.id}} {{tline.chart_tag}} {{tline.trading_type}}-->
<!--                <a @click="hidePanel" class="button is-small">x</a>-->
<!--            </p>-->
        </header>

        <div class="content" style="border: 1px solid">

            <h3>TRADE</h3>
            <div v-for="tline in this.trade_tines">
                <tline-params :tline="tline"></tline-params>
            </div>
        </div>

        <div class="content">
          <h3>WATCH</h3>

            <div v-for="tline in this.watch_tlines">
              <tline-params :tline="tline"></tline-params>
              <hr>
            </div>
        </div>

    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
             pair: {
                 type: String,
                 required: true
             },
            period: {
              type: Number,
              required: true
            },
            tlines_: {
              type: Array,
              required: true
            },
//             is_trainer_tline: {
//                 type: Boolean,
//                 required:true
//             },
        },

        computed: {

        },

        data() {
            return {
                uniq_id: "tlines-panel-" + h.get_uniq_id(),
                sl_val:  settings.attack_panel.sl.val,
                type: null,
                tline: null,
                trading_type: null,
                is_show: false,
                mockup: null,
                points: 0,
                percents: 0,

                watch_tlines: [],
                trade_tines: []

            }
        },
        watch: {

        },
        async mounted()
        {

            var ggg = this.tlines_;

            if(ggg.length)
            {
                // debugger;
            }

            this.watch_tlines = _.filter(this.tlines_, {is_active: 1, is_trade: 0});
            this.trade_tines = _.filter(this.tlines_, {is_active: 1, is_trade: 1});

            var fff = this.watch_tlines;

            if(this.trade_tines.length)
            {
                // debugger;
            }

            if(this.watch_tlines.length)
            {
                // debugger
            }
            // var rTline = await this.runTask('get__active__trendlines__task', {
            //   uniq_id: uniq_id,
            //   pair: pair,
            //   period: period,
            // });

        },
        methods: {

            hidePanel()
            {
                this.is_show = false;
            },

            tline_risk_equal(tline, risk)
            {
                if(tline.params)
                {

                } else {
                  return false;
                }
                return tline.params.risk == risk;
            },

            async setTline(uniq_id, pair, period)
            {
                var rTline = await this.runTask('get__trendline__task', {
                    uniq_id: uniq_id,
                    pair: pair,
                    period: period,
                });

                if (rTline.resp.res) {
                    this.percents = 0;
                    this.tline = rTline.resp.res;
                    this.trading_type = this.tline.trading_type;
                    this.is_show = true;
//                    this.mockup = mockup;
//                    this.points = points;
                    var self = this;
                    fork(() => {
                        self.setupSliders();
                    }, 200);
                }
            },
            async put_trade(type, percents)
            {
                this.percents = percents;

            },

            async save_tline_params(type, percents)
            {
                var rtline = await this.runTask('save__trendline__params__task', {
                    uniq_id: this.tline.uniq_id,
                    pair: this.tline.pair,
                    period: this.tline.period,
                    is_trading: 1,
                    // send to ripper command task
                    params: {
                        type: type,
                        sl: this.sl_val,
                        tp_coef: 1,
                        risk: percents,
                        risk_type: "depo_percents",
                        pair: this.tline.pair,
                        uniq_id: this.tline.uniq_id,
                        is_skip_be: 0,
                    }
                });

                this.$root.$emit('tline__changed', {id: this.tline.id});

                if (rtline.resp.tline) {
                    this.tline = rtline.resp.tline;
                    // @todo send event
                    this.toastOk("Trendline saved");
                } else {
                    this.toastError("Error")
                }
            },

            async onClickRemove()
            {
                var rhline = await this.runTask('remove__trendline__is__trading__task', {
                    uniq_id: this.tline.uniq_id,
                    pair: this.tline.pair,
                    period: this.tline.period,
                });

                if (rhline.resp.res) {
                    this.toastOk("Removed tline");
                } else {
                    this.toastError("Error")
                }
            },

            setupSliders()
            {
                var self = this;
                var handle = $( "#"+ this.uniq_id + " #sl-handle" );
                if (this.tline)
                {
                    var sl_val = this.tline.params.sl  ? this.tline.params.sl : settings.attack_panel.sl.val;
                } else {
                    var sl_val = settings.attack_panel.sl.val;
                }

                handle.text(sl_val);

                $("#"+ this.uniq_id + " #sl-slider" ).slider({
                    min: settings.attack_panel.sl.min,
                    max: settings.attack_panel.sl.max,
                    value: sl_val,
                    create: function() {
                        handle.text( $( this ).slider( "value" ) );
                    },
                    slide: function( event, ui ) {
                        handle.text( ui.value );
                        self.sl_val = ui.value;
                    }
                });
            }


        }
    }
</script>


<style lang="scss">

 #custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

</style>
