<template>
    <div class="tline-params" :class="{'fired_sell': tline.is_fired && tline.type == 'sell', 'fired_buy': tline.is_fired && tline.type == 'buy', }" :id="uniq_id" style="">

      <h5>{{tline.object_name}} {{tline.type}}</h5>
      <div id="sl-slider">
        <div id="sl-handle" class="ui-slider-handle"></div>
      </div>
      <DIV class="risk-btns" v-if="tline.type == 'buy'" >
        <a @click="save_tline_params('buy', 1)" :class="{'is-small': !tline_risk_equal( 1), 'is-big': tline_risk_equal( 1)}" class="button is-primary">BUY1</a>
        <a @click="save_tline_params('buy', 3)" :class="{'is-small': !tline_risk_equal(3), 'is-big': tline_risk_equal(3)}" class="button is-primary">BUY3</a>
        <a @click="save_tline_params('buy', 5)" :class="{'is-small': !tline_risk_equal(5), 'is-big': tline_risk_equal(5)}" class="button is-primary">BUY5</a>
        <a @click="save_tline_params('buy', 10)" :class="{'is-small': !tline_risk_equal(10), 'is-big': tline_risk_equal(10)}" class="button is-primary">BUY10</a>
        <a @click="save_tline_params('buy', 20)" :class="{'is-small': !tline_risk_equal(20), 'is-big': tline_risk_equal(20)}" class="button is-primary">BUY20</a>
        <a v-if="tline.is_trade" @click="onClickRemove" :class="{'is-primary': false, 'is-danger': false}" class="button is-small is-black">REM</a>
      </DIV>
      <DIV class="risk-btns" v-if="tline.type == 'sell'">
        <a @click="save_tline_params('sell', 1)" :class="{'is-small': !tline_risk_equal(1), 'is-big': tline_risk_equal(1)}" class="button is-danger">SELL1</a>
        <a @click="save_tline_params('sell', 3)" :class="{'is-small': !tline_risk_equal(3), 'is-big': tline_risk_equal(3)}" class="button is-danger">SELL3</a>
        <a @click="save_tline_params('sell', 5)" :class="{'is-small': !tline_risk_equal(5), 'is-big': tline_risk_equal(5)}" class="button is-danger">SELL5</a>
        <a @click="save_tline_params('sell', 10)" :class="{'is-small': !tline_risk_equal(10), 'is-big': tline_risk_equal(10)}" class="button is-danger">SELL10</a>
        <a @click="save_tline_params('sell', 20)" :class="{'is-small': !tline_risk_equal(20), 'is-big': tline_risk_equal(20)}" class="button is-danger">SELL20</a>
        <a v-if="tline.is_trade" @click="onClickRemove" :class="{'is-primary': false, 'is-danger': false}" class="button is-small is-black">REM</a>
      </DIV>
      <hr>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            tline: {
              type: Object,
              required: true
            },
//             is_trainer_tline: {
//                 type: Boolean,
//                 required:true
//             },
        },

        computed: {

        },

        data() {
            return {
                uniq_id: "tline-params-" + h.get_uniq_id(),
                sl_val:  settings.attack_panel.sl.val,
                type: null,
                trading_type: null,
                is_show: false,
                mockup: null,
                points: 0,
                percents: 0,

                watch_tlines: [],
                trade_tines: []

            }
        },
        watch: {

        },
        async mounted()
        {

            this.setupSliders();
        },
        methods: {

            hidePanel()
            {
                this.is_show = false;
            },

            tline_risk_equal(risk)
            {
                if(this.tline.params)
                {

                } else {
                  return false;
                }
                return this.tline.params.risk == risk;
            },

            async put_trade(type, percents)
            {
                this.percents = percents;

            },

            async save_tline_params(type, percents)
            {
                var rtline = await this.runTask('save__trendline__params__task', {
                    object_name: this.tline.object_name,
                    pair: this.tline.symbol,
                    period: this.tline.period,
                    // send to ripper command task
                    params: {
                        type: type,
                        sl: this.sl_val,
                        tp_coef: 1,
                        risk: percents,
                        risk_type: "depo_percents",
                        pair: this.tline.symbol,
                        object_name: this.tline.object_name,
                        is_skip_be: 0,
                    }
                });

                this.$root.$emit('tline__changed', {id: this.tline.object_name});

                if (rtline.resp.tline) {
                    this.tline = rtline.resp.tline;
                    // @todo send event
                    this.toastOk("Trendline saved");
                } else {
                    this.toastError("Error")
                }
            },

            async onClickRemove()
            {
                var rhline = await this.runTask('remove__trendline__is__trading__task', {
                    object_name: this.tline.object_name,
                    pair: this.tline.symbol,
                    period: this.tline.period,
                });

                if (rhline.resp.res) {
                    this.toastOk("Removed tline");
                } else {
                    this.toastError("Error")
                }
            },

            setupSliders()
            {
                var self = this;
                var handle = $( "#"+ this.uniq_id + " #sl-handle" );

                if (this.tline.params)
                {
                    var sl_val = this.tline.params.sl;
                } else {
                    var sl_val = this.sl_val;
                }

                handle.text(sl_val);

                $("#"+ this.uniq_id + " #sl-slider" ).slider({
                    min: settings.attack_panel.sl.min,
                    max: settings.attack_panel.sl.max,
                    value: sl_val,
                    create: function() {
                        handle.text( $( this ).slider( "value" ) );
                    },
                    slide: function( event, ui ) {
                        handle.text( ui.value );
                        self.sl_val = ui.value;
                    }
                });
            }


        }
    }
</script>


<style lang="scss">

.tline-params
{
    .risk-btns
    {
        margin-top: 30px;
    }

    &.fired_sell
    {
      background-color: #FFB4B4;
    }

    &.fired_buy
    {
      background-color: #E2FFE5;
    }

}

 #custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

</style>
