<template>
    <div class="trainer-panel" v-if="is_show">

        <header class="card-header">TRAINER</header>

        <div class="content">
            <table>
                <tr>
                    <td>
                        DEPO
                    </td>
                    <td>
                        <input v-model="depo">
                    </td>
                    <td>
                        <a @click="removeTlines" class="button is-primary">REM</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        RESULT
                    </td>
                    <td>
                        {{result}}$

                        tlines {{tlines_count}}
                    </td>
                    <td>
                        <a @click="calc" class="button is-link">CALC</a>
                    </td>
                </tr>
            </table>
            
            <div>
                
            </div>
        </div>
   </div>
            
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
             pair: {
                 type: String,
                 required: true
             },
             on_remove_tlines: {
                 type: Function,
                 required:true
             },
            // period: {
            //     type: Number,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                is_show: false,
                depo: 100,
                tlines_count: 0,
                result: 0
            }
        },
        watch: {

        },
        beforeDestroy()
        {

        },
        async mounted()
        {


        },
        methods: {
            async togglePanel(show)
            {
                this.is_show = show;
            },
            async removeTlines()
            {
                var rRem = await this.runTask('remove__trainer__tlines__task', {pair: this.pair});
            },
            async calc()
            {
                var rCalc = await this.runTask('calc__trainer__tlines__task', {pair: this.pair, depo: this.depo});
                this.result = rCalc.resp.result;
                this.tlines_count = rCalc.resp.tlines_count;
            }
        }
    }
</script>


<style lang="scss">
 .trainer-panel
 {
    position: absolute;
    left: 0;
    top: 0px;
    background-color: snow;
    border: 1px solid;
 }
</style>
