<template>
  <div v-if="trendline" class="trendline-params">

    <div>ID: {{trendline.id}}</div>

    <table>
      <tr>
        <td>
          <div class="select">
            <select
                placeholder="type"
                size="is-medium"
                @change="onChangeTrendlineType(trendline.type)"
                v-model="trendline.type"
                expanded>
              <option value="alert">Alert</option>
              <option value="open_trade">Open trade</option>
              <option value="close_trade">Close trade</option>
            </select>
          </div>
        </td>
        <td>
            <a @click="onSave()" class="button periods is-primary">save</a>
        </td>
      </tr>
    </table>
    <hr>

    <div v-if="close_trade_params">

    </div>


    <div v-if="open_trade_params">
      <table>
        <tr>
          <td>
            <div>
              <h2>stop lose:</h2>
              <b-input v-model="open_trade_params.sl"></b-input>
            </div>

            <div>take profit: <b-input v-model="open_trade_params.tp"></b-input></div>

          </td>

          <td>
            <div>
              <h2>risk type:</h2>
              <b-field>
                <b-select placeholder="risk" icon="earth" v-model="open_trade_params.risk">
                  <option value="%_from_depo">% from depo</option>
                  <option value="cash_amount">cash amount</option>
                </b-select>
              </b-field>

              <h2>risk amount:</h2>
              <div>
                <b-input v-model="open_trade_params.risk_value"></b-input>
              </div>
            </div>
          </td>

          <td>
            <div class="select">
              <select
                  placeholder="type"
                  size="is-medium"
                  @change="onChangeOpenTradeSchema(open_trade_schema)"
                  v-model="open_trade_schema"
                  expanded>
                <option value="30%__20sl">30%__20sl</option>
                <option value="30%__10sl">30%__10sl</option>
                <option value="30%__30sl">30%__30sl</option>
                <option value="30%__50sl">30%__50sl</option>
              </select>
            </div>
          </td>
        </tr>
      </table>

    </div>

  </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: 'profile',
        components: {},
        mixins: [mixins],

        props: {
            trendline: {
                // type: Object|null,
                // required: true
            },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                // name: 'Matt Stauffer',
                // title: this.post.title,

              open_trade_schema: "30%__10sl",

              open_trade_params: null,
              close_trade_params: null,

            }
        },
        watch: {

        },
        async mounted()
        {



        },
        methods: {
            async onUpdateModels()
            {

            },

            onSave()
            {
                this.toastOk('saved');


            },

            onChangeOpenTradeSchema(name)
            {
                this.open_trade_schema = name;

                if (name === '30%__10sl') {
                    this.open_trade_params = {
                      sl: 10,
                      tp: 10,
                      risk: "%_from_depo", // 30% from depo
                      risk_value: "30",
                      // risk: "cash_in_usd", // 30usd
                      // risk_value: "30"
                    };
                }

                if (name === '30%__20sl') {
                    this.open_trade_params = {
                      sl: 20,
                      tp: 20,
                      risk: "%_from_depo", // 30% from depo
                      risk_value: "30",
                      // risk: "cash_in_usd", // 30usd
                      // risk_value: "30"
                    };
                }
            },

            onChangeTrendlineType(type)
            {
              this.open_trade_params = null;

                switch(type)
                {
                    case "close_trade":
                      break;

                    case "open_trade":
                      this.onChangeOpenTradeSchema(this.open_trade_schema);
                    break;
                    case "alert":

                    break;

                }

            }
        }
    }
</script>


<style scoped lang="scss">

</style>
