<template>
    <div v-if="watch" class="watch-feed">
        <div class="watch-nav">
            <a v-for="pair in watch.found_pairs" :href="'#'+pair" class="button periods is-small">{{pair}}</a>&nbsp;
        </div>

        <hr>
        <div  v-for="pair in watch.found_pairs">
            <table>
                <tr>
                    <instrument-view
                        ref="instrument_view"
                        view_type="static"
                        :periods="watch.found[pair]"
                        :instrument="pair"
                        :pic_view="pic_view"
                        :feed="watch.data[pair]"
                    ></instrument-view>
              </tr>
            </table>
        </div>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: '',
        components: {},
        mixins: [mixins],

        props: {
            pic_view: {
                type: String,
                required: true
            },
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
            // period: {
            //     type: Number,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                watch: null,
            }
        },
        watch: {

        },
        beforeDestroy()
        {

        },
        async mounted()
        {
            this.$root.$on('keyup_backspace', this.onKeyBackspace);

            var rDeals = await this.runTask('get__watch__feed__task', {});
            this.watch = rDeals.resp;
            

        },
        methods: {
            async onUpdateModels()
            {

            }
        }
    }
</script>


<style scoped lang="scss">
    .watch-nav
    {
        position: fixed;
        top: 36px;
        left: 20px;
        z-index: 200;
    }
</style>
