<template>

    <div>

        <h2 class="title">Global users</h2>

        <b-table
                :data="data"
                :columns="columns"

                paginated
                backend-pagination

                :total="total"
                :per-page="perPage"
                @page-change="onPageChange"
                aria-next-label="Next page"
                aria-previous-label="Previous page"
                aria-page-label="Page"
                aria-current-label="Current page"

                backend-sorting
                default-sort-direction="desc"
                :default-sort="[sortField, sortOrder]"

                @sort="onSort"
                >

        </b-table>

    </div>

</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=
    import UserModel from '../models/UserModel'
    import SocialNetworkModel from '../models/SocialEngine/SocialNetworkModel'
    //-=-=-=-=-=-=-=-=-=-=-=-=


    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'
    // const data = require('@/data/sample.json');

    export default {
        name: 'DataTable',
        components: {},
        mixins: [mixins],
        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            const data = [];

            const columns = [
                {
                    field: 'id',
                    label: 'ID',
                    width: '40',
                    numeric: true,
                    sortable: true,
                },
                {
                    field: 'name',
                    label: 'Name',
                    sortable: true,
                },
                //
                // {
                //     field: 'first_name',
                //     label: 'First Name',
                //     sortable: true,
                // },
                // {
                //     field: 'last_name',
                //     label: 'Last Name',
                //     sortable: true,
                // },
                // {
                //     field: 'date',
                //     label: 'Date',
                //     centered: true,
                //     sortable: true,
                // },
                // {
                //     field: 'gender',
                //     label: 'Gender',
                //     sortable: true,
                // }
            ];


            return {
                data,
                columns,
                total: 1000,
                isPaginated: true,
                isPaginationSimple: false,
                paginationPosition: 'bottom',
                defaultSortDirection: 'asc',
                sortIcon: 'arrow-up',
                sortIconSize: 'is-small',

                sortField: 'id',
                sortOrder: 'asc',

                currentPage: 1,
                perPage: 2,
                page: 1,

            }
        },

        watch: {

        },

        async mounted()
        {

            this.loadDataAsync();


            // this.data = [
            //     { 'id': 1, 'first_name': 'Jesse', 'last_name': 'Simmons', 'date': '2016-10-15 13:43:27', 'gender': 'Male' },
            //     { 'id': 2, 'first_name': 'John', 'last_name': 'Jacobs', 'date': '2016-12-15 06:00:53', 'gender': 'Male' },
            //     { 'id': 3, 'first_name': 'Tina', 'last_name': 'Gilbert', 'date': '2016-04-26 06:26:28', 'gender': 'Female' },
            //     { 'id': 4, 'first_name': 'Clarence', 'last_name': 'Flores', 'date': '2016-04-10 10:28:46', 'gender': 'Male' },
            //     { 'id': 5, 'first_name': 'Anne', 'last_name': 'Lee', 'date': '2016-12-06 14:38:38', 'gender': 'Female' }
            // ];
        },
        methods: {
            async onPageChange(page)
            {
                this.currentPage = page;
                this.loadDataAsync();
            },

            async loadDataAsync()
            {

                var respModels = await h.repo.getModels(SocialNetworkModel, {
                    perPage: this.perPage,
                    page: this.currentPage-1,
                    sort:this.sortField,
                    order: this.sortOrder,
                    with_total: 1,
                });

                if (respModels.total)
                {
                    this.total = respModels.total;
                }


                this.data = respModels.list;
            },


            async onSort(field, order)
            {
                this.sortField = field;
                this.sortOrder = order;
                this.loadDataAsync();
            }

        }
    }
</script>


<style scoped lang="scss">

</style>
