<template>
    <div>

        <div class="card events-card">
            <header class="card-header">
                <p class="card-header-title">
                    Events
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </span>
                </a>
            </header>
            <div class="card-table">
                <div class="content">
                    <table class="table is-fullwidth is-striped">
                        <tbody v-for="item in list">
                            <tr>

                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                <td>{{item.name}}</td>
                                <td><a class="button is-small is-primary" href="#">Action</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" @click="onClickLoadMore" v-show="isLoadMore" class="card-footer-item">Load more</a>
            </footer>
        </div>

    </div>
</template>

<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=
    import SocialNetworkModel from '../models/SocialEngine/SocialNetworkModel'

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: 'DataList',
        components: {},
        mixins: [mixins],
        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                isLoadMore: true,
                perPage: 2,
                currentPage: 0,

                list: [],
                name: 'Matt Stauffer',
                // title: this.post.title,
            }
        },
        watch: {

        },
        async mounted()
        {

            this.loadDataAsync();

        },
        methods: {
            async onClickLoadMore()
            {
                this.currentPage+=1;
                this.loadDataAsync();
            },

            async onUpdateModels()
            {

            },

            async loadDataAsync()
            {
                var respModels = await h.repo.getModels(SocialNetworkModel, {
                    perPage: this.perPage,
                    page: this.currentPage,
                    with_is_next: 1,
                }, ['with_is_next', 'with_total']);

                this.isLoadMore = respModels.is_next_exists;
                var _self = this;

                respModels.list.map(function (item) {
                    _self.list.push(item);
                });

            },

        }
    }
</script>

<style scoped>

</style>
