<script src="./pic.component.js"></script>

<template>

  <div v-if="item.pic" :id="item._id" class="pic-holder">
    <h1>{{item.pair}}</h1>
    <h2 class="period">
      M{{item.pic.period}} {{item.pic.time}}
      <a :class="{'is-primary': canvas.pic_id === item._id}" class="button is-small" @click="onEditScreenshotImage(item)">*</a>
      <a :class="{}" class="button is-small" @click="onOpenChart(item.pair, item.pic)">chart</a>
      <a @click="showWatchlistDialog(item)" class="button is-small">w</a>
    </h2>

    <div class="img-holder">
      <img class="pic" :src="item.pic.src" @click="onClickPic(item.pair, item.pic.period, item)">
      <img v-if="item.drawning.url"
           class="drawning" :src="item.drawning.url"
           @click="onClickPic(item.pair, item.pic.period, item)">
    </div>
  </div>

</template>

<script>

import h from '../../helpers';


export default {
  name: "pic",
  props: {
    item: {
      type: Object,
      required: true
    },
    type: {
      type: String,
      required:true
    },
  },
  data() {
    return {
      name: 'Matt Stauffer',
      // title: this.post.title,
    }
  },
  watch: {

  },

  async mounted() {

    this.posts

  },

  methods: {

  },

  created () {

  },

  beforeDestroy() {

  }
}

</script>


<style scoped lang="scss">

.posts-list
{

}

</style>


