doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container.is-fluid

            nav.navbar
                .container
                    .navbar-brand
                        a.navbar-item(href="#") Pied Piper
                        a.navbar-burger(role="button", aria-label="menu", aria-expanded="false")
                            span(aria-hidden="true")
                            span(aria-hidden="true")
                            span(aria-hidden="true")
                    .navbar-menu
                        .navbar-start
                            a.navbar-item(href="#") Features
                            a.navbar-item(href="#") Enterprise
                            a.navbar-item(href="#") Support
                            .navbar-item.has-dropdown.is-hoverable
                                a.navbar-link ICO
                                .navbar-dropdown
                                    a.navbar-item.navbar-item-dropdown(href="#") Whitepaper
                                    a.navbar-item.navbar-item-dropdown(href="#") Token
                        .navbar-end
                            .navbar-item
                                .buttons
                                    a.button.is-light(href="#") Log in
                                    a.button.is-primary(href="#") Sign up


            section.hero
                .hero-body
                    .container.has-text-centered
                        h1.title.is-spaced The New Internet
                        h2.subtitle Decentralized, secure, private. The PiperNet is on it's way to revolutionize every smartphone, PC, and smart-fridge near you.

                        .buttons.is-centered
                            a.control.button.is-primary(href="#") Sign up for free
                            a.control.button.is-light(href="#") Read more

            section.hero
                .hero-body
                    .container.has-text-centered
                        h2.subtitle The New Internet
                        h1.title We've built a decentralized internet where information is totally free
                        a(href="#") Read more &raquo;

            section.section
                .container.has-text-centered
                    .block
                        img(src="placeholder/icons/unicorn.svg", alt="")

                    p Our mission is not to outsell Hooli with a product like their latest Box 3. We are not in it for the money - we are in it to make the whole world decentralized. To give you control over your data. To change by the internet as we know it by integrating a very important feature into it - freedom.


            section.section
                .container
                    h2.title.has-text-centered Some of our awesome features

                    .columns
                        .column.is-3
                            h4.title.is-spaced.is-4 Decentralized
                            p.subtitle.is-6 Your data is stored in many places at once. Awesome, right?
                            a(href="#") Read more
                        .column.is-3
                            h4.title.is-spaced.is-4 Secure
                            p.subtitle.is-6 Nobody will be able to use your data without your consent.
                            a(href="#") Read more
                        .column.is-3
                            h4.title.is-spaced.is-4 Private
                            p.subtitle.is-6 Your online activity is only yours to know. Always.
                            a(href="#") Read more
                        .column.is-3
                            h4.title.is-spaced.is-4 Speed
                            p.subtitle.is-6 Unimaginable transfer speed thanks to middle-out compression.
                            a(href="#") Read more

            section.section
                .container.has-text-centered
                    h2.title Decentralized, secure, private.

                    .block
                        img(src="placeholder/icons/unicorn.svg", alt="")
                        img(src="placeholder/icons/unicorn.svg", alt="")
                        img(src="placeholder/icons/unicorn.svg", alt="")

                    p Our mission is not to outsell Hooli with a product like their latest Box 3. We are not in it for the money - we are in it to make the whole world decentralized. To give you control over your data. To change by the internet as we know it by integrating a very important feature into it - freedom.

            section.section
                .container.has-text-centered
                    h2.title Some of our awesome features

                    .block
                        img.is-16by9(src="https://bulma.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2", alt="")

                    .columns.has-text-left
                        .column.is-4
                            .columns
                                .column.is-2
                                    img(src="placeholder/icons/check.svg", alt="")
                                .column.is-10
                                    h4.title.is-spaced.is-4 Security
                                    p.subtitle.is-6 Your data is virtually unhackable compared to traditional net
                        .column.is-4
                            .columns
                                .column.is-2
                                    img(src="placeholder/icons/check.svg", alt="")
                                .column.is-10
                                    h4.title.is-spaced.is-4 Privacy
                                    p.subtitle.is-6 Nobody is tracking you when your activity when you use Piper Net
                        .column.is-4
                            .columns
                                .column.is-2
                                    img(src="placeholder/icons/check.svg", alt="")
                                .column.is-10
                                    h4.title.is-spaced.is-4 Speed
                                    p.subtitle.is-6 Previously unimaginable transfer speed thanks to middle-out compression

                    .buttons.is-centered
                        a.button.is-primary(href="#") Read more


            section.section
                .container.has-text-centered
                    h2.title PiperNet Setup

                    .columns.is-multiline.is-centered
                        .column.is-8.is-4-widescreen
                            .block
                                img(src="https://bulma.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2", alt="")
                            h4.title #[small.number 1] Move Data
                            p Using our Piper Assistant application, you can move your data to be stored our decentralized network with simple drag & drop.
                        .column.is-8.is-4-widescreen
                            .block
                                img(src="https://bulma.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2", alt="")
                            h4.title #[small.number 2] Integrate Software
                            p We want to make sure that you can keep using the software that you use to manage your  business.
                        .column.is-8.is-4-widescreen
                            .block
                                img(src="https://bulma.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2", alt="")
                            h4.title #[small.number 3] Ongoing Support
                            p As with all innovative technologies, sometimes unpredictable things will happen, and you can always count on our support to solve issues for&nbsp;you.

                    .buttons.is-centered
                        a.button.is-primary(href="") Learn more

            section.section
                .container
                    h2.title.has-text-centered PiperNet Setup

                    .columns.is-vcentered
                        .column
                            h2.title.is-spaced How to start
                            p.subtitle Let's get you connected! We've designed a simple, efficient process for companies migrating to PiperNet. Here's how it works.
                            a.button.is-primary(href="#") Start Setup!
                        .column
                            img(src="https://bulma.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2" alt="")

                    hr

                    .level
                        .level-item
                            .number.has-background-primary 1
                            h4.title.is-4 Move
                        .level-item
                            .number 2
                            h4.title.is-4 Integrate
                        .level-item
                            .number 3
                            h4.title.is-4 Support

            section.section
                .container.has-text-centered
                    h2.title What's So Great About PiperNet?

                    .columns
                        .column
                            .level
                                .level-item
                                    figure.image.is-128x128
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                            p.block It's a really cool network. Like, we had a fight with Richard at one point, and I think they deleted some of my data, but then they brought it back. Just bro's being bro's. Respected!
                            h5.title.is-5 Colin
                            p.subtitle CEO at K-Hole

                        .column
                            .level
                                .level-item
                                    figure.image.is-128x128
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                            p.block This is such a great product that I feel aroused every time I use it. I didn't know the boys would be able to build, but god damn it, they did it. Kickass!
                            h5.title.is-5 Russ Hanneman
                            p.subtitle Investor, Angel, Great Guy

                        .column
                            .level
                                .level-item
                                    figure.image.is-128x128
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                            p.block Even though I have been dismantled, I live on as an artificial intelligence on the PiperNet. I really like it here. Still waiting for Jared to Piper-chat with me sometime.
                            h5.title.is-5 Fiona
                            p.subtitle Artificial Intelligence

            section.section
                .container.has-text-centered
                    h2.title What's So Great About PiperNet?

                    .columns
                        .column
                            p.block It's a really cool network. Like, we had a fight with Richard at one point, and I think they deleted some of my data, but then they brought it back. Just bro's being bro's. Respected!
                            .level
                                .level-item
                                    figure.image.is-64x64
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2")
                            h5.title.is-5 Colin
                            p.subtitle CEO at K-Hole

                        .column
                            p.block This is such a great product that I feel aroused every time I use it. I didn't know the boys would be able to build, but god damn it, they did it. Kickass!
                            .level
                                .level-item
                                    figure.image.is-64x64
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2")
                            h5.title.is-5 Russ Hanneman
                            p.subtitle Investor, Angel, Great Guy


                        .column
                            p.block Even though I have been dismantled, I live on as an artificial intelligence on the PiperNet. I really like it here. Still waiting for Jared to Piper-chat with me sometime.
                            .level
                                .level-item
                                    figure.image.is-64x64
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2")     
                            h5.title.is-5 Fiona
                            p.subtitle Artificial Intelligence



            section.section
                .container
                    h2.title Great Companies that already use PiperNet

                    .columns
                        .column.is-9
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column.is-3
                            .columns.is-mobile.is-multiline
                                .column.is-4-mobile.is-12-tablet
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .column.is-4-mobile.is-12-tablet
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .column.is-4-mobile.is-12-tablet
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")

                    .columns
                        .column.is-half
                            h4.title.is-spaced.is-4 Client: K-Hole
                            p.subtitle We are constantly looking for new partners to migrate onto the Piper Net. The future of the internet is here - venture towards it with Pied Piper!


            section.section
                .container.has-text-centered
                    h2.title Great Companies that already use PiperNet
                    
                    .block
                        a(href="#")
                            img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")

                    .columns.is-mobile
                        .column.is-3
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column.is-3
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column.is-3
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column.is-3
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")

                    h4.title.is-spaced.is-4 Client: K-Hole
                    p.subtitle We are constantly looking for new partners to migrate onto the Piper Net. The future of the internet is here - venture towards it with Pied Piper!


            section.section
                .container.has-text-centered
                    h2.title The Pipers
                    p.subtitle We are the guys that made this whole thing possible

                    .columns
                        .column.is-4
                            .level
                                .level-item
                                    figure.image.is-128x128
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                            h5.title.is-5 Richard Hendricks
                            p.subtitle.is-6 CEO
                            p When I'm not obsessively stressing about the fate of Pied Piper, I sometimes give lectures to school kids. Spend most of my time coding.
                        .column.is-4
                            .level
                                .level-item
                                    figure.image.is-128x128
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                            h5.title.is-5 Dinesh Chugtai
                            p.subtitle.is-6 CTO
                            p I am the absolute best programmer at Pied Piper (especially better than Gilfoyle). My genius shines and guides the Pied Piper team.
                        .column.is-4
                            .level
                                .level-item
                                    figure.image.is-128x128
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                            h5.title.is-5 Bertram Gilfoyle
                            p.subtitle.is-6 Chief Systems Architect
                            p I work on Pied Piper only for the advanced technology. I don't really like most people I work with, but they need me to put out their fires, so&nbsp;I&nbsp;stay. 


            section.section
                .container.has-text-centered
                    h2.title The Pipers
                    p.subtitle We are the guys that made this whole thing possible

                    .columns.is-centered.is-multiline
                        .column.is-3
                            .level
                                .level-item
                                    figure.image.is-128x128
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                            h5.title.is-5 Richard Hendricks
                            p.subtitle.is-6 CEO

                        .column.is-3
                            .level
                                .level-item
                                    figure.image.is-128x128
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                            h5.title.is-5 Jared Dunn
                            p.subtitle.is-6 COO

                        .column.is-3
                            .level
                                .level-item
                                    figure.image.is-128x128
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                            h5.title.is-5 Monica Hall
                            p.subtitle.is-6 CFO

                        .column.is-3
                            .level
                                .level-item
                                    figure.image.is-128x128
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                            h5.title.is-5 Erlich Bachman
                            p.subtitle.is-6 Marketing Manager

                        .column.is-3
                            .level
                                .level-item
                                    figure.image.is-128x128
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                            h5.title.is-5 Bertram Gilfoyle
                            p.subtitle.is-6 Chief Systems Architect

                        .column.is-3
                            .level
                                .level-item
                                    figure.image.is-128x128
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                            h5.title.is-5 Dinesh Chugtai
                            p.subtitle.is-6 Senior Programmer

                        .column.is-3
                            .level
                                .level-item
                                    figure.image.is-128x128
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                            h5.title.is-5 Nelson Bighetti
                            p.subtitle.is-6 Majority Investor


            section.section
                .container.has-text-centered
                    h2.title Our plans

                    hr

                    .columns
                        .column
                            h3.title.is-4 Small Piper
                            h4.title.is-spaced.is-5 $10 #[small Per user / monthly]
                            p.subtitle Join our network, but build and manage everything yourself.
                            hr
                            ul
                                li 100GB storage
                                li 5 Applications
                                li 20 users max
                                li Unlimited Data Transfer

                            hr

                            .buttons.is-centered
                                button.button.is-primary(type="button") Contact Sales

                        .column
                            h3.title.is-4 Medium Piper
                            h4.title.is-spaced.is-5 $50 #[small Per user / monthly]
                            p.subtitle We build what you need, but you still need to manage your data.
                            hr
                            ul
                                li 1000GB storage
                                li 20 Applications
                                li 200 users max
                                li Unlimited Data Transfer

                            hr

                            button.button.is-primary.is-outlined(type="button") Contact Sales

                        .column
                            h3.title.is-4 Enterprise Piper
                            h4.title.is-spaced.is-5 $100 #[small Per user / monthly]
                            p.subtitle We do everything for you, including managing your data.
                            hr
                            ul
                                li Unlimited storage
                                li Unlimited Applications
                                li Unlimited users max
                                li Unlimited Data Transfer

                            hr

                            button.button.is-primary.is-outlined(type="button") Contact Sales

            section.section
                .container
                    h2.title.has-text-centered Contact the Pied Piper team

                    .columns
                        .column.is-6
                            h4.title.is-spaced.is-4 Let's talk about the future of the internet
                            p.subtitle We're here to answer your questions and discuss the decentralized future of the internet.
                            div
                                .media
                                    .media-left
                                        figure.image.is-24x24
                                            img(src="placeholder/icons/map-marker.svg", alt="")
                                    .media-content
                                        .content
                                            p Pied Piper HQ - 59 Silicon Av.
                                .media
                                    .media-left
                                        figure.image.is-24x24
                                            img(src="placeholder/icons/phone.svg", alt="")
                                    .media-content
                                        .content
                                            p 555-333-555
                                .media
                                    .media-left
                                        figure.image.is-24x24
                                            img(src="placeholder/icons/envelope.svg", alt="")
                                    .media-content
                                        .content
                                            p pay-the-piper@piedpiper.com

                        .column.is-5.is-offset-1
                            form
                                .field
                                    .control
                                        input.input(type="email", placeholder="Email")
                                .field
                                    .select.is-fullwidth
                                        select
                                            option(disabled, selected) Select product
                                            option Product 1
                                            option Product 2
                                            option Product 3
                                .field
                                    .control
                                        textarea.textarea(rows="5", placeholder="Write something...")
                                
                                .field
                                    .control
                                        button.button.is-primary.is-fullwidth(type="submit") Submit

            section.section
                .container
                    h2.title.has-text-centered Contact the Pied Piper team

                    .columns
                        .column.is-6
                            img(src="https://bulma.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2", alt="")
                        .column.is-6
                            form
                                .field
                                    .control
                                        input.input(type="email", placeholder="Email")
                                .field
                                    .select.is-fullwidth
                                        select
                                            option(disabled, selected) Select product
                                            option Product 1
                                            option Product 2
                                            option Product 3
                                .field
                                    .control
                                        textarea.textarea(rows="5", placeholder="Write something...")
                                
                                .field
                                    .control
                                        button.button.is-primary.is-fullwidth(type="submit") Submit

            section.section
                .container.has-text-centered
                    h2.title Our plans

                    .columns
                        .column
                            .card
                                .card-content
                                    h3.title.is-4 Small Piper
                                    p.block Join our network, but build and manage everything yourself.
                                    h4.title.is-spaced.is-5 $10 #[small Per user / monthly]
                                    button.button.is-primary(type="button") Contact Sales

                        .column
                            .card
                                .card-content
                                    h3.title.is-4 Medium Piper
                                    p.block We build what you need, but you still need to manage your data.
                                    h4.title.is-spaced.is-5 $50 #[small Per user / monthly]
                                    button.button.is-primary.is-outlined(type="button") Contact Sales

                        .column
                            .card
                                .card-content
                                    h3.title.is-4 Enterprise Piper
                                    p.block We do everything for you, including managing your data.
                                    h4.title.is-spaced.is-5 $100 #[small Per user / monthly]
                                    button.button.is-primary.is-outlined(type="button") Contact Sales

            footer.footer
                .container
                    .columns
                        .column.is-4.has-text-centered.is-hidden-tablet
                            a.title.is-4(href="#") Pied Piper
                        .column.is-4
                            .level
                                a.level-item(href="#") Features
                                a.level-item(href="#") Enterprise
                        .column.is-4.has-text-centered.is-hidden-mobile
                            a.title.is-4(href="#") Pied Piper
                        .column.is-4.has-text-right
                            .level
                                a.level-item(href="#") Support
                                a.level-item(href="#") ICO
                    p.subtitle.has-text-centered.is-6 &copy; 2019 Pied Piper. All right reserved.


            section.section
                .container
                    h2.title.has-text-centered Frequently Asked Questions

                    .list.is-hoverable
                        a.list-item(href="#") 
                            .media
                                .media-content How is a decentralized network different from the traditional web?
                                .media-right
                                    img(src="placeholder/icons/chevron-circle-down.svg", alt="")
                        a.list-item(href="#") 
                            .media
                                .media-content Why shouldn't I just store my data on a Hooli Box?
                                .media-right
                                    img(src="placeholder/icons/chevron-circle-down.svg", alt="")
                        a.list-item(href="#") 
                            .media
                                .media-content What makes PiperNet so safe?
                                .media-right
                                    img(src="placeholder/icons/chevron-circle-down.svg", alt="")
                        a.list-item(href="#") 
                            .media
                                .media-content How long does it take to get a company up and running on PiperNet?
                                .media-right
                                    img(src="placeholder/icons/chevron-circle-down.svg", alt="")            
                        a.list-item(href="#") 
                            .media
                                .media-content How is a decentralized network different from the traditional web?
                                .media-right
                                    img(src="placeholder/icons/chevron-circle-down.svg", alt="")
                        a.list-item(href="#") 
                            .media
                                .media-content Why shouldn't I just store my data on a Hooli Box?
                                .media-right
                                    img(src="placeholder/icons/chevron-circle-down.svg", alt="")

            section.section
                .container.has-text-centered
                    .columns.is-centered
                        .column.is-5.is-4-desktop
                            form
                                .field
                                    .control
                                        input.input(type="email" placeholder="Email")
                                .field
                                    .control
                                        input.input(type="text" placeholder="Name")
                                .field
                                    .control                        
                                        input.input(type="password" placeholder="Password")
                                .field.is-grouped
                                    .control.is-expanded
                                        button.button.is-primary.is-outlined.is-fullwidth Sign In!
                                    .control.is-expanded
                                        button.button.is-primary.is-fullwidth Sign up!

                                p By signing in you agree with the #[a(href="") Terms and Conditions] and #[a(href="") Privacy Policy].

            section.section
                .container.has-text-centered
                    .columns.is-centered
                        .column.is-5.is-4-desktop
                            form
                                .field
                                    .control
                                        input.input(type="email" placeholder="Email")
                                .field
                                    .control
                                        input.input(type="password" placeholder="Password")
                                .field
                                    button.button.is-primary.is-fullwidth Sign in!

                                a(href="#") or sign in with Facebook

            section.section
                .container
                    h2.title.has-text-centered The Pied Piper Blog

                    .columns
                        .column
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .card-content
                                    span.is-size-7 25 Jun 2019
                                    h5.title.is-5
                                        a(href="#") Why I'm the Best Programmer Ever
                                    a.button.is-primary(href="#") Read more
                        .column
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .card-content
                                    span.is-size-7 25 Jun 2019
                                    h5.title.is-5
                                        a(href="#") Secrets of Decentralization
                                    a.button.is-primary(href="#") Read more

                        .column
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .card-content
                                    span.is-size-7 25 Jun 2019
                                    h5.title.is-5
                                        a(href="#") Why Strong Tea Isn't Good
                                    a.button.is-primary(href="#") Read more

            section.section
                .container
                    h2.title.has-text-centered The Pied Piper Blog

                    .columns.is-multiline
                        .column.is-6-tablet.is-3-desktop
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .card-content
                                    .block
                                        small.is-size-7 25 Jun 2019 | By Dinesh Chugtai
                                    h5.title.is-6
                                        a(href="#") Why I'm the Best Programmer Ever
                                    p I feel like not everybody outside of Pied Piper knows it, so I wanted to make it clear why I'm the best programmer in the world.

                        .column.is-6-tablet.is-3-desktop
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .card-content
                                    .block
                                        small.is-size-7 25 Jun 2018 | By Bertram Gilfoyle
                                    h5.title.is-6
                                        a(href="#") Secrets of Decentralization
                                    p What makes decentralization so great? Let me enlighten you with my wisdom

                        .column.is-6-tablet.is-3-desktop
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .card-content
                                    .block
                                        small.is-size-7 25 Jun 2018 | By Monica Hall
                                    h5.title.is-6
                                        a(href="#") How Our ICO Almost Failed
                                    p This is a short story about how we uncovered an insane problem with our ICO, fixed it, and still managed to secure vast funding.

                        .column.is-6-tablet.is-3-desktop
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .card-content
                                    .block
                                        small.is-size-7 25 Jun 2018 | By Jared Dunn
                                    h5.title.is-6
                                        a(href="#") Why Strong Tea Isn't Good For CEOs
                                    p An exhaustive guide about how different teas can affect a CEO during their workday.

                    .buttons.is-centered
                        a.button.is-primary(href="#") Read more



            section.section
                .container
                    .columns.is-desktop.is-vcentered
                        .column.is-6-desktop
                            img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")

                        .column.is-6-desktop
                            .level.is-mobile
                                .level-left
                                    a.level-item(href="#")
                                        img(src="placeholder/icons/unicorn.svg", alt="")
                                    a.level-item(href="#")
                                        img(src="placeholder/icons/unicorn.svg", alt="")
                                    a.level-item(href="#")
                                        img(src="placeholder/icons/unicorn.svg", alt="")
                                    a.level-item(href="#")
                                        img(src="placeholder/icons/unicorn.svg", alt="")
                                    a.level-item(href="#")
                                        img(src="placeholder/icons/unicorn.svg", alt="")

                            h2.title.is-spaced Official Pied Piper T-Shirt
                            p.subtitle This wonderful green shirt will make you an evangelist of Pied Pipers' world-changing technology. It will make you stand out anywhere you go - so say yes to decentralization, and say yes to our official Pied Piper swag.

                            .level.is-mobile
                                .level-left
                                    a.level-item(href="#")
                                        .tag.is-primary &nbsp;
                                    a.level-item(href="#")
                                        .tag.is-danger &nbsp;
                                    a.level-item(href="#")
                                        .tag.is-dark &nbsp;
                                    a.level-item(href="#")
                                        .tag.is-info &nbsp;
                            
                            .columns
                                .column.is-half
                                    .field.is-horizontal
                                        .field-label.is-normal
                                            label.label $399
                                        .field-body
                                            .field
                                                .control
                                                    input.input(type="number" placeholder="1")
                                            .field
                                                .control
                                                    button.button.is-primary Buy Now!

                            hr

                            .level.is-mobile
                                .level-left
                                    .level-item
                                        a(href="#") Add to favorites
                                .level-right
                                    .level-item Share
                                    a.level-item(href="#")
                                        img(src="placeholder/icons/facebook-f.svg", alt="")
                                    a.level-item(href="#")
                                        img(src="placeholder/icons/twitter.svg", alt="")
                                    a.level-item(href="#")
                                        img(src="placeholder/icons/instagram.svg", alt="")

            section.section
                .container
                    .columns.is-desktop.is-vcentered
                        .column.is-6-desktop
                            h2.title Official Pied Piper T-Shirt
                            p.subtitle $39,99 (Ex. Tax)

                            .tabs
                                ul
                                    li.is-active
                                        a(href="#") Active Tab
                                    li
                                        a(href="#") Inactive One
                                    li
                                        a(href="#") Inactive Two

                            p.subtitle This wonderful green shirt will make you an evangelist of Pied Pipers' world-changing technology. It will make you stand out anywhere you go - so say yes to decentralization, and say yes to our official Pied Piper swag.
                            table.table.is-fullwidth
                                tbody
                                    tr
                                        td Item one
                                        td.has-text-right First value
                                    tr
                                        td Item two
                                        td.has-text-right Secound value
                                    tr
                                        td Item three
                                        td.has-text-right Third value
                            
                            button.button.is-primary Buy Now!

                        .column.is-6-desktop
                            img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                            .level.is-mobile
                                .level-item
                                    img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .level-item
                                    img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .level-item
                                    img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")

            section.section
                .container
                    h2.title.has-text-centered Frequently Asked Questions

                    .block
                        .card.block
                            .card-content
                                .media
                                    .media-left
                                        figure.image.is-64x64
                                            img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                                    .media-content
                                        h3.title.is-4 How is a decentralized network different from the traditional web?
                                        p Decentralization is a key aspect of PiperNet. Traditionally, to access data on a website, you needed to connect to a single server containing that data. This method of storing data makes it easy for third parties to get access to it, corrupt it or even delete it. In PiperNet it is securely stored on multiple devices in the network, which makes it harder to hack and interfere with your data.

                        .card.block
                            .card-content
                               .media
                                    .media-left
                                        figure.image.is-64x64
                                            img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                                    .media-content
                                        h3.title.is-4 Why shouldn't I just store my data on a Hooli Box?
                                        p That's just the thing - if you store your data in a single place, like Gavin Belsons' poorly-made server box, your data will very susceptible to hacking. Whereas on PiperNet, your data is safe with many copies to back it up from.

                        .card.block
                            .card-content
                               .media
                                    .media-left
                                        figure.image.is-64x64
                                            img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                                    .media-content
                                        h3.title.is-4 What makes PiperNet so safe?
                                        p Our proprietary middle-out compression algorithm allows data to flow so fast that it can't be hacked! But, in all seriousness, the algorithm helps but it's the public, immutable ledger that makes it secure. This enables PiperNet users to exchange data without risk of it being intercepted by third parties.

                        .card.block
                            .card-content
                               .media
                                    .media-left
                                        figure.image.is-64x64
                                            img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                                    .media-content
                                        h3.title.is-4 How long does it take to get a company up and running on PiperNet?
                                        p Access to the public network is granted within a day, but moving all your data and integrating your existing software depends on how big your company is. Startups can expect to be fully online within a week, enterprises can take up to a month due to large reliance on legacy systems and huge datasets.

                    .buttons.is-centered
                        a.button.is-primary(href="#") See all

            section.section
                .container
                    .columns.is-multiline
                        .column.is-6-tablet.is-3-desktop
                            .box
                                .media
                                    .media-left
                                        figure.image.is-48x48
                                            img(src="placeholder/icons/folder-o.svg", alt="")
                                    .media-content.has-text-right
                                        h3.title.is-1.has-text-info 2
                                h4.title Projects
                                progress.progress.is-info(role="progressbar", value="75", max="100")

                        .column.is-6-tablet.is-3-desktop
                            .box
                                .media
                                    .media-left
                                        figure.image.is-48x48
                                            img(src="placeholder/icons/users.svg", alt="")
                                    .media-content.has-text-right
                                        h3.title.is-1.has-text-danger 117
                                h4.title Clients
                                progress.progress.is-danger(role="progressbar", value="75", max="100")

                        .column.is-6-tablet.is-3-desktop
                            .box
                                .media
                                    .media-left
                                        figure.image.is-48x48
                                            img(src="placeholder/icons/file-text-o.svg", alt="")
                                    .media-content.has-text-right
                                        h3.title.is-1.has-text-success 248
                                h4.title Invoices
                                progress.progress.is-success(role="progressbar", value="75", max="100")

                        .column.is-6-tablet.is-3-desktop
                            .box
                                .media
                                    .media-left
                                        figure.image.is-48x48
                                            img(src="placeholder/icons/calendar-o.svg", alt="")
                                    .media-content.has-text-right
                                        h3.title.is-1.has-text-info 14
                                h4.title Appointments
                                progress.progress.is-info(role="progressbar", value="75", max="100")


            section.section
                .container.has-text-centered
                    .columns.is-centered
                        .column.is-7
                            h1.title.is-1 404
                            p.subtitle.is-3 Page not found
                            p  As well as funds, willing VC-s, client-centered approach, basic UX skills, proper level of nutrients, girlfriends and most of our dignity.

                    .buttons.is-centered
                        a.button.is-text(href="#") Features
                        a.button.is-text(href="#") Enterprise
                        a.button.is-text(href="#") Support
                        a.button.is-text(href="#") ICO


            section.section
                .container.has-text-centered
                    h2.title.is-spaced Future of the Internet
                    p.subtitle Decentralized, secure, private. The PiperNet is on it's way to revolutionize every smartphone, PC, and smart-fridge near you.
                    a.button.is-primary(href="#") Join the Revolution!

            section.section
                .container.has-text-centered
                    .columns.is-centered
                        .column.is-7
                            h1.title.is-1 404
                            p.subtitle.is-3 Page not found
                            p  As well as funds, willing VC-s, client-centered approach, basic UX skills, proper level of nutrients, girlfriends and most of our dignity.

                    a.button.is-primary(href="#") Back to homepage


            section.section
                .container.has-text-centered
                    h2.title.is-spaced Future of the Internet
                    p.subtitle Decentralized, secure, private. The PiperNet is on it's way to revolutionize every smartphone, PC, and smart-fridge near you.

                    .buttons.is-centered
                        a.button.is-primary(href="#") Join the Revolution!
                    
                    h3.title.is-5 Great Companies that already use PiperNet

                    .columns
                        .column
                            img(src="https://bulma.dev/placeholder/logos/gitscape.svg?primary=00d1b2", alt="")
                        .column
                            img(src="https://bulma.dev/placeholder/logos/k-hole.svg?primary=00d1b2", alt="")
                        .column
                            img(src="https://bulma.dev/placeholder/logos/tholio.svg?primary=00d1b2", alt="")
                        .column
                            img(src="https://bulma.dev/placeholder/logos/plucky.svg?primary=00d1b2", alt="")
                        .column
                            img(src="https://bulma.dev/placeholder/logos/1stsight.svg?primary=00d1b2", alt="")

            section.section
                .container
                    h2.title.has-text-centered Gallery

                    .columns
                        .column
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")


            section.section
                .container
                    h2.title.has-text-centered Gallery

                    .columns.is-multiline
                        .column.is-4
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column.is-4
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column.is-4
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column.is-4
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column.is-4
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column.is-4
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")


            nav
                .container
                    .pagination(role="navigation", aria-label="pagination")
                        a.pagination-previous Previous
                        a.pagination-next Next page
                        ul.pagination-list
                            li
                                a.pagination-link(aria-label="Goto page 1") 1
                            li
                                span.pagination-ellipsis &hellip;
                            li
                                a.pagination-link(aria-label="Goto page 45") 45
                            li
                                a.pagination-link.is-current(aria-label="Page 46", aria-current="page") 46
                            li
                                a.pagination-link(aria-label="Goto page 47") 47
                            li
                                span.pagination-ellipsis &hellip;
                            li
                                a.pagination-link(aria-label="Goto page 86") 86


            section.section
                .container.has-text-centered
                    .columns.is-multiline
                        .column.is-6.is-4-desktop
                            h4.title.is-spaced.is-4 Security
                            p.subtitle.is-6 Your data is virtually unhackable compared to traditional net.
                        .column.is-6.is-4-desktop
                            h4.title.is-spaced.is-4 Privacy
                            p.subtitle.is-6 Nobody is tracking you when your activity when you use PiperNet.
                        .column.is-6.is-4-desktop
                            h4.title.is-spaced.is-4 Speed
                            p.subtitle.is-6 Previously unimaginable transfer speed thanks to middle-out compression.
                        .column.is-6.is-4-desktop
                            h4.title.is-spaced.is-4 Decentralization
                            p.subtitle.is-6 Decentralized design allows data to flow freely and efficiently.
                        .column.is-6.is-4-desktop
                            h4.title.is-spaced.is-4 Infrastructureless
                            p.subtitle.is-6 Gather computing power from idle machines in your network to act as a decentralized server.
                        .column.is-6.is-4-desktop
                            h4.title.is-spaced.is-4 Storage
                            p.subtitle.is-6 Store your data safely, and access it faster than ever.

            nav
                .container
                    .pagination.is-centered(role="navigation", aria-label="pagination")
                        a.pagination-previous Previous
                        a.pagination-next Next page
                        ul.pagination-list
                            li
                                a.pagination-link(aria-label="Goto page 1") 1
                            li
                                span.pagination-ellipsis &hellip;
                            li
                                a.pagination-link(aria-label="Goto page 45") 45
                            li
                                a.pagination-link.is-current(aria-label="Page 46", aria-current="page") 46
                            li
                                a.pagination-link(aria-label="Goto page 47") 47
                            li
                                span.pagination-ellipsis &hellip;
                            li
                                a.pagination-link(aria-label="Goto page 86") 86


            section.section
                .container.has-text-centered
                    .columns
                        .column
                            h4.title.is-spaced.is-4 Decentralized
                            p.subtitle.is-6 Your data is stored in many places at once. Awesome, right?
                        .column
                            h4.title.is-spaced.is-4 Secure
                            p.subtitle.is-6 Nobody will be able to use your data without your consent.

            section.section
                .container
                    .columns.is-multiline
                        .column.is-6-tablet.is-3-desktop
                            .card
                                .card-header
                                    h3.card-header-title.is-inline Income
                                        span.tag.is-success.is-pulled-right Monthly
                                .card-content
                                    h3.title 108,200
                                    p Total income
                                    p #[img(src="placeholder/icons/level-up.svg", alt="")] 82%

                        .column.is-6-tablet.is-3-desktop
                            .card
                                .card-header
                                    h3.card-header-title.is-inline Orders
                                        span.tag.is-success.is-pulled-right Monthly
                                .card-content
                                    h3.title 128,430
                                    p New orders
                                    p #[img(src="placeholder/icons/level-up.svg", alt="")] 32%

                        .column.is-6-tablet.is-3-desktop
                            .card
                                .card-header
                                    h3.card-header-title.is-inline  Visits
                                        span.tag.is-success.is-pulled-right Today
                                .card-content
                                    h3.title 81,248
                                    p New visits
                                    p #[img(src="placeholder/icons/level-up.svg", alt="")] 24%

                        .column.is-6-tablet.is-3-desktop
                            .card
                                .card-header
                                    h3.card-header-title.is-inline User activity
                                        span.tag.is-danger.is-pulled-right Today
                                .card-content
                                    h3.title 2,341
                                    p Used app more than once
                                    p #[img(src="placeholder/icons/level-down.svg", alt="")] 42%